.button{
  display: inline-block;
  padding: 5px 14px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;

  background: $header-bg;
  color: $gray-darkest;

  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  touch-action: manipulation;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;
  border-radius: 0;

  &.bold{
    font-weight: bold;
  }
}

.button-blue{
  background: $icon-sosanh;
  color: $white-color;
  &:hover, &:focus{
    background: lighten($icon-sosanh,10%);
    color: $white-color;
  }
}

.button-yellow{
  background: $yellow-color;
  color: $white-color;
  &:hover, &:focus{
    background: lighten($yellow-color,10%);
    color: $white-color;
  }
}

.button-gray{
  background: $gray;
  color: $white-color;
  &:hover, &:focus{
    background: lighten($gray,10%);
    color: $white-color;
  }
}

.button-red{
  background: $brand-secondary;
  color: $white-color;
  &:hover, &:focus{
    background: lighten($brand-secondary,10%);
    color: $white-color;
  }
}

input[type="radio"], input[type="checkbox"] {
  margin: 2px 0 0;

}

.button-action{

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: $brand-secondary;
  padding: 1px;
  text-align: center;
  a{
    background: $brand-secondary url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2Pcy8Dw35mBgZEBCsAMZEG4DEwQLgBTCQAMwAfBHnR2AgAAAABJRU5ErkJggg==") repeat;
    border: 1px dashed white;
    color: white;
    padding: 5px 10px;
    display: block;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  &:hover{
    background: lighten($brand-secondary,10%);
    a{
      background: lighten($brand-secondary,10%);
    }
  }
  &.gray{

    background: lighten($border-color,5%);

    a{
      background: lighten($border-color,5%) repeat;
      border: 1px dashed $gray;
      color: $gray-darkest;
      padding: 5px 10px;
      display: block;
    }

    &:hover{
      background: lighten($brand-secondary,10%);
      a{
        border: 1px dashed white;
        color: white;
        background: lighten($brand-secondary,10%);
      }
    }
  }
}

.button-action.big{
  a{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 20px;
  }
}


/*Radio button style*/


.radio-button{
  display: inline-block;
  line-height: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input[type=radio]{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1.4rem;
    margin: 0 -1.4rem -1.4rem 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1.4rem;
    opacity: 0.001;
  }

  input[type=radio]:checked + .radio-button-checkmark:after {
    opacity: 1;
  }

  :focus + .radio-button-checkmark:before {
    border: 1px solid #0940fd;
  }

}

.radio-button-checkmark{
  vertical-align: -10%;
  margin-right: 5px;

  position: relative;
  display: inline-block;
  //vertical-align: top;
  width: 1.4rem;
  height: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:before{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 1.4rem;
    height: 1.4rem;
    background: #fff;
    border: 1px solid $icon-sosanh;
    border-radius: 100%;
    cursor: pointer;

    -webkit-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
  }
  &:after{
    opacity: 0;
    content: '';
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    background: $icon-sosanh;
    border: none;
    border-radius: 100%;
    cursor: pointer;
  }
}



.btn-cart{
  float: left;
  position: relative;
  border: 1px solid $border-color;
  padding: 1px;
  min-height: 34px;
  background: white;
  line-height: 30px;
  padding-left: 35px;
  padding-right: 10px;
  margin:0;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  text-transform: uppercase;

  font-size: 13px;
  font-weight: 600;
  color: $gray;

  i{
    position: absolute;
    color: white;
    left: 8px;
    bottom: 9px;
    z-index: 1;
  }

  @extend .animate;

  &:after{
    content: "";
    top: 2px;
    left: 2px;
    position: absolute;
    width: 28px;
    height: 28px;
    background: $icon-toichon;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    @extend .animate;

  }

  &:hover{
    color: $gray;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: white;
    &:after{
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
  &:focus{
    background: white;
  }

}



/*End radio button style*/