
.section-reorder {
  background: $formpreorder-background;  // background of form preorder
  color: $formpreorder-text;  // color for text of form preorder
  padding-top: 0;
  // background: black;
}
.section-reorder2 {
  // background: $formpreorder-background;  // background of form preorder
  color: $formpreorder-text;  // color for text of form preorder
  background: black;
}
.formpreorder {  
    small,   
    span,
    label {
      color: black;
      font-weight: 400;
    }
       
    .preorder-title,
    .preorder-price-text,
    .preorder-price {
      color:  $formpreorder-title; // color for text of title inside the form
    }
    .element {
      @media(max-width: 768px) {
        width: 60px;
      }
  
    }    
    .preorder-price-text{     
      text-transform: uppercase;     
      @include font-responsive(24px,20px,16px); 
      @extend .font-ss2;
    }
    .preorder-price{    
      // @extend .font-ss1;
      @include font-responsive(24px,20px,20px); 
      text-transform: uppercase;     
      @extend .font-ss2;
    }
}
  .preoder-heading {   
    text-align: center;  
    @media(min-width: 768px){
      text-align: left;  
    } 
    p:nth-child(1){       
        @extend %section-title; // Big title at top of form
         text-align: center;   
        text-transform: none;
        color: black;
        span{
          font-family: 'SamsungSharpSans-Bold', sans-serif;    
          @include font-responsive(32px,24px,16px);  
          color: black;
          // text-transform: uppercase;
        }
    }       
    p:nth-child(2){
        @extend %section-sub; // Second title of form
        color: black;
        margin: 15px 0;
        text-align: center;
    }
  }
  .preorder-title{
    margin-left: 0;    
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0px auto;
    margin-bottom: 20px;
    @extend .font-ss1;
  }

 

  .btn-hoantat{
    color: white;
    background: $formpreorder-hoantat-background;
    padding: 10px 50px;
    font-family: 'SamsungSharpSans-Bold', sans-serif;
    margin-top: 15px;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    border-radius: 2px;
    width: 100%;
    border : none;
    &:visited{
      background: $formpreorder-hoantat-background;
      color: white;
    }
    &:hover,
    &:active{
      background: darken($formpreorder-hoantat-background, 10%);
      color: white;
    }

    @media(min-width: 991px){
      position: absolute;
      width: 95%;
      bottom: -60px;
    }
    
  }  

  .number-reorder {
    font-weight: bold;
    @extend .font-ss1;
    color: white;
  }

  .list-opt-radio.thanhtoan-sub {
    background: white;
    padding: 15px;
    margin: 15px 0;
}

.form-line {
  margin-bottom: 10px;
}

.opt-40{
  width: 100%;
  @media(min-width: 768px){
    width: 44%;
  }
}

.preoder-heading-sub{
  div{
    display: inline-block;
    margin-bottom: 0;
    font-size: 16px;
    &:first-child{
      padding-right: 0px;
      border-right: none;
      @media(min-width: 991px){
        border-right: solid 1px black;
        padding-right: 10px;
      }
    }
    &:last-child{
      padding-left: 0px;
      @media(min-width: 991px){
        padding-left: 10px;
      }
    }

    span{
      @extend .font-ss1;
    }

    @media(min-width: 991px){
      font-size: 24px;
    }
  }
}

.thanhtoan-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  span{
    font-size: 11px;
    @media(min-width: 768px){
      font-size: 14px;
    }
  }

}

.tongtienthanhtoan{
  border-top: solid 1px black;
  padding-top: 20px;

  
}

.form-bold{
  font-size: 18px !important;
  @extend .font-ss1;
  @media(min-width: 768px){
    font-size: 24px !important;
  }
}

.lienhe-tongdai{
  font-size: 12px;
  color: #2196F3;
  text-decoration: underline;
  text-transform: none;
  @extend .font-ss2;
}

.radio-note{
  font-size: 14px;
  @extend .font-ss2;
}

.p-border{
  padding:10px;
  
}

.form-content-left {
  padding-right: 0px;
  border-right: none;
}

.form-content-right {
  padding-left: 0px;
}

@media(min-width: 991px){
  .p-border{
    padding:6px;    
  }

  .form-content-left {
    padding-right: 30px;
    border-right: solid 1px #ccc;
  }
  
  .form-content-right {
    padding-left: 10px;
  }

}

.form-control{
  height: 40px;
  border-radius: 2px;
  &:focus{
    background: #FFFFFF;
    border: 1px solid #2096F3;
    box-shadow: 0 0 4px 0 #2096F3;
   
  }
}

.module-tragop{
    padding-top: 20px;
    border-top: solid 1px black;
}

.popover{
  max-width: 1200px !important;
  // width: 800px;
  // height: 500px;
}

.tooltip-modal{
  color: #2196F3;
  text-decoration: underline;
}

.form-detail {
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 4px 5px 0 rgba(0,0,0,0.12), 0 1px 10px 0 rgba(0,0,0,0.20);
}