@mixin section-bg-cover($link,$color){
    background: url($link) $color no-repeat;
    background-size: cover;
    background-position: center center;    
}

@mixin section-bg-100($link,$color){
    background: url($link) $color no-repeat;
    background-size: 100% 100%;
    background-position: center center;    
}

/*Using bourbon*/

@import "bourbon/app/assets/stylesheets/bourbon";
$breakpoints: ( 'x-mobile': ( max-width: 479px), 'mobile': ( max-width: 767px), 'small': ( max-width: 991px), 'medium': ( max-width: 1199px), 'desktop': ( max-width: 1400px));
@mixin respond-to($name) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $name) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "+"Please make sure it is defined in `$breakpoints` map.";
    }
}

// center vertically and/or horizontally an absolute positioned element
@mixin center($xy:xy) {
    @if $xy==xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        @include transform(translateX(-50%) translateY(-50%));
    }
    @else if $xy==x {
        left: 50%;
        right: auto;
        @include transform(translateX(-50%));
    }
    @else if $xy==y {
        top: 50%;
        bottom: auto;
        @include transform(translateY(-50%));
    }
}


.m-t-20{
    margin-top: 20px !important;
}