.modal-content {
    padding: 20px;
  }
  
  .tb-name {
    color: #5d5d5d;
    font-weight: bold;
  }
  
  .tb-sp {
    color: #5d5d5d;
  }
  
  .tb-height {
    max-height: 500px;
    overflow-y: scroll;
  }
  
  .tb-phone {
    font-style: italic;
    font-size: 12px;
  }
  
  .tb-loadmore {
    margin-top: 15px;
  }
  
  .tb-search {
    margin: 20px 0;
  }
  
  .modal{
    top: 75px !important;
  }

  .des-modal .txt1,
  #modal-thongso .txt1{
    background:#257cd4!important;
  }

 
#modal-thongso {
  .txt1 {
    color: white;
    font-size: 20px;
    background: #257cd4;
    padding: 5px 20px;
  }
  .table-padding {
    padding: 5px 10px;
  }
  .table {
    font-size: 16px;
  }
  .table>tbody>tr:first-child {
    >td,
    >th {
      border-top: none
    }
  }
  .table>thead>tr>th,
  .table>thead>tr>td,
  .table>tbody>tr>th,
  .table>tbody>tr>td,
  .table>tfoot>tr>th,
  .table>tfoot>tr>td {
    color: black;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #eaeaea;
  }
  .table>tbody>tr>th {
    padding: 8px 10px 8px 0;
    white-space: nowrap
  }
  .modal-content {
    padding: 0;
    overflow: hidden;
  }
}


.des-modal {
  .txt1 {
    color: white;
    font-size: 18px;
    background: #257cd4;
    padding: 8px 20px;
  }
  .modal-content {
    padding: 0;
    overflow: hidden;
  }
}

.thele-content{


  padding: 30px 20px;
  @include respond-to(mobile){
    height: 400px;
  }
}
.thele{
  height: 500px;

   @include respond-to(mobile){
    height: 350px;
  }

  @include respond-to(x-mobile){
    height: 320px;
  }
}

.des-close {
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #000000;
  width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;

  a {
    font-size: 11px;
    color: #d3d3d3;
    &:hover{
      color: white;
    }
  }
}

.modal-dialog{
  margin-top: 50px;
}

.slick-dots li button:before {
  font-size: 40px;
}

.scroll {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding-right: 15px;
}
