.section-tintuc{
    background: white;
    h2{
      text-transform: uppercase;
      font-size: 36px; 
      font-weight: 400;
      margin: 0;
      margin-top: 20px;
      padding: 30px 0;
      @include respond-to(mobile){
        font-size: 24px; 
     }
    }
    .new .name{
      font-size: 14px;
      text-align: left;
      &:hover{
        color: black;
      }
    }  
    .new:hover .name {
      color: black;
    }
  }

  
.tintuc {
  margin: 20px 0 10px;
  .slick-dots {
    white-space: nowrap;
    overflow: hidden;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 0px;
    padding: 0;
  }
}

.new {
  text-align: center;
  padding: 0 15px;
  position: relative;
  &:hover {
    .name {
      color: $color-samsung;
    }
  }
  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .name {
    font-weight: bold;
    font-size: 16px;
  }
  
}