.opt-radio {
    display: block;   
    position: relative;
    margin: 0px 3px 20px 0;
    @media(min-width: 769px) {
      display: inline-block;
     
    }

    .opt-text {
      cursor: pointer;
      padding-left: 25px;
      font-size: 15px;
      span {
        padding-left: 5px;
        &.name-boquatang{
          padding-left: 0;
          @extend .font-ss2;
          font-size: 14px;
          line-height: 1.8;
        }
      }
    }
    
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      top: 0;
      right: 0;
    }

    .opt-radio-icon {
      border: 2px solid #9C27B0;
      position: absolute;
      top: 42%;
      left: 0;
      height: 16px;
      width: 16px;
      border-radius: 100%;
      transform: translateY(-50%);
      background: $formpreorder-background;

      &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 10;
        height: 6px;
        width: 6px;
        border-radius: 100%;
        background: #9C27B0;
        display: none;
      }
    }
    
  }

  .opt-radio-input:checked ~ span.opt-radio-icon:after {
    display: block;
  }

  .radio-note {
    color: black ;
    font-weight: 400;
   margin: 0;
    font-size: 14px;
    position: relative;
    padding-left: 10px;
    position: relative;
    margin: 10px 0;
    &:before{
      content:'*';
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .datcoc{
    color: white;
    font-size: 18px;
    margin: 20px 0;
    &:before{
      content: '*';
     position: absolute;
      top: 0;
      left: 0;
  }
  }


.radio-block{
  display: block;

}


.list-opt-radio{
  margin-top: 15px;
}