.sticky-bar{
    padding: 17px 0;
    z-index: 99999 !important;
    background: #000;
    .bar-name{
        font-size: 18px;
    //    @extend .font-ss1;
    font-weight: 600;
    }
    .bar-brand{       
        // @extend .font-ss1;
        color: white;
        @include font-responsive(18px, 18px,14px);       
    }
    .bar-muangay{
        a{
            color: white;
            background: #F44336;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 600;
            border-radius: 3px;
            text-transform: uppercase;
        }
    }
}

.bar-muangay {
    padding: 2px 0;
  
     img {
        width: 70px;
      }
  
    @include respond-to(mobile) {
      img {
        width: 60px;
      }
    }
  
    .btn-samsung{
      background: #052247;
      color: white;
      &:hover{
        background: lighten(#052247, 10%);
      }
    }
  }
  

  .bar-name {
    font-size: 22px;
    color: white;
    margin: 0;
    @include respond-to(mobile) {
      font-size: 16px;
    }
  
    span{
      color: $color-samsung;
      font-size: 0.7em;
    }
  
  
  }


  

#ordernow-sticky-wrapper{
    height: 0 !important;
    overflow: hidden;
    &.is-sticky{
      height: 62px !important;
      overflow: visible;
    }
  }
  