
.table-dathang {
    li {
      padding: 3px 8px;
      display: inline-block;
      &.active {
        a {
          color: #0b61d7;
        }
      }
      a {
        font-size: 14px;
        color: black;
        &:hover {
          color: #0b61d7;
        }
      }
      &.active {
        background: #0b61d7;
        border-radius: 3px;
        a {
          color: white;
        }
        position: relative;
        &:before {
          content: "";
          position: absolute;
          bottom: -5px;
          width: 0;
          left: 50%;
          margin-left: -5px;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #0b61d7;
        }
      }
    }
  }

/***
Light Table
***/

.table.table-light {
    border: 0 !important;
  }
  
  .table.table-light>thead>tr:hover>th {
    background: none;
  }
  
  .table.table-light>thead>tr.uppercase {
    text-transform: uppercase;
  }
  
  .table.table-light>thead>tr>th {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: black;
    font-family: "Open Sans", sans-serif;
    border: 0;
    border-bottom: 1px solid #F2F5F8;
  }
  
  .table.table-light>tbody>tr:last-child>td {
    border: 0;
  }
  
  .table.table-light>tbody>tr>td {
    border: 0;
    border-bottom: 1px solid #F2F5F8;
    color: #5d5d5d;
    vertical-align: middle;
    font-size: 14px;
  }
  
  .table.table-light>tbody>tr>td.fit {
    width: 1px;
    padding-right: 3px;
  }
  
  .table.table-light>tbody>tr>td .user-pic {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
  }
  
  .table.table-light.table-hover>tbody>tr>td:hover,
  .table.table-light.table-hover>tbody>tr>th:hover,
  .table.table-light.table-hover>tbody>tr:hover>td,
  .table.table-light.table-hover>tbody>tr:hover>th {
    background: #f9fafb;
  }