#fmCheckFilter{
  z-index: 20;
}

#fmCheckFilter-sticky-wrapper{
}
#fmCheckFilter{
}

.scn-filter{
  position: relative;
  z-index: 20;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  

width: 100%;
  input[type="radio"]{
    display:none;
  }
  input[type="radio"]:checked + label{
    div{
      color: white;
      background: #f05a28;
    }
  }
  label{
    display: table-cell;
    text-align: center;
    width: 9999px;
    padding-left: 0;
    &:hover{
      div{
      }
    }

    background: #0090c5;


    div{
      position: relative;
      font-size: 18px;
      text-align: center;
      padding: 10px 10px;
      white-space: nowrap;
      color: white;
      transition: all 0.1s;
      border-right: 1px solid rgba(255,255,255,0.3);
      @include respond-to(x-mobile){
        font-size: 16px;
        padding: 10px 10px;
      }
    }
  }

  label:last-child{
    div{
border-right: none;
    }
    
  }
}
