.reorder-timer{
    padding: 15px 0;
    background: $timer-background;
    padding-bottom: 0;
    @media(max-width: 768px){
      text-align: center;
    }
 
    .countdown2{
        margin: 0;
        padding: 0;
        
        .element:first-child{
            transform: scale(1);
            top: 0;
        }

        .element{
            margin-right: 15px;
            padding: 0;
            border: none;
            border-radius: 0;
            background: none;
            float: none;
            display: inline-block;
            .label{
                    position: static;
                    color: black;
                    font-size: 18px;
            }
        }

        .box-timer{
            display:block;
            padding: 10px;
            text-align: center;
            color: #111;
            background-color: #ddd;
            background: linear-gradient(#0a0a0a, #2f2f2f); 	
            border-top: 3px solid #303030;
            border-radius: 4px;
            color: white;
            

            &::after{
                content: "";
            width: 89%;
            height: 2px;
            background: transparent;

            display: block;
            position: absolute;
            top: 30%;
            left: 0;
            background: rgba(0,0,0,.5);

        }
	
                
        }
    }
}

.reorder-timer .countdown2 .element {
    margin-right: 0px;
  }

  
.countdown2 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    color: white;
    margin: 10px 0 20px;
    display: inline-block;
    line-height: 1.1;
    .haicham {
      font-size: 28px;
      float: left;
      padding: 0 16px;
      color: white;
      position: relative;
      top: 14px;
    }
    .label {
      position: absolute;
      bottom: -2px;
      left: 0;
      font-size: 14px;
      text-align: center;
      color: white;
      font-weight: normal;
      width: 100%;
      text-transform: uppercase;
    }
    .element {
      &:first-child {
        transform: scale(1.2);
        /* vertical-align: -44%; */
        position: relative;
        top: -7px;
        margin-right: 5px;
      }
      float: left;
      position: relative;
      padding: 2px 8px 21px;
      border: 1px solid #0b61d7;
      border-radius: 5px;
      background: #0b61d7;
    }
    @include respond-to(mobile) {
      font-size: 35px;
      .element {
        padding: 2px 4px 20px;
      }
    }
    @include respond-to(x-mobile) {
      font-size: 30px;
      .element {
        padding: 2px 4px 20px;
      }
      .haicham {
        font-size: 20px;
        float: left;
        padding: 0 9px;
        color: white;
        position: relative;
        top: 14px;
      }
      .label {
        position: absolute;
        bottom: -2px;
        left: 0;
        font-size: 12px;
      }
    }
  }