
.vivo-subtitle,
.vivo-title{
    color: #FFFFFF;
   //  @extend .font-ss1;
    @extend .font-ss2;
    // text-transform: uppercase;
}

.vivo-title{
    font-size: 28px;   
    margin-bottom: 15px;
   
    @include respond-to(mobile){
        font-size: 20px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
}

.vivo-subtitle{
    font-size: 24px;
    margin-bottom: 15px;
    @include respond-to(mobile){
        font-size: 20px;
    }
}
.vivo-content{
    color: white;
    font-size: 14px;
    line-height: 2.1;
    @extend .font-ss2;
}
