/* Tooltip container */
.tooltip-m {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-m .tooltiptext {
    visibility: hidden;
    width: 1000px;
    // background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    left: -460px;

    @media(max-width: 767px){
        width: 858px;
    }
}

.tooltip-m .list{
    width: 150px;
    background: white;
    color: black;
    left: -2px;
    top: 20px;
    border-radius: 2px;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li{
        padding: 3px 0;
        border-bottom: solid 1px #ccc;

        &:last-child{
            padding-bottom:0;
            border:none;
        }
    }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-m:hover .tooltiptext {
    visibility: visible;
}