.input {
    padding: 5px 12px;
    height: 32px;
    font-size: 12px;
    border-radius: 3px;
    display: block;
    border: 1px solid #e2e3e4;
    width: 100%;
}
/*table layout*/
.verdes {
    zoom: 1;
}

.verdes .verdes-element {
    display: table-cell;
    vertical-align: middle;
    zoom: 1;
}

.verdes .verdes-element.full {
    width: 10000px;
}

@media (max-width: 991px) {
    .verdes.responsive .verdes-element {
        display: block !important;
        margin-bottom: 10px;
    }
}


/* overides metro scrolbars in IE10 and makes them look like a default scrollbar */
@-ms-viewport {
    width: auto !important;
}

::-moz-selection {
    color: #000;
    background: #FFFF00;
}

::selection {
    color: #000;
    background: #FFFF00;
}

::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

::-webkit-scrollbar-track:horizontal {
    border-width: 4px 0 0;
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track:horizontal:hover {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-track:horizontal:active {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

body::-webkit-scrollbar-track-piece:horizontal {
    border-width: 3px 0 0;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

body::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px;
}

body::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
}

body {
    direction: ltr;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
}

body::-webkit-scrollbar-track-piece {
    border-width: 0;
}


/*Link default*/
/*Import folder layout*/
.search {
    background-color: white;
    position: relative;
    z-index: 99;
}


.search-global {
    position: relative;
    margin-bottom: 10px;
    z-index: 210;
    /* &.focus-in{
      .input-search{
        padding-left: 12px;
        padding-right: 45px;
      }
      .search-icon{

      }
    }*/
}

.search-global .input-search:focus {
    padding-left: 12px;
    padding-right: 45px;
}

.search-global .input-search:focus + .search-icon {
    right: 0;
    top: 0;
    padding: 9px 10px 9px 15px;
    left: auto;
    border-right: none;
    cursor: pointer;
}

.search-global .input-search:focus + .search-button {
    cursor: pointer;
}

.search-global .search-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 5px 7px 10px;
    left: auto;
    border-right: none;
    text-indent: -9999px;
}

.search-global .search-icon {
    position: absolute;
    left: 9px;
    top: 9px;
    display: inline-block;
    border-right: 2px solid #6D6E71;
    padding-right: 6px;
    line-height: 1em;
}

.search-global .search-icon i {
    font-size: 13px;
    vertical-align: -12%;
}

.search-global .input-search {
    border-color: #2E318D;
    padding-left: 40px;
}

.location-global-form {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 250px;
    position: relative;
    cursor: pointer;
    border: 1px solid #E2E3E4;
    padding: 6px 21px 7px 10px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.location-global-form:hover, .location-global-form:focus {
    border-color: #2E318D;
}

.location-global-form .location-icon i {
    color: #2E318D;
    font-size: 13px;
    vertical-align: -10%;
}

.location-global-form .icon-vta {
    margin-top: 2px;
}

.location-global-form .location-dropdown-icon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.location-global-form .input-location {
    padding-left: 25px;
}

@media (max-width: 1199px) {
    .location-global-form {
        min-width: 220px;
    }
}

.location-global-form-extra {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
    min-width: 250px;
    position: relative;
    cursor: pointer;
    border: 1px solid #E2E3E4;
    padding: 6px 21px 6px 10px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.location-global-form-extra:hover, .location-global-form-extra:focus {
    border-color: #2E318D;
}

.location-global-form-extra .location-icon i {
    color: #2E318D;
    font-size: 13px;
    vertical-align: -10%;
}

.location-global-form-extra .icon-vta {
    margin-top: 2px;
}

.location-global-form-extra .location-dropdown-icon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.location-global-form-extra .input-location {
    padding-left: 25px;
}

#location-global2 {
    font-size: 12px;
    line-height: 15px;
    z-index: 207;
    max-width: 330px;
}

#location-global2 .location-global-form {
    background: transparent;
    font-size: 13px;
    border: none;
    padding: 13px 21px 13px 10px;
    margin-bottom: 0;
}

#location-global2 .location-global-form .location-icon i {
    color: #2E318D;
    font-size: 13px;
}

#location-global2 .location-global-form .location-dropdown-icon {
    position: absolute;
    top: 14px;
    right: 8px;
}

#location-global {
    max-width: 250px;
    float: left;
    display: block;
    margin-top: 13px;
    margin-left: 10px;
    min-width: 250px;
    background: white;
    border-radius: 3px;
    text-align: left;
}

@media (max-width: 1199px) {
    #location-global {
        max-width: 230px;
        min-width: 200px;
    }
}

.location-global-style {
    position: relative;
    z-index: 209;
}

.location-global-style .dropdown-vta-search {
    position: relative;
    padding: 5px 5px 5px;
}

.location-global-style .dropdown-vta-search input {
    border: 1px solid #E2E3E4;
    width: 100%;
    padding: 2px 12px 2px 4px;
    font-size: 10px;
}

.location-global-style .dropdown-vta-search i {
    position: absolute;
    right: 9px;
    top: 9px;
    font-size: 10px;
}

.location-global-style .dropdown-vta-tabs > div {
    text-transform: uppercase;
    font-weight: 600;
    padding: 7px 10px;
    /*&:nth-child(odd){
          background: #f2f2f2;
        }*/
}

.location-global-style .dropdown-vta-tabs > div a {
    display: block;
    color: #404041;
}

.location-global-style .dropdown-vta-tabs > div a:hover {
    color: #2E318D;
}

.location-global-style .dropdown-vta-tabs > div.active {
    background: #f2f2f2;
}

.location-global-style .dropdown-vta-tabs > div.active a {
    color: #2E318D;
}

.location-global-style .dropdown-vta-clear {
    padding: 6px 7px 6px;
    font-size: 13px;
}

.location-global-style .dropdown-vta-clear a {
    color: #2E318D;
}

.location-global-style .dropdown-vta-clear a:hover {
    color: #E81C24;
}

.location-global-style .dropdown-vta-clear img {
    vertical-align: -13%;
}

.location-global-style .dropdown-vta-content {
    display: none;
    cursor: default;
    position: absolute;
    width: 100%;
    border: 1px solid #E2E3E4;
    background: white;
    top: 100%;
    left: 0;
}

.location-global-style .dropdown-vta-content li {
    padding: 2px 0;
}

.location-global-style .dropdown-vta-content ul.scroll {
    max-height: 250px;
    overflow-y: scroll;
    position: relative;
    height: 100%;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul {
    padding: 1px 15px;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li {
    color: #404041;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li.active {
    color: #2E318D;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li.active > ul {
    opacity: 1;
    height: auto;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li:hover {
    color: #2E318D;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li > ul {
    padding-left: 10px;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li > ul > li {
    cursor: pointer;
    font-size: 11px;
    line-height: 16px;
    color: #404041;
    position: relative;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li > ul > li:before {
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #404041;
    left: -8px;
    top: 8px;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li > ul > li.active {
    color: #2E318D;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li > ul > li.active > ul {
    opacity: 1;
    height: auto;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li > ul > li:hover {
    color: #2E318D;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li > ul > li ul {
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li > ul > li ul li {
    padding-left: 3px;
    font-size: 11px;
}

.location-global-style .dropdown-vta-content .dropdown-vta-tabs > ul > li > ul > li ul li a {
    font-weight: 400;
    font-size: 11px;
}

.location-global-style .location-list {
    display: none;
    border-bottom: 1px solid #f2f2f2;
}
.scroll {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.scroll .ps-scrollbar-y-rail {
    background: #eff0f0;
    opacity: 1;
    border-radius: 0;
    width: 4px;
}

.scroll .ps-scrollbar-y-rail .ps-scrollbar-y {
    border-radius: 0;
    width: 4px;
}

#main-header {
    margin-top: 56px;
    margin-bottom: 20px;

    line-height: 1.428571429;
}

#main-header {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
}

.no-fix-menu {
    margin-top: 0 !important;
}

.icon-vta {
    display: block;
    float: left;
    line-height: 1;
    width: 13px;
    height: 12px;
    background-image: url("../images/logo/vta-icon.png");
    background-repeat: no-repeat;
    margin-right: 3px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .icon-vta {
        background-image: url("../images/logo/vta-icon_2x.png");
        background-size: 13px 12px;
    }
}

.icon-vbox {
    display: block;
    float: left;
    line-height: 1;
    width: 36px;
    height: 12px;
    background-image: url("../images/logo/vbox.png");
    background-repeat: no-repeat;
    margin-right: 3px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .icon-vbox {
        background-image: url("../images/logo/vbox_2x.png");
        background-size: 36px 12px;
    }
}

.icon-remove {
    float: left;
    margin-right: 3px;
    border-radius: 50%;
    font-size: 15px;
    border: 1px solid #E81C24;
    text-align: center;
    width: 17px;
    height: 17px;
    display: block;
    line-height: 15px;
    color: #E81C24;
}

.stick-fixed {
    position: fixed !important;
    top: 0;
    left: 0;
}

.main-nav {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    /*Do sinh nhat*/
    background: #FFFF00;
    z-index: 250;
    font-size: 13px;

    line-height: 1.428571429;
}

.main-nav > .container {
    position: relative;
}


@media (max-width: 1199px) {
    .main-nav > .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
    }
}

.main-nav .location-global-form, .main-nav .input-search {
    border: 1px solid white;
    width: 100%;
}

.main-nav .location-global-form:focus, .main-nav .input-search:focus {
    border: 1px solid white;
}

.search-global {
    float: left;
    display: block;
    margin-top: 13px;
    margin-left: 10px;
    min-width: 250px;
}

@media (max-width: 1199px) {
    .search-global {
        min-width: 220px;
    }
}

.main-nav-logo {
    float: left;
    margin: 0 10px 0 0;
    height: 56px;
    position: relative;
}

.main-nav-logo .logo {
    display: block;
    width: 186px;
    height: 35px;
    margin-top: 10px;
    background-image: url("https://vienthonga.vn/Content/images/logo/logo-vienthongA.png");
    background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .main-nav-logo .logo {
        background-image: url("https://vienthonga.vn/Content/images/logo/logo-vienthongA_2x.png");
        background-size: 186px 35px;
    }
}

.mobile-nav {
    display: none;
    float: left;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -webkit-transition-property: background, color;
    transition-property: background, color;
}

.mobile-nav:hover, .mobile-nav:active {
    color: #2E318D;
}

.mobile-nav [class^="vta"] {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 21px;
}

#position-nav-top {
    float: right;
}

.stick-fixed.menu-scroll {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    /*Do sinh nhat*/
    background: rgba(255, 255, 0, 0.8);
}

.stick-fixed.menu-scroll.no-shadow {
    box-shadow: none !important;
}

.stick-fixed.menu-scroll .menu-store {
    display: none;
}

.stick-fixed.menu-scroll .tooltip {
    display: inherit !important;
}

.stick-fixed.menu-scroll:not(.mobile-on) {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
}

.stick-fixed.menu-scroll:not(.mobile-on) #location-global {
    display: none;
}

.stick-fixed.menu-scroll:not(.mobile-on) .main-nav-logo {
    margin-right: 0;
}

.stick-fixed.menu-scroll:not(.mobile-on) .main-nav-logo .logo {
    background-size: 159px 30px;
    margin-top: 14px;
}

.stick-fixed.menu-scroll:not(.mobile-on) .inner-nav .tooltip {
    white-space: nowrap;
}

.stick-fixed.menu-scroll:not(.mobile-on) .inner-nav a {
    display: block;
    padding: 20px 9px 19px;
}

.stick-fixed.menu-scroll:not(.mobile-on) .inner-nav a span {
    display: none;
}

.stick-fixed.menu-scroll:not(.mobile-on) .inner-nav a .vta-arrow-down {
    display: none;
}

.stick-fixed.menu-scroll:not(.mobile-on) .inner-nav a i.menu-icon {
    font-size: 20px;
    display: block;
    margin-bottom: 0;
}

.stick-fixed.menu-scroll:not(.mobile-on) .inner-nav a .mn-sub {
    display: none !important;
}

.stick-fixed.menu-scroll:not(.mobile-on) .mn-sub {
    display: none !important;
}

.inner-nav {
    position: relative;
    /*
    > ul >li > ul> li:hover{
      > a{
        //color: $brand-primary;
        color: white;


      }

    }
    */
    /*Make menu sub left align*/
}

.inner-nav .tooltip {
    display: none !important;
}

.inner-nav > ul {
    display: table;
    width: 100%;
}

.inner-nav > ul > li {
    display: table-cell;
}

.inner-nav > ul > li > a {
    font-size: 11px;
}

.inner-nav > ul > li:hover > a, .inner-nav > ul > li.active > a {
    background: #2E318D;
    color: white;
}

.inner-nav > ul > li:hover > a span, .inner-nav > ul > li.active > a span {
    color: white;
}

.inner-nav > ul > li:hover .vta-sale, .inner-nav > ul > li.active .vta-sale {
    color: white;
}

.inner-nav > ul > li:hover .vta-vtaplus, .inner-nav > ul > li.active .vta-vtaplus {
    color: white;
}

.inner-nav ul {
    margin: auto;
    text-align: center;
}

.inner-nav ul li {
    position: relative;
}

.inner-nav a {
    display: block;
    padding: 8px 3px 5px;
    text-transform: uppercase;
    color: #404041;
    box-sizing: border-box;

    text-decoration: none;
}

.inner-nav a span {
    color: #404041;
    font-weight: bold;
}

.inner-nav a i.menu-icon {
    font-size: 18px;
    display: block;
    margin-bottom: 4px;
}

.inner-nav a i.vta-sale {
    color: #E81C24;
}

.inner-nav a i.vta-vtaplus {
    color: #E81C24;
}

.inner-nav a i:nth-child(2) {
    vertical-align: -15%;
}

@media (max-width: 767px) {
    .inner-nav a {
        padding: 12px 9px;
    }
}

.inner-nav a:hover {
    color: #2E318D;
}

@media (max-width: 1199px) {
    .inner-nav a {
        padding: 8px 3px 5px;
    }
    .inner-nav a i.menu-icon {
        font-size: 16px;
        display: block;
        margin-bottom: 4px;
    }
}

.inner-nav > ul > li:last-child .mn-sub {
    left: auto;
    right: 0;
}

.inner-nav li .mn-sub.to-left {
    left: auto;
    right: 0;
}

.inner-nav li:last-child .mn-sub li ul, .inner-nav li .mn-sub li ul.to-left {
    left: auto;
    right: 100%;
    top: -1px;
}

.multi-sub {
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 700px;
    height: 300px;
    padding: 10px 12px;
}

.multi-sub hr {
    margin: 5px 15px 5px 0px;
}

.multi-sub ul {
    margin-right: 10px;
    width: 190px;
    float: left;
}

.multi-sub ul li {
    float: none;
}

.multi-sub ul li a {
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    padding: 5px 3px;
    color: #404041;
}

.multi-sub ul li a:hover {
    color: #2E318D;
    font-weight: 700;
}

.multi-sub ul li.sub {
    padding-left: 10px;
}

.multi-sub ul li.sub a {
    font-size: 11px;
    padding: 2px 3px;
    text-transform: inherit;
}

.multi-sub ul > li a {
    padding: 4px 3px;
}

.multi-sub ul.menu-phukien {
    width: 140px;
}

.multi-sub ul.menu-phukien li a {
    padding: 2px 3px;
    text-transform: inherit;
}

.multi-sub ul.menu-dt {
    width: 150px;
}

.multi-sub .hang-cao-cap {
    border-top: 1px solid #c8cacb;
    margin-right: 10px;
    margin-top: 6px;
    padding-top: 6px;
    float: left;
    position: relative;
    /*&:before{
        position: absolute;
        width: 1px;
        height: 500%;
        top: 0;
        content: "";
        left: 0;
        background: $gray;
      }*/
}

.multi-sub .hang-cao-cap ul {
    margin-right: 0px;
}

/*Menu sub*/
.mn-sub {
    background: transparent;
    display: none;
    width: 700px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    -webkit-backface-visibility: hidden;
    border: none;
}

.mn-sub li {
    display: block;
    width: 100%;
    margin: 0 !important;
}

.mn-sub li ul {
    left: 100%;
    right: auto;
    top: -1px;
}

.mn-sub li a {
    display: block;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 9px 15px;
    text-align: left;
    cursor: pointer;
}

.mn-sub li a i {
    position: absolute;
    right: 10px;
    top: 13px;
}

/*Menu sub multi*/
.mn-has-multi {
    width: auto !important;
    padding: 0;
    text-align: left;
    white-space: nowrap;
    border: 1px solid #E2E3E4;
    border-top: none;
}

.mn-sub-multi {
    width: 200px !important;
    overflow: hidden;
    float: none !important;
    display: inline-block !important;
    vertical-align: top;
}

.mn-sub-multi > ul {
    width: auto;
    margin: 0;
    padding: 0;
    float: none;
}

.mn-sub-feature {
    border-top: 1px solid red;
}

.mn-sub-feature ul {
    float: none;
}

.mn-sub-feature ul li {
    float: left;
    width: 50%;
}

/*When on small device*/
@media screen and (max-width: 1000px) {
    .inner-nav {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #search-global {
        display: none;
    }
}

.add-menu-mobile {
    display: none !important;
}

.mobile-on {
    /*.mn-sub{
      position: relative;
      top: 0;
      left: auto;
      height: auto;
      background-color: $header-bg ;
      li{
        padding-left: 10px;
      }
    }*/
    /*.mobile-nav{
      height: 56px;
      line-height: 56px;
      padding-left: 10px;
    }*/
    text-align: center;
    /*.mn-sub-multi{
      display: block;
      width: 100% !important;
      >ul{
        left: auto;
        right: auto;
        border: none;
      }
    }*/
}

.mobile-on.menu-scroll .main-nav-logo {
    padding-top: 0;
}

.mobile-on.menu-scroll .mobile-nav {
    height: 56px;
    line-height: 56px;
    padding-left: 10px;
}

.mobile-on .add-menu-mobile {
    display: block !important;
}

.mobile-on .menu-store {
    display: none;
}

.mobile-on .main-nav-logo .logo {
    display: block;
    width: 186px;
    height: 35px;
    margin-top: 10px;
    background-image: url("https://vienthonga.vn/Content/images/logo/logo-vienthongA.png");
    background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .mobile-on .main-nav-logo .logo {
        background-image: url("https://vienthonga.vn/Content/images/logo/logo-vienthongA_2x.png");
        background-size: 186px 35px;
    }
}

.mobile-on .mobile-nav {
    height: 56px;
    line-height: 56px;
    padding-left: 10px;
}

.mobile-on .mn-sub {
    display: none !important;
}

.mobile-on .inner-nav {
    display: none;
    border-top: 1px solid #e4e6e6;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: rgba(255, 255, 0, 0.95);
}

.mobile-on .inner-nav a {
    padding: 12px 16px;
    color: #404041;
}

.mobile-on .inner-nav li {
    display: inline-block;
    float: none;
}

@media (max-width: 767px) {
    .mobile-on .inner-nav li {
        display: block;
        float: left;
        width: 16.66666%;
    }
}

@media (max-width: 991px) {
    .mobile-on .inner-nav li {
        display: block;
        float: left;
        width: 25%;
    }
}

@media (max-width: 767px) {
    .mobile-on .inner-nav li {
        display: block;
        float: left;
        width: 33.333%;
    }
}

.mobile-on .inner-nav li:last-child .mb-sub li ul {
    left: auto;
    right: auto;
    top: 0;
}

.mobile-on .inner-nav ul {
    float: none;
    text-align: center;
}

.mobile-on .inner-nav ul li a i:nth-child(2) {
    display: none;
}

.mobile-on .desktop-nav {
    display: none;
    width: 100%;
}

.mobile-on .mobile-nav {
    display: table;
    padding-right: 20px;
}

/*VTAPLUS MENU*/
.vtaplus-menu {
    padding: 12px 22px !important;
}

.vtaplus-menu li a {
    padding: 12px 0px 12px 20px !important;
    position: relative;
}

.vtaplus-menu li a:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 13px;
    left: 0;
    background-image: url("../images/logo/vta-icon-gray.png");
    background-size: 14px 13px;
}

.vtaplus-menu li a:hover:before {
    background-image: url("../images/logo/vta-icon_2x.png");
}

.vtaplus-menu li.active a:before {
    background-image: url("../images/logo/vta-icon_2x.png");
}

.hethang:after {
    content: "Không có chi nhánh";
    padding: 2px 5px 10px 5px;
    display: block;
}

.menu-store {
    display: table;
    height: 56px;
    position: absolute;
    right: 10px;
    top: 0;
}

@media (max-width: 991px) {
    .menu-store {
        display: none;
    }
}

.menu-store-item {
    bottom: -4px;
    position: relative;
    white-space: nowrap;
}

.menu-store-list {
    display: table-row;
}

.menu-store-list li {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    position: relative;
    padding: 0 7px;
}

.menu-store-list li:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 1px;
    background: #404041;
    top: 25px;
    right: 0;
}

.menu-store-list li i {
    font-weight: normal;
    font-size: 17px;
}

.menu-store-list li a {
    font-size: 13px;
    color: #404041;
}

.menu-store-list li a:hover {
    color: #2E318D;
}

.menu-store-list li:last-child {
    padding-right: 0;
}

.menu-store-list li:last-child:before {
    display: none;
}

.menu-store-list li:nth-last-child(2) {
    /* &:before{
          display: none;
        }*/
}

@media (max-width: 1199px) {
    .menu-store-list li {
        padding: 0 5px;
        text-align: center;
    }
    .menu-store-list li i {
        font-weight: normal;
        display: block;
    }
    .menu-store-list .menu-store-item {
        bottom: -1px;
    }
}

footer {
    background: #e6e7e8 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAALklEQVQIW2O8fPmyj66u7hYGLIARJIZLAVgSlwK4JDYFKJLoCjAkkRVglYQpAAD+vBrND3AxrgAAAABJRU5ErkJggg==") repeat;
}

footer .clearlist {
    line-height: 21px;
}

.footer-content {
    padding-top: 30px;
}

.footer-content h3 {
    font-size: 15px;
}

.footer-content h4 {
    font-size: 12px;
}

.footer-content h3, .footer-content h4 {
    font-weight: 700;
    color: #404041;
    text-transform: uppercase;
    margin-top: 0;
}

.footer-content ul {
    margin-bottom: 30px;
}

.footer-content .footer-ico-phone {
    margin-bottom: 15px;
    display: table;
    table-layout: fixed;
}

.footer-content .footer-ico-phone .ico-phone {
    display: table-cell;
    vertical-align: middle;
}

.footer-content .footer-ico-phone .phone {
    padding-left: 8px;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 700;
    color: #E81C24;
}

.footer-content .footer-tuvan li {
    margin-bottom: 9px;
}

.footer-content .footer-tuvan li h4 {
    margin-bottom: 0;
}

.footer-content .footer-tuvan li span {
    font-style: italic;
    font-size: 12px;
    color: #404041;
}

.footer-content .footer-tuvan li:nth-child(2) {
    border-bottom: 1px solid #6D6E71;
    margin-bottom: 8px;
    padding-bottom: 5px;
}

.footer-content .lienhe li i {
    width: 20px;
    display: inline-block;
    text-align: center;
}

.footer-content .lienhe li:nth-child(2) i {
    font-size: 10px;
}

.footer-content .lienhe li:nth-child(3) i {
    font-size: 10px;
}

.newsletter {
    margin-bottom: 30px;
    padding: 10px 8px 15px;
    background: rgba(0, 0, 0, 0.1);
    outline: 1px dashed #404041;
    border: 3px solid #e6e7e8;
}

.newsletter p {
    color: #404041;
}

.newsletter .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}

.newsletter .newsletter-form {
    display: table-cell;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0;
    padding: 7px 7px;
    font-size: 14px;
    border: none;
}

.newsletter .newsletter-button {
    display: table-cell;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
}

.newsletter .newsletter-button button {
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    height: 100%;
    padding: 0 15px;
    border: none;
    outline: none;
    background: #2E318D;
    color: white;
    text-transform: uppercase;
}

.newsletter .newsletter-button button:hover {
    background: #3b3eb3;
}

.feature-footer {
    background: #58595B;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.feature-footer ul {
    width: 100%;
}

.feature-footer ul li {
    width: 33.3333%;
    float: left;
    text-align: center;
}

.feature-footer ul li a {
    font-size: 16px;
    color: #d9d9d9;
    text-transform: uppercase;
}

.feature-footer ul li a:hover {
    color: white;
}

.feature-footer ul li a i {
    font-size: 30px;
    margin-right: 5px;
    vertical-align: -20%;
}

@media (max-width: 991px) {
    .feature-footer ul li a {
        font-size: 12px;
    }
    .feature-footer ul li a i {
        font-size: 23px;
        margin-bottom: 5px;
        display: block;
    }
}

.footer-intro {
    border-top: 1px dashed #6D6E71;
    padding: 20px 0;
}

.top-500 {
    display: block;
    padding: 8px 25px;
    margin: 5px 0 10px;
    border: 1px solid #c8cacb;
}

.backlink {
    border-top: 1px dashed #c8cacb;
    padding: 20px 0;
}

.backlink li a {
    line-height: 30px;
    color: #96989B;
}

.backlink li a:hover {
    text-decoration: underline;
}

.backlink li a:before {
    content: "";
}

.backlink li:before {
    content: "\e604";
    font-family: "vta-icon";
    font-size: 10px;
    line-height: 12px;
    color: #404041;
    padding-right: 3px;
}

#gotoTop {
    display: none;
    z-index: 600;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    top: auto;
    left: auto;
    right: 20px;
    bottom: 30px;
    cursor: pointer;
    border-radius: 50%;
}

body:not(.device-touch) #gotoTop {
    transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
}

#gotoTop:hover {
    background-color: #60A4F4;
}




/*Quick search style*/
#searchDialog {
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 10;
    border: 1px solid #E2E3E4;
    border-top: none;
}

#searchDialog .no-result {
    font-size: 14px;
    padding: 8px 5px;
    display: block;
}

#searchDialog .searchContaint {
    list-style: none;
    margin: 0;
    max-height: 250px;
    overflow-y: scroll;
    background: white;
    padding: 0;
}

#searchDialog .searchContaint li a {
    padding: 3px 5px;
    font-size: 11px;
    display: block;
}

#searchDialog .searchContaint li a .quicks-image {
    width: 32px;
    height: 32px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#searchDialog .searchContaint li a .quicks-image img {
    width: 100%;
    border: 1px solid #DDDDDD;
}

#searchDialog .searchContaint li a .quicks-content {
    display: table-cell;
    vertical-align: middle;
    line-height: 16px;
    padding: 0 10px;
}

#searchDialog .searchContaint li a .quicks-content span {
    display: block;
}

#searchDialog .searchContaint li a .quicks-content .quicks-product-name {
    color: #404041;
}

#searchDialog .searchContaint li a .quicks-content .quicks-product-price {
    color: #6D6E71;
}

#searchDialog .searchContaint li a:hover {
    background: #eff0f0;
}

#searchDialog .searchContaint li.selected {
    background: #eff0f0;
}