/*Using bourbon*/

@import "bourbon/app/assets/stylesheets/bourbon";
$breakpoints: ( 'x-mobile': ( max-width: 479px), 'mobile': ( max-width: 767px), 'small': ( max-width: 991px), 'medium': ( max-width: 1199px), 'desktop': ( max-width: 1400px));
@mixin respond-to($name) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $name) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "+"Please make sure it is defined in `$breakpoints` map.";
    }
}

// center vertically and/or horizontally an absolute positioned element
@mixin center($xy:xy) {
    @if $xy==xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        @include transform(translateX(-50%) translateY(-50%));
    }
    @else if $xy==x {
        left: 50%;
        right: auto;
        @include transform(translateX(-50%));
    }
    @else if $xy==y {
        top: 50%;
        bottom: auto;
        @include transform(translateY(-50%));
    }
}
@font-face {
    font-family: UTM_Avo;
    src: url(../fonts/UTM_Avo.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: UTM_AvoBold;
    src: url(../fonts/UTM_AvoBold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SFUFutura-Medium;
    src: url(../fonts/SFUFuturaBook.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SFUFutura-Bold;
    src: url(../fonts/SFUFuturaBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SFUFutura-Regular;
    src: url(../fonts/UTM_Avo.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SamsungSharpSans-Medium;
    src: url(../fonts/SamsungSharpSans-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SamsungSharpSans-Bold;
    src: url(../fonts/SamsungSharpSans-Bold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SamsungSharpSans-Regular;
    src: url(../fonts/SamsungSharpSans-Regular.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
.font-samsung{
    font-family: SamsungSharpSans-Medium, sans-serif;
}


//@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,vietnamese,latin-ext);
.body-font {
    font-family: SamsungSharpSans-Medium, sans-serif;
}

.heading-font {
    font-family: SamsungSharpSans-Medium, sans-serif;
}

/*.condensed-font {
    font-family: 'Roboto Condensed', sans-serif;
}*/

// Bootstrap
 @import "vendor/bootstrap/bootstrap-variables";
@import "vendor/bootstrap/bootstrap";
// Magnific-popup
@import "vendor/magnific-popup/main";
//Slick js
@import "vendor/slick/slick";
@import "vendor/slick/slick-theme";
//Perfect scroll
@import "vendor/perfect-scroll/main";
//Sweet alert
@import "vendor/sweetalert/sweetalert";
//Countdown
@import "vendor/countdown/countdown";

/*Import folder base*/

@import "base/variables";
@import "base/reset";
@import "base/typography";
@import "base/flexGrid";

/*Import folder layout*/


// @import "layout/grid";

/*Import folder components*/

@import "components/buttons";
@import "components/tabs";
@import "components/radio";
@import "components/news";
@import "components/formpreorder";
@import "components/timer";
@import "components/mixin";
@import "components/loading";

/*Import folder pages*/

// @import "pages/home";
// @import "pages/reoder";
// @import "pages/reodernew";
@import "pages/des";
// @import "pages/sony";
// @import "pages/j7pro";
// @import "pages/j7pro2";
// @import "pages/s8tim";
// @import "pages/note8";
@import "components/stickybar";
@import "animate";
// @import "pages/sonyxz1";
// @import "pages/sonyxa1";
@import "pages/iphonex";
@import "pages/nokia8";
// @import "pages/tests9";
// @import "pages/khuyen_mai_t4";
@import "pages/oppo_f7";
@import "pages/samsunga6";
@import "components/giasoc";
@import "components/modaldatmua";
@import "components/title";
// @import "pages/huawei_pro";
@import "pages/honor_10";


.disable-select {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}







/**
  * Fade-zoom animation for first dialog
  */


/* start state */

.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}


/* animate in */

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/* animate out */

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}


/* Dark overlay, start state */

.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}


/* animate in */

.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}


/* animate out */

.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

// end POPUP DAT MUA











