$euro-green: #1a680f;

html{
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
      font-size: 14px;

      @include respond-to(small){
        font-size: 12px;
      }

}
/*html, body{
  height: 100%;
  -webkit-font-smoothing: antialiased;
}*/

body {
  overflow-x: hidden !important;
  color: $color-gray;
  direction: ltr;
}

a, b, div, ul, li{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -moz-outline-: none;
}
a:focus,
a:active{
  -moz-outline: none;
  outline: none;
}

a {
  text-decoration: none;
  //@include transition(all 0.2s ease-in-out);
  @include transition(all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000));

  &:focus, &:active, &:hover{
    text-decoration: none;
  }
}

.row.no-gutter{
  margin-right: 0;
  margin-left: 0;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.absolute-all{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.borderless td, .borderless th {
  border: none !important;
}


.background-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center ;
  -webkit-backface-visibility: hidden;
}



.background-shadow{
  -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 14px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.2);
}

/*Common style*/

.inline-block{
  display: inline-block;
}

ul,ol{
  padding-left: 15px;
}

.animate{
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.no-animate{
  -webkit-transition: 0 none !important;
  -moz-transition: 0 none !important;
  -ms-transition: 0 none !important;
  -o-transition: 0 none !important;
  transition:0 none !important;
}

.clearlist, .clearlist li {
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}


hr{
  border-color: darken($border-color,10%);
  margin-top: 10px;
  margin-bottom: 10px;
}

hr.dot{
  border-style: dotted;
}

.wow{
  visibility: hidden;
}
/*table layout*/
.verdes{
  zoom: 1;
  //overflow: hidden;
  .verdes-element{
    display: table-cell;
    vertical-align: middle;
    zoom: 1;
    &.full{
      width: 10000px;
    }
  }

  &.responsive{
    @include respond-to(small){
      .verdes-element{
        display: block !important;
        margin-bottom: 10px;
      }
    }
  }
}


/*Adv image*/
.adv-product-banner{
  margin: 0 0 15px 0;
  @include clearfix;
  img{
    width: 100%;
  }
  .adv-product-item{
    width: 50%;
    float: left;
    @include respond-to(mobile){
      width: 100%;
      float: none;
      margin-bottom: 10px;
    }
  }
}

.paragraph{
  font-size: 14px;
  line-height: 1.7;

  .left, .right{
    float: none !important;
  }

  a{
    color: $icon-sosanh;
    font-weight: bolder;
    &:hover{
      color: lighten($icon-sosanh,10%);
    }
  }


}
b{
  color: $gray-darkest;
}

.clear{
  margin:0;
  padding:0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
}

.img-full{
  width: 100%;
}

.left{
  float: left;
  @include respond-to(mobile){
    float: none;
    margin-bottom: 10px;
  }
}
.right{
  float: right;
  @include respond-to(mobile){
    float: none;
    margin-bottom: 10px;
  }
}

.max-width{
  width: 100%;
}


::-moz-selection {
  color: #000;
  background: $icon-yellow;
}
::selection {
  color: #000;
  background: $icon-yellow;
}


@mixin font-size($size-value: 1.4) {
  font-size: ($size-value * 1) + px;
  font-size: ($size-value / 14) + rem;
}
