#main-header {
    margin-bottom: 0 !important;
  }
  
  [class^="section-"] {
    color: #000;
    padding: 60px 0;
    position: relative;
    @extend .font-ss2;
  
    @include respond-to(small) {
      padding: 30px 0;
    }
    &.top {
      padding-top: 0;
    }
    &.bottom {
      padding-bottom: 0;
    }
  
  }
  
  