body, html {
  @extend .body-font;
}

a{
  color: $gray;
  &:hover, &:active{
    color: $brand-primary;
  }
}

a.pri{
  color: $brand-primary;
  &:hover, &:active{
    color: lighten($brand-primary,10%);
  }
}

h1,h2,h3,h4,h5,h6{
  color: $gray-darkest;
  font-weight: bold;
}

.text-secondary{
  color: $brand-secondary;
}

.txt-bold{
  font-weight: bold;
}


.s-title2{
  font-size: 24px;
  @extend .font-ss2;

  text-transform: uppercase;

  @include respond-to(mobile) {
    font-size: 18px;
  }
}

.s-sub2{
  font-size: 36px;

  @extend .font-ss1;

  text-transform: uppercase;


  margin-bottom: 40px;

  @include respond-to(mobile) {
    font-size: 22px;

    margin-bottom: 20px;
  }
}
@mixin font-responsive($normal,$small,$mobile){
  font-size: $normal;

  @include respond-to(small) {
    font-size: $small;
  }
  @include respond-to(mobile) {
    font-size: $mobile;
  }
}
%hero-text{
  color: white;
  text-align: center;
  @extend .font-ss1;
}
%hero-title{
  @extend %hero-text;
  font-weight: 300;
  font-size: 30px;  
}

%hero-brand{
  @extend %hero-text;
  font-weight: 600;   
  @include font-responsive(45px,45px,30px);    
}

%section-text-title{
 margin: 0;
  padding: 0;
  color: white;
  line-height: 1.3;
  font-weight: normal;  
  text-transform: uppercase;
}

%section-title {   
  @extend %section-text-title;
  @extend .font-ss2;
  @include font-responsive(36px,25px,25px);  
}

%section-sub {   
  @extend %section-text-title;
  @extend .font-ss1;
  @include font-responsive(33px,32px,32px); 
  // margin-bottom: 30px;
}

.s-content{
  font-size: 14px;
  line-height: 22px;

  @include respond-to(mobile) {
    margin-bottom: 20px;
  }
}

/*Link default*/

