$color-yellow: #FFF100;
$color-blue: #2b388f;
$color-orange: #e48225;
$color-orange-hover: lighten($color-orange,10%);
$color-red: #d12028;
$color-gray-border: #f1f2f2;
$color-gray: #6d6e70;
$color-gray-darkest: #414242;

$brand-secondary: red;

//$yellow-color: #FFF100;
$yellow-color: #E68323;

$blue-color: #218BF4;

$icon-blue: #60A4F4;

$icon-red: #DE4255;

$icon-toichon: #5A80BD;

$color-success: #3c763d;
$color-error: #a94442;

$icon-yellow: #FFFF00;

$icon-sosanh: #1F5ECC;


$border-color: $color-gray-border;

$gray-darkest: #404041;



$header-bg: #F1F2F2;



$white-color: #ffffff;

$footer-gray: #58595B;

$tooltip-bg: $brand-primary;
$tooltip-arrow-color : $brand-primary;

// Form Preorder Color
$formpreorder-background: #e1e1e1;
$formpreorder-text: #333333;
$formpreorder-title:#000;
$formpreorder-hoantat-background: #F44336;


// Timer Countdown
$timer-background: transparent;
$timer-text: black;

// Sticky Bar preorder
$stickybar-bg: #1B7583;
$stickybar-button-bg: black;
