/*GRID FOR SHOP*/

.shop{

  .masonry-item{
    float: left;
      width: 25%;
    @include respond-to(medium){
      width: 25%;
    }

    @include respond-to(small){
      width: 50%;
    }

    @include respond-to(mobile){
      width: 50%
    }

    @include respond-to(x-mobile){
      width: 100%;
    }

    &.wide{
      width:50%;

      @include respond-to(medium){
        width:50%;
      }
      @include respond-to(small){
        width: 50%;
      }

      @include respond-to(x-mobile){
        width: 100%;
      }
    }
  }

  .masonry-sizer{
    width: 16.666666%;

    @include respond-to(medium){
      width: 25%;
    }

    @include respond-to(small){
      width: 25%;
    }

    @include respond-to(mobile){
      width: 50%
    }

    @include respond-to(x-mobile){
      width: 100%;
    }
  }


  .adv-img{
    float: left;
    width: 16.666666%;
    position: relative;
    z-index: 1;
    &.wide-tall{
      width: 33.3333333%;
      height: 523px;
      margin-top: -1px;

      @include respond-to(medium){
        width: 50%;
      }

      @include respond-to(small){
        width: 50%;
      }
    }

    &.tall{
      width: 16.666666%;
      height: 523px;
      margin-top: -1px;
      @include respond-to(medium){
        width: 25%;
      }

      @include respond-to(small){
        width: 25%;
      }
    }

    &.wide{
      width: 33.3333333%;
      height: 262px;
      margin-top: -1px;
      @include respond-to(medium){
        width:50%;
      }
      @include respond-to(small){
        width: 50%;
      }
    }

    a{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @include respond-to(mobile){
      display: none;
    }

  }
}
