{{#extend "default"}} {{#content "main"}}

<input type="hidden" id="productId" value="187778">

<div class="form-content">
    <div class="container">
        <div class="col-sm-12">
                <p style="padding: 15px 0; margin-bottom: 0;">
                    
                    <a style="color: #2196F3" href="https://vienthonga.vn/oppo-a7.html/"><img style="display:inline-block; margin-right: 10px;" src="https://cdn1.vienthonga.vn/image/2018/3/2/100000_arrow-back-material.png" alt="">Trở lại trang đặt trước OPPO A7</a>
                </p>
        </div>
    </div>
    <div class="section-reorder formpreorder" id="preorder">
        
        <div class="container">
            <div class="col-sm-12 ">
                    <div class="form-detail">    
                    <div class="preoder-heading">
                            <p>Đặt trước           
                                <span class="dat-truoc-huawei"><strong>OPPO A7</strong></span>
                            </p>
                            <p>Giá: ${giaDuKien}Đ</p>
                            <!-- <p class="left-des">Giá: 15.990.000Đ | 21.990.000Đ</p> -->
                            <!-- <div class="preoder-heading-sub"><div> Samsung Galaxy Note9 128GB: <span>24.490.000đ </span></div> <div> Samsung Galaxy Note9 512GB:  <span>29.490.000đ </span></div></div> -->
                        </div>
               
    
                <div class="row reoder-form reorder-content">
                    <div class="col-md-6 p-border">
                       
                        <div class="form-content-left">
                            <!-- <div class="chon-sp-mate-20">
                                <h3 class="preorder-title" style="min-width: 160px">Chọn phiên bản</h3>
                                <label class="opt-radio" style="min-width: 160px" v-for="item in ListProduct" v-cloak>
                                    <input class="opt-radio-input" name="product" v-model="chonSanpham.name" type="radio" :value="item.ProductName" @click="handletienThanhtoan()">
                                    <div class="opt-text opt-no-img">
                                        <span>${item.ProductName}</span>                                    
                                    </div>
                                    <span class="opt-radio-icon"></span>
                                </label> 
                            </div> -->
                            <!-- <h3 class="preorder-title">Chọn phiên bản</h3>
                            <label class="opt-radio opt-40" v-for="item in ListProduct" v-cloak>
                                <input class="opt-radio-input" name="product" v-model="chonSanpham.name" type="radio" :value="item.ProductName" @click="handletienThanhtoan()">
                                <div class="opt-text opt-no-img">
                                    <span>${item.ProductName}</span>
                                    <span v-if="item.ProductName == 'Samsung Galaxy Note9 128GB'" style="font-weight: 600">${item.ProductName}</span>
                                    <span v-if="item.ProductName == 'Samsung Galaxy Note9 512GB'" style="font-weight: 600">${item.ProductName}</span>                                        
                                </div>
                                <span class="opt-radio-icon"></span>
                            </label>  -->
                                {{>form-color}} 
                                {{>form-thongtingioitinh}}                  
            
                                {{>form-thongtincanhan}}
                                {{>form-phuongthucnhanhang}} 
                                {{>form-noinhanhang}} 
                                {{>form-phuongthucdatcoc}}
                                <!-- form-phuongthucdatcoc -->
                        </div>
                       
                       
    
                    </div>
    
                    <div class="col-md-6">
                        <div class="form-content-right">
                                {{>form-tragop}}
                                {{>form-tragopv2}}
                                
                                {{>form-chiphithanhtoan}}
                                <div class="text-center">
                                     <a href="javascript:void(0)" class="btn-hoantat" @click="registerDatTruoc()">Hoàn tất</a>
                                 </div>
                        </div>
                      
                       
                    </div>
                </div>
               </div>
            </div>
        </div>
        
            
    </div>
</div>
<div class="cs-loader d-none" id="loading-icon">
    <div class="cs-loader-inner">
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
    </div>
</div>
<script>
    /*setTimeout(function(){
        document.getElementById('form-comment').style.display = 'none';
    }, 2000)*/
    
</script>

{{/content}} {{/extend}}
