{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187862">

<!-- <div class="section-hero-plus">
   <div class="img-banner">

        <img class="img-responsive center-block img-fullview hidden-xs" :src="campaignInfo.BannerPC" alt="">
        <img class="img-responsive center-block visible-xs" :src="campaignInfo.BannerMobile" alt="">
        
       
   </div> 
    
</div> -->


{{>preorder-stickybar-fixed}} 
{{>preorder-social}}                
{{>preorder-stickybar}}
{{>preorder-datngay}}
{{>quatang1}}
{{>component-video}}
{{>quangcao4}}

<div class="section-thongsokythuat" id="thongso">
        <div class="thongsos8-title">
                <p class="s8-sub-title text-center">Thông số kỹ thuật</p>
            </div>
    <div class="rowFlex align-middle">    
        <div class="column small-12 medium-6 animated wow fadeInUp" data-wow-delay="0.5s">
                <img style="margin-bottom: 10px" class="img-responsive center-block w30" src="https://cdn1.vienthonga.vn/image/2018/6/3/100000_123.png" alt="">
               
            </div>   
        <div class="column small-12 medium-6 animated wow fadeInUp" data-wow-delay="0.5s">
            <!-- <p class="thongso-title">
                Thông số kỹ thuật
            </p> -->
            <div class="rowFlex">
                <div class="thongso-s9 column small-6 hidden-xs">
                    <div class="s9-detail">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/1/100000_12.png" alt="">
                    </div>
                    <div class="s9-detail">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_14.png" alt="">
                    </div>
                    <div class="s9-detail">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_13.png" alt="">
                    </div>
                    <div class="s9-detail">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_15.png" alt="">
                    </div>
                    <div class="s9-detail">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_icon-antutu-1.png" alt="">
                    </div>
                    <div class="s9-detail">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_icon-pin.png" alt="">
                    </div>
                </div>
                <div class="thongso-s9 column small-6 hidden-xs">
                    <div class="s9-detail">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_icon-camera-1.png" alt="">
                    </div>
                    <div class="s9-detail">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_s.png" alt="">
                    </div>
                    <div class="s9-detail">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/6/100000_13.png" alt="">
                    </div>
                    <div class="s9-detail">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/6/100000_12.png" alt="">
                    </div>
                    <div class="s9-detail">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/6/100000_0.png" alt="">
                    </div>
                    <div class="s9-detail">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_icon-sac.png" alt="">
                    </div>
                </div>
                <img class=" img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/5/1/100000_group-20.png" alt="">
            </div>
       </div>
    </div>
</div>

{{>tintuc-2}}
<!-- <div class=" section-tintuc" id="tintuc">
    <div class="container">
        <div class="tintuc-text text-center">
            <h2>Tin tức liên quan</h2>

        </div>
        <div class="tintuc sp-slide2 wow fadeInUp animated">
            <div class="new" v-for="news in productDatTruoc.ListNews" v-cloak>
                <a :href="'/'+news.PromotionLink +'.html'"></a>
        
                <div class="embed-responsive embed-responsive-16by9">
                    <img :src="news.ImageUrl" class=" embed-responsive-item img-responsive center-block" />
                </div>
                <h3 class="name">${news.Title}</h3>
            </div>
        </div>
    </div>
</div> -->
{{>preorder-danhsach}}
<div class="section-dangky-nhanthongtin">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 animated wow fadeInLeft small-order-2 medium-order-1">
                <div class="dangky-nhanthongtin-content">
                        Sẵn sàng để nâng cấp?
                        <p style="margin-top: 20px" class="muangay-footer-button" >
                            <a href="javascript:void(0)" @click="transferForm()">Mua ngay</a>           
                        </p>
                    </div>
        </div>
        <div style="position: absolute; right: 0px; padding-right: 0px" class="column small-12 medium-6 small-order-1 medium-order-2 animated wow fadeInRight hidden-xs">
            <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/6/3/100000_b.png" alt="">
        </div>
        <div class="small-12 medium-6 small-order-1 medium-order-2  animated wow fadeInRight visible-xs">
            <img style="padding-left: 20px" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/6/3/100000_b.png" alt="">
        </div>
    </div>
   
</div>
<!-- <div class="section-dangky-nhanthongtin2 animated wow fadeInUp">
    <div class="content-mokhoa">
        <div class="rowFlex align-middle">

            <img style="padding: 0px 0px 0px 30px" class="center-block img-responsive congnghecao-tinhnang visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/6/3/100000_b.png"
            alt="">
            <div class="dangky-nhanthongtin-content column small-12 medium-10 medium-offset-1 large-offset-3 large-9">
                Sẵn sàng để nâng cấp?
                <p style="margin-top: 20px" class="muangay-footer-button" >
                    <a href="javascript:void(0)" @click="transferForm()">Mua ngay</a>           
                </p>
            </div>
        </div>
    </div>
    <div class="hidden-xs" style="width: 50%; display: inline-block">
        <img style="float: right" class="img-responsive m-b-30" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_b.png" alt="">
    </div>
    
</div> -->




{{>modal-chitiet}}

<!-- <div class="modal fade des-modal j7-modal s8-thele" id="modal-danhsachdatmua" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Danh sách đặt mua
            </div>


            <div class="thele-content ">
                <div class="column small-12 medium-12 large-6 tab-content">
                    
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="modal fade des-modal j7-modal s8-thele" id="modal-thele" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Thể lệ
            </div>


            <div class="thele-content ">

                <div class="scroll thele" v-html="campaignInfo.Note">
                    

                </div>
            </div>
        </div>
    </div>
</div> -->
{{/content}} {{/extend}}