{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187862">

<div class="section-hero-plus">
   <div class="img-banner">

        <img class="img-responsive center-block img-fullview hidden-xs" :src="campaignInfo.BannerPC" alt="">
        <img class="img-responsive center-block visible-xs" :src="campaignInfo.BannerMobile" alt="">
        
       
   </div> 
    
</div>

{{>preorder-datngay}}

{{>preorder-stickybar-fixed}} 
{{>preorder-social}}                  
{{>preorder-stickybar}}
{{>quatang1}}
{{>component-video}}
{{>quangcao4}}

<div class="section-thongsokythuat" id="thongso">
        <!-- <div class="thongsos8-title">
                <p class="s8-sub-title">Thông số kỹ thuật</p>
            </div> -->
    <div class="rowFlex align-middle">    
        <div class="column small-12 medium-6 animated wow fadeInUp" data-wow-delay="0.5s">
                <img style="margin-bottom: 10px" class="img-responsive center-block w30" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_hinh-dien-thoai-1.png" alt="">
               
            </div>   
        <div class="column small-12 medium-6 animated wow fadeInUp" data-wow-delay="0.5s">
            <p class="thongso-title">
                Thông số kỹ thuật
            </p>

            <div class="thongso-s9">
                <div class="s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_1.png" alt="">
                    <div class="s9-text thongso-in">
                        <p>3 camera sau</p>
                        <p>40MP + 20MP + 8MP</p>
                    </div>
                </div>
                <div class="s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_c80761b5-69e0-46ed-b786-83dbb1aea03a.png" alt="">
                    <div class="s9-text thongso-in">
                        <p>Camera selfie</p>
                        <p>Độ phân giải 24MP</p>
                    </div>
                </div>
                <div class="s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_3.png" alt="">
                    <div class="s9-text thongso-in">
                        <p>Hisilicon Kirin 970</p>
                        <p>8 nhân (4x2.4 GHz Cortex-A73 & 4x1.8 GHz Cortex-A53)</p>
                    </div>
                </div>
                <div class="s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_4.png" alt="">
                    <div class="s9-text thongso-in">
                        <p>RAM 6GB</p>
                        <p>ROM 128GB</p>
                    </div>
                </div>
                <div class="s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_3a86319d-974e-45cb-b79a-3cb0f7f108cc.png" alt="">
                    <div class="s9-text thongso-in">
                        <p>Màn hình rộng 6.1 inches </p>
                        <p>Công nghệ OLED    (1080 x 2240 pixels)</p>
                    </div>
                </div>
                <div class="s9-detail">
                    <img class="img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_6.png" alt="">
                    <div class="s9-text thongso-in">
                        <p>ANDROID 8.1</p>
                    </div>
                </div>
                <div class="s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_7.png" alt="">
                    <div class="s9-text thongso-in">
                        <p>4000 mAh</p>
                        <p>Hỗ trợ sạc nhanh</p>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>

{{>preorder-danhsach}}
<div class="section-dangky-nhanthongtin">
    <div class="rowFlex">
        <div class="column small-12 medium-6 animated wow fadeInLeft small-order-2 medium-order-1">
                <div class="dangky-nhanthongtin-content">
                        Sẵn sàng để nâng cấp?
                        <p style="margin-top: 20px" class="muangay-footer-button" >
                            <a href="javascript:void(0)" @click="transferForm()">Mua ngay</a>           
                        </p>
                    </div>
        </div>
        <div class="column small-12 medium-6 small-order-1 medium-order-2  animated wow fadeInRight">
            <img style="width: 50%" class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_web-pre-order-huawei-p20-top-banner-02.png" alt="">
            <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_pre-huawei-nghe-thuat-anhs-anh-dt.png" alt="">
        </div>
    </div>
   
</div>


<div class=" section-tintuc" id="tintuc">
    <div class="container">
        <div class="tintuc-text text-center">
            <h2>Tin tức liên quan</h2>

        </div>
        <div class="tintuc sp-slide2 wow fadeInUp animated">
            <div class="new" v-for="news in productDatTruoc.ListNews" v-cloak>
                <a :href="'/'+news.PromotionLink +'.html'"></a>
        
                <div class="embed-responsive embed-responsive-16by9">
                    <img :src="news.ImageUrl" class=" embed-responsive-item img-responsive center-block" />
                </div>
                <h3 class="name">${news.Title}</h3>
            </div>
        </div>
    </div>
</div>



{{>modal-chitiet}}

<!-- <div class="modal fade des-modal j7-modal s8-thele" id="modal-danhsachdatmua" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Danh sách đặt mua
            </div>


            <div class="thele-content ">
                <div class="column small-12 medium-12 large-6 tab-content">
                    
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="modal fade des-modal j7-modal s8-thele" id="modal-thele" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Thể lệ
            </div>


            <div class="thele-content ">

                <div class="scroll thele" v-html="campaignInfo.Note">
                    

                </div>
            </div>
        </div>
    </div>
</div> -->
{{/content}} {{/extend}}