{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="188014">

<!-- <div class="section-hero-plus">
   <div class="img-banner">

        <img class="img-responsive center-block img-fullview hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/8/3/100000_banner-note9-1920x625.jpg" alt="">
        <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/8/3/100000_banner-note9-375x560-2.jpg" alt="">
        
       
   </div> 
    
</div> -->
<div class="section-hero-plus">
   <div class="img-banner">

        <img class="img-responsive center-block img-fullview hidden-xs" :src="campaignInfo.BannerPC" alt="">
        <img class="img-responsive center-block visible-xs" :src="campaignInfo.BannerMobile" alt="">
        
       
   </div> 
    
</div>

{{>preorder-stickybar-fixed}} 
{{>preorder-social}}                
{{>preorder-stickybar}}
{{>preorder-datngay}}
{{>quatang1}}
<!-- component-video -->
{{>quangcao4}}
<!-- <div id="dacdiemnoibat" class="j7-order s8-order animated wow fadeInUp mate-20" id="s8-preorder">
    <div class="container">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="dat-gach" style="color: #000">
                NHẬP THÔNG TIN ĐẶT GẠCH
            </div>
            <div class="text-dat-coc">
                Đặt cọc 500.000Đ
            </div>
            <div class="chon-sp-mate-20">
                <h3 class="preorder-title" style="min-width: 160px">Chọn sản phẩm</h3>
                <label class="opt-radio" style="min-width: 160px" v-for="item in ListProduct" v-cloak>
                    <input class="opt-radio-input" name="product" v-model="chonSanpham.name" type="radio" :value="item.ProductName" @click="handletienThanhtoan()">
                    <div class="opt-text opt-no-img">
                        <span>${item.ProductName}</span>                                    
                    </div>
                    <span class="opt-radio-icon"></span>
                </label> 
            </div>
            <div  v-if="ListProduct.length > 0" class="mt8 reorder-input">
                <div class="m-t-10" >
                    <div class="chon-sp-mate-20" v-show="chonSanpham.name == 'Huawei Mate 20 Pro'">
                        <h3 class="preorder-title" style="min-width: 160px">Chọn màu </h3>
                        <template v-for="item in ListProduct">
                            <label class="opt-radio" style="min-width: 160px" v-for="mausac in item.ListColor" v-if="item.ProductId == '188007'" v-cloak>  
                                
                                <input class="opt-radio-input" name="mausac" v-model="pushObj.ProductColorcode" type="radio" :value="mausac.CodePos" @click="addColor(mausac)">
                                <div class="opt-text">
                                        <template>
                                                <span >${mausac.ColorName}</span>
                                                
                                        </template>
                                    </div>
                                    <span class="opt-radio-icon" >
                                </span>
                            </label>
                        </template>  
        
                        
                    </div>  
                    <div class="chon-sp-mate-20" v-show="chonSanpham.name == 'Huawei Mate 20'">
                        <h3 class="preorder-title" style="min-width: 160px">Chọn màu</h3>
                        <template v-for="item in ListProduct" >
                            <label class="opt-radio" style="min-width: 160px" v-for="mausac in item.ListColor" v-if="item.ProductId == '188014'" v-cloak>  
                                
                                <input class="opt-radio-input" name="mausac" v-model="pushObj.ProductColorcode" type="radio" :value="mausac.CodePos" @click="addColor(mausac)"  >
                                <div class="opt-text">
                                        <template>
                                            <span >${mausac.ColorName}</span>
                                            
                                    </template>
                                       
                                     
                                    </div>
                                     <span class="opt-radio-icon" >
                                    </span>
                                                    
                                
                            </label>
                        </template>  
                    
                    </div>                      
                </div> 
            </div>                                                
            <h3 class="preorder-title" style="margin-top: 10px; margin-bottom: 10px">Thông tin người mua
        
            </h3>
            
            <div class="mt8 ">
        
        
                <div class="list-opt-radio">
                    <label v-for="gender in genders" class="opt-radio opt-40 inline-xs">
                        <input class="opt-radio-input" name="gioitinh"  v-model="pushObj.Gender" :id="gender.id" type="radio" :value="gender.value">
                        <div class="opt-text opt-no-img">
                            <span> ${gender.name}</span>
                        </div>
                        <span class="opt-radio-icon"></span>
                    </label>
        
        
                </div>
            </div>

            <div class="form-user">
            
                    <div class="row">
                        <div class="col-md-6">
                                <div class="form-line">
                                        <input class="form-control form-black " id="fullname" type="text" v-model="pushObj.Name" placeholder="Họ và tên">
                            
                                    </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-line">
                                        <input class="form-control form-black " id="phone" type="text" v-model="pushObj.Phone" placeholder="Số điện thoại">
                                    </div>
                        </div>
                    </div>
                   
                   
                              
                     <div class="form-line">
                    <input class="form-control form-black form-control-row" id="email" v-model="pushObj.Email" type="email" placeholder="Email">
                </div>
            </div>
            <h3 class=" preorder-title" style="margin-top: 15px; margin-bottom: 10px">CHỌN SIÊU THỊ NHẬN HÀNG
            
            </h3>
            <div class="form-noinhanhang">
            
                                  
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-line">
                                <select v-model="selectedCity" class="form-control form-black " @change="filterDistrict(selectedCity)">
                                                  <option value="" disabled selected>Thành Phố</option>
                                        <option  v-for="city in listCity" :value="city" >${city.Cityname}</option>
                                </select>
            
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select v-model="selectedDistrict" class="form-control form-black " @change="filterBranch(selectedDistrict)">
                                <option value="" >Quận</option>
                                  <option v-for="dis in listDistrict" :value="dis"> ${dis.Districtname}</option>
                                </select>
                            </div>
                        </div>
                    </div>
            
                    <div v-if="pushObj.Shiping == '8'" class="form-line">
                        <div>
                            <select class="form-control form-black form-control-row" v-model="pushObj.Address">
                                <option value="" disabled selected>Chi nhánh</option>
                                <option v-for="branch in  listBranch"
                                        :value="branch.BranchsCodePos" >${branch.BranchsAdd}</option>
                            </select>
                        </div>
                    </div>
                    <div v-if="pushObj.Shiping == '6'" class="form-line">
                        <input class="form-control form-black form-control-row" v-model="pushObj.Address" type="text" placeholder="Địa chỉ nhà riêng / chi nhánh">
                    </div>
            </div>
            <div class="text-center m-t-20">
                <a href="javascript:void(0)" class="btn-tim" @click="registerDatTruoc()">Hoàn tất</a>
            </div>
            <br/>
        </div>
    </div>
</div>
<div class="cs-loader d-none" id="loading-icon">
    <div class="cs-loader-inner">
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
    </div>
</div> -->

<div class="section-thongsokythuat" id="thongso">
    <div class="rowFlex align-middle">  
        <div class="column small-12 medium-12 animated wow fadeInUp" data-wow-delay="0.5s">
            <div class="thongsos8-title">
                <p class="s8-sub-title-2 text-center">Thông số kỹ thuật</p>
            </div>
        </div>   
        <div class="column small-12 medium-4 small-order-2 medium-order-1 animated wow fadeInUp" data-wow-delay="0.5s">
            <div class="thongsos8-title">
                <p class="s8-sub-title text-center">Huawei Mate 20</p>
            </div>
            <div class="table-responsive" id="ViewDanhSach">
                <table class="table table-striped table-light tskt-note9" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td><span>Màn hình: IPS LCD 6.53 inches, 1080 x 2244 pixels</span></td>
                            <!-- <td><span>Super AMOLED 6.4 inches<br class="visible-xs"/> (1440 x 2960 pixels)</span></td> -->
                        </tr>
                        <tr>
                            <td><span>Camera sau: 12MP (f/1.8) + 16MP (f/2.2) + 8MP (f/2.4)</span></td>
                            <!-- <td><span>12MP (f/1.5 – 2.4) + <br class="visible-xs"/>12MP (f/2.4)</span></td> -->
                        </tr>
                        <tr>
                            <td><span>Camera trước: 24MP (f/2.0) </span></td>
                            <!-- <td><span>8MP (f/1.7)</span></td> -->
                        </tr>
                        <tr>
                            <td><span>CPU: Kirin 980, 8 nhân     </span></td>
                            <!-- <td><span>Exynos 9810/<br class="visible-xs"/>Snapdragon 845</span></td> -->
                        </tr>
                        <tr>
                            <td><span>Hệ điều hành: Android 9.0 </span></td>
                            <!-- <td><span>Android 8.1 (Oreo)</span></td> -->
                        </tr>
                        <tr>
                            <td><span>RAM/ROM: 6GB/128GB</span></td>
                            <!-- <td><span>6GB/8GB</span></td> -->
                        </tr>
                        <tr>
                            <td><span>Pin: 4000mAh, sạc nhanh</span></td>
                            <!-- <td><span>4000 mAh</span></td> -->
                        </tr>
                        <!-- <tr>
                            <td><span>ROM:</span></td>
                            <td><span>128GB/512GB</span></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column small-12 medium-4 small-order-1 medium-order-2 animated wow fadeInUp" data-wow-delay="0.5s">
            <img style="margin-bottom: 10px" class="img-responsive center-block w30" src="https://cdn1.vienthonga.vn/image/2018/10/0/100000_thongso.png" alt="">
           
        </div>   
        <div class="column small-12 medium-4 small-order-3 medium-order-3 animated wow fadeInUp" data-wow-delay="0.5s">
            <div class="thongsos8-title">
                <p class="s8-sub-title text-center">Huawei Mate 20 Pro</p>
            </div>
            <div class="table-responsive" id="ViewDanhSach">
                <table class="table table-striped table-light tskt-note9" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td><span>Màn hình: OLED 6.39 inches, 1440 x 3120 pixels</span></td>
                            <!-- <td><span>Super AMOLED 6.4 inches<br class="visible-xs"/> (1440 x 2960 pixels)</span></td> -->
                        </tr>
                        <tr>
                            <td><span>Camera sau: 40MP (f/1.8) + 20MP (f/2.2) + 8MP (f/2.4)</span></td>
                            <!-- <td><span>12MP (f/1.5 – 2.4) + <br class="visible-xs"/>12MP (f/2.4)</span></td> -->
                        </tr>
                        <tr>
                            <td><span>Camera trước: 24MP (f/2.0)</span></td>
                            <!-- <td><span>8MP (f/1.7)</span></td> -->
                        </tr>
                        <tr>
                            <td><span>CPU: Kirin 980, 8 nhân</span></td>
                            <!-- <td><span>Exynos 9810/<br class="visible-xs"/>Snapdragon 845</span></td> -->
                        </tr>
                        <tr>
                            <td><span>Hệ điều hành: Android 9.0</span></td>
                            <!-- <td><span>Android 8.1 (Oreo)</span></td> -->
                        </tr>
                        <tr>
                            <td><span>RAM/ROM: 6GB/128GB</span></td>
                            <!-- <td><span>6GB/8GB</span></td> -->
                        </tr>
                        <tr>
                            <td><span>Pin: 4200mAh, sạc nhanh, sạc không dây 15W</span></td>
                            <!-- <td><span>4000 mAh</span></td> -->
                        </tr>
                        <!-- <tr>
                            <td><span>ROM:</span></td>
                            <td><span>128GB/512GB</span></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
       </div>
    </div>
</div>
{{>tintuc-2}}

<!-- <div class=" section-tintuc" id="tintuc">
    <div class="container">
        <div class="tintuc-text text-center">
            <h2>Tin tức liên quan</h2>

        </div>
        <div class="tintuc sp-slide2 wow fadeInUp animated">
            <div class="new" v-for="news in productDatTruoc.ListNews" v-cloak>
                <a :href="'/'+news.PromotionLink +'.html'"></a>
        
                <div class="embed-responsive embed-responsive-16by9">
                    <img :src="news.ImageUrl" class=" embed-responsive-item img-responsive center-block" />
                </div>
                <h3 class="name">${news.Title}</h3>
            </div>
        </div>
    </div>
</div> -->
{{>preorder-danhsach}}
<div class="section-dangky-nhanthongtin">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 animated wow fadeInLeft small-order-2 medium-order-1">
                <div class="dangky-nhanthongtin-content">
                        Sẵn sàng để nâng cấp?
                        <p style="margin-top: 20px" class="muangay-footer-button" >
                            <a href="javascript:void(0)" @click="transferForm()">Mua ngay</a>           
                        </p>
                    </div>
        </div>
        <div style="" class="column small-12 medium-6 small-order-1 medium-order-2 animated wow fadeInRight hidden-xs">
            <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/10/1/100000_bitmap.png" alt="">
        </div>
        <div class="small-12 medium-6 small-order-2 medium-order-2  animated wow fadeInRight visible-xs">
            <img style="padding-left: 20px" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/10/1/100000_bitmap.png" alt="">
        </div>
    </div>
   
</div>
<!-- <div class="section-dangky-nhanthongtin2 animated wow fadeInUp">
    <div class="content-mokhoa">
        <div class="rowFlex align-middle">

            <img style="padding: 0px 0px 0px 30px" class="center-block img-responsive congnghecao-tinhnang visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/6/3/100000_b.png"
            alt="">
            <div class="dangky-nhanthongtin-content column small-12 medium-10 medium-offset-1 large-offset-3 large-9">
                Sẵn sàng để nâng cấp?
                <p style="margin-top: 20px" class="muangay-footer-button" >
                    <a href="javascript:void(0)" @click="transferForm()">Mua ngay</a>           
                </p>
            </div>
        </div>
    </div>
    <div class="hidden-xs" style="width: 50%; display: inline-block">
        <img style="float: right" class="img-responsive m-b-30" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_b.png" alt="">
    </div>
    
</div> -->




{{>modal-chitiet}}

<!-- <div class="modal fade des-modal j7-modal s8-thele" id="modal-danhsachdatmua" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Danh sách đặt mua
            </div>


            <div class="thele-content ">
                <div class="column small-12 medium-12 large-6 tab-content">
                    
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="modal fade des-modal j7-modal s8-thele" id="modal-thele" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Thể lệ
            </div>


            <div class="thele-content ">

                <div class="scroll thele" v-html="campaignInfo.Note">
                    

                </div>
            </div>
        </div>
    </div>
</div> -->
{{/content}} {{/extend}}