{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187862">

<!-- <div class="section-hero-plus">
   <div class="img-banner">

        <img class="img-responsive center-block img-fullview hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/8/3/100000_banner-note9-1920x625.jpg" alt="">
        <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/8/3/100000_banner-note9-375x560-2.jpg" alt="">
        
       
   </div> 
    
</div> -->
<div class="section-hero-plus">
   <div class="img-banner">

        <img class="img-responsive center-block img-fullview hidden-xs" :src="campaignInfo.BannerPC" alt="">
        <img class="img-responsive center-block visible-xs" :src="campaignInfo.BannerMobile" alt="">
        
       
   </div> 
    
</div>

{{>preorder-stickybar-fixed}} 
{{>preorder-social}}                
{{>preorder-stickybar}}
{{>preorder-datngay}}
{{>quatang1}}
<!-- component-video -->
{{>quangcao4}}

<div class="section-thongsokythuat" id="thongso">
    <div class="rowFlex align-middle">    
        <div class="column small-12 medium-5 animated wow fadeInUp" data-wow-delay="0.5s">
                <img style="margin-bottom: 10px" class="img-responsive center-block w30" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_thongso.png" alt="">
               
            </div>   
        <div class="column small-12 medium-7 animated wow fadeInUp" data-wow-delay="0.5s">
            <div class="thongsos8-title">
                <p class="s8-sub-title text-center">Thông số kỹ thuật</p>
            </div>
            <div class="rowFlex">
                <div class="thongso-s9 column small-12 hidden-xs">
                    <div class="s9-detail small-4">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_1.png" alt="">
                    </div>
                    <div class="s9-detail small-4">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_2-1.png" alt="">
                    </div>
                    <div class="s9-detail small-4">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_3.png" alt="">
                    </div>
                    
                </div>
                <div class="thongso-s9 column small-12 hidden-xs">
                    <div class="s9-detail small-4">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_4-1.png" alt="">
                    </div>
                    <div class="s9-detail small-4">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_5.png" alt="">
                    </div>
                    <div class="s9-detail small-4">
                        <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_6.png" alt="">
                    </div>
                </div>
                <img class=" img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_iconmobile.png" alt="">
            </div>
            <!-- <div class="table-responsive" id="ViewDanhSach">
                <table class="table table-striped table-light tskt-note9" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td><span>Màn hình:</span></td>
                            <td><span>Super AMOLED 6.4 inches<br class="visible-xs"/> (1440 x 2960 pixels)</span></td>
                        </tr>
                        <tr>
                            <td><span>Camera sau:  </span></td>
                            <td><span>12MP (f/1.5 – 2.4) + <br class="visible-xs"/>12MP (f/2.4)</span></td>
                        </tr>
                        <tr>
                            <td><span>Camera trước:  </span></td>
                            <td><span>8MP (f/1.7)</span></td>
                        </tr>
                        <tr>
                            <td><span>CPU:     </span></td>
                            <td><span>Exynos 9810/<br class="visible-xs"/>Snapdragon 845</span></td>
                        </tr>
                        <tr>
                            <td><span>Hệ điều hành: </span></td>
                            <td><span>Android 8.1 (Oreo)</span></td>
                        </tr>
                        <tr>
                            <td><span>RAM:   </span></td>
                            <td><span>6GB/8GB</span></td>
                        </tr>
                        <tr>
                            <td><span>Pin:      </span></td>
                            <td><span>4000 mAh</span></td>
                        </tr>
                        <tr>
                            <td><span>ROM:</span></td>
                            <td><span>128GB/512GB</span></td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
       </div>
    </div>
</div>
{{>tintuc-2}}

<!-- <div class=" section-tintuc" id="tintuc">
    <div class="container">
        <div class="tintuc-text text-center">
            <h2>Tin tức liên quan</h2>

        </div>
        <div class="tintuc sp-slide2 wow fadeInUp animated">
            <div class="new" v-for="news in productDatTruoc.ListNews" v-cloak>
                <a :href="'/'+news.PromotionLink +'.html'"></a>
        
                <div class="embed-responsive embed-responsive-16by9">
                    <img :src="news.ImageUrl" class=" embed-responsive-item img-responsive center-block" />
                </div>
                <h3 class="name">${news.Title}</h3>
            </div>
        </div>
    </div>
</div> -->
{{>preorder-danhsach}}
<div class="section-dangky-nhanthongtin">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 animated wow fadeInLeft small-order-2 medium-order-1">
                <div class="dangky-nhanthongtin-content">
                        Sẵn sàng để nâng cấp?
                        <p style="margin-top: 20px" class="muangay-footer-button" >
                            <a href="javascript:void(0)" @click="transferForm()">Mua ngay</a>           
                        </p>
                    </div>
        </div>
        <div style="" class="column small-12 medium-6 small-order-1 medium-order-2 animated wow fadeInRight hidden-xs">
            <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_phone-1-1.png" alt="">
        </div>
        <div class="small-12 medium-6 small-order-1 medium-order-2  animated wow fadeInRight visible-xs">
            <img style="padding-left: 20px" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_phone-2-1.png" alt="">
        </div>
    </div>
   
</div>
<!-- <div class="section-dangky-nhanthongtin2 animated wow fadeInUp">
    <div class="content-mokhoa">
        <div class="rowFlex align-middle">

            <img style="padding: 0px 0px 0px 30px" class="center-block img-responsive congnghecao-tinhnang visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/6/3/100000_b.png"
            alt="">
            <div class="dangky-nhanthongtin-content column small-12 medium-10 medium-offset-1 large-offset-3 large-9">
                Sẵn sàng để nâng cấp?
                <p style="margin-top: 20px" class="muangay-footer-button" >
                    <a href="javascript:void(0)" @click="transferForm()">Mua ngay</a>           
                </p>
            </div>
        </div>
    </div>
    <div class="hidden-xs" style="width: 50%; display: inline-block">
        <img style="float: right" class="img-responsive m-b-30" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_b.png" alt="">
    </div>
    
</div> -->




{{>modal-chitiet}}

<!-- <div class="modal fade des-modal j7-modal s8-thele" id="modal-danhsachdatmua" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Danh sách đặt mua
            </div>


            <div class="thele-content ">
                <div class="column small-12 medium-12 large-6 tab-content">
                    
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="modal fade des-modal j7-modal s8-thele" id="modal-thele" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Thể lệ
            </div>


            <div class="thele-content ">

                <div class="scroll thele" v-html="campaignInfo.Note">
                    

                </div>
            </div>
        </div>
    </div>
</div> -->
{{/content}} {{/extend}}