{{#extend "default"}} {{#content "main"}}



<div class="hero-section">
    <img src="https://cdn1.vienthonga.vn/image/2017/3/4/100000_kmt3-banner.jpg" class="width-100 center-block" alt="">
</div>



<div class="container">

    <div class="chiase">

        Hotline : <a href="tel: 19006767">1900 67 66</a> | Mời bạn chia sẻ : 
        
    </div>

    <div class="section-title">
        <h2><span>SẢN PHẨM</span> NỔI BẬT</h2>
    </div>


    <div class="sp-slide">
        <div>

            <div class="productFeature">

                <div class="productFeature-img">
                    <img src="https://cdn1.vienthonga.vn/image/2017/3/4/100000_j7-prime.png" class="img-responsive center-block" alt="">
                </div>

                <div class="productFeature-content">

                    <div class="productFeature-info">

                        <div style="position: absolute; top: -10px; right: -10px; z-index: 1">
                            <img src="https://cdn1.vienthonga.vn/image/2017/3/4/100000_ico-giasoc.png" width="40" alt="">
                        </div>

                        <h3 class="name">Samsung Galaxy J7 Prime</h3>
                        <ul class="price list-inline">
                            <li class="price1">8.9900.000 đ</li>
                            <li class="price2">10.9900.000 đ</li>
                        </ul>

                        <hr>

                        <style>
                            .productFeature-info .sale{
                                max-height: 70px;
                                padding-right: 10px;
                            }
                        </style>

                        <ul class="sale scroll">
                            <li>- Tặng phiếu mua hàng phụ kiện 600.000đ</li>
                            <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                            <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                            <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                            <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                            <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                            <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                        </ul>

                    </div>


                    <div class="muaOnline-txt">
                        Mua Online Giá
                    </div>
                    <div class="muaOnline">

                        <div class="muaOnline-price">
                            17.990.000đ
                        </div>

                        <a href="#datmua-dialog" class="popup-with-zoom-anim">ĐẶT NGAY</a>

                    </div>

                </div>

            </div>
        </div>

        <div>

            <div class="productFeature">

                <div class="productFeature-img">
                    <img src="https://cdn1.vienthonga.vn/image/2017/3/4/100000_j7-prime.png" class="img-responsive center-block" alt="">
                </div>

                <div class="productFeature-content">

                    <div class="productFeature-info">

                       <div style="position: absolute; top: -10px; right: -10px; z-index: 1">
                            <img src="https://cdn1.vienthonga.vn/image/2017/3/4/100000_ico-giasoc.png" width="40" alt="">
                        </div>

                        <h3 class="name">Samsung Galaxy J7 Prime</h3>
                        <ul class="price list-inline">
                            <li class="price1">8.9900.000 đ</li>
                            <li class="price2">10.9900.000 đ</li>
                        </ul>

                        <hr>

                        <ul class="sale">
                            <li>- Tặng phiếu mua hàng phụ kiện 600.000đ</li>
                            <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                        </ul>

                    </div>


                    <div class="muaOnline-txt">
                        Mua Online Giá
                    </div>
                    <div class="muaOnline">

                        <div class="muaOnline-price">
                            17.990.000đ
                        </div>

                         <a href="#datmua-dialog" class="popup-with-zoom-anim">ĐẶT NGAY</a>
                    </div>

                </div>

            </div>
        </div>

        <div>

            <div class="productFeature">

                <div class="productFeature-img">
                    <img src="https://cdn1.vienthonga.vn/image/2017/3/4/100000_j7-prime.png" class="img-responsive center-block" alt="">
                </div>

                <div class="productFeature-content">

                    <div class="productFeature-info">

                       <div style="position: absolute; top: -10px; right: -10px; z-index: 1">
                            <img src="https://cdn1.vienthonga.vn/image/2017/3/4/100000_ico-giasoc.png" width="40" alt="">
                        </div>

                        <h3 class="name">Samsung Galaxy J7 Prime</h3>
                        <ul class="price list-inline">
                            <li class="price1">8.9900.000 đ</li>
                            <li class="price2">10.9900.000 đ</li>
                        </ul>

                        <hr>

                        <ul class="sale">
                            <li>- Tặng phiếu mua hàng phụ kiện 600.000đ</li>
                            <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                        </ul>

                    </div>


                    <div class="muaOnline-txt">
                        Mua Online Giá
                    </div>
                    <div class="muaOnline">

                        <div class="muaOnline-price">
                            17.990.000đ
                        </div>

                        <a href="#datmua-dialog" class="popup-with-zoom-anim">ĐẶT NGAY</a>
                    </div>

                </div>

            </div>
        </div>



    </div>



    <div class="section-title">
        <img src="https://cdn1.vienthonga.vn/image/2017/3/4/100000_title2.png" class="img-responsive center-block" alt="" width="500">
    </div>



    <div class="section-filter">
        <ul class="list-inline">
            <li class="active"><a href="">TẤT CẢ SẢN PHẨM</a></li>
            <li><a href="">ĐIỆN THOẠI</a></li>
            <li><a href="">TABLET</a></li>
            <li><a href="">LAPTOP</a></li>
            <li><a href="">LINH PHỤ KIỆN</a></li>
        </ul>
    </div>


    <div class="row list-sp">

        <div class="col-xs-12 col-sm-6 col-md-3">

             <div class="sp">

                 <div class="sp-img">

                     <img src="https://cdn1.vienthonga.vn/image/2017/3/4/100000_p1.png" class="img-responsive center-block" alt="">
                     
                 </div>


                 <div class="productFeature-info">


                    <h3 class="name">Samsung Galaxy J7 Prime</h3>
                    <ul class="price list-inline">
                        <li class="price1">8.9900.000 đ</li>
                        <li class="price2">10.9900.000 đ</li>
                    </ul>

                    <hr>

                    <ul class="sale">
                        <li>- Tặng phiếu mua hàng phụ kiện 600.000đ</li>
                        <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                    </ul>

                </div>

                <br>


                <div class="muaOnline">

                    <div class="muaOnline-price">
                       <span>Mua Online giá</span>  17.990.000đ
                    </div>

                     <a href="#datmua-dialog" class="popup-with-zoom-anim">ĐẶT NGAY</a>

                </div>

                
            </div>
            
        </div>

          <div class="col-xs-12 col-sm-6 col-md-3">

             <div class="sp">

                 <div class="sp-img">

                     <img src="https://cdn1.vienthonga.vn/image/2017/3/4/100000_p1.png" class="img-responsive center-block" alt="">
                     
                 </div>


                 <div class="productFeature-info">


                    <h3 class="name">Samsung Galaxy J7 Prime</h3>
                    <ul class="price list-inline">
                        <li class="price1">8.9900.000 đ</li>
                        <li class="price2">10.9900.000 đ</li>
                    </ul>

                    <hr>

                    <ul class="sale">
                        <li>- Tặng phiếu mua hàng phụ kiện 600.000đ</li>
                        <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                    </ul>

                </div>

                <br>


                <div class="muaOnline">

                    <div class="muaOnline-price">
                       <span>Mua Online giá</span>  17.990.000đ
                    </div>

                     <a href="#datmua-dialog" class="popup-with-zoom-anim">ĐẶT NGAY</a>

                </div>

                
            </div>
            
        </div>

       
        
    </div>


    <div class="loadmore">

        <a href="">XEM THÊM</a>
        
    </div>







</div>



<div id="datmua-dialog" class="zoom-anim-dialog mfp-hide">

    <h3 class="text-center condensed-font" style="margin-top: 5px"><span>THÔNG TIN MUA HÀNG</span></h3>


    <table class="table">
        <tr>
            <td>Họ tên : </td>
            <td><input type="text" placeholder="Họ và tên" class="form-control"></td>
        </tr>
        <tr>
            <td>Điện thoại : </td>
            <td><input type="text" placeholder="Số điện thoại" class="form-control"></td>
        </tr>
        <tr>
            <td>Email : </td>
            <td><input type="text" placeholder="Địa chỉ email" class="form-control"></td>
        </tr>
    </table>

    <h4 class="condensed-font" style="font-weight: normal">Chúng tôi sẽ liên hệ với bạn sau 48h. Mọi thắc mắc vui lòng liên hệ <span style="color: #f16222; font-weight: bold">1900 54 54 46</span>    ấn phím 1</h4>


    <br>
    <div class="text-center">
        <a href="" class="btn btn-danger btn-lg ">ĐẶT MUA</a>
    </div>


    <button title="Close (Esc)" type="button" class="mfp-close">×</button>

</div>


{{/content}} {{/extend}}