{{#extend "default"}} {{#content "main"}}


<div class="wrapper">
    <div class="hero-section">
        <div class="section-hero-content">


            <div class="gridFlex-video-column gridFlex-video-column-1">

                <img src="https://cdn1.vienthonga.vn/image/2017/3/2/100000_hero-phone.png" class="img-responsive center-block" alt="">

            </div>


            <div class="gridFlex-video-column gridFlex-video-column-2 ">
                <div class="txt-wrapper">

                    <div class="txt1 ">
                        ĐẶT GẠCH
                    </div>

                    <div class="txt2 ">
                        Samsung Galaxy S8 / S8 Plus
                    </div>


                    <div class="gift">
                        <img src="https://cdn1.vienthonga.vn/image/2017/3/2/100000_5m-txt.png" class="img-responsive center-block " alt="">


                    </div>


                    <div class="countdown-txt1">
                        CÒN LẠI :
                    </div>

                    <div class="countdown" data-date="2017/03/20">

                    </div>

                    <div class="countdown-time">
                        TỪ <span>30.03.2017 - 19.04.2017</span>
                    </div>

                </div>


            </div>


        </div>


    </div>




    <div class="section-reoder">

        <div class="container">

            <div class="reoder-heading text-center">
                Đặt gạch <span>Samsung S8 / S8 Plus </span>
            </div>

            <div class="reoder-txt1 text-center">
                Chương trình kết thúc sau
            </div>
            <div class="text-center">
                <div class="countdown2" data-date="03/25/2017">

                </div>
            </div>

            <div class="reoder-txt2 text-center">
                Số lượng người đặt trước: <span class="number">208</span> <span class="hidden-xs">-</span> <br class="visible-xs"> <a href="" data-toggle="modal" data-target="#danhsach-kh">Xem danh sách</a>
            </div>


            <div class="row reoder-form">

                <div class="col-md-4 col-sm-6 col-md-offset-1">

                    <h3 class="reoder-tit">1. Chọn sản phẩm

                    </h3>


                    <div class="radio">
                        <label>
                            <input type="radio" name="sp" checked>
                            <div>Samsung S8</div>
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="sp" >
                            <div>Samsung S8 Plus</div>
                        </label>
                    </div>

                    <div class="mb30">

                    </div>


                    <h3 class="reoder-tit">2. Chọn màu

                    </h3>

                    <div>

                        <label class="radio-inline">
                                <input type="radio" name="color">
                                <div>
                                    <span class="product-color"
                                          style="color: white ;background-color: #000" >Black</span>
                                </div>
                        </label>

                        <label class="radio-inline">
                                <input type="radio" name="color">
                                <div>
                                    <span class="product-color"
                                          style="color: black ;background-color: #cccccc" >Gold</span>
                                </div>
                        </label>

                        <label class="radio-inline">
                                <input type="radio" name="color">
                                <div>
                                    <span class="product-color"
                                          style="color: black ;background-color: #95b4e7" >Blue</span>
                                </div>
                        </label>

                    </div>

                    <div class="mb30">

                    </div>



                    <h3 class="reoder-tit">3. Chọn khuyến mãi

                    </h3>

                    <div class="radio">
                        <label>
                            <input type="radio" name="km" checked>
                            <div>Khuyến mãi 1 <span style="color: #2dbff5">(Trị giá 4.000.000đ)</span></div>
                            <ul class="clearlist km-list">
                                <li>- Gói bảo hiểm 1 đổi 1</li>
                                <li>- Tặng sạc nhanh cao cấp Samsung</li>
                                <li>- Tặng tai nghe cao cấp Samsung</li>
                                <li>- Miếng dán cường lực cao cấp</li>
                                <li>- Tặng thẻ nhớ 32 GB</li>
                            </ul>
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="km" >
                            <div>Khuyến mãi 2 <span style="color: #2dbff5">(Trị giá 4.000.000đ)</span></div>
                            <ul class="clearlist km-list">
                                <li>- Gói bảo hiểm 1 đổi 1</li>
                                <li>- Đế sạc Samsung</li>
                                <li>- Tặng pin sạc dự phòng Anker 10.400 mAh</li>
                                <li>- Miếng dán cường lực cao cấp</li>
                                <li>- Tặng thẻ nhớ 32 GB</li>
                            </ul>
                        </label>
                    </div>




                </div>


                <div class="col-md-4 col-md-offset-2 col-sm-6">

                    <h3 class="reoder-tit">4. Thông tin người nhận

                    </h3>

                    <div class="mt8">
                        <label class="radio-inline">
                                <input name="gender" type="radio"  value="" checked> <div>
                                    Nam
                                </div>
                            </label>

                        <label class="radio-inline">
                                <input name="gender" type="radio"  value=""> <div>
                                    Nữ
                                </div>
                            </label>
                    </div>

                    <div class="mb10"></div>

                    <div class="reoder-pd-l">

                        <div class="form-line">
                            <input class="form-control " id="fullname" type="text" placeholder="Họ và tên">

                        </div>

                        <div class="form-line">
                            <input class="form-control " id="email" type="email" placeholder="Email">
                        </div>

                        <div class="form-line">
                            <input class="form-control " id="phone" type="text" placeholder="Số điện thoại">
                        </div>
                    </div>

                    <div class="mb30">

                    </div>


                    <h3 class="reoder-tit">5. Phương thức nhận hàng

                    </h3>


                    <div class="radio">
                        <label>
                            <input type="radio" name="delivery-type" checked>
                            <div>Nhận hàng tại siêu thị</div>
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="delivery-type" >
                            <div>Giao hàng tận nơi</div>
                        </label>
                    </div>



                    <div class="reoder-pd-l">

                        <div style="color: white; margin-bottom: 10px;">
                            Chọn siêu thị
                        </div>

                        <div class="form-line">
                            <select class="form-control ">
                                 <option value="" disabled selected>Chọn Thành Phố</option>
                                <option > ${dis.Districtname}</option>
                            </select>

                        </div>

                        <div class="form-line">
                            <select class="form-control ">
                                 <option value="" >Chọn Quận/ Huyện</option>
                                <option > ${dis.Districtname}</option>
                            </select>
                        </div>

                        <div class="form-line">
                            <select class="form-control ">
                                 <option value="" >Chọn Chi nhánh</option>
                                <option > ${dis.Districtname}</option>
                            </select>
                        </div>
                    </div>



                    <div class="mb30">

                    </div>



                    <h3 class="reoder-tit">6. Phương thức thanh toán
                        <span style="display: block;color: #fd832b; font-weight: normal; font-size: 16px; margin-top: 10px;">Đặt cọc 500,000đ.</span>
                    </h3>
                    <div class="radio">
                        <label>
                            <input type="radio" name="delivery" checked>
                            <div>Trả tiền mặt tại chi nhánh gần nhất</div>
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="delivery" >
                            <div>Thanh toán trực tuyến</div>
                        </label>
                    </div>


                    <div class="reoder-chuyenkhoan">
                        <a href="" data-toggle="modal" data-target="#thongtin-nganhang">(Xem thông tin chuyển khoản)</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="text-center">
                <a href="" class="reoder-action">Hoàn tất</a>
            </div>
        </div>

    </div>

    <div class="section-2 section-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">

                    <h2 class="head-title text-center">
                        Thiết kế ấn tượng, màn hình "vô cực" đẹp xuất sắc
                    </h2>
                    <h4 class="sub-title text-center mb">
                        Kế thừa vẻ đẹp từ đàn anh S7 edge, siêu phẩm S8/S8 Plus sở hữu thiết kế cong tràn viền và tiếp tục được Samsung cải tiến,
                        làm viền mỏng hơn, đồng thời, thu hẹp đáng kể viền trên và dưới của mặt trước, làm cho màn hình chiếm
                        trọn gần như toàn bộ không gian. Công nghệ Infinity Display (màn hình vô cực) đi kèm với kích thước
                        5.8 và 6.2 inches cho S8 và S8 Plus, cùng độ phân giải 2960 x 1440 pixels, hiển thị hình ảnh trung
                        thực, sắc nét và sống động như thật.
                    </h4>

                    <img src="https://cdn1.vienthonga.vn/image/2017/3/2/100000_section2-img.jpg" class="img-responsive center-block" alt="">

                </div>
            </div>

        </div>

    </div>

    <div class="section-3 section-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">

                    <h2 class="head-title text-center">
                       Tích hợp cảm biến vân tay, cảm biến quét mống mắt
                    </h2>
                    <h4 class="sub-title text-center mb">
                     Trên S8/S8 Plus, Samsung loại bỏ nút Home vật lý ở mặt trước, ngay bên dưới màn hình và bố trí cảm biến vân tay ở mặt sau của máy, bên cạnh cụm camera và đèn flash LED, hỗ trợ cử chỉ mở và đóng các ứng dụng.
<br>
Ngoài ra, cảm biến dựa trên quét mống mắt từng xuất hiện trên dòng Galaxy Note7 có thể sẽ được trang bị trên phiên bản lần này, giúp người dùng đăng nhập dễ dàng, nhanh chóng và tăng tính bảo mật. 
                    </h4>

                    <img src="https://cdn1.vienthonga.vn/image/2017/3/2/100000_section3-img.jpg" class="img-responsive center-block" alt="">

                </div>
            </div>

        </div>

    </div>

    <div class="section-4 section-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">



                    <h2 class="head-title text-center">
                      Cấu hình siêu mượt, trình làng cùng trợ lý ảo Bixby
                    </h2>
                    <h4 class="sub-title text-center mb">
                   S8/S8 Plus được dự đoán có phần cứng mạnh mẽ nhất tại thời điểm hiện tại. Hơn thế nữa, trợ lý ảo Bixby hứa hẹn cũng sẽ được Samsung trang bị trên hai siêu phẩm này, cho khả năng nhận diện giọng nói và tìm kiếm thông tin qua Internet. 
Đồng thời, hỗ trợ khả năng thanh toán di động, kết hợp với các công nghệ nhận dạng hình ảnh để đưa ra các chỉ dẫn, gợi ý mua hàng phù hợp. Bixby đang được Samsung rất kì vọng mang lại trải nghiệm hoàn toàn mới cho người dùng.
                    </h4>

                    <img src="https://cdn1.vienthonga.vn/image/2017/3/2/100000_section4-img.jpg" class="img-responsive center-block" alt="">

                </div>
            </div>

        </div>

    </div>



    <div class=" section-waiting ">



        <div class="container">
            <div class="tintuc sp-slide">
                <div>
                    <div class="new">
                        <a href=""></a>

                        <div class="embed-responsive embed-responsive-16by9">
                            <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class=" embed-responsive-item img-responsive center-block"
                            />
                        </div>

                        <h3 class="name">Designed for everyone, everywhere</h3>
                        <p class="content">Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels,
                            devices of all shapes, and projects of all sizes.</p>
                    </div>
                </div>

                <div>
                    <div class="new">
                        <a href=""></a>
                        <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class="img-responsive center-block" alt="">
                        <h3 class="name">Designed for everyone, everywhere</h3>
                        <p class="content">Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels,
                            devices of all shapes, and projects of all sizes.</p>
                    </div>
                </div>

                <div>
                    <div class="new">
                        <a href=""></a>
                        <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class="img-responsive center-block" alt="">
                        <h3 class="name">Designed for everyone, everywhere</h3>
                        <p class="content">Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels,
                            devices of all shapes, and projects of all sizes.</p>
                    </div>
                </div>

                <div>
                    <div class="new">
                        <a href=""></a>
                        <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class="img-responsive center-block" alt="">
                        <h3 class="name">Designed for everyone, everywhere</h3>
                        <p class="content">Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels,
                            devices of all shapes, and projects of all sizes.</p>
                    </div>
                </div>

                <div>
                    <div class="new">
                        <a href=""></a>
                        <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class="img-responsive center-block" alt="">
                        <h3 class="name">Designed for everyone, everywhere</h3>
                        <p class="content">Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels,
                            devices of all shapes, and projects of all sizes.</p>
                    </div>
                </div>

            </div>
        </div>




    </div>





</div>



<div class="modal fade " id="modal-thongso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1">
                THÔNG SỐ KỸ THUẬT
            </div>
            <div class="table-responsive">
                <table class="table">

                    <tbody>
                        <tr>
                            <th scope="row">Dual front cam</th>
                            <td>Cam Selfie 16MP <br> Cam Wefie 8MP <br> Beautify 4.0 - Selfie đẹp tự nhiên</td>

                        </tr>
                        <tr>
                            <th scope="row">Rear cam</th>
                            <td>16MP</td>

                        </tr>
                        <tr>
                            <th scope="row">Design</th>
                            <td>mỏng, cứng cáp, sang trọng</td>
                        </tr>

                        <tr>
                            <th scope="row">Screen</th>
                            <td>Screen: 6 inch, new tech giúp chụp hình Selfie sáng hơn nhất là trong tối, trời nắng gắt vẫn
                                nhìn rõ màn hình</td>
                        </tr>

                        <tr>
                            <th scope="row">Touch</th>
                            <td>Touch: 1 chạm không cần ấn</td>
                        </tr>

                        <tr>
                            <th scope="row">RAM</th>
                            <td>4GB</td>
                        </tr>

                        <tr>
                            <th scope="row">ROM</th>
                            <td>64GB</td>
                        </tr>

                        <tr>
                            <th scope="row">Battery</th>
                            <td>VOOC 4100mAh</td>
                        </tr>

                        <tr>
                            <th scope="row">Other</th>
                            <td>Android 6.0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<div class="modal fade " id="danhsach-kh" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content " style="">
            <ul class="table-dathang" role="tablist">
                <li role="presentation" class="active">
                    <a href="#s7" aria-controls="s7" role="tab" data-toggle="tab">
                        <span class="">Danh sách khách hàng đăng ký nhận thông tin</span>
                    </a>
                </li>
                <!--  <li role="presentation" class="">
                    <a href="#s7-2" aria-controls="s7-2" role="tab" @click="SearchCocPostByCustomerPhone()" data-toggle="tab">
                        <span class="">Danh sách khách hàng đặt cọc</span>
                    </a>
                </li>-->

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="s7">
                    <div class="tb-search">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="input-group">
                                    <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhone">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger" @click="SearchByCustomerPhone()" type="button">Tìm</button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="table-responsive tb-height" id="ViewDanhSach">
                        <table id="danhsach" class="table table-striped table-light" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Họ Tên</th>
                                    <th class="hidden-xs">Email</th>
                                    <th class="hidden-xs">Số điện thoại</th>
                                    <th>Ngày đăng ký</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in registerInfo.ListUserRegister" v-cloak>
                                    <td><span class="tb-name"> ${campaignInfo.TotalRegister - index}</span>
                                        <td><span class="tb-name"> ${item.FullName}</span>
                                            <div class="visible-xs tb-phone">${item.Phone}</div>
                                        </td>
                                        <td class="hidden-xs"><span>${item.Email}</span></td>
                                        <td class="hidden-xs"><span>${item.Phone}</span></td>
                                        <td><span>${item.DateRe}</span></td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb-loadmore text-center">
                        <a href="javascript:void(0);" data-page="1" id="btn-loadmore" class="btn btn-default" @click="Load_More_Dat_Coc()">Xem thêm</a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane " id="s7-2">
                    <div class="tb-search">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="input-group">
                                    <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhoneCoc">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger" @click="SearchCocPostByCustomerPhone()" type="button">Tìm</button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="table-responsive tb-height" id="ViewDanhSach2">
                        <table id="danhsach2" class="table table-striped table-light " cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Họ Tên</th>
                                    <th class="hidden-xs">Email</th>
                                    <th class="hidden-xs">Số điện thoại</th>
                                    <th>Ngày đăng ký</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for=" (item, index) in depositInfo" v-cloak>
                                    <td><span class="tb-name"> ${campaignInfo.TotalDatCoc - index}</span>
                                        <td><span class="tb-name"> ${item.TenKh}</span>
                                            <div class="visible-xs tb-phone">${item.Phone}</div>
                                        </td>
                                        <td class="hidden-xs"><span>${item.Email}</span></td>
                                        <td class="hidden-xs"><span>${item.Phone}</span></td>
                                        <td><span class="tb-sp">${item.DateDep}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb-loadmore text-center">
                        <a href="javascript:void(0);" data-page="1" id="btn-loadpos" class="btn btn-default" @click="Load_More_Coc_Post()">Xem thêm</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="thongtin-nganhang" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a></div>
        <div class="modal-content">
            <div class="modal-body">
                <div class="have-scroll">
                    <p><span style="font-size: small; color: #000000;"><strong><span style="font-family: verdana, geneva;">Danh s&aacute;ch ng&acirc;n h&agrave;ng chuyển khoản khi mua sắm Online tại VienthongA.vn</span></strong>
                        </span>
                    </p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span style="font-family: verdana, sans-serif; font-size: 8pt;">1. &nbsp; Ng&acirc;n h&agrave;ng Sacombank (SCB):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: verdana, geneva; font-size: x-small;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 060 007 113 156</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: Sacombank Điện Bi&ecirc;n Phủ - Tp.HCM</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;">2.&nbsp;&nbsp;&nbsp;Ng&acirc;n h&agrave;ng Đ&ocirc;ng &Aacute; (DAB):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 000 238 550 003</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: Đ&ocirc;ng &Aacute; T&acirc;n B&igrave;nh - TP.HCM</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;">3.&nbsp;&nbsp;&nbsp;Ng&acirc;n h&agrave;ng Vietcombank (VCB):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 007 1000 769 417</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: Vietcombank HCM</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;">4.&nbsp;&nbsp;&nbsp;Ng&acirc;n h&agrave;ng ANZ (ANZ):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 586 5006</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: NH ANZ Việt Nam - TP.HCM</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;">5.&nbsp;&nbsp;&nbsp;Ng&acirc;n h&agrave;ng Qu&acirc;n đội (MLB):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 701 1100 373 839</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: Chợ Lớn TP.HCM</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><span style="color: #ff0000;">Nội dung gửi tiền:</span>                        Qu&yacute; kh&aacute;ch vui l&ograve;ng ghi theo mẫu (nếu chuyển qua ph&ograve;ng giao dịch, internet
                        banking):
                        </span>
                        </strong>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;T&ecirc;n kh&aacute;ch đặt h&agrave;ng&gt; - &lt;Số điện thoại đặt h&agrave;ng&gt; - &lt;Model đặt h&agrave;ng&gt;</span></em>
                        </span><br /><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>V&iacute; dụ: Nguyễn Văn A &ndash; 0909152355 &ndash; Samsung Galaxy S7</span></em>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></em>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt; color: #ff0000;">*<span style="text-decoration: underline;"><strong>Lưu &yacute;</strong></span>:
                        Sau khi chuyển tiền th&agrave;nh c&ocirc;ng, qu&yacute; kh&aacute;ch cần x&aacute;c nhận chuyển khoản
                        bằng 1 trong 2 c&aacute;ch sau:</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt; color: #ff0000;">(1) Điện thoại th&ocirc;ng b&aacute;o đến số <span style="color: #0000ff;">(84-8) 38633333</span>                        để được xử l&yacute; nhanh nhất. Th&ocirc;ng tin qu&yacute; kh&aacute;ch cần cung cấp cho ch&uacute;ng
                        t&ocirc;i bao gồm:</span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;T&ecirc;n kh&aacute;ch đặt h&agrave;ng&gt;<br /></span></em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;Ng&acirc;n
                        h&agrave;ng đ&atilde; chuyển tiền&gt;<br /></span>
                        </em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;Số
                        tiền đ&atilde; chuyển&gt;<br /></span>
                        </em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;T&ecirc;n
                        người chuyển tiền&gt; (Nếu chuyển qua ph&ograve;ng giao dịch, internet banking)<br /></span>
                        </em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;Số
                        t&agrave;i khoản thẻ ATM hoặc t&ecirc;n chủ t&agrave;i khoản ATM&gt; (nếu chuyển qua m&aacute;y ATM)</span>
                        </em>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></em>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><span style="color: #ff0000;">(2) Nhắn tin theo c&uacute; ph&aacute;p v&agrave; gửi tới số</span>                        <span style="color: #0000ff;">0888.545.446</span><span style="color: #ff0000;">:</span></span>
                    </p>
                    <p><span style="font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><strong>&nbsp; &nbsp; &nbsp; &nbsp;</strong>Nếu chuyển qua ph&ograve;ng giao dịch hoặc internet banking:</span></strong>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</em>&lt;M&atilde; ng&acirc;n h&agrave;ng&gt; - &lt; T&ecirc;n người chuyển tiền &gt; - &lt;Số tiền đ&atilde; chuyển&gt; - &lt;T&ecirc;n kh&aacute;ch đặt h&agrave;ng &gt;<br /></span></em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</em>V&iacute;
                        dụ: VCB - Nguyen Van A &ndash; 3.000.000vnd &ndash; Nguyen Van B</span>
                        </em>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><strong>&nbsp; &nbsp; &nbsp; &nbsp;</strong>Nếu chuyển qua m&aacute;y ATM:</span></strong>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</em>&lt;M&atilde; ng&acirc;n h&agrave;ng&gt; - &lt;M&atilde; số t&agrave;i khoản ATM hoặc T&ecirc;n chủ tk ATM&gt; - &lt;Số tiền đ&atilde; chuyển&gt; - &lt;T&ecirc;n kh&aacute;ch đặt h&agrave;ng&gt;<br /></span></em><em><span style="font-family: verdana, geneva;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</em>V&iacute;
                        dụ: VCB - Nguyen Van A (0071002185469) - 3.000.000vnd - Nguyen Van B</span>
                        </em>
                        </span>
                    </p>
                    <p><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></em></p>
                    <table style="width: 100%;" cellpadding="3" cellspacing="3">
                        <tbody>
                            <tr>
                                <td><span style="color: #000000;"><strong style="font-family: Verdana, sans-serif; font-size: 8pt;">Mọi th&ocirc;ng tin, y&ecirc;u cầu, thắc mắc xin qu&yacute; kh&aacute;ch vui l&ograve;ng li&ecirc;n hệ:</strong></span><br
                                    /><strong style="color: #2c2b2b; font-family: Verdana, sans-serif; font-size: 8pt;">C&ocirc;ng ty CP SX-TM XNK Viễn Th&ocirc;ng A</strong><br
                                    /><strong style="color: #2c2b2b; font-family: Verdana, sans-serif; font-size: 8pt;">Ph&ograve;ng Thương Mại Điện Tử</strong><br
                                    /><span style="color: #2c2b2b; font-family: Verdana, sans-serif; font-size: 8pt;">Địa chỉ: Tầng 3, 328-330 Đường 3/2 &ndash; Phường 12 - Quận 10 - TP Hồ Ch&iacute; Minh.</span><br
                                    /><span style="color: #2c2b2b; font-family: Verdana, sans-serif; font-size: 8pt;">Hotline: 1900 54 54 46 (nhấn ph&iacute;m 1)</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}} {{/extend}}