{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187351">

<div class="section-hero-xa1">
    <div class="rowFlex align-middle">
            <div class="column small-12 medium-6 large-6">
                
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/1/100000_top-banner.png" alt="" />
            </div>
        <div class="column small-12 medium-6 large-6 p-a-0">
            <p class="hero-xa1-title text-center">Đặt Trước <span>Sony Xperia<sup>TM</sup> XA1 Plus</span></p>
            <p class="hero-xa1-toptitle text-center">Nhận ngay BỘ QUÀ TRỊ GIÁ 1.300.000Đ</p>
             <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/1/100000_top-banner02.png" alt="">  
            <div class="rowFlex wrap-list-info">
                <div class="small-12 medium-12 large-7 column">
                    <p>Số lượng người đăng ký <strong>${campaignInfo.TotalRegister}</strong>, đặt cọc <strong>${campaignInfo.TotalDatCoc}</strong></p>
                    <ul class="list-info">
                        <li><a href="javascript:void(0);" @click="SearchByCustomerPhone()" data-toggle="modal" data-target="#danhsach-kh">Xem danh sách đặt mua</a></li> 
                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#modal-thele">Xem thể lệ chương trình</a></li>
                    </ul>
                </div>
                <div class="small-12 medium-12 large-5 column">
                    <div class="btn-datmua-xa1 text-center">
                            <a href="#preorder">Đặt mua</a>
                    </div>
                   
                </div>
            </div>
        </div>

        
    </div>
    
</div>




{{> preorder-stickybar}}



<div class="section-promotion">
    <div class="rowFlex text-center">
        <div class="column small-12">
            <p class="nhanboquatang">Nhận ngay bộ quà tặng trị giá lên đến 1.300.000Đ</p>
        </div>               
    </div>
    <div class="rowFlex">
        <div class="column small-12 medium-6 large-3">
            <div class="promotion-img">
                   
                
                <img id="loasony" class="img-responsive center-block quatang-loa" src="https://cdn1.vienthonga.vn/image/2017/9/4/100000_loa-yellow.png" alt="">
                <div class="promotion-chonmau">
                        <div class="sony-chonmau sony-red" data-chonmau="red"></div>
                        <div class="sony-chonmau sony-trang" data-chonmau="trang"></div>
                        <div class="sony-chonmau sony-yellow" data-chonmau="yellow"></div>
                        <div class="sony-chonmau sony-black" data-chonmau="black"></div>
                        <div class="sony-chonmau sony-blue" data-chonmau="blue"></div>
                        <div class="sony-chonmau sony-reu" data-chonmau="reu"></div>
                </div>
                <img class="img-responsive center-block loa-bg" src="https://cdn1.vienthonga.vn/image/2017/9/2/100000_bg-loa.png" alt="">
            </div>
            <div class="promotion-text">
                    Loa Bluetooth <br>không dây SRS-XB10
            </div>
        </div>
        <div class="column small-12 medium-6 large-3">
                <div class="promotion-img">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/1/100000_qua-oplung.png" alt="">
                </div>
                <div class="promotion-text">
                        Ốp lưng <br>
                        trong suốt
                </div>
            </div>
            <div class="column small-12 medium-6 large-3">
                    <div class="promotion-img">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/4/100000_qua-tragop.png" alt="">
                    </div>
                    <div class="promotion-text tragop-text">
                            Trả góp 0%<br>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-tragop">(Xem chi tiết)</a>

                    </div>
                </div>
                <div class="column small-12 medium-6 large-3 p-a-0">
                        <div class="promotion-img">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/1/100000_qua-boqua.png" alt="">
                        </div>
                        <div class="promotion-text">
                                Quay số trúng các chuyến <br>du lịch Singapore - Ninh Bình
                        </div>
                    </div>
    </div>
</div>

<div class="section-vedepsanhdieu">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-12 large-6">
            <p class="xa1-title">Vẻ ngoài sành điệu </p>
            <p class="xa1-title-sub">Phong cách trẻ trung</p>
            <p class="xa1-content">Sony Xperia XA1 Plus là phiên bản nâng cấp từ dòng Xperia XA1, 
                thiết kế có nhiều điểm tương đồng, vẫn sử dụng kim loại ALKALEIDO có độ tinh khiết cao giúp tăng thêm độ sâu, 
                độ bóng và độ sáng, cho vẻ ngoài hoàn thiện và sắc sảo. Bên cạnh đó, kiểu dáng mềm mại, bo tròn trong lòng bàn tay, 
                kết hợp hoàn hảo với các màu sắc trẻ trung và bắt mắt, mặt lưng hạn chế bám vân tay là thế mạnh của siêu phẩm này.</p>
        </div>
        <div class="column small-12 medium-12 large-6">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/1/100000_vedepsanhdieu.png" alt="">
        </div>
    </div>
</div>

<div class="section-manhinh text-center">
    <div class="rowFlex">
        <div class="column small-12 medium-12 large-12">
                <p class="xa1-title">Màn hình 5.5 inch <span class="xa1-title-sub"> <br class="visible-xs">trải nghiệm không gian sống động </span></p>
                <p class="xa1-content">Điều gây ấn tượng nhất ở Xperia XA1 Plus chính là màn hình Full HD với kích thước khá lớn, 
                    lên đến 5.5 inch, cho phép tái hiện hình ảnh sắc nét, cực kỳ chi tiết và chất lượng, màu sắc trong trẻo và trung thực,
                     hoàn toàn lý tưởng cho các hoạt động giải trí đa phương tiện. 
                    Người dùng sẽ có những trải nghiệm tuyệt vời khi thưởng thức các bộ phim HD bom tấn hay đọc báo và lướt web hàng ngày.</p>
                <div class="manhinh-img">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/4/100000_manhinh.png" alt="">
                </div>
        </div>
    </div>
    
</div>

<div class="section-camera">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-12 large-6 small-order-2 medium-order-2 large-order-1">
            <div class="camera-img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/1/100000_bodoicamera-1.png" alt="">
            </div>
        </div>
        <div class="column small-12 medium-12 large-6 small-order-1 medium-order-1 large-order-2">
                <p class="xa1-title">Bộ đôi camera 23 MP/8 MP </p>
                <p class="xa1-title-sub">Chụp ảnh sắc nét</p>
                <p class="xa1-content">Sony Xperia XA1 Plus sở hữu bộ đôi camera có độ phân giải cực khủng 23 MP/8 MP, 
                    tích hợp cảm biến hình ảnh Exmor RS™ 1/2.3 inch, tính năng tự động lấy nét Hybrid, khởi động nhanh, 
                    chụp ảnh và quay phim sắc nét trong điều kiện ánh sáng yếu. Những bức ảnh của bạn luôn đẹp rực rỡ, 
                    trung thực và sống động như được chụp bằng máy ảnh chuyên nghiệp.</p>
        </div>
    </div>
</div>



<div class="section-cauhinh">
        <div class="rowFlex">
            <div class="column small-12 medium-12 large-12">
                    <p class="xa1-title">Cấu hình mạnh mẽ, hiệu năng tuyệt vời</p>
                    <p class="xa1-content">Vi xử lý 8 nhân 64 bit, đi kèm RAM 4GB mạnh mẽ cho tốc độ hoạt động nhanh chóng, chạy đa nhiệm hiệu quả, 
                        xử lý từng bit dữ liệu trên thẻ microSD chỉ trong tích tắc. Chính vì thế, 
                        chiếc Sony Xperia XA1 Plus sẽ luôn siêu nhanh, cho bạn chơi game thoải mái, 
                        xem video trực tuyến hay kết nối với mạng xã hội mượt mà hơn bao giờ hết.</p>
                    <div class="cauhinh-img">
                        <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2017/9/4/100000_cauhinhmanhme.png" alt="">
                        <img  class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2017/9/2/100000_quamobile.png" alt="">
                    </div>

                    <div class="cauhinh-chitiet btn-datmua-xa1">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-thongso">Xem chi tiết</a>
                    </div>
            </div>
        </div>
        
    </div>



    
  
        

        
        
        
        {{>preorder-form}}

        {{>preorder-tintuc}}

        {{>danhsachkhachhang}}

        {{>thele}}
        {{>chitiettragop}}
        {{>preorder-thongsokythuat}}
{{/content}} {{/extend}}