{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187392">

<div class="section-hero-iphonex">
    <img class="img-responsive center-block visible-xs" :src="campaignInfo.BannerMobile" alt="">
    <img class="img-responsive center-block hidden-xs" :src="campaignInfo.BannerPc" alt="">
</div>

<div class="section-social ">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-7">
            <div class="reorder-timer">
                <div class="countdown2" :data-date="campaignInfo.EndDate">
                </div>
            </div>
        </div>
        <div class="column small-12 medium-5">
            <div class="text-social">
                <span class="text-hotline"><img src="https://cdn1.vienthonga.vn/image/2018/3/4/100000_call-material.png"/><a href="tel:19006766">Hotline: 1900 67 66</a></span>
                <div class="fb-like" data-href="https://vienthonga.vn/san-dien-thoai-samsung-gia-soc.html" data-layout="button_count" data-action="like"
                    data-size="small" data-show-faces="true" data-share="true">

                </div>
            </div>

        </div>
    </div>
</div>
<div class="section-thelevadanhsach">
    <div class="rowFlex">
        <div class="column small-12 medium-12 large-6">
            <div class="chuongtrinh-content">
                    <div class="sanpham-khuyenmai">
                            <div class="rowFlex">
                                <div class="column small-12 medium-6">
                                    <div class="sanpham-content">
                                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/3/3/100000_sp1.png" alt="">
                                        <div class="sanpham-text">
                                            <p>
                                                    Samsung Galaxy J7 Pro Pink
                                            </p>
                                            <p>
                                                <span>6.990.000đ</span>
                                                <span>83.000đ</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column small-12 medium-6">
                                        <div class="sanpham-content">
                                                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/3/3/100000_sp2-1.png" alt="">
                                                <div class="sanpham-text">
                                                    <p>
                                                            Samsung Galaxy J2 Prime Pink
                                                    </p>
                                                    <p>
                                                        <span>2.690.000đ</span>
                                                        <span>83.000đ</span>
                                                    </p>
                                                </div>
                                            </div>
                                </div>
                            </div>
                        </div>
                        <div class="thongtinlienhe">
                            <p class="thele-title">để lại thông tin để săn J7 Pro Pink  & J2 Prime GIÁ 83.000Đ</p>
                            <div class="form-thongtin">
                                <div class="rowFlex">
                                    <div class="column small-12 medium-6">
                                        <input class="input-style" type="text" v-model="postObj.MemberName" name="hoten" placeholder="*Họ và tên">
            
                                    </div>
                                    <div class="column small-12 medium-6">
                                        <input class="input-style" type="text" v-model="postObj.MemberPhone" name="sodienthoai" placeholder="Số điện thoại">
            
                                    </div>
                                </div>
                                <div class="rowFlex">
                                    <div class="column">
                                        <input class="input-style" type="email" v-model="postObj.MemberEmail" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="rowFlex">
                                    <div class="column">
                                           
                                        <a class="btn-gui btn-position-right" href="javascript:void(0)" @click="registerDatTruoc()">Gửi</a>
                                        <a class="btn-gui btn-position-right btn-grey" href="javascript:void(0)" @click="registerKeyAgain()">Xác nhận lại</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
           
            

        </div>

        <div class="column small-12 medium-12 large-6" id="xemdanhsach-list">
            <p class="thele-title">Có ${registerInfo.TotalRegister} khách tham gia</p>
            <div class="listdanhsach-block">
                <div class="listdanhsach-filter">
                    
                        
                            <div class="input-group">
                                <input type="tel" class="form-control" placeholder="Nhập số điện thoại để tìm kiếm" v-model="searchCusPhone" @keyup.enter="searchHandle()">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger btn-iphonex" @click="searchHandle()" type="button">
                                        <img src="https://cdn1.vienthonga.vn/image/2018/2/3/100000_icon-search.png" alt="">
                                    </button>
                                </span>
                            </div>
                       
                       
                    
                </div>



                <div class="table-responsive tb-height" id="ViewDanhSach">
                    <table id="danhsach" class="table table-striped table-light" cellspacing="0" width="100%">
                            <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Họ Tên</th>
                                        <!-- <th class="hidden-xs">Email</th> -->
                                        <th class="hidden-xs">điện thoại</th>
                                        <th>Trạng thái</th>
                                        <th>Ngày đăng ký</th>
                                    </tr>
                                </thead>

                        <tbody>
                           
                            <tr v-for="(item, index) in registerInfo.ListMemberToMemberModelDetail" v-cloak>
                                   
                                    <td>
                                    <span class="tb-name"> ${index + 1}</span>
                                    <td>
                                        <span class="tb-name"> ${item.Name}</span>
                                        <!-- <div class="visible-xs tb-phone">${item.Phone}</div> -->
                                    </td>
                                   
                                   
                                    <td class="hidden-xs">
                                        <span>${item.Phone}</span>
                                    </td>
                                    <td>
                                            <span style="color: #4CAF50;">Đã xác minh</span>
                                        </td>
                                    <td>
                                        <span>${item.DateString}</span>
                                    </td>


                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tb-loadmore text-center">
                    <a v-if="registerInfo.showed < registerInfo.TotalRegister" href="javascript:void(0);" data-page="1" id="btn-loadmore" class="btn btn-default btn-xemthem" @click="loadMoreHandle()">Xem thêm</a>
                </div>




            </div>
        </div>
    </div>
</div>
<div class="section-thele">
        <div class="rowFlex">
                <div class="column">
                        <div class="thelect">
                                <p class="thele-title">Thể lệ chương trình</p>
                                <div class="modal-content ">
                                    <div class="thele-content ">
                                        <div class="scroll thele" v-html="campaignInfo.Note">
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
</div>

<div class="section-thele" style="margin-top:-24px;    margin-bottom: -24px;">
        <div class="rowFlex">
            <div class="column">
                <a href="https://vienthonga.vn/samsung-galaxy-j7-pro.html">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/3/4/100000_banner-j7-pro-1140x60-700k.jpg">
                </a>
            </div>
        </div>
    </div>
    
<!--         

<div class="section-ketqua">
    <a class="ketqua-title">
         xem Kết quả trúng thưởng
    </a>
</div>

<div class=" section-tintuc-s8 ">

        <div class="container">
            <div class="tintuc-text text-center">
                <h2>Tin tức nổi bật</h2>
    
            </div>
            <div class="tintuc sp-slide wow fadeInUp animated">
                <div v-for="news in productDatTruoc.ListNews" v-cloak>
                    <div class="new">
                        <a :href="'/'+news.PromotionLink +'.html'"></a>
    
                        <div class="embed-responsive embed-responsive-16by9">
                            <img :src="news.ImageUrl" class=" embed-responsive-item img-responsive center-block" />
                        </div>
    
                        <h3 class="name">${news.Title}</h3>
    
                    </div>
                </div>
    
    
            </div>
        </div>
    
    
    
    
    
    </div> -->




{{>modal-validate}}









{{/content}} {{/extend}}