{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187761"> {{>preorder-header}} {{> preorder-stickybar}}

<!-- <div class="section-reorder2 formpreorder visible-lg visible-md visible-lg" id="mobile-order">
        <div class="container">
            <div class="col-sm-12 ">
                <div class="preoder-heading">
                        <p>Đặt trước           
                            <span>Huawei Nova 3E</span>
                            Giá dự kiến
                            <span>7.990.000</span>
                            <a class="datmua-desktop d-inline-block" @click="transferForm()">Đặt trước ngay</a>
                        </p>
                    </div>
    
                
               
            </div>
        </div>
    </div> -->


<div class="section-datmua" id="datmuasanpham">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-7">
            <p class="datmua-title">Đặt trước
                <strong>Vivo V9</strong>.
                <br class="visible-xs">Giá dự kiến:
                <strong>7.990.000</strong>
            </p>


        </div>
        <div class="column small-12 medium-5">
            <a class="datmua-mobile" @click="transferForm()">Đặt trước ngay</a>
        </div>
    </div>
</div>

{{>preorder-social}} {{>quatang1}}



<div class="section-manhinh">
    <img class="center-block img-responsive congnghecao-tinhnang visible-xs" src="https://cdn1.vienthonga.vn/image/2018/3/2/100000_1-manhinh-mobile.jpg"
        alt="">
    <div class="manhinhvocuc--content congnghecao-content">
        <div class="rowFlex">
            <div class="column small-12">
                <p class="vivo-title">màn hình tràn viền siêu nét</p>

                <p class="vivo-content">
                    Vivo V9 sở hữu màn hình loại IPS LCD, thiết kế theo tỷ lệ 19:9 và được bảo vệ bởi mặt kính 2.5D bo tròn cùng vết cắt kim
                    cương tinh xảo, viền bezel mỏng 1.75mm. Với kích thước 6.3 inches, độ phân giải 1080 x 2280 pixels cho
                    bạn trải nghiệm không gian hình ảnh cực lớn với 16 triệu màu được hiển thị.
                </p>
                <img class="center-block img-responsive img-ipad" src="https://cdn1.vienthonga.vn/image/2018/3/4/100000_dienthoai01.png" alt="">
            </div>
        </div>

    </div>


</div>
<!-- <div class="section-camera">

    <div class="video" data-video="video/clip-huawei.mp4">
        <video class="video-responsive hidden-xs" autoplay="" muted="" playsinline="">
            <source src="video/clip-huawei.mp4" type="video/mp4">
        </video>
        <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/3/2/100000_2-video.jpg" alt="">
    </div>



</div> -->
{{>component-video}}
<div class="section-selfie">
    <div class="rowFlex align-middle">
        <div class="selfie-text column small-12 small-order-2 medium-order-1">
            <div class="text-block">
                <p class="vivo-title">Selfie cực đỉnh cùng camera trước 24MP</p>

                <p class="vivo-content">
                    Vivo V9 là phiên bản cải tiến vượt bậc cho điện thoại Vivo V7 với camera selfie “khủng” 24MP, f/2.0 cho góc chụp rộng, lấy
                    nét chi tiết hoàn hảo. Máy cũng tích hợp công nghệ Selfie A.I Beauty, AR Selfie với nhiều icon thú vị,
                    chụp ảnh hiệu ứng bokeh chân dung với khả năng xóa phông chuyên nghiệp, đem lại cho bạn các bức ảnh selfie
                    sống động.
                </p>
            </div>

        </div>
        <div class="small-12 small-order-1 medium-order-2">
            <!-- <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/3/2/100000_3-selfie-1.jpg" alt=""> -->
            <img class="center-block img-responsive visible-xs" src="https://cdn1.vienthonga.vn/image/2018/3/2/100000_3-selfie-mobile-1.jpg"
                alt="">
        </div>
    </div>
</div>
<div class="section-camerakep">
    <div class="rowFlex align-middle">
        <div class="selfie-text column small-12 small-order-2 medium-order-1">
            <div class="text-block cameraText">
                <p class="vivo-title">Kiệt tác sáng tạo từ camera kép</p>

                <p class="vivo-content">
                    Bộ đôi camera sau có độ phân giải 16MP + 5MP, khẩu độ f/2.0 cho khả năng chụp ảnh khá tốt, độ chi tiết cao. Đặc biệt dual-LED
                    flash mang đến cho người dùng những bức ảnh sắc nét hơn trong điều kiện chụp thiếu sáng, bắt trọn khoảnh
                    khắc tạo nên những “kiệt tác” đời thường.
                </p>
            </div>

        </div>
        <div class="small-12 small-order-1 medium-order-2">
            <img class="center-block img-responsive visible-xs" src="https://cdn1.vienthonga.vn/image/2018/3/2/100000_4-camera-kep-mobile-1.jpg"
                alt="">
        </div>
    </div>
</div>
<div class="section-AiUnlock">
    <div class="rowFlex align-middle">
        <div class="selfie-text column small-12 small-order-2 medium-order-1">
            <div class="text-block cameraText">
                <p class="vivo-title">Mở khóa thông minh</p>

                <p class="vivo-content">
                    Vivo V9 cho phép mở khóa máy đơn giản bằng cách nhận diện khuôn mặt, cảm biến vân tay một chạm. Đây là tính năng bảo mật
                    thông minh cho người dùng, giúp ngăn chặn tình trạng bị đánh cắp dữ liệu, hình ảnh hay thông tin cá nhân.
                </p>
                <img class="center-block img-responsive img-ipad" src="https://cdn1.vienthonga.vn/image/2018/3/4/100000_unlock.png" alt="">
            </div>

        </div>
        <div class="small-12 small-order-1 medium-order-2">
            <img class="center-block img-responsive visible-xs" src="https://cdn1.vienthonga.vn/image/2018/3/2/100000_5-unlock-1.jpg"
                alt="">
        </div>
    </div>
</div>
<div class="section-cpu">
    <div class="rowFlex align-middle">
        <div class="selfie-text column small-12 small-order-2 medium-order-1">
            <div class="text-block cameraText">
                <p class="vivo-title">Cấu hình mạnh mẽ, xử lý đa nhiệm chương trình</p>

                <p class="vivo-content">
                    Máy sử dụng chip Snapdragon 626 8 nhân 64-bit, tốc độ 2.2GHz kết hợp RAM 4GB, ROM 64GB, hỗ trợ Micro SD lên đến 256GB làm
                    tăng khả năng xử lý các tác vụ nhanh chóng, chơi game mượt mà. V9 được cài sẵn FunTouch OS 4.0 dựa trên
                    hệ điều hành Android 8.1, pin 3260 mAh và tích hợp tính năng Smart Split phiên bản 3.0 có thể chạy song
                    song 2 ứng dụng cùng lúc
                </p>

                
            </div>

        </div>
        <div class="small-12 small-order-1 medium-order-2">
            <img class="center-block img-responsive visible-xs" src="https://cdn1.vienthonga.vn/image/2018/3/2/100000_6-cpu-1.jpg" alt="">
        </div>
    </div>
</div>
<div class="section-taitho">
    <div class="rowFlex align-middle">
        <div class="selfie-text column small-12 small-order-2 medium-order-1">
            <div class="text-block cameraText">
                <p class="vivo-title">Xu hướng thiết kế tai thỏ</p>

                <p class="vivo-content">
                    Thiết kế nguyên khối cứng cáp với logo Vivo khắc chìm ở mặt sau tạo nét tinh xảo, sang trọng. Xu thế notch tai thỏ đang rất
                    thịnh hành trên một số dòng smartphone cũng được tìm thấy ở Vivo V9.
                </p>

                <img class="center-block img-responsive img-ipad" src="https://cdn1.vienthonga.vn/image/2018/3/4/100000_taitho.png" alt="">
            </div>

        </div>
        <div class="small-12 small-order-1 medium-order-2">
            <img class="center-block img-responsive visible-xs" src="https://cdn1.vienthonga.vn/image/2018/3/2/100000_7-taitho-1.jpg"
                alt="">
        </div>
    </div>
</div>
<div class="section-thongsokythuat">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-4 small-order-1 medium-order-2 large-order-1">
            <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2018/3/3/100000_thongso-1.png" alt="">
        </div>
        <div class="column small-12 medium-8 small-order-2 medium-order-1 large-order-2">
            <p class="thongso-title">
                THÔNG SỐ KỸ THUẬT
            </p>

            <div class="rowFlex small-12 medium-12 thongso-s9">
                <div class="small-12 medium-6 s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_camera.jpg" alt="">
                    <div class="s9-text thongso-in">
                        <p>Camera kép sau 16MP + 5MP - F2.0</p>
                        <p>Camera trước 24MP F2.0</p>
                    </div>
                </div>
                <div class="small-12 medium-6 s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/3/5/100000_iconscreen.jpg" alt="">
                    <div class="s9-text thongso-in">
                        <p>MÀN HÌNH 6.3" TRÀN VIỀN</p>
                        <p>Full HD+</p>
                    </div>
                </div>
                <div class="small-12 medium-6 s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_cpu.jpg" alt="">
                    <div class="s9-text thongso-in">
                        <p>CPU 8 NHÂN</p>
                        <p>Qualcomm Snapdragon 626 64-bit</p>
                    </div>
                </div>
                <div class="small-12 medium-6 s9-detail">
                    <img class="img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_android.jpg" alt="">
                    <div class="s9-text thongso-in">
                        <p>ANDROID 8.1</p>
                        <p>OREO MỚI NHẤT</p>
                    </div>
                </div>
                <div class="small-12 medium-6 s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_ram.jpg" alt="">
                    <div class="s9-text thongso-in">
                        <p>RAM 4GB</p>
                        <p>ROM 64GB</p>
                    </div>
                </div>
                <div class="small-12 medium-6 s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_battery.jpg" alt="">
                    <div class="s9-text thongso-in">
                        <p>3260mAh</p>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="section-muangay-footer">
    <div class="abc">
        <div class="rowFlex align-middle">
            <div class="column small-12 medium-6 large-6 small-order-2 medium-order-1 large-order-1 animated wow fadeInLeft">
                <p class="muangay-footer-text">Sẵn sàng để nâng cấp?</p>

                <p class="muangay-footer-button">
                    <a @click="transferForm()" href="javascript:void(0)">Đặt hàng ngay</a>

                </p>


            </div>
            <div class="column small-12 medium-6 large-6  small-order-1 medium-order-2 large-order-2 animated wow fadeInRight">
                <img class="center-block img-responsive visible-xs" src="https://cdn1.vienthonga.vn/image/2018/3/2/100000_footer-muangay-mobile-1.png"
                    alt="">
            </div>
        </div>
    </div>
</div>

{{>preorder-tintuc}} {{>modal-thele}} {{>modal-danhsachkhachhang}} {{>modal-tragop}} {{/content}} {{/extend}}