{{#extend "default"}} {{#content "main"}}
<div class="section-hero">
    <div class="rowFlex">
        <div class="column small-12 medium-4 large-4 small-order-2 medium-order-1">
            <div class="hero-mainphone text-center wow fadeInLeft animated">
                <img class="img-responsive center-block"
                     src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_hero-img1.png" alt="">
                <div class="presell--price "><span>GIÁ:</span> 6.990.000Đ</div>

                <div class="text-center">
                    <a href="#" class="btn-samsung" data-toggle="modal" data-target="#danhsach-kh">Đặt mua</a>
                </div>
            </div>
        </div>

        <div class="column small-12 medium-8 large-8 small-order-1 medium-order-2">
            <div class="presell wow fadeInUp animated" data-wow-delay="0.3s">
                <p class="">
                    <span class="presell--text  ">Đặt trước</span> <br class="visible-xs visible-sm">
                    <span class="presell--name  ">Samsung Galaxy J7 Pro</span>
                </p>

                <p class="presell-sub">Máy hàng hiệu - Quà tiền triệu</p>
                <p class="presell-tinysub">Thời gian : 16/06 - 06/07</p>

            </div>
            <div class="hero-gift wow fadeInUp animated" data-wow-delay="0.6s">
                <img class="img-responsive center-block"
                     src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_hero-img2.png" alt="">
            </div>
            <div class="rowFlex">
                <div class="column small-12 text-right">
                    <div class="hero-social">
                        <a href="#">Like</a>
                        <span>|</span>
                        <a href="#">Share</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="section-bar " id="ordernow">
    <div class="rowFlex align-middle">
        <div class="column text-left ">
            <h2 class="bar-name">Galaxy J7 pro  <span class="hidden-xs">- Camera chinh phục bóng tối</span></h2>
        </div>

        <div class="column shrink text-right ">
            <div class="bar-muangay" data-toggle="modal" data-target="#danhsach-kh">
                    <a href="#" class="btn-samsung">Đặt mua</a>
            </div>
        </div>
    </div>
</div>


<div class="section-quatangdacbiet">
    <div class="rowFlex">
        <div class="column small-12">
            <div class="quatangdacbiet-text text-center animated wow fadeInUp">
                <p class="s-title2">Bộ quà tặng đặc biệt</p>
                <p class="s-sub2">trị giá: 1.000.000đ</p>
            </div>
        </div>
    </div>

    <div class="list-nhanqua">
        <div class="rowFlex align-middle">
            <div class="column small-12 medium-4 large-4 animated wow fadeInLeft " data-wow-delay="0.3s">
                <div class="rowFlex align-middle">
                    <div class="column small-12">
                        <div class="list-nhanqua-img text-center">
                            <img class="img-responsive center-block"
                                 src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_boquatang-1.png" alt="">
                            <p class="s-content s-blue">1 đổi 1 trong 30 ngày</p>
                        </div>
                    </div>

                    <div class="column small-12">
                        <div class="list-nhanqua-img text-center">
                            <img class="img-responsive center-block"
                                 src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_boquatang-2.png" alt="">
                            <p class="s-content s-blue">Trả góp 0% Visa</p>
                            <p class="s-content">ANZ, Sacombank, VIB Bank,<br>Vietinbank, CityBank</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column small-12 medium-4 large-4 animated wow fadeInUp quatangdacbiet-lg" data-wow-delay="0.6s">
                <div class="list-nhanqua-img">
                    <img class="img-responsive center-block"
                         src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_boquatang-3.png" alt="">
                </div>
                <div class="list-nhanqua-text special">
                    <p class="s-content s-blue">Loa Bluetooth chính hãng</p>
                    <p class="s-content">Âm thanh lan tỏa 360 độ<br>Tính năng sạc cảm ứng<br>Tích hợp đèn LED và lắc tay
                        để đổi màu</p>
                </div>
            </div>

            <div class="column small-12 medium-4 large-4 animated wow fadeInRight" data-wow-delay="0.9s">
                <div class="list-nhanqua-img">
                    <img class="img-responsive center-block"
                         src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_boquatang-4.png" alt="">
                </div>
            </div>
        </div>
        <br>
        <div class="rowFlex">
            <div class="column small-12">
                <div class="text-center j7-action" data-toggle="modal" data-target="#modal-thele">
                    <a href="#" class="xemthele">Xem thể lệ chương trình</a>
                </div>
            </div>
        </div>
    </div>


</div>


<div class="section-qled">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-12 large-6">
            <div class="qled-text text-center animated wow fadeInLeft">
                <p class="s-title2">Cơ hội trúng</p>
                <p class="s-sub2">4 Qled tivi Samsung 55''</p>
            </div>
        </div>

        <div class="column small-12 medium-12 large-6">
            <div class="qled-img animated wow fadeInRight">
                <img class="img-responsive center-block"
                     src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_tivi-img-1.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="section-thietkekimloai">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 large-6 small-order-2 medium-order-1">
            <div class="thietkekimloai-img animated wow fadeInLeft">
                <img class="img-responsive center-block"
                     src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_thietke-img-1.png" alt="">
            </div>
        </div>
        <div class="column small-12 medium-6 large-6 small-order-1 medium-order-2">
            <div class="thietkekimloai-text animated wow fadeInRight">
                <p class="s-title">Thiết kế kim loại</p>
                <p class="s-sub">nguyên khối hoàn hảo</p>

                <p class="s-content">Samsung Galaxy J7 Pro đẹp kiệt xuất nhờ sự kết hợp hoàn mỹ giữa lớp
                    vỏ bằng kim loại nguyên khối sang trọng và mặt kính cường lực 2.5D cao cấp,
                    tinh xảo ở mọi góc độ. Màn hình lớn 5.7 inches đi kèm với đường viền cong mềm mại
                    cho phép mở rộng góc nhìn nhưng J7 Pro vẫn rất gọn gàng trên bàn tay của người dùng.
                </p>
            </div>
        </div>

    </div>

</div>


<div class="section-chinhphucbongtoi">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-7 large-7 ">
            <div class="chinhphucbongtoi-text animated wow fadeInLeft">
                <p class="s-title">Camera 13MP chinh <br>phục bóng tối</p>
                <p class="s-sub">selfie tuyệt đẹp</p>

                <p class="s-content">Nhà sản xuất Hàn Quốc trang bị cho chiếc Galaxy J7 Pro bộ đôi camera độ phân giải
                    lên đến 13.0 MP,
                    với tốc độ lấy nét và chụp cực nhanh, bắt trọn mọi khoảnh khắc sống động và chân thật đến từng
                    chi tiết. Đặc biệt, khẩu độ lớn
                    f/1.7 cho khả năng chụp thiếu sáng đỉnh cao, sẵn sàng thách thức bóng đêm, mang đến cho bạn những
                    hình ảnh selfie chất lượng và sắc nét bất kể điều kiện ánh sáng.</p>
            </div>
        </div>

        <div class="column small-12 medium-5 large-5 ">
            <div class="chinhphucbongtoi-img animated wow fadeInRight">
                <img class="img-responsive center-block"
                     src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_camera-img-1.png" alt="">
            </div>
        </div>
    </div>


</div>

<div class="section-cauhinhtoitan">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 large-6 small-order-2 medium-order-1">
            <div class="cauhinhtoitan-img animated wow fadeInLeft">
                <img class="img-responsive center-block"
                     src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_cauhinh-img-1.png" alt="">
            </div>
        </div>

        <div class="column small-12 medium-6 large-6 small-order-1 medium-order-2">
            <div class="cauhinhtoitan-text animated wow fadeInRight">
                <p class="s-title">Cấu hình tối tân</h2>
                <p class="s-sub">hiệu năng mạnh mẽ</p>

                <p class="s-content">Galaxy J7 Pro sở hữu cấu hình ấn tượng với vi xử lý 8 nhân,
                    RAM 3GB, dung lượng bộ nhớ trong 32GB, cho quá trình vận hành
                    nhanh chóng, xử lý đa nhiệm hiệu quả,
                    mạnh mẽ không hề thua kém các thiết bị khác trong cùng phân khúc.
                    Chính vì thế, với J7 Pro, người dùng chơi game thoải mái, xem video
                    trực tuyến hay kết nối với mạng xã hội mượt mà hơn bao giờ hết.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="section-thongsokythuat">
    <div class="rowFlex">
        <div class="column small-12">
            <div class="thongsokythuat-text text-left">
                <p class="s-title">Thông số kỹ thuật</p>
            </div>
        </div>

        <div class="column small-12">
            <div class="thongsokythuat-chitiet text-center animated wow fadeInUp">
                <img class="img-responsive center-block"
                     src="https://cdn1.vienthonga.vn/image/2017/6/4/100000_hinhtrong.png" alt="">


                <div class="sony-action j7-action"  data-toggle="modal" data-target="#modal-thongso">
                    <a href="#">CHI TIẾT</a>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="section-reoder j7-order">
    <div class="container">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="reoder-heading text-center">

                <p class="s-title">Đặt trước</h2>
                <p class="s-sub">Samsung galaxy j7 pro</p>
            </div>

            <!--<div class="reoder-txt1 text-center">
                Chương trình kết thúc sau
            </div>-->
            <div class="text-center reorder-timer reorder-content">
                <div class="countdown2" data-date="03/25/2017">
                </div>
            </div>

            <br>

            <div class="row reoder-form reorder-content">

                <div class="col-md-6">
                    <h3 class="reoder-tit reorder-title">
                        <span class="reorder-price-text"> Giá </span> <span class="reorder-price">6.990.000đ</span></h3>
                    <!--<p></p>-->
                    <div class="reoder-txt2 reorder-txt">
                        <small> Số lượng người đăng ký:</small>
                        <strong class="number-reorder">20.000</strong>
                        <small>, đặt cọc</small>
                        <strong class="number-reorder">15000</strong>
                        <!--<span class="hidden-xs">-</span> <br class="visible-xs"> <a href="" data-toggle="modal" data-target="#modal-thele" style="color: #1ddcfe">Thể lệ</a>-->

                        <br> <a href="" data-toggle="modal" data-target="#danhsach-kh">Xem danh sách</a>
                    </div>

                    <h3 class="reorder-title ">Chọn màu</h3>
                    <div class="mt8 reorder-input">
                        <div class="list-opt-radio">
                            <label class="opt-radio">
                                <input class="opt-radio-input" name="color" type="radio" value="">
                                <div class="opt-text">
                                    <img src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_dattruoc-img-1-1.png"
                                         alt=""> <span>Black</span>
                                </div>
                                <span class="opt-radio-icon"></span>
                            </label>
                            <label class="opt-radio">
                                <input class="opt-radio-input" name="color" type="radio" value="">
                                <div class="opt-text">
                                    <img src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_dattruoc-img-1-1.png"
                                         alt=""> <span>Gold</span>
                                </div>
                                <span class="opt-radio-icon"></span>
                            </label>
                            <label class="opt-radio">
                                <input class="opt-radio-input" name="color" type="radio" value="">
                                <div class="opt-text">
                                    <img src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_dattruoc-img-1-1.png"
                                         alt=""> <span>Blue</span>
                                </div>
                                <span class="opt-radio-icon"></span>
                            </label>
                        </div>
                    </div>


                    <h3 class="reorder-title">Thông tin người mua

                    </h3>

                    <div class="mt8 j7-gioitinh">
                        <div class="list-opt-radio">
                            <label class="opt-radio">
                                <input class="opt-radio-input" name="gioitinh" type="radio" value="">
                                <div class="opt-text opt-no-img">
                                    <span>Nam</span>
                                </div>
                                <span class="opt-radio-icon"></span>
                            </label>
                            <label class="opt-radio">
                                <input class="opt-radio-input" name="gioitinh" type="radio" value="">
                                <div class="opt-text opt-no-img">
                                    <span>Nữ</span>
                                </div>
                                <span class="opt-radio-icon"></span>
                            </label>

                        </div>
                    </div>

                    <div class="mb10"></div>

                    <div class="">

                        <div class="form-line">
                            <input class="form-control form-black " id="fullname" type="text" placeholder="Họ và tên">

                        </div>

                        <div class="form-line">
                            <input class="form-control form-black " id="email" type="email" placeholder="Email">
                        </div>

                        <div class="form-line">
                            <input class="form-control form-black " id="phone" type="text" placeholder="Số điện thoại">
                        </div>
                    </div>

                    <div class="mb30">

                    </div>

                </div>

                <div class="col-md-6 j7-phuongthuc">

                    <h3 class=" reorder-title">Phương thức nhận hàng

                    </h3>


                    <div class="list-opt-radio mb10">
                        <label class="opt-radio">
                            <input class="opt-radio-input" name="delivery-type" type="radio" value="">
                            <div class="opt-text opt-no-img">
                                <span>Nhận hàng tại siêu thị</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>
                        <label class="opt-radio">
                            <input class="opt-radio-input" name="delivery-type" type="radio" value="">
                            <div class="opt-text opt-no-img">
                                <span>Nhận hàng tại nhà</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>

                    </div>


                    <div class="">

                        <!--<div style="color: white; margin-bottom: 10px;">
                            Chọn siêu thị
                        </div>-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-line">
                                    <select class="form-control form-black ">
                                        <option value="" disabled="" selected="">Thành Phố</option>
                                        <!-- <option> ${dis.Districtname}</option> -->
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-line">
                                    <select class="form-control form-black ">
                                        <option value="">Quận/ Huyện</option>
                                        <!-- <option> ${dis.Districtname}</option> -->
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="form-line">
                            <input type="text" class="form-control form-black"
                                   placeholder="Địa chỉ nhà riêng / Chi nhánh">
                        </div>
                    </div>


                    <h3 class="reorder-title" style="margin-top: 30px;">Phương thức đặt cọc

                    </h3>


                    <div class="list-opt-radio">
                        <label class="opt-radio">
                            <input class="opt-radio-input" name="prepay-type" type="radio" value="">
                            <div class="opt-text opt-no-img">
                                <span>Trả tiền mặt tại chi nhánh gần nhất</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>
                        <label class="opt-radio">
                            <input class="opt-radio-input" name="prepay-type" type="radio" value="">
                            <div class="opt-text opt-no-img">
                                <span>Thanh toán trực tuyến</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>

                    </div>

                    <div class="j7-note">* Đặt cọc 100.000đ, hoàn cọc một tuần sau thời gian mở bán chính thức.
                        <br>
                        Sau 7 ngày những phiếu cọc không suất sẽ bị hủy.
                    </div>

                    <h3 class="reorder-title">Phương thức thanh toán
                        <!--<span style="display: block;color: #fd832b; font-weight: normal; font-size: 16px; margin-top: 10px;">Đặt cọc 500,000đ.</span>-->
                    </h3>

                    <div class="list-opt-radio">
                        <label class="opt-radio">
                            <input class="opt-radio-input" name="delivery" type="radio" value="">
                            <div class="opt-text opt-no-img">
                                <span>Trả tiền mặt</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>
                        <label class="opt-radio">
                            <input class="opt-radio-input" name="delivery" type="radio" value="">
                            <div class="opt-text opt-no-img">
                                <span> Trả góp lãi suất 0% Visa </span><span class="j7-note">( ANZ, Sacombank, VIB Bank, Vietinbank,City Bank)</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>

                    </div>

                    <br>

                    <div class="text-left">
                        <a href="#" class="btn-samsung">Hoàn tất</a>
                    </div>

                </div>

                <!--<div class="col-md-6">


                    <h3 class="reoder-tit reorder-title reorder-title">Phương thức thanh toán
                        <span style="display: block;color: #fd832b; font-weight: normal; font-size: 16px; margin-top: 10px;">Đặt cọc 500,000đ.</span>
                    </h3>
                    <div class="radio">
                        <label>
                                <input type="radio" name="delivery" checked="">
                                <div>Trả tiền mặt tại chi nhánh gần nhất</div>
                            </label>
                    </div>

                    <div class="radio">
                        <label>
                                <input type="radio" name="delivery">
                                <div>Thanh toán trực tuyến</div>
                            </label>
                    </div>

                    <!
                    <div class="reoder-chuyenkhoan">
                        <a href="" data-toggle="modal" data-target="#thongtin-nganhang">(Xem thông tin chuyển khoản)</a>
                    </div>-->
                <!--</div>-->
            </div>
            <br>
        </div>


    </div>

</div>

<div class="section-tintuc ">

    <div class="container">
        <h2 class="text-center s-title">TIN TỨC NỔI BẬT</h2>
        <div class="tintuc sp-slide">
            <div>
                <div class="new">
                    <a href=""></a>

                    <div class="embed-responsive embed-responsive-16by9">
                        <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class=" embed-responsive-item img-responsive center-block"
                        />
                    </div>

                    <h3 class="name">Designed for everyone, everywhere</h3>

                </div>
            </div>

            <div>
                <div class="new">
                    <a href=""></a>
                    <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class="img-responsive center-block" alt="">
                    <h3 class="name">Designed for everyone, everywhere</h3>

                </div>
            </div>

            <div>
                <div class="new">
                    <a href=""></a>
                    <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class="img-responsive center-block" alt="">
                    <h3 class="name">Designed for everyone, everywhere</h3>

                </div>
            </div>

            <div>
                <div class="new">
                    <a href=""></a>
                    <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class="img-responsive center-block" alt="">
                    <h3 class="name">Designed for everyone, everywhere</h3>

                </div>
            </div>

            <div>
                <div class="new">
                    <a href=""></a>
                    <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class="img-responsive center-block" alt="">
                    <h3 class="name">Designed for everyone, everywhere</h3>

                </div>
            </div>

        </div>
    </div>




</div>

<div class="modal fade j7-modal " id="modal-thongso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1">
                THÔNG SỐ KỸ THUẬT
            </div>
            <div class="table-padding">
                <table class="table">

                    <tbody>
                    <tr>
                        <th scope="row">Dual front cam</th>
                        <td>Cam Selfie 16MP <br> Cam Wefie 8MP <br> Beautify 4.0 - Selfie đẹp tự nhiên</td>

                    </tr>
                    <tr>
                        <th scope="row">Rear cam</th>
                        <td>16MP</td>

                    </tr>
                    <tr>
                        <th scope="row">Design</th>
                        <td>mỏng, cứng cáp, sang trọng</td>
                    </tr>

                    <tr>
                        <th scope="row">Screen</th>
                        <td>Screen: 6 inch, new tech giúp chụp hình Selfie sáng hơn nhất là trong tối, trời nắng gắt vẫn
                            nhìn rõ màn hình
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">Touch</th>
                        <td>Touch: 1 chạm không cần ấn</td>
                    </tr>

                    <tr>
                        <th scope="row">RAM</th>
                        <td>4GB</td>
                    </tr>

                    <tr>
                        <th scope="row">ROM</th>
                        <td>64GB</td>
                    </tr>

                    <tr>
                        <th scope="row">Battery</th>
                        <td>VOOC 4100mAh</td>
                    </tr>

                    <tr>
                        <th scope="row">Other</th>
                        <td>Android 6.0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade des-modal j7-modal" id="modal-thele" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Thể lệ
            </div>


            <div class="thele-content ">

                <div class="scroll thele">

                    <p><span style="font-size: small; color: #000000;"><strong><span
                            style="font-family: verdana, geneva;">Danh s&aacute;ch ng&acirc;n h&agrave;ng chuyển khoản khi mua sắm Online tại VienthongA.vn</span></strong>
                        </span>
                    </p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span
                            style="font-family: verdana, sans-serif; font-size: 8pt;">1. &nbsp; Ng&acirc;n h&agrave;ng Sacombank (SCB):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: verdana, geneva; font-size: x-small;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 060 007 113 156</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: Sacombank Điện Bi&ecirc;n Phủ - Tp.HCM</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;">2.&nbsp;&nbsp;&nbsp;Ng&acirc;n h&agrave;ng Đ&ocirc;ng &Aacute; (DAB):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 000 238 550 003</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: Đ&ocirc;ng &Aacute; T&acirc;n B&igrave;nh - TP.HCM</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;">3.&nbsp;&nbsp;&nbsp;Ng&acirc;n h&agrave;ng Vietcombank (VCB):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 007 1000 769 417</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: Vietcombank HCM</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;">4.&nbsp;&nbsp;&nbsp;Ng&acirc;n h&agrave;ng ANZ (ANZ):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 586 5006</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: NH ANZ Việt Nam - TP.HCM</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;">5.&nbsp;&nbsp;&nbsp;Ng&acirc;n h&agrave;ng Qu&acirc;n đội (MLB):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 701 1100 373 839</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: Chợ Lớn TP.HCM</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="font-size: x-small;"><strong><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;"><span style="color: #ff0000;">Nội dung gửi tiền:</span>                        Qu&yacute; kh&aacute;ch vui l&ograve;ng ghi theo mẫu (nếu chuyển qua ph&ograve;ng giao dịch, internet
                        banking):
                        </span>
                        </strong>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;T&ecirc;n kh&aacute;ch đặt h&agrave;ng&gt; - &lt;Số điện thoại đặt h&agrave;ng&gt; - &lt;Model đặt h&agrave;ng&gt;</span></em>
                        </span><br/><span style="font-size: x-small;"><em><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>V&iacute; dụ: Nguyễn Văn A &ndash; 0909152355 &ndash; Samsung Galaxy S7</span></em>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></em>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt; color: #ff0000;">*<span
                            style="text-decoration: underline;"><strong>Lưu &yacute;</strong></span>:
                        Sau khi chuyển tiền th&agrave;nh c&ocirc;ng, qu&yacute; kh&aacute;ch cần x&aacute;c nhận chuyển khoản
                        bằng 1 trong 2 c&aacute;ch sau:</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt; color: #ff0000;">(1) Điện thoại th&ocirc;ng b&aacute;o đến số <span
                            style="color: #0000ff;">(84-8) 38633333</span>                        để được xử l&yacute; nhanh nhất. Th&ocirc;ng tin qu&yacute; kh&aacute;ch cần cung cấp cho ch&uacute;ng
                        t&ocirc;i bao gồm:</span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;T&ecirc;n kh&aacute;ch đặt h&agrave;ng&gt;<br/></span></em><em><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;Ng&acirc;n
                        h&agrave;ng đ&atilde; chuyển tiền&gt;<br/></span>
                        </em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;Số
                        tiền đ&atilde; chuyển&gt;<br/></span>
                        </em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;T&ecirc;n
                        người chuyển tiền&gt; (Nếu chuyển qua ph&ograve;ng giao dịch, internet banking)<br/></span>
                        </em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;Số
                        t&agrave;i khoản thẻ ATM hoặc t&ecirc;n chủ t&agrave;i khoản ATM&gt; (nếu chuyển qua m&aacute;y ATM)
                        </span>
                        </em>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></em>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><span style="color: #ff0000;">(2) Nhắn tin theo c&uacute; ph&aacute;p v&agrave; gửi tới số</span>                        <span
                            style="color: #0000ff;">0888.545.446</span><span style="color: #ff0000;">:</span></span>
                    </p>
                    <p><span style="font-size: x-small;"><strong><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;"><strong>&nbsp; &nbsp; &nbsp; &nbsp;</strong>Nếu chuyển qua ph&ograve;ng giao dịch hoặc internet banking:</span></strong>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</em>&lt;M&atilde; ng&acirc;n h&agrave;ng&gt; - &lt; T&ecirc;n người chuyển tiền &gt; - &lt;Số tiền đ&atilde; chuyển&gt; - &lt;T&ecirc;n kh&aacute;ch đặt h&agrave;ng &gt;<br/></span></em><em><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</em>V&iacute;
                        dụ: VCB - Nguyen Van A &ndash; 3.000.000vnd &ndash; Nguyen Van B</span>
                        </em>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><strong><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;"><strong>&nbsp; &nbsp; &nbsp; &nbsp;</strong>Nếu chuyển qua m&aacute;y ATM:</span></strong>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span
                            style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</em>&lt;M&atilde; ng&acirc;n h&agrave;ng&gt; - &lt;M&atilde; số t&agrave;i khoản ATM hoặc T&ecirc;n chủ tk ATM&gt; - &lt;Số tiền đ&atilde; chuyển&gt; - &lt;T&ecirc;n kh&aacute;ch đặt h&agrave;ng&gt;<br/></span></em><em><span
                            style="font-family: verdana, geneva;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</em>V&iacute;
                        dụ: VCB - Nguyen Van A (0071002185469) - 3.000.000vnd - Nguyen Van B</span>
                        </em>
                        </span>
                    </p>
                    <p><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></em></p>

                </div>


            </div>
        </div>
    </div>
</div>


<div class="modal fade j7-modal" id="danhsach-kh" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content " style="">
            <ul class="table-dathang" role="tablist">
                <li role="presentation" class="active">
                    <a href="#s7" aria-controls="s7" role="tab" data-toggle="tab">
                        <span class="">Danh sách khách hàng đăng ký nhận thông tin</span>
                    </a>
                </li>
                <!--  <li role="presentation" class="">
                <a href="#s7-2" aria-controls="s7-2" role="tab" @click="SearchCocPostByCustomerPhone()" data-toggle="tab">
                    <span class="">Danh sách khách hàng đặt cọc</span>
                </a>
            </li>-->

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="s7">
                    <div class="tb-search">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="input-group">
                                    <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại"
                                           v-model="searchCusPhone">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger" @click="SearchByCustomerPhone()"
                                            type="button">Tìm</button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="table-responsive tb-height" id="ViewDanhSach">
                        <table id="danhsach" class="table table-striped table-light" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên khách hàng</th>
                                <th class="hidden-xs">Email</th>
                                <th class="hidden-xs">Số điện thoại</th>
                                <th>Ngày đăng ký</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in registerInfo.ListUserRegister" v-cloak>
                                <td><span class="tb-name"> ${campaignInfo.TotalRegister - index}</span>
                                <td><span class="tb-name"> ${item.FullName}</span>
                                    <div class="visible-xs tb-phone">${item.Phone}</div>
                                </td>
                                <td class="hidden-xs"><span>${item.Email}</span></td>
                                <td class="hidden-xs"><span>${item.Phone}</span></td>
                                <td><span>${item.DateRe}</span></td>


                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb-loadmore text-center">
                        <a href="javascript:void(0);" data-page="1" id="btn-loadmore" class="btn btn-default"
                           @click="Load_More_Dat_Coc()">Xem thêm</a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane " id="s7-2">
                    <div class="tb-search">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="input-group">
                                    <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại"
                                           v-model="searchCusPhoneCoc">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger" @click="SearchCocPostByCustomerPhone()"
                                            type="button">Tìm</button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="table-responsive tb-height" id="ViewDanhSach2">
                        <table id="danhsach2" class="table table-striped table-light " cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Họ Tên</th>
                                <th class="hidden-xs">Email</th>
                                <th class="hidden-xs">Số điện thoại</th>
                                <th>Ngày đăng ký</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for=" (item, index) in depositInfo" v-cloak>
                                <td><span class="tb-name"> ${campaignInfo.TotalDatCoc - index}</span>
                                <td><span class="tb-name"> ${item.TenKh}</span>
                                    <div class="visible-xs tb-phone">${item.Phone}</div>
                                </td>
                                <td class="hidden-xs"><span>${item.Email}</span></td>
                                <td class="hidden-xs"><span>${item.Phone}</span></td>
                                <td><span class="tb-sp">${item.DateDep}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb-loadmore text-center">
                        <a href="javascript:void(0);" data-page="1" id="btn-loadpos" class="btn btn-default"
                           @click="Load_More_Coc_Post()">Xem thêm</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{{/content}} {{/extend}}