{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187708">

<div class="section-hero-plus">
   
    <img class="img-responsive center-block img-fullview" src="https://cdn1.vienthonga.vn/image/2018/3/6/100000_rectangle-2.jpg" alt="">
    <!-- <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/3/6/100000_rectangle-2.jpg" alt=""> -->
   
</div>
<div class="section-miengdan">
    <div class="container hidden-xs">
        <a href="https://vienthonga.vn/dan-man-hinh-chinh-hang-voi-gia-chi-tu-15k.html">
            <img class="img-responsive center-block width100PhanTram" src="https://cdn1.vienthonga.vn/image/2018/4/5/100000_15k.jpg" alt="">
        </a>
     
    </div>
    <a class="visible-xs" href="https://vienthonga.vn/dan-man-hinh-chinh-hang-voi-gia-chi-tu-15k.html">
        <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/4/5/100000_15k-mobile.jpg" alt="">
    </a>
   
</div>
<div class="section-sandienthoai">
   
    <img class="img-responsive center-block img-fullview hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/4/5/100000_minigame-desktop.jpg" alt="">
    <img class="img-responsive center-block img-fullview visible-xs" src="https://cdn1.vienthonga.vn/image/2018/4/5/100000_minigame.jpg" alt="">
    <!-- <div class="bg-mobile-sandienthoai visible-xs"></div> -->
    <ul class="table-dathang table-dathang-mobile visible-xs" role="tablist">
        <li v-for="date in EventGioVang.LstCampaignGioVang" role="presentation" :class="{ active: date.CampaignId === EventGioVang.CurrentCampaignId }">
            <a :href="'#' + date.CampaignId" :aria-controls="date.CampaignId" role="tab"  data-toggle="tab" @click="changeTabEvent(date.CampaignId)">
                    
                        <span v-html="date.CampaignName"></span>
                        <span v-if="date.CampaignId < EventGioVang.CurrentCampaignId" class="hethan">Hết hạn</span>
                        <span v-if="date.CampaignId > EventGioVang.CurrentCampaignId" class="saptoi">Sắp tới</span>
                        <span style="background: transparent;" v-if="date.CampaignId == EventGioVang.CurrentCampaignId" class="hethan"></span>
                   
                </a>
        </li> 
    </ul>
    <div class="container">
        <div class="rowFlex">
            <div class="combo-promotion-title small-12 medium-12 large-12">
                <div class="modal-content " style="">
                    <ul class="table-dathang hidden-xs" role="tablist">
                        <li v-for="date in EventGioVang.LstCampaignGioVang" role="presentation" :class="{ active: date.CampaignId === EventGioVang.CurrentCampaignId }">
                            <a :href="'#' + date.CampaignId" :aria-controls="date.CampaignId" role="tab"  data-toggle="tab" @click="changeTabEvent(date.CampaignId)">
                                    <span class="">
                                        <span v-html="date.CampaignName"></span>
                                        <span v-if="date.CampaignId < EventGioVang.CurrentCampaignId" class="hethan">Hết hạn</span>
                                        <span v-if="date.CampaignId > EventGioVang.CurrentCampaignId" class="saptoi">Sắp tới</span>
                                        <span style="background: transparent;" v-if="date.CampaignId == EventGioVang.CurrentCampaignId" class="hethan"></span>
                                    </span>
                                </a>
                        </li> 
                    </ul>
                    <div class="small-12 medium-12 large-12 tab-content">
                        <div v-for="date in EventGioVang.LstCampaignGioVang" role="tabpanel" class="tab-pane" :id="date.CampaignId">
                            {{>tab-data-sandienthoai}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-xs">
            <div style="background: #fff;padding: 15px; margin-top: 20px;overflow-y:scroll;max-height: 400px;" class="rowFlex">
                <div class="txt1 text-center" style="font-weight: 600">
                    THỂ LỆ CHƯƠNG TRÌNH
                </div>
    
    
                <div class="thele-content ">
    
                    <div class="thele" v-html="campaignInfo.Note">
                      
    
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-xs">
            <div class="rowFlex">
                <div class="column">               
                    <div class=" section-tintuc" style="margin: 0px -1.15385rem -25px -1.15385rem">
                        <div class="tintuc no-btn-click sp-slide wow fadeInUp animated">
                                <div class="new" v-for="banner in listBanner.top.slice(0,1)" style="padding:0">
                                    <a :href="banner.Note"></a>
                
                                    <div class="">
                                        <img :src="banner.EventPromotionDescription" class="img-responsive center-block width100PhanTram " />                                       
                                    </div>
                
                                </div>                               
                        </div>
                    </div>               
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
{{>giasocmoingay}}
{{>xahanggiaxin}}
<div class="section-uudai">
    <div class="container">
        <div class="uudai">
            <p><a>CHƯƠNG TRÌNH ƯU ĐÃI 30/4</a></p>
        </div>
        <div class="section-tintuc visible-xs">
            <div class="tintuc sp-slide wow fadeInUp animated">
               
                    <div class="" v-for="(item, index) in ListBanner" v-cloak>
                        <a :href="item.PromotionLink"></a>
    
                        <div style="padding-bottom: 200px" class="embed-responsive">
                            <img :src="item.ImageUrl" class="img-slide-height200 embed-responsive-item img-responsive center-block" />
                        </div>
    
                    </div>
            </div>
        </div>
        <div class="rowFlex hidden-xs">
            <div class=" small-12 medium-6 large-4 uudai-img" v-for="(item, index) in ListBanner">

                <a :href="item.PromotionLink">
                    <img class="img-responsive center-block" :src="item.ImageUrl" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
{{>modal-validate}}
{{>modal-datmua}}
<div class="modal fade des-modal j7-modal s8-thele" id="modal-thele" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Thể lệ
            </div>


            <div class="thele-content ">

                <div class="scroll thele" v-html="campaignInfo.Note">
                   

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade des-modal j7-modal s8-thele" id="modal-danhsachdatmua" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Danh sách đặt mua
            </div>


            <div class="thele-content ">
                <div class="column small-12 medium-12 large-6 tab-content">
                    {{>danhsachkhachhang2}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}} {{/extend}}