{{#extend "default"}} {{#content "main"}}

    <div class="section-livestream">

        <div class="container">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0RyInjfgNc4"></iframe>
                </div>


                <div class="livestream-view clearfix">
                    <div class="pull-left">
                        <img src="https://cdn1.vienthonga.vn/image/2017/4/5/100000_icon-eye.png" alt="" class="icon-inline"> 2500 đang xem
                    </div>

                    <div class="pull-right">
                        Facebook like share
                    </div>
                </div>

                <div class="livestream-news text-right">
                    <a href="">Tin tức liên quan</a>
                </div>
            </div>
        </div>


    </div>

    <div class="container livestreamTimeline">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <h3 class=" livestreamTimeline-heading">TƯỜNG THUẬT TRỰC TIẾP BUỔI RA MẮT SAMSUNG GALAXY S8
                </h3>

                <div class="livestreamTimeline-item">

                    <div class="livestreamTimeline-date">
                        <img src="https://cdn1.vienthonga.vn/image/2017/4/5/100000_icon-date.png" alt="" class="icon-inline"> 20/04/2017   |   23:00
                    </div>

                    <div class="livestreamTimeline-content">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h4>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

                        <img src="https://cdn1.vienthonga.vn/image/2017/4/5/100000_vidu.jpg" class="img-responsive center-block" alt="">
                    </div>

                </div>

                <div class="livestreamTimeline-item">

                    <div class="livestreamTimeline-date">
                        <img src="https://cdn1.vienthonga.vn/image/2017/4/5/100000_icon-date.png" alt="" class="icon-inline">  20/04/2017   |   23:00
                    </div>

                    <div class="livestreamTimeline-content">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h4>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>

                </div>



            </div>
        </div>



    </div>


    <!-- End iframe -->
    <div class=" livestream-tintuc ">


        <div class="container">
            <div class="tintuc sp-slide">
                <div>
                    <div class="new">
                        <a href=""></a>

                        <div class="embed-responsive embed-responsive-16by9">
                            <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class=" embed-responsive-item img-responsive center-block"
                            />
                        </div>

                        <h3 class="name">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>

                        <div class="nga text-left">
                            <img src="https://cdn1.vienthonga.vn/image/2017/4/5/100000_icon-date.png" alt="" class="icon-inline" style="opacity: 0.5">  20/04/2017
                        </div>

                    </div>
                </div>

                <div>
                    <div class="new">
                        <a href=""></a>
                        <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class="img-responsive center-block" alt="">
                        <h3 class="name">Designed for everyone, everywhere</h3>

                    </div>
                </div>

                <div>
                    <div class="new">
                        <a href=""></a>
                        <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class="img-responsive center-block" alt="">
                        <h3 class="name">Designed for everyone, everywhere</h3>

                    </div>
                </div>

                <div>
                    <div class="new">
                        <a href=""></a>
                        <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class="img-responsive center-block" alt="">
                        <h3 class="name">Designed for everyone, everywhere</h3>

                    </div>
                </div>

                <div>
                    <div class="new">
                        <a href=""></a>
                        <img src="https://cdn1.vienthonga.vn/image/2017/3/3/270_siri1.jpg" class="img-responsive center-block" alt="">
                        <h3 class="name">Designed for everyone, everywhere</h3>

                    </div>
                </div>

            </div>
        </div>




    </div>
    </div>


    <a href='#' class='scroll-to-top'><i class="vta-arrow-up"></i></a> 
    

    {{/content}} {{/extend}}

