{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187780">

<div class="section-hero-plus">
   <div class="img-banner">

        <img class="img-responsive center-block img-fullview hidden-xs" :src="campaignInfo.BannerPC" alt="">
        <img class="img-responsive center-block visible-xs" :src="campaignInfo.BannerMobile" alt="">
        
       
   </div> 
    
</div>
<div class="section-quatangplus">
    <div class="container">
        <div class="rowFlex">
            <div class="column small-12 medium-6 large-4">
                <div class="reorder-timer reorder-content">
                    <div class="countdown2" :data-date="campaignInfo.EndDate">
                    </div>
                </div>
            </div>

            <div style="padding-top: 15px;" class="column small-12 medium-6 large-8">
                <div class="">
                    <div class="rowFlex align-middle">
                        <!-- <div class="column small-12 medium-12 large-7">
                            <p class="xemdanhsachdangki">Số lượng người đăng ký <strong>${campaignInfo.TotalRegister}</strong>, đặt cọc <strong>${campaignInfo.TotalDatCoc}</strong></p>
                            <p>
                                <span class="xemdanhsach-link"><a href="javascript:void(0);"  @click="SearchByCustomerPhone()" data-toggle="modal" data-target="#danhsach-kh">Xem danh sách đặt mua</a></span>
                                 <span class="orange-hyphen hidden-xs">|</span>
                                 <span class="xemdanhsach-link chuongtrinh"><a href="javascript:void(0);" data-toggle="modal" data-target="#modal-thele">Xem thể lệ chương trình</a></span>
                                </p>
                        </div> -->

                        <div class="column small-12 medium-12 large-12">
                            <div class="social-m">
                                    <div class="hotline-vta" style="display: inline-block; margin-right: 10px;">
                                        <p style="margin-bottom: 0"><img class="img-phone" src="https://cdn1.vienthonga.vn/image/2018/4/5/100000_dienthoai.png" />Gọi hotline: <a href="tel:19006766">1900 67 66</a></p>
                                    </div>
                                <div  style="display: inline-block;" class="fb-like" data-href="https://vienthonga.vn/nokia-7-plus.html" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                                    
                                </div>
                            </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>
{{>preorder-danhsach}}
<div class="section-nokia7">
    <img class="center-block img-responsive congnghecao-tinhnang" src="https://cdn1.vienthonga.vn/image/2018/4/5/100000_banner-nokia-7-plus-1920x600-2.jpg"
        alt="">
</div>
<div class="section-nokia7">
    <img class="center-block img-responsive congnghecao-tinhnang" src="https://cdn1.vienthonga.vn/image/2018/4/5/100000_banner-nokia7-1920x600px.jpg"
        alt="">
</div>
{{>modal-validate}}
<div class="section-ketqua">
    <a class="ketqua-title">
         xem Kết quả trúng thưởng
    </a>
</div>
<div class=" section-tintuc" id="tintuc">
    <div class="container">
        <div class="tintuc-text text-center">
            <h2>Bài viết liên quan</h2>

        </div>
        <div class="tintuc sp-slide2 wow fadeInUp animated">
            <div class="new" v-for="news in productDatTruoc.ListNews" v-cloak>
                <a :href="'/'+news.PromotionLink +'.html'"></a>
        
                <div class="embed-responsive embed-responsive-16by9">
                    <img :src="news.ImageUrl" class=" embed-responsive-item img-responsive center-block" />
                </div>
                <h3 class="name">${news.Title}</h3>
            </div>
        </div>
    </div>
</div>


{{/content}} {{/extend}}