{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187243">

<div class="section-hero-nokia8">
    <div class="rowFlex align-bottom">
            <div class="column small-12 medium-12 large-6">    
                    <img style="margin-bottom: 10px" class="img-responsive visible-xs center-block" src="https://cdn1.vienthonga.vn/image/2017/10/4/100000_dattruoc.png" alt="">            
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/10/4/100000_top-phone-1.png" alt="" />
                    <p class="nokia8-gia">Giá: <span>12.990.000<sup>Đ</sup></span></p>
            </div>
        <div class="column small-12 medium-12 large-6">
            <div class="dattruoc">
                    <!-- <p class="hero-iphonex-title text-center">Đặt trước <span>Nokia 8</p>
                    <p class="hero-iphonex-toptitle text-center">Giảm ngay <span>2.000.000<sup>Đ*</sup></span></p>  -->
                    <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2017/10/4/100000_dattruoc.png" alt="">
            </div>
            
            
            <div class="btn-datmua-iphonex text-center">
                <a href="#preorder">Đặt ngay</a>
            </div>
            <div class="datmua-block">
                
                 <div class="nguoithamgia">
                     
                         <p>Số lượng người đăng ký <strong>${campaignInfo.TotalRegister}</strong>, đặt cọc <strong>${campaignInfo.TotalDatCoc}</strong></p> 
                         <!-- <a class="xemdanhsach-block" href="#xemdanhsach-list">Xem danh sách</a></li>                               -->
                 </div>
                     
            </div>
            <div class="rowFlex align-middle">
                <div class="column small-12 medium-12 large-9">
                    <p class="top-quydinh" style="margin-bottom: 0">Từ ngày 01 – 13/10, áp dụng cho khách hàng đặt trước có cung cấp kèm số IMEI của điện thoại Nokia/Lumia. Số lượng có hạn. </p>
                </div>
                <div class="column small-12 medium-12 large-3">
                    <div class="datmua-action">
                        <div class="fb-like" data-href="https://vienthonga.vn/nokia-8.html" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                            
                        </div>
                    </div>
                 </div>
            </div>
            
        </div>

        
    </div>
    
</div>


<div class="section-thongso">
    <div class="thongso-chitiet">
            <div class="rowFlex">
                    <div class="column small-12 medium-4 large-4">
                        <div class="chuphinh">
                            <div class="rowFlex">
                                <div class="column small-12 medium-12 large-5">
                                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/10/4/100000_icon-manhinhkep.png" alt="">
                                </div>
                                <div class="column small-12 medium-12 large-7">
                                        <div class="chuphinh-text">
                                                <p class="text-bold">Chế độ chụp hình<br class="hidden-xs"> [ Màn hình kép ]</p>
                                                <p>Sử dụng camera trước và sau cùng lúc để lưu giữ những khoảnh khắc quý giá</p>
                                            </div>
                                </div>
                            </div> 
                        </div>
                    </div>
            
                    <div class="column small-12 medium-4 large-4">
                        <div class="amthanh">
                            <div class="rowFlex">
                                <div class="column small-12 medium-12 large-6">
                                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/10/4/100000_icon-ozou.png" alt="">
                                </div>
                                <div class="column small-12 medium-12 large-6">
                                         
                                    <div class="amthanh-text">
                                            <p class="text-bold">Công nghệ âm thanh 3600 Nokia OZO</p>
                                            <p>Quay phim chất lượng 4k với âm thanh 3D đa chiều</p>
                                        </div>
                                </div>
                            </div>
                                
                              
                        </div>
                    </div>
                    <div class="column small-12 medium-4 large-4">
                            <div class="hedieuhanh">
                                <div class="rowFlex">
                                    <div class="column small-12 medium-12 large-6">
                                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/10/4/100000_icon-adroid.png" alt="">
                                    </div>

                                    <div class="column small-12 medium-12 large-6">
                                            <div class="hedieuhanh-text">
                                                    <p class="text-bold">Androind<sup>TM</sup>  mới nhất</p>
                                                    <p>Giao diện tối giản và an toàn cùng với các ứng dụng Google tối ưu nhất</p>
                                                </div>
                                    </div>
                                </div>
                                   

                                   
                            </div>
                    </div>
                </div>
                <div class="xem-thongso text-center">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-thongso">Xem chi tiết thông số kỹ thuật ></a>
                </div>
               
    </div>    
</div>



    <div class="section-thelevadanhsach">
        <div class="rowFlex">
            <div class="column small-12 medium-12 large-6">
                <p class="thele-title">Thể lệ chương trình</p>
                <div class="modal-content ">
                    <!-- <div class="txt1 text-center">
                        Thể lệ
                    </div> -->
        
        
                    <div class="thele-content ">
        
                        <div class="scroll thele" v-html="campaignInfo.Note">
                            
        
                        </div>
                    </div>
                </div>
            </div>

            <div class="column small-12 medium-12 large-6" id="xemdanhsach-list">
                <p class="thele-title">Danh sách khách đặt gạch</p>
                <div class="modal-content " style="">
                    <ul class="table-dathang" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#s7" aria-controls="s7" role="tab" data-toggle="tab">
                                    <span class="">Danh sách khách hàng đặt trước</span>
                                </a>
                        </li>
                          <li role="presentation" class="">
                            <a href="#s7-2" aria-controls="s7-2" role="tab" @click="SearchCocPostByCustomerPhone()" data-toggle="tab">
                                <span class="">Danh sách khách hàng đặt cọc</span>
                            </a>
                        </li>
        
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="s7">
                            <div class="tb-search">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                        <div class="input-group">
                                            <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhone">
                                            <span class="input-group-btn">
                                            <button class="btn btn-default btn-danger btn-iphonex" @click="SearchByCustomerPhone()" type="button">Tìm</button>
                                        </span>
                                        </div>
                                        <!-- /input-group -->
                                    </div>
                                    <!-- /.col-lg-6 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <div class="table-responsive tb-height" id="ViewDanhSach">
                                <table id="danhsach" class="table table-striped table-light" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên khách hàng</th>
                                            <!-- <th class="hidden-xs">Email</th> -->
                                            <th class="hidden-xs">điện thoại</th>
                                            <th>Ngày đăng ký</th>
        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in registerInfo.ListUserRegister" v-cloak>
                                            <td><span class="tb-name"> ${campaignInfo.TotalRegister - index}</span>
                                                <td><span class="tb-name"> ${item.FullName}</span>
                                                    <div class="visible-xs tb-phone">${item.Phone}</div>
                                                </td>
                                                <!-- <td class="hidden-xs"><span>${item.Email}</span></td> -->
                                                <td class="hidden-xs"><span>${item.Phone}</span></td>
                                                <td><span>${item.DateRe}</span></td>
        
        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tb-loadmore text-center">
                                <a href="javascript:void(0);" data-page="1" id="btn-loadmore" class="btn btn-default" @click="Load_More_Dat_Coc()">Xem thêm</a>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane " id="s7-2">
                            <div class="tb-search">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                        <div class="input-group">
                                            <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhoneCoc">
                                            <span class="input-group-btn">
                                            <button class="btn btn-default btn-danger btn-iphonex" @click="SearchCocPostByCustomerPhone()" type="button">Tìm</button>
                                        </span>
                                        </div>
                                        <!-- /input-group -->
                                    </div>
                                    <!-- /.col-lg-6 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <div class="table-responsive tb-height" id="ViewDanhSach2">
                                <table id="danhsach2" class="table table-striped table-light " cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Họ Tên</th>
                                            <!-- <th class="hidden-xs">Email</th> -->
                                            <th class="hidden-xs">điện thoại</th>
                                            <th>Ngày đăng ký</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for=" (item, index) in depositInfo" v-cloak>
                                            <td><span class="tb-name"> ${campaignInfo.TotalDatCoc - index}</span>
                                                <td><span class="tb-name"> ${item.TenKh}</span>
                                                    <div class="visible-xs tb-phone">${item.Phone}</div>
                                                </td>
                                                <!-- <td class="hidden-xs"><span>${item.Email}</span></td> -->
                                                <td class="hidden-xs"><span>${item.Phone}</span></td>
                                                <td><span class="tb-sp">${item.DateDep}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tb-loadmore text-center">
                                <a href="javascript:void(0);" data-page="1" id="btn-loadpos" class="btn btn-default" @click="Load_More_Coc_Post()">Xem thêm</a>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
  
        

        
        
        
        {{>preorder-form}}

   

        {{>danhsachkhachhang}}

        {{>thele}}
        {{>chitiettragop}}
        {{>preorder-thongsokythuat}}
        {{>preorder-imei}}
{{/content}} {{/extend}}