{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187242">

<div class="section-hero note8-hero">
    <div class="rowFlex">
        <div class="column small-12">
                <div class="heroTxt wow fadeInUp animated" data-wow-delay="0.5s">
                        <div class="heroTxt--title">Đặt gạch <span class="heroTxt--brand">Samsung Galaxy Note 8</span></div>
                        <div class="heroTxt--name">Nhận ngay bộ <span class="heroTxt--quatang"><br class="visible-xs"/>quà trị giá 4 triệu</span></div> 
                </div>
        </div>
    </div>
    <div class="rowFlex">
        <div class="column small-12 medium-4 large-4 wow fadeInLeft animated">
            <div class="hero-mainphone text-center ">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/8/2/100000_banner-img01.png" alt="">
                <p class="text-center"><a class="datngay-note8" href="#reoder-block">Đặt ngay</a></p>
            </div>
        </div>

        <div class="column small-12 medium-8 large-8">          
                <div class="">
                        <p class="hero-small">* Hình ảnh mang tính chất minh họa</p>
                    </div>
            <div class="top-quatang-note8 wow fadeInUp animated text-center" data-wow-delay="0.5s">  
                <div class="top-quatang-main">
                        <div class="quatang">
                                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/8/2/100000_desac22-1.png" alt="">
                                <p class=" temp-text">
                                   <strong class="temp-text-title">Đế sạc nhanh</strong> <br/>cao cấp Samsung
                                </p>
                            </div>                
                       
                            <div class="quatang">
                                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/8/2/100000_oplung22-1.png" alt="">
                                <p class="temp-text">
                                        <strong class="temp-text-title">Ốp lưng chống sốc</strong><br/>
                                        chính hãng Samsung
                                </p>
                            </div>
                    
                            <div class="quatang">
                                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/8/2/100000_loadoimau22-1.png" alt="">
                                <p class="temp-text">
                                        <strong class="temp-text-title">Loa không dây đổi màu</strong><br/>
                                        cao cấp Samsung
                                </p>
                            </div>
                </div>
                      
                        <div class="top-quatang-option text-center">
                   
                            <div class="quatang q1">
                                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/8/2/100000_baohang2nam.png" alt="">
                                <p class="temp-text-white">
                                    <span class="temp-text-title-white">Bảo hành</span><br/>2 năm
                                </p>
                        
                            </div>
                            <div class="quatang q1">
                                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/8/2/100000_so1.png" alt="">
                                <p class="temp-text-white">
                                    <span class="temp-text-title-white">1 đổi 1</span><br/>trong 30 ngày
                                </p>
                            </div>
                     
                       
                            <div class="quatang q1">
                                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/8/2/100000_phisuachua.png" alt="">
                                <p class="temp-text-white">
                                        <span class="temp-text-title-white">Miễn phí 100%</span><br/>phí sửa chữa
                                </p>
                            </div>
                     
                       
                            <div class="quatang">
                                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/8/2/100000_goibaohiem.png" alt="">
                                <p class="temp-text-white">
                                        <span class="temp-text-title-white">Gói bảo hiểm</span><br/>chính hãng Samsung*
                                    
                                </p>
                            </div>
                     
                       
                            <div class="quatang">
                                <div style=" margin: 0 auto;" class="text-center">
                                        <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/8/3/100000_100000-quaysomayman1.png" alt="">
                                </div>
                                
                                <p class="temp-text-white">
                                        <span class="temp-text-title-white">Cơ hội trúng</span><br/>TV khung tranh SS 65”
                                     
                                </p>
                            </div>
                                                                                                               
                        </div>
            </div>  
            <div class="top-xemdanhsach-note8" v-cloak>
                    <div class="rowFlex align-middle">
                        <div class="column small-12 medium-8">
                            <p class="xemdanhsachdangki">Số lượng người đăng ký <strong>${campaignInfo.TotalRegister}</strong>, đặt cọc <strong>${campaignInfo.TotalDatCoc}</strong></p>
                            <p>
                                <span class="xemdanhsach-orange"><a href="javascript:void(0);"  @click="SearchByCustomerPhone()" data-toggle="modal" data-target="#danhsach-kh">Xem danh sách đặt gạch</a></span><br class="visible-xs"/>
                                 <!-- <span class="orange-hyphen hidden-xs">|</span> -->
                                 <span class="xemdanhsach-yellow"><a href="javascript:void(0);" data-toggle="modal" data-target="#modal-thele">Xem thể lệ chương trình</a></span>
                                </p>
                        </div>
    
                        <div class="column small-12 medium-4 text-right">
                            <!-- Facebook -->
                            <div class="fb-like" data-href="https://vienthonga.vn/samsung-galaxy-note-8.html" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true">

                            </div>
                        </div>
                    </div>               
                      
            </div>
    
            <div class="text-center reorder-timer reorder-content">
                    <div class="countdown2" :data-date="campaignInfo.EndDate">
                    </div>
            </div>
            
        </div>
            

    </div>
</div>



{{> preorder-stickybar}}



<div class="section-spen note8-spen"> 
    <div class="rowFlex animated wow fadeInLeft align-middle" data-wow-delay="0.5s">
        <div class="column small-12 medium-6 large-6">
            <p class="note8-title">Bút S Pen</p>
            <p class="note8-subtitle">Cải tiến vượt trội</p>
            <p class="note8-content">Bút S Pen là tính năng đặc trưng của dòng Samsung Galaxy Note và siêu phẩm Note 8 sắp tới được cho
                 là sẽ có một số nâng cấp đáng chú ý đối với chiếc bút này. Không chỉ cải thiện về phần mềm mà bút S Pen đi kèm với Note
                  8 còn được cải thiện cả về phần cứng, hứa hẹn sẽ thực sự mang lại những trải nghiệm hoàn toàn khác biệt và thú vị cho 
                  người dùng.</p>
        </div>
        <div class="column small-12 medium-6 large-6">
            <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/8/1/100000_butspen-1.png" alt="">
        </div>
    </div>
</div>



<div class="section-camerakep">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 large-6 animated wow fadeInLeft small-order-2 medium-order-1 large-order-1">
            <div class="timkhoituyetsac-img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/8/1/100000_camera-1.png" alt="">
                <br class="visible-xs">
            </div>
        </div>

        <div class="column small-12 medium-6 large-6 animated wow fadeInRight small-order-1 medium-order-2 large-order-2" data-wow-delay="0.5s">
            <div class="timkhoituyetsac-text">
                <p class="note8-title">Camera kép</p>
                <p class="note8-subtitle">Chụp ảnh ấn tượng, không thể chất hơn</p>
                <p class="note8-content">Camera kép mặt sau của siêu phẩm Samsung Galaxy Note 8 được dự đoán
                     sẽ bao gồm: một cảm biến 12 MP đi kèm công nghệ lấy nét dual-pixel và một cảm biến 13 MP,
                      tích hợp ống kính tele để zoom quang 2X. Cả 2 đều tích hợp công nghệ ổn định quang học OIS,
                       giúp bạn bắt trọn từng khoảnh khắc sống động và sở hữu những bức ảnh không thể chất hơn.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="section-samsungpay">
    <div class="rowFlex">
        <div class="column small-12 medium-6 large-6 animated wow fadeInLeft">
                <p class="note8-title">Tính năng<br/>Samsung Pay</p>
                <p class="note8-subtitle">Thanh toán online</p>
                <p class="note8-content">Nhà sản xuất Hàn Quốc có thể sẽ tích hợp Samsung Pay trên chiếc Galaxy Note 8. 
                    Tính năng này cho phép người dùng thanh toán trực tuyến tại nhiều đại lý và cửa hàng. Đồng thời, trang bị hệ thống bảo mật, 
                    nhằm bảo vệ đa lớp và ngăn chặn nguy cơ bị nghe lén thông tin. Trong trường hợp mất điện thoại, tính năng Find My Mobile có thể khóa Samsung Pay từ xa với mật khẩu cài sẵn.
                    </p>
        </div>
        <div class="column small-12 medium-6 large-6 animated wow fadeInRight">
                    <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/8/1/100000_samsungpay-1.png" alt="">
        </div>       
    </div> 
</div>

{{>forminitial}}
{{>preorder-tintuc}}
    
 


<div class="modal fade j7-modal s8-thongso" id="modal-thongso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div><a href="#" class="des-close" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1">
                THÔNG SỐ KỸ THUẬT
            </div>
            <div class="table-padding">
                <table class="table">

                    <tbody>
                        <tr>
                            <th scope="row">Trọng lượng</th>
                            <td>173g</td>

                        </tr>
                        <tr>
                            <th scope="row">Kích thước</th>
                            <td>159.5 x 73.4 x 8.1 mm</td>

                        </tr>
                        <tr>
                            <th scope="row">Màn hình hiển thị</th>
                            <td>Super AMOLED 6.2 inches</td>
                        </tr>

                        <tr>
                            <th scope="row">Camera</th>
                            <td>Bộ đôi camera 12MP/8MP, F1.7</td>
                        </tr>

                        <tr>
                            <th scope="row">CPU</th>
                            <td>8 nhân 64-bit</td>
                        </tr>

                        <tr>
                            <th scope="row">Bộ nhớ</th>
                            <td>RAM 4GB ROM 64GB</td>
                        </tr>

                        <tr>
                            <th scope="row">Hệ điều hành</th>
                            <td>Android 7.0</td>
                        </tr>

                        <tr>
                            <th scope="row">Pin</th>
                            <td>3500 mAh</td>
                        </tr>

                        <tr>
                            <th scope="row">Bảo mật</th>
                            <td>Quét mống mắt, quét vân tay, nhận diện gương mặt, thư mục bảo mật</td>
                        </tr>

                         <tr>
                            <th scope="row">Sim</th>
                            <td>Hỗ trợ 2 Sim nano nếu không gắn thẻ nhớ</td>
                        </tr>
                         <tr>
                            <th scope="row">Tính năng khác</th>
                            <td>Kháng nước & bụi chuẩn IP68</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal fade des-modal j7-modal s8-thele" id="modal-thele" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Thể lệ
            </div>


            <div class="thele-content ">

                <div class="scroll thele" v-html="campaignInfo.Note">
                   
                </div>




            </div>
        </div>
    </div>
</div>



<div class="modal fade j7-modal s8-danhsachkhachhang" id="danhsach-kh" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content " style="">
            <ul class="table-dathang" role="tablist">
                <li role="presentation" class="active">
                    <a href="#s7" aria-controls="s7" role="tab" data-toggle="tab">
                            <span class="">Danh sách khách hàng đặt trước</span>
                        </a>
                </li>
                  <li role="presentation" class="">
                    <a href="#s7-2" aria-controls="s7-2" role="tab" @click="SearchCocPostByCustomerPhone()" data-toggle="tab">
                        <span class="">Danh sách khách hàng đặt cọc</span>
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="s7">
                    <div class="tb-search">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="input-group">
                                    <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhone">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger" @click="SearchByCustomerPhone()" type="button">Tìm</button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="table-responsive tb-height" id="ViewDanhSach">
                        <table id="danhsach" class="table table-striped table-light" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên khách hàng</th>
                                    <!-- <th class="hidden-xs">Email</th> -->
                                    <th class="hidden-xs">Số điện thoại</th>
                                    <th>Ngày đăng ký</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in registerInfo.ListUserRegister" v-cloak>
                                    <td><span class="tb-name"> ${campaignInfo.TotalRegister - index}</span>
                                        <td><span class="tb-name"> ${item.FullName}</span>
                                            <div class="visible-xs tb-phone">${item.Phone}</div>
                                        </td>
                                        <!-- <td class="hidden-xs"><span>${item.Email}</span></td> -->
                                        <td class="hidden-xs"><span>${item.Phone}</span></td>
                                        <td><span>${item.DateRe}</span></td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb-loadmore text-center">
                        <a href="javascript:void(0);" data-page="1" id="btn-loadmore" class="btn btn-default" @click="Load_More_Dat_Coc()">Xem thêm</a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane " id="s7-2">
                    <div class="tb-search">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="input-group">
                                    <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhoneCoc">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger" @click="SearchCocPostByCustomerPhone()" type="button">Tìm</button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="table-responsive tb-height" id="ViewDanhSach2">
                        <table id="danhsach2" class="table table-striped table-light " cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Họ Tên</th>
                                    <!-- <th class="hidden-xs">Email</th> -->
                                    <th class="hidden-xs">Số điện thoại</th>
                                    <th>Ngày đăng ký</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for=" (item, index) in depositInfo" v-cloak>
                                    <td><span class="tb-name"> ${campaignInfo.TotalDatCoc - index}</span>
                                        <td><span class="tb-name"> ${item.TenKh}</span>
                                            <div class="visible-xs tb-phone">${item.Phone}</div>
                                        </td>
                                        <!-- <td class="hidden-xs"><span>${item.Email}</span></td> -->
                                        <td class="hidden-xs"><span>${item.Phone}</span></td>
                                        <td><span class="tb-sp">${item.DateDep}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb-loadmore text-center">
                        <a href="javascript:void(0);" data-page="1" id="btn-loadpos" class="btn btn-default" @click="Load_More_Coc_Post()">Xem thêm</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{{/content}} {{/extend}}