{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187862">

<div class="section-hero-plus">
   <div class="img-banner">

        <img class="img-responsive center-block img-fullview hidden-xs" :src="campaignInfo.BannerPC" alt="">
        <img class="img-responsive center-block visible-xs" :src="campaignInfo.BannerMobile" alt="">
        
       
   </div> 
    
</div>

{{>preorder-datngay}}

{{>preorder-social}}
{{>preorder-stickybar-fixed}}                   
{{>preorder-stickybar}}

{{>quangcao}}


<div class="section-thongsooppo" id="thongso">
        <div class="thongsos8-title">
                <p class="s8-sub-title">Thông số kỹ thuật</p>
            </div>
    <div class="rowFlex align-middle">       
        <div class="column small-12 medium-4 animated wow fadeInUp small-order-2 medium-order-1" data-wow-delay="0.5s">
            <img style="margin-bottom: 10px" class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_thongso01.png" alt="">
            <button class="a6-datngay hidden-xs">đặt ngay</button>
        </div>
        <div class="column small-12 medium-4 animated wow fadeInUp small-order-1 medium-order-2" data-wow-delay="0.5s">
                <img style="margin-bottom: 10px" class="img-responsive center-block w30" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_product-a6.png" alt="">
               
            </div>
            <div class="column small-12 medium-4 animated wow fadeInUp small-order-3 medium-order-3" data-wow-delay="0.5s">
                    <img style="margin-bottom: 10px" class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_thongso02.png" alt="">
                    <button class="a6-datngay hidden-xs">đặt ngay</button>
                </div>
    </div>
</div>

{{>preorder-danhsach}}
<div class="section-dangky-nhanthongtin">
    <div class="rowFlex">
        <div class="column small-12 medium-6 animated wow fadeInLeft">
                <div class="dangky-nhanthongtin-content">
                        Sẵn sàng để nâng cấp?
                        <p style="margin-top: 20px" class="muangay-footer-button" >
                            <a href="javascript:void(0)" @click="transferForm()">Mua ngay</a>           
                        </p>
                    </div>
        </div>
        <div class="column small-12 medium-6">
            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_tintuc.png" alt="">
        </div>
    </div>
   
</div>


<div class=" section-tintuc" id="tintuc">
    <div class="container">
        <div class="tintuc-text text-center">
            <h2>Tin tức liên quan</h2>

        </div>
        <div class="tintuc sp-slide2 wow fadeInUp animated">
            <div class="new" v-for="news in productDatTruoc.ListNews" v-cloak>
                <a :href="'/'+news.PromotionLink +'.html'"></a>
        
                <div class="embed-responsive embed-responsive-16by9">
                    <img :src="news.ImageUrl" class=" embed-responsive-item img-responsive center-block" />
                </div>
                <h3 class="name">${news.Title}</h3>
            </div>
        </div>
    </div>
</div>



{{>modal-chitiet}}

<!-- <div class="modal fade des-modal j7-modal s8-thele" id="modal-danhsachdatmua" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Danh sách đặt mua
            </div>


            <div class="thele-content ">
                <div class="column small-12 medium-12 large-6 tab-content">
                    
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="modal fade des-modal j7-modal s8-thele" id="modal-thele" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Thể lệ
            </div>


            <div class="thele-content ">

                <div class="scroll thele" v-html="campaignInfo.Note">
                    

                </div>
            </div>
        </div>
    </div>
</div> -->
{{/content}} {{/extend}}