{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="186302">
<div class="section-hero s8-hero">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-12 large-5  ">
            <div class="hero-mainphone text-center wow fadeInLeft animated">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/7/1/100000_imge.png" alt="">
            </div>
        </div>

        <div class="column small-12 medium-12 large-7 ">
            <div class="heroTxt wow fadeInUp animated" data-wow-delay="0.5s">
                <div class="heroTxt--title">SAMSUNG GALAXY S8+ <br class="timkhoi-mobile">TÍM KHÓI</div>
                <div class="heroTxt--name">SÁNG TẠO HƠN - QUÀ NHIỀU HƠN</div>

                <!--<p class="presell-sub">Máy hàng hiệu - Quà tiền triệu</p>-->
                <p class="heroTxt-tinysub">Thời gian: 1/7 - 7/7/2017</p>

            </div>

            <div class="top-quatang  wow fadeInUp animated" data-wow-delay="0.5s">
                <p class="top-quatang-title">Tổng trị giá quà tặng đến<span class="top-quatang-price">5.000.000Đ</span></p>
                <div class="rowFlex align-bottom collapse">
                    <div class="column small-6 medium-3 large-3">
                        <div class="quatang">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/1/100000_banner-phone-02.png" alt="">
                            <p class=" temp-text">
                                Đế sạc không dây siêu nhanh Samsung S8+
                            </p>
                        </div>
                    </div>
                    <div class="column small-6 medium-3 large-3">
                        <div class="quatang">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/1/100000_banner-phone-03.png" alt="">
                            <p class=" temp-text">
                                Loa Bluetooth đổi màu theo nhạc
                            </p>
                        </div>
                    </div>
                    <div class="column small-6 medium-3 large-3">
                        <div class="quatang">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/3/100000_the-nho-1.png" alt="">
                            <p class="temp-text">
                                Thẻ nhớ MicroSD 32GB
                            </p>
                        </div>
                    </div>
                    <div class="column small-6 medium-3 large-3">
                        <div class="quatang">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/1/100000_banner-phone-05.png" alt="">
                            <p class=" temp-text">
                                Giá gỗ đỡ điện thoại đa năng <br class="br-mobile">5 trong 1
                            </p>
                        </div>
                    </div>
                </div>




                <div class="top-quatang-option">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/1/100000_top-banner-option.png" alt="">
                </div>                
            </div>
            <div class="top-xemdanhsach text-center" v-cloak>
                   <a href="javascript:void(0);"  @click="SearchByCustomerPhone()" data-toggle="modal" data-target="#danhsach-kh">
                        <span> Xem ${campaignInfo.TotalRegister} khách đăng ký</span>
                        <strong>(${campaignInfo.TotalDatCoc} khách đặt cọc)</strong>
                    <!--<span class="hidden-xs">-</span> <br class="visible-xs"> <a href="" data-toggle="modal" data-target="#modal-thele" style="color: #1ddcfe">Thể lệ</a>-->

                    </a>
                </div>

        </div>
    </div>

    <div class="top-action">
        <div class="rowFlex">
            <div class="column small-12 medium-12 large-5 text-center">
                <div class="presell--price"><span>GIÁ: </span>${giaDuKien}</div>
            </div>

            <div class="column small-12 medium-12 large-7 text-center">
                <div class="text-center">
                    <a href="#s8-preorder" class="btn-tim">Đặt Ngay</a>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="section-bar s8-bar" id="ordernow">
    <div class="rowFlex align-middle">
        <div class="column text-left ">
            <h2 class="bar-name">Galaxy S8+ Tím Khói</h2>
        </div>

        <div class="column shrink text-right ">
            <div class="bar-muangay">
                <a href="#s8-preorder">
                    <img src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_datngaybutton.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>



<div class="section-quatangdacbiet s8-tongquatang">
    <div class="rowFlex">
        <div class="column small-12 wow fadeInUp animated">
            <div class="quatangdacbiet-text text-center animated wow fadeInUp">
                <p class="special-text01">Tổng giá trị quà tặng <span class="special-text02">5.000.000Đ</span></p>
                <p class="special-text03">( Bộ quà tặng 3 triệu + Hoàn tiền 2 triệu )</p>
            </div>
        </div>
    </div>

    <div class="rowFlex animated wow fadeInLeft" data-wow-delay="0.5s">
        <div class="column small-12 medium-6 large-3">


            <div class="quatang-card">
                <div class="quatang-card-img">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/1/100000_item01.png" alt="">
                </div>

                <div class="quatang-card-caption">
                    <p class="title ">Sạc nhanh dạng <br>đứng S8+ chính hãng</p>
                    <p class="price ">1,450,000 VNĐ</p>
                    <p class="content">
                        Với đế sạc được thiết kế có thể giữ máy đứng tựa như giá đỡ, mang đến giải pháp sạc không dây khá tiện lợi, vừa có thể sạc
                        pin cho máy, vẫn có thể theo dõi các sự kiện trên màn hình. Hơn nữa, với công nghệ sạc nhanh độc
                        quyền, đế sạc không dây của Samsung cho phép sạc nhanh hơn các sản phẩm cùng loại đến 1,5 lần.
                    </p>
                </div>
            </div>

        </div>

        <div class="column small-12 medium-6 large-3">
            <div class="quatang-card">
                <div class="quatang-card-img">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/1/100000_item02.png" alt="">
                </div>

                <div class=" quatang-card-caption">
                    <p class="title ">Loa Bluetooth<br>đổi màu theo nhạc</p>
                    <p class="price ">640,000 VNĐ</p>
                    <p class="content">
                        Loa hỗ trợ kết nối không dây bluetooth tiện lợi và tính năng đổi màu theo nhạc độc đáo, cho bạn thỏa sức nghe nhạc không
                        giới hạn trong các bữa tiệc vui.
                    </p>
                </div>
            </div>
        </div>

        <div class="column small-12 medium-6 large-3">
            <div class="quatang-card">

                <div class="quatang-card-img">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/3/100000_the-nho-2.png" alt="">
                </div>

                <div class=" quatang-card-caption">
                    <p class="title ">Thẻ nhớ MicroSD<br> 32GB </p>
                    <p class="price ">480,000 VNĐ</p>
                    <p class="content">
                        Vừa giúp mở rộng dung lượng lưu trữ, vừa có khả năng lưu hình rất nhanh, có thể lưu những đoạn
                        phim 4K cần tốc độ cao và dung lượng lớn.
                    </p>
                </div>

            </div>

        </div>
        <div class="column small-12 medium-6 large-3">

            <div class="quatang-card">

                <div class="quatang-card-img">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/1/100000_item04.png" alt="">
                </div>

                <div class=" quatang-card-caption">
                    <p class="title ">Giá gỗ đỡ điện thoại<br>đa năng 5 trong 1 </p>
                    <p class="price ">430,000 VNĐ</p>
                    <p class="content">
                        Được thiết kế với chất liệu gỗ sang trọng, đa năng 5 trong 1: vừa có thể làm giá đỡ đẳng cấp cho điện thoại, vừa giúp bạn
                        sắp xếp đồ dùng cá nhân một cách gọn gàng và khoa học như treo đồng hồ, ví, viết, mắt kính, chìa
                        khóa xe... gói gọn trên một chiếc kệ để bàn sang trọng.
                    </p>
                </div>

            </div>


        </div>

    </div>

    <div class="rowFlex animated wow fadeInUp" data-wow-delay="0.7s">
        <div class="column small-12 text-center">
            <div class="s8-tongquatang-khuyenmai">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/1/100000_banner-middle-1.png" alt="">
            </div>

            <div class="text-center" data-toggle="modal" data-target="#modal-thele">
                <a href="#" class="btn-tim">Xem thể lệ chương trình</a>
            </div>

        </div>


    </div>



</div>



<div class="section-timkhoituyetsac">
    <div class="rowFlex align-middle">

        <div class="column small-12 medium-7 large-7 animated wow fadeInLeft">
            <div class="timkhoituyetsac-img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/1/100000_phone01.png" alt="">
                <br class="visible-xs">
            </div>
        </div>

        <div class="column small-12 medium-5 large-5 animated wow fadeInRight" data-wow-delay="0.5s">
            <div class="timkhoituyetsac-text">
                <p class="s8-title">Phiên bản tím khói đẹp xuất sắc</p>
                <p class="s8-content">Siêu phẩm S8+ vừa được Samsung bổ sung màu sắc mới: tím khói đẹp xuất sắc. Thiết kế giống hệt như các phiên
                    bản đã được trình làng trước đây: màn hình vô cực, viền siêu mỏng, cong tràn hai cạnh, phá vỡ mọi khuôn
                    khổ, tuy nhiên, mặt lưng được chuyển toàn bộ sang tông màu tím pha xám bạc, mặt trước vẫn được thiết
                    kế màu đen bóng, mang lại vẻ sang trọng, cực kỳ lạ mắt và đầy sức quyến rũ.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="section-camerakhoanhkhac bottom top">

    <div class="camerakhoanhkhac-img">
        <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_100000-full-camera.jpg"
            alt="">
        <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_100000-full-camera-mobile.jpg"
            alt="">
    </div>
    
    <div class="camerakhoanhkhac-text">
        <p class="s8-title">Camera lưu giữ từng khoảnh khắc </p>

        <p class="s8-content">Trải nghiệm sống động với máy ảnh cực chất của Galaxy S8+. Camera sau 12MP và camera trước 8MP, được cải tiến ưu
            việt, kết hợp với ống kính khẩu độ F1.7, ghi lại trọn vẹn mọi khoảnh khắc một cách chính xác và nhanh chóng,
            dù ngày hay đêm, bất kể mọi điều kiện ánh sáng.
        </p>
    </div>




</div>

<div class="section-phongvelytuong text-center">
    <div class="rowFlex">
        <div class="column small-12 small-order-2 medium-order-1 large-order-1 animated wow fadeInLeft">
            <div class="phongvelytuong-text">
                <p class="s8-title">Hiệu suất mạnh mẽ,<br>tích hợp lớp phòng vệ lý tưởng </h2>

                    <p class="s8-content">Vi xử lí 10nm tiên tiến nhất, lần đầu tiên được trang bị trên S8+, cho khả năng hoạt động nhanh chóng,
                        thời lượng pin dài hơn và mức tiêu thụ điện năng giảm 20%. Ngoài ra, điện thoại có khả năng mở rộng
                        bộ nhớ, giúp bạn thoải mái làm việc dưới mưa hay trong môi trường bụi bẩn với chuẩn IP68.<br> Lớp
                        phòng vệ lý tưởng với chức năng quét mống mắt, nhận diện khuôn mặt, quét vân tay, đi kèm với Thư
                        Mục Bảo Mật, đảm bảo an toàn tuyệt đối cho các dữ liệu. Bên cạnh đó, trợ lý ảo Bixby trên S8+ được
                        kỳ vọng đem lại trải nghiệm hoàn toàn mới mẻ cho người dùng.

                    </p>

                    <br class="hidden-xs">
                    <br class="hidden-xs">
                    <br class="hidden-xs">
            </div>
        </div>

        <div class="column small-12 small-order-1 medium-order-2 large-order-2 animated wow fadeInRight" data-wow-delay="0.3s">
            <div class="phongvelytuong-img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/1/100000_phone02.png" alt="">
                <br class="visible-xs">
                <br class="visible-xs">
            </div>
        </div>
    </div>
</div>


<div class="section-thongsos8">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-5 animated wow fadeInLeftt">
            <div class="thongsos8-img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/1/100000_phone03-2.png" alt="">
            </div>
        </div>

        <div class="column small-12 medium-7 animated wow fadeInUp" data-wow-delay="0.5s">
            <div class="thongsos8-chitiet">
                <div class="thongsos8-title">
                    <p class="s8-sub-title">Thông số kỹ thuật</p>
                </div>

                <div class="thongsos8-detail">
                    <div class="rowFlex">
                        <div class="column small-12">

                            <img src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_hinhthongso.jpg" class="img-responsive" alt="">
                            
                        </div>                        
                    </div>


                </div>

                <div class="s8-xemthongtinchitiet">
                    <a href="#"  data-toggle="modal" data-target="#modal-thongso">Xem chi tiết thông số</a>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="section-reoder j7-order s8-order animated wow fadeInUp" id="s8-preorder">
    <div class="container">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="reoder-heading text-center">

                <p class="s-title">đặt trước samsung galaxy S8+</p>

                <p class="reoder-tit reorder-title">
                    <span class="reorder-price-text"> Giá: </span> <span class="reorder-price">${giaDuKien}</span>
                </p>
                
            </div>

           
            <div class="text-center reorder-timer reorder-content">
                <div class="countdown2" :data-date="campaignInfo.EndDate">
                </div>
            </div>

            <br>

            <div class="row reoder-form reorder-content">

                <div class="col-md-6 j7-nguoimua">
                    <div class="thongtinnguoimua">
                        <h3 class="reorder-title">Thông tin người mua

                        </h3>

                        <div class="mt8 j7-gioitinh">
                            <div class="list-opt-radio">
                                <label class="opt-radio" v-for="gender in genders">
                                    <input class="opt-radio-input" name="gioitinh" v-model="pushObj.Gender" :id="gender.id" type="radio" :value="gender.value">
                                    <div class="opt-text opt-no-img">
                                        <span>${gender.name}</span>
                                    </div>
                                    <span class="opt-radio-icon"></span>                                
                                </label>

                            </div>
                        </div>


                        <div class="mb10"></div>

                        <div class="">

                            <div class="form-line">
                                <input class="form-control form-black " id="fullname" type="text" v-model="pushObj.Name" placeholder="Họ và tên">

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-line">
                                        <input class="form-control form-black " id="email" v-model="pushObj.Email" type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-line">
                                        <input class="form-control form-black " id="phone" type="text" v-model="pushObj.Phone" placeholder="Số điện thoại">
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>


                    <div class="phuongthucnhanhang">
                        <h3 class=" reorder-title">Phương thức nhận hàng

                        </h3>


                        <div class="list-opt-radio mb10 j7-gioitinh">
                            <label class="opt-radio" v-for="deli in deliveryType">
                                <input class="opt-radio-input" name="delivery-type" type="radio"  v-model="pushObj.Shiping" :value="deli.value" :id="deli.id">
                                <div class="opt-text opt-no-img">
                                    <span>${deli.name}</span>
                                </div>
                                <span class="opt-radio-icon"></span>
                            </label>
                           
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-line">
                                    <select v-model="selectedCity" class="form-control form-black " @change="filterDistrict(selectedCity)">
                                                <option value="" disabled selected>Thành Phố</option>
                                                 <option  v-for="city in listCity" :value="city" >${city.Cityname}</option>
                                            </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-line">
                                   <select v-model="selectedDistrict" class="form-control form-black " @change="filterBranch(selectedDistrict)">
                                    <option value="" >Quận</option>
                                      <option v-for="dis in listDistrict" :value="dis"> ${dis.Districtname}</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div v-if="pushObj.Shiping == '8'" class="form-line">
                            <div>
                                <select class="form-control form-black " v-model="pushObj.Address">
                                    <option value="" disabled selected>Chi nhánh</option>
                                    <option v-for="branch in  listBranch"
                                            :value="branch.BranchsCodePos" >${branch.BranchsAdd}</option>
                                </select>
                            </div>
                        </div>
                        <div v-if="pushObj.Shiping == '6'" class="form-line">
                            <input class="form-control form-black " v-model="pushObj.Address" type="text" placeholder="Địa chỉ giao hàng">
                        </div>

                        <div class="mb30">

                        </div>

                    </div>
                </div>


                <div class="col-md-6 j7-phuongthuc">


                    <div class="phuongthucdatcoc">
                        <h3 class="reorder-title">Phương thức đặt cọc</h3>


                        <div class="list-opt-radio">
                        <label class="opt-radio" v-for="payment in payments">
                            <input class="opt-radio-input" name="prepay-type"  v-model="pushObj.Payment" type="radio" :value="payment.value">
                            <div class="opt-text opt-no-img" >
                                <span>      ${payment.name}</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>


                    </div>

                    <h3 class="reorder-title" v-show="pushObj.Payment == 16" style="margin-top: 30px;">Chọn thẻ:

                    </h3>

                    <div class="list-opt-radio" style="margin-top: 10px;" v-show="pushObj.Payment == 16">

                        <label class="opt-radio" style="display:inline-block;margin-right: 10px;" v-for="payment in paymentMethod">
                            <input class="opt-radio-input" name="choose-visa"  v-model="selectedPaymentMethod" type="radio" @click="getPaymentMethodCode(payment)" type="radio" :value="payment.paymentCode">
                            <div class="opt-text opt-no-img" style="margin-top: -4px;padding-left: 18px;">
                                <span>   <img :src="payment.imageLink">   </span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>
                    </div>

                        <div class="j7-note">* Đặt cọc 500.000đ, hoàn cọc một tuần sau thời gian mở bán chính thức.

                        </div>
                    </div>

                    <div class="phuongthucthanhtoan">
                        <h3 class="reorder-title">Phương thức thanh toán</h3>

                        <div class="list-opt-radio">
                            <label class="opt-radio">
                                    <input class="opt-radio-input" name="delivery" v-model="pushObj.Description" type="radio" value="Trả tiền mặt">
                                    <div class="opt-text opt-no-img">
                                        <span>Trả tiền mặt</span>
                                    </div>
                                    <span class="opt-radio-icon"></span>
                                </label>
                            <label class="opt-radio">
                                    <input class="opt-radio-input" name="delivery" v-model="pushObj.Description" type="radio" value="Trả góp lãi suất 0% Visa">
                                    <div class="opt-text opt-no-img">
                                        <span> Trả góp lãi suất 0% Visa<br></span><span class="j7-note">(ANZ, Sacombank, VIB Bank, Vietinbank, CitiBank)</span>
                                    </div>
                                    <span class="opt-radio-icon"></span>
                                </label>

                        </div>
                    </div>

                </div>
            </div>

            <div class="text-center">
                <a href="javascript:void(0)" class="btn-tim" @click="registerDatTruoc()">Hoàn tất</a>
            </div>

            <br>
        </div>


    </div>

</div>

<div class=" section-tintuc-s8 ">

    <div class="container">
        <!--<div class="tintuc-text text-center">
            <h2>Tin tức nổi bật</h2>

        </div>-->
        <div class="tintuc sp-slide wow fadeInUp animated">
            <div v-for="news in productDatTruoc.ListNews" v-cloak>
                <div class="new">
                    <a :href="'/'+news.PromotionLink +'.html'"></a>

                    <div class="embed-responsive embed-responsive-16by9">
                        <img :src="news.ImageUrl" class=" embed-responsive-item img-responsive center-block" />
                    </div>

                    <h3 class="name">${news.Title}</h3>

                </div>
            </div>


        </div>
    </div>





</div>


<div class="modal fade j7-modal s8-thongso" id="modal-thongso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div><a href="#" class="des-close" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1">
                THÔNG SỐ KỸ THUẬT
            </div>
            <div class="table-padding">
                <table class="table">

                    <tbody>
                        <tr>
                            <th scope="row">Trọng lượng</th>
                            <td>173g</td>

                        </tr>
                        <tr>
                            <th scope="row">Kích thước</th>
                            <td>159.5 x 73.4 x 8.1 mm</td>

                        </tr>
                        <tr>
                            <th scope="row">Màn hình hiển thị</th>
                            <td>Super AMOLED 6.2 inches</td>
                        </tr>

                        <tr>
                            <th scope="row">Camera</th>
                            <td>Bộ đôi camera 12MP/8MP, F1.7</td>
                        </tr>

                        <tr>
                            <th scope="row">CPU</th>
                            <td>8 nhân 64-bit</td>
                        </tr>

                        <tr>
                            <th scope="row">Bộ nhớ</th>
                            <td>RAM 4GB ROM 64GB</td>
                        </tr>

                        <tr>
                            <th scope="row">Hệ điều hành</th>
                            <td>Android 7.0</td>
                        </tr>

                        <tr>
                            <th scope="row">Pin</th>
                            <td>3500 mAh</td>
                        </tr>

                        <tr>
                            <th scope="row">Bảo mật</th>
                            <td>Quét mống mắt, quét vân tay, nhận diện gương mặt, thư mục bảo mật</td>
                        </tr>

                         <tr>
                            <th scope="row">Sim</th>
                            <td>Hỗ trợ 2 Sim nano nếu không gắn thẻ nhớ</td>
                        </tr>
                         <tr>
                            <th scope="row">Tính năng khác</th>
                            <td>Kháng nước & bụi chuẩn IP68</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal fade des-modal j7-modal s8-thele" id="modal-thele" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Thể lệ
            </div>


            <div class="thele-content ">

                <div class="scroll thele" v-html="campaignInfo.Note">
                    

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade j7-modal s8-danhsachkhachhang" id="danhsach-kh" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content " style="">
            <ul class="table-dathang" role="tablist">
                <li role="presentation" class="active">
                    <a href="#s7" aria-controls="s7" role="tab" data-toggle="tab">
                            <span class="">Danh sách khách hàng đặt trước</span>
                        </a>
                </li>
                  <li role="presentation" class="">
                    <a href="#s7-2" aria-controls="s7-2" role="tab" @click="SearchCocPostByCustomerPhone()" data-toggle="tab">
                        <span class="">Danh sách khách hàng đặt cọc</span>
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="s7">
                    <div class="tb-search">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="input-group">
                                    <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhone">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger" @click="SearchByCustomerPhone()" type="button">Tìm</button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="table-responsive tb-height" id="ViewDanhSach">
                        <table id="danhsach" class="table table-striped table-light" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên khách hàng</th>
                                    <th class="hidden-xs">Email</th>
                                    <th class="hidden-xs">Số điện thoại</th>
                                    <th>Ngày đăng ký</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in registerInfo.ListUserRegister" v-cloak>
                                    <td><span class="tb-name"> ${campaignInfo.TotalRegister - index}</span>
                                        <td><span class="tb-name"> ${item.FullName}</span>
                                            <div class="visible-xs tb-phone">${item.Phone}</div>
                                        </td>
                                        <td class="hidden-xs"><span>${item.Email}</span></td>
                                        <td class="hidden-xs"><span>${item.Phone}</span></td>
                                        <td><span>${item.DateRe}</span></td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb-loadmore text-center">
                        <a href="javascript:void(0);" data-page="1" id="btn-loadmore" class="btn btn-default" @click="Load_More_Dat_Coc()">Xem thêm</a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane " id="s7-2">
                    <div class="tb-search">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="input-group">
                                    <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhoneCoc">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger" @click="SearchCocPostByCustomerPhone()" type="button">Tìm</button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="table-responsive tb-height" id="ViewDanhSach2">
                        <table id="danhsach2" class="table table-striped table-light " cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Họ Tên</th>
                                    <th class="hidden-xs">Email</th>
                                    <th class="hidden-xs">Số điện thoại</th>
                                    <th>Ngày đăng ký</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for=" (item, index) in depositInfo" v-cloak>
                                    <td><span class="tb-name"> ${campaignInfo.TotalDatCoc - index}</span>
                                        <td><span class="tb-name"> ${item.TenKh}</span>
                                            <div class="visible-xs tb-phone">${item.Phone}</div>
                                        </td>
                                        <td class="hidden-xs"><span>${item.Email}</span></td>
                                        <td class="hidden-xs"><span>${item.Phone}</span></td>
                                        <td><span class="tb-sp">${item.DateDep}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb-loadmore text-center">
                        <a href="javascript:void(0);" data-page="1" id="btn-loadpos" class="btn btn-default" @click="Load_More_Coc_Post()">Xem thêm</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{{/content}} {{/extend}}