{{#extend "default"}} {{#content "main"}}
<div class="section-hero">
    <div class="rowFlex  align-middle">



        <div class="column small-12 medium-12 large-5">

            <div class="presell visible-xs visible-sm">
                <p class="presell--text">Đặt trước</p>
                <p class="presell--name">Xperia<sup>TM</sup> XZ Premium</p>

                <div class="sony-action">
                    <a href="#">Đặt mua</a>
                </div>
            </div>


            <div class="hero-mainphone ">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_hero-image-6.png" alt="">
            </div>
        </div>

        <div class="column small-12 medium-12 large-7">
            <div class="presell hidden-xs hidden-sm">
                <p class="presell--text wow fadeInUp animated" data-wow-duration="0.5s" data-wow-delay="0s">Đặt trước</p>
                <p class="presell--name wow fadeInUp animated" data-wow-duration="0.5s" data-wow-delay="0.5s">Xperia<sup>TM</sup> XZ Premium</p>
            </div>

            <div class="hero-gift text-center">
                <div class="rowFlex">
                    <div class="column small-12 medium-6 animated wow tada" data-wow-delay="1s">
                        <div class="hero-gift--text ">
                            <h4>Nhận quà đẳng cấp</h4>
                            <p>Tổng trị giá 2.999.000đ</p>
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/3/100000_line-white.png" alt="">
                        </div>

                        <div class="hero-listgift">
                            <div class="rowFlex">
                                <div class="column small-6">
                                    <div class="hero-listgift--des">
                                        <div class="hero-gift--image">
                                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_hero-gift-1-6.png" alt="">
                                        </div>

                                        <div class="hero-listgift--des-text">
                                            <p>Loa không dây <br> Trị giá: 2.000.000đ</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="column small-6">
                                    <div class="hero-listgift--des">
                                        <div class="hero-gift--image">
                                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_hero-gift-2-6.png" alt="">
                                        </div>

                                        <div class="hero-listgift--des-text">
                                            <p>Bao da bảo vệ <br> Trị giá: 2.000.000đ</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column small-12 medium-6  animated wow tada" data-wow-delay="1s">
                        <div class="hero-gift--text">
                            <h4>Cơ hôi trúng</h4>
                            <p>5 bộ giải thưởng 4K HDR</p>
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/3/100000_line-white.png" alt="">
                        </div>

                        <div class="hero-listgift">
                            <div class="rowFlex">
                                <div class="column small-6">
                                    <div class="hero-listgift--des">
                                        <div class="hero-gift--image">
                                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_hero-gift-3-6.png" alt="">
                                        </div>

                                        <div class="hero-listgift--des-text">
                                            <p>1 Tivi Sony Bravia <br> 4K HDR 35inch</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="column small-6">
                                    <div class="hero-listgift--des">
                                        <div class="hero-gift--image hero-last-img">
                                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_hero-gift-4-6.png" alt="">
                                        </div>

                                        <div class="hero-listgift--des-text">
                                            <p>1 Máy chơi game <br> playstation 4Pro</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="small-12 column">
                        <div class="sony-action hidden-xs hidden-sm">
                            <a href="#">Đặt mua</a>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="rowFlex">
        <div class="column small-12 text-right">


            <div class="hero-social">
                <a href="#">Like</a>
                <span>|</span>
                <a href="#">Share</a>
            </div>


        </div>
    </div>
</div>

<div class="section-bar " id="ordernow">
    <div class="rowFlex align-middle">
        <div class="column text-left ">
            <h2 class="bar-name">Xperia<sup>TM</sup> XZ Premium</h2>
        </div>

        <div class="column shrink text-right ">
            <div class="bar-muangay">
                <div class="sony-action">
                    <a href="#">Đặt mua</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-nhanqua hidden-xs">
    <div class="rowFlex">
        <div class="column small-12">
            <div class="nhanqua-text animated wow fadeInUp">
                <h2>nhận quà đẳng cấp</h2>
                <p class="sub">trị giá: 2.999.000đ</p>
            </div>
        </div>
    </div>

    <div class="list-nhanqua">
        <div class="rowFlex align-middle">
            <div class="column small-12 medium-12 large-4 animated wow fadeInUp " data-wow-delay="0.3s">
                <div class="rowFlex align-middle">
                    <div class="column small-12 medium-6 ">
                        <div class="list-nhanqua-img">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_qua-1-8.png" alt="">
                        </div>
                    </div>

                    <div class="column small-12 medium-6">
                        <div class="list-nhanqua-text">
                            <h5>Loa không dây</h5>
                            <p>Bluetooth Extra Bass SRS-XB20</p>
                            <p>Trị giá 1.900.000đ</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column small-12 medium-12 large-4 animated wow fadeInUp" data-wow-delay="0.6s">
                <div class="rowFlex align-middle">
                    <div class="column small-12 medium-6">
                        <div class="list-nhanqua-img">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_qua-2-6.png" alt="">
                        </div>
                    </div>

                    <div class="column small-12 medium-6">
                        <div class="list-nhanqua-text">
                            <h5>Bao da bảo vệ</h5>
                            <p>Xperia<sup>TM</sup> XZ Premium SCSG 10</p>
                            <p>Trị giá 900.000đ</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column small-12 medium-12 large-4 animated wow fadeInUp" data-wow-delay="0.9s">
                <div class="rowFlex align-middle">
                    <div class="column small-12 medium-6">
                        <div class="list-nhanqua-img">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_qua-3-6.png" alt="">
                        </div>
                    </div>

                    <div class="column small-12 medium-6">
                        <div class="list-nhanqua-text">
                            <p class="zeropercent">Trả góp <br> lãi xuất 0%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rowFlex">
            <div class="column small-12">
                <div class="text-center">
                    <a href="#" class="xemthele">Xem thể lệ chương trình đặt trước</a>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="section-quayso hidden-xs">
    <div class="rowFlex">
        <div class="column small-12">
            <div class="quayso-text text-center animated wow fadeInUp" >
                <h2>chương trình quay số của sony</h2>
                <p class="sub">trúng 5 bộ quà tặng</p>
            </div>
        </div>
    </div>

    <div class="list-quayso">
        <div class="rowFlex">
            <div class="column small-12 medium-12 large-6">
                <div class="rowFlex align-middle animated wow fadeInUp" data-wow-delay="0.3s">
                    <div class="column small-12 medium-6">
                        <div class="list-quayso-img">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_qua-4-6.png" alt="">
                        </div>
                    </div>

                    <div class="column small-12 medium-6">
                        <div class="list-quayso-text first-quayso">
                            <p>1 Tivi sony bravia</p>
                            <p>4k hdr 55 inch</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column small-12 medium-12 large-6">
                <div class="rowFlex align-middle animated wow fadeInUp" data-wow-delay="0.6s">
                    <div class="column small-12 medium-6">
                        <div class="list-quayso-img">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_qua-5-6.png" alt="">
                        </div>
                    </div>

                    <div class="column small-12 medium-6">
                        <div class="list-quayso-text last-quayso">
                            <p>1 máy chơi game</p>
                            <p>Playstation 4pro cuh-7006b</p>
                            <p>và một đĩa Game Horizon Zero Dawn</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>



</div>

<div class="section-thietke">
    <div class="rowFlex">
        <div class="column small-12 medium-6">
            <div class="thietke-text">
                <h2>Thiết kế tuyệt mỹ</h2>
                <p class="sub">đến từng góc cạnh</p>

                <p>Sở hữu nhiều công nghệ hài hòa, Sony Xperia XZ Premium đẹp tuyệt mỹ từng chi tiết.
                    <strong class="text-bold">Bề mặt kính cong đẳng cấp, tinh tế, tạo hiệu
                          ứng gương phản chiếu, đồng thời, bao quanh mặt
                           ngoài liền mạch,</strong>mang đến diện mạo sang trọng cho điện thoại của bạn,
                    đưa sự hoàn mỹ và độ bền lên tầm cao mới.
                </p>
                <p>Sản phẩm chịu được tia nước văng, nước đổ hoặc mưa bất ngờ theo chuẩn IP65/68. Bạn thậm chí có thể thực hiện
                    cuộc gọi dưới trời mưa mà không phải lo lắng.</p>
            </div>
        </div>

        <div class="column small-12 medium-6">
            <div class="thietke-img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_phone-01-2.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="section-dienthoaithongminh">
    <div class="rowFlex">
        <div class="column small-12">
            <div class="dienthoaithongminh-img">
                <img class="img-responsive" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_phone-02-2.png" alt="">
            </div>
            <div class="dienthoaithongminh-text">
                <h2>điện thoại thông minh</h2>
                <p class="sub">với màn hình 4k hdr</p>

                <p>Nhờ công nghệ TV Bravia của Sony, Xperia XZ premium phát nội dung 4K HDR sắc nét và sống động đáng kinh ngạc.
                    <strong class="text-bold">Màn hình TRILUMINOS kích thước 5.5 inch hiể thị hình ảnh chi tiết, mỗi màu sắc đều rất tươi sáng, tuyệt đẹp, có chiều sâu

                    </strong>,để bạn thưởng thức các bộ phim chân thực hơn bao giờ hết.
                </p>
            </div>
        </div>
    </div>
    <div class="bird">
        <img src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_bird.jpg" alt="">
    </div>
    <div class="layer-black">

    </div>

</div>
<div class="rowFlex dienthoaithongminh-text-temp">
    <div class="column small-12">
        <div class="">
            <h2>điện thoại thông minh</h2>
            <p class="sub">với màn hình 4k hdr</p>

            <p>Nhờ công nghệ TV Bravia của Sony, Xperia XZ premium phát nội dung 4K HDR sắc nét và sống động đáng kinh ngạc.
                <strong class="text-bold">Màn hình TRILUMINOS kích thước 5.5 inch hiể thị hình ảnh chi tiết, mỗi màu sắc đều rất tươi sáng, tuyệt đẹp, có chiều sâu

                    </strong>,để bạn thưởng thức các bộ phim chân thực hơn bao giờ hết.
            </p>
        </div>
    </div>
</div>


<div class="section-camera">
    <div class="camera-lg">
        <img src="https://cdn1.vienthonga.vn/image/2017/6/3/100000_camera-lg.jpg" alt="">
    </div>
    <div class="rowFlex">
        <div class="column small-12">
            <div class="camera-text">
                <h2>Camera 19MP</h2>
                <p class="sub">Ghi lại vẻ đẹp bất ngờ của cuộc sống</p>

                <p><strong class="text-bold">Camera Motion Eye</strong> mới với những công nghệ cải tiến của Sony cho phép người
                    dùng lưu lại cuộc sống heo cách bất ngờ nhất. <strong class="text-bold">Máy ảnh chính với độ phân giải 19 MP, đi kèm ống kính khẩu độ lớn f/2.0,
                    </strong>mang đến chất lượng hình ảnh tuyệt vời, ngay cả trong điều kiện ánh sáng yếu và ngược sáng.
                </p>
            </div>
        </div>
    </div>



</div>

<div class="section-cameratruoc">
    <div class="rowFlex">
        <div class="column small-12 medium-6">
            <div class="cameratruoc-img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_phone-03-2.png" alt="">
            </div>
        </div>

        <div class="column small-12 medium-6">
            <div class="cameratruoc-text">
                <h2>Camera trước 13MP</h2>
                <p class="sub">Selfie đột phá</p>

                <p><strong class="text-bold">Camera selfie 13 MP sở hữu ống kính khẩu độ lớn f/2.0 và góc rộng 22 mm,</strong>                    tích hợp các tính năng chụp ảnh thông minh, cho bạn thỏa sức sáng tạo mọi kiểu ảnh selfie và chia sẻ
                    ngay cùng bạn bè. </p>
            </div>
        </div>
    </div>
</div>

<div class="section-hieusuatmanhme">
    <div class="rowFlex hidden-xs">
        <div class="column small-12 medium-6">
            <div class="hieusuatmanhme-text">
                <h2>hiệu suất mạnh mẽ</h2>
                <p class="sub">xử lý mọi tác vụ</p>

                <p><strong class="text-bold">Với Qualcomm Snapdragon 835 tiên tiến, 
                    Xperia XZ Premium có tốc độ hoạt động nhanh hơn 
                    20% so với các đàn anh,</strong>hơn nữa, chạy đa nhiệm hiệu quả, xử lý từng bit dữ liệu trên thẻ microSD
                    chỉ trong tích tắc. </p>
                <p><strong class="text-bold">Dung lượng pin 3230 mAh</strong>đem lại nguồn năng lượng dồi dào, chế độ tiết kiệm
                    Smart Stamina giảm mức tiêu thụ cho bạn trải nghiệm cả ngày dài.</p>
            </div>
        </div>

        <div class="column small-12 medium-6">
            <div class="hieusuatmanhme-img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_phone-04-3.png" alt="">
            </div>
        </div>
    </div>

    <div class="rowFlex visible-xs-block">      

        <div class="column small-12 medium-6">
            <div class="hieusuatmanhme-img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_phone-04-3.png" alt="">
            </div>
        </div>

        <div class="column small-12 medium-6">
            <div class="hieusuatmanhme-text">
                <h2>hiệu suất mạnh mẽ</h2>
                <p class="sub">xử lý mọi tác vụ</p>

                <p><strong class="text-bold">Với Qualcomm Snapdragon 835 tiên tiến, 
                    Xperia XZ Premium có tốc độ hoạt động nhanh hơn 
                    20% so với các đàn anh,</strong>hơn nữa, chạy đa nhiệm hiệu quả, xử lý từng bit dữ liệu trên thẻ microSD
                    chỉ trong tích tắc. </p>
                <p><strong class="text-bold">Dung lượng pin 3230 mAh</strong>đem lại nguồn năng lượng dồi dào, chế độ tiết kiệm
                    Smart Stamina giảm mức tiêu thụ cho bạn trải nghiệm cả ngày dài.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-thongsokythuat">
    <div class="rowFlex">
        <div class="column small-12 medium-6">
            <div class="thongsokythuat-img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_phone-05-3.png" alt="">
            </div>
        </div>

        <div class="column small-12 medium-6">
            <div class="thongsokythuat-chitiet text-right">
                <h2 class="thongsokythuat-title">Thông số kỹ thuật</h2>

                <div class="rowFlex align-right">
                    <div class="column small-12 medium-4">
                        <div class="thongsokythuat-content text-center">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_icon-cpu-3.png" alt="">
                            <p>CPU</p>
                            <p>Vi xử lý Qualcomm Snapdragon 835</p>
                        </div>
                    </div>

                    <div class="column small-12 medium-4">
                        <div class="thongsokythuat-content text-center">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_icon-ram-3.png" alt="">
                            <p>RAM</p>
                            <p>4GB ROM 64GB</p>
                        </div>
                    </div>

                    <div class="column small-12 medium-4">
                        <div class="thongsokythuat-content text-center">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_icon-monitor-3.png" alt="">
                            <p>Màn Hình</p>
                            <p>TRILUMINOS 5.5 inches</p>
                        </div>
                    </div>

                    <div class="column small-12 medium-4">
                        <div class="thongsokythuat-content text-center">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_icon-camera-3.png" alt="">
                            <p>CAMERA</p>
                            <p>19MP / 13MP</p>
                        </div>
                    </div>

                    <div class="column small-12 medium-4">
                        <div class="thongsokythuat-content text-center">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_icon-pin-3.png" alt="">
                            <p>Dung lượng Pin</p>
                            <p>3230 mAh</p>
                        </div>
                    </div>

                </div>

                <div class="sony-action">
                    <a href="#">Xem chi tiết</a>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="section-reoder">
    <div class="container">
        <div class="reoder-heading text-center">
            <p>Đặt trước </p>
            <p>Sony Xperia XZ Premium</p>
        </div>

        <!--<div class="reoder-txt1 text-center">
            Chương trình kết thúc sau
        </div>-->
        <div class="text-center reorder-timer">
            <div class="countdown2" data-date="03/25/2017">
         </div>      
         </div>      

        <br>

        <div class="row reoder-form reorder-content">

            <div class="col-md-6">
                <h3 class="reoder-tit reorder-title">
                   <span class="reorder-price-text"> Giá dự kiến </span> <span class="reorder-price">7.999.999đ</span></h3>
                <!--<p></p>-->
                <div class="reoder-txt2 reorder-txt">
                       <small> Số lượng người đăng ký:</small> <strong class="number-reorder">208</strong>
                        <small>, đặt cọc </small><strong class="number-reorder">15000</strong>
                        <!--<span class="hidden-xs">-</span> <br class="visible-xs"> <a href="" data-toggle="modal" data-target="#modal-thele" style="color: #1ddcfe">Thể lệ</a>-->

                         <br class="visible-xs"> <a href="" data-toggle="modal" data-target="#danhsach-kh">Xem danh sách</a>
                </div>

                <h3 class="reoder-tit reorder-title ">Chọn màu</h3>
                <div class="mt8 reorder-input">
                    <label class="radio-inline">
                                <input name="color" type="radio" value="" checked="">
                                <img src="https://cdn1.vienthonga.vn/image/2017/6/3/100000_icon-phone01-1.jpg" alt="">
                                 <span>
                                    Black
                                </span>
                            </label>

                    <label class="radio-inline">
                                <input name="color" type="radio" value="">
                                <img src="https://cdn1.vienthonga.vn/image/2017/6/3/100000_icon-phone03-1.jpg" alt="">
                                 <span>
                                    Chrome
                                </span>
                            </label>
                    <label class="radio-inline">
                                <input name="color" type="radio" value=""> 
                                <img src="https://cdn1.vienthonga.vn/image/2017/6/3/100000_icon-phone02-1.jpg" alt="">
                                <span>
                                    Pink
                                </span>
                            </label>
                </div>


                <h3 class="reoder-tit reorder-title">Thông tin người mua

                </h3>

                <div class="mt8">
                    <label class="radio-inline">
                                <input name="gender" type="radio" value="" checked="">
                                    Nam
                                
                            </label>

                    <label class="radio-inline">
                                <input name="gender" type="radio" value="">
                                    Nữ
                               
                            </label>
                </div>

                <div class="mb10"></div>

                <div class="">

                    <div class="form-line">
                        <input class="form-control form-black " id="fullname" type="text" placeholder="Họ và tên">

                    </div>

                    <div class="form-line">
                        <input class="form-control form-black " id="email" type="email" placeholder="Email">
                    </div>

                    <div class="form-line">
                        <input class="form-control form-black " id="phone" type="text" placeholder="Số điện thoại">
                    </div>
                </div>

                <div class="mb30">

                </div>

            </div>

            <div class="col-md-6">

                <h3 class="reoder-tit reorder-title">Phương thức nhận hàng

                </h3>


                <div class="radio">
                    <label>
                            <input type="radio" name="delivery-type" checked="">
                            Nhận hàng tại siêu thị
                        </label>
                </div>

                <div class="radio">
                    <label>
                            <input type="radio" name="delivery-type">
                            Nhận hàng tại nhà
                        </label>
                </div>



                <div class="">

                    <!--<div style="color: white; margin-bottom: 10px;">
                        Chọn siêu thị
                    </div>-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-line">
                                <select class="form-control form-black ">
                                        <option value="" disabled="" selected="">Thành Phố</option>
                                        <option> ${dis.Districtname}</option>
                                    </select>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select class="form-control form-black ">
                                        <option value="">Quận/ Huyện</option>
                                        <option> ${dis.Districtname}</option>
                                    </select>
                            </div>                           
                        </div>
                    </div>                 

                    

                    <div class="form-line">
                        <input type="text" class="form-control form-black" placeholder="Địa chỉ nhà riêng / Chi nhánh">
                    </div>
                </div>

                 <h3 class="reoder-tit reorder-title">Phương thức đặt cọc

                </h3>


                <div class="radio">
                    <label>
                            <input type="radio" name="prepay-type" checked="">
                            Trả tiền mặt tại chi nhánh gần nhất
                        </label>
                </div>

                <div class="radio">
                    <label>
                            <input type="radio" name="prepay-type">
                            Thanh toán trực tuyến
                        </label>
                </div>

                <em>* Đặt cọc 500.000đ, hoàn cọc một tuần sau thời gian mở bán chính thức.</em><br>
                <em>Sau 7 ngày những phiếu cọc không suất sẽ bị hủy.</em>

                 <h3 class="reoder-tit reorder-title">Phương thức thanh toán
                    <!--<span style="display: block;color: #fd832b; font-weight: normal; font-size: 16px; margin-top: 10px;">Đặt cọc 500,000đ.</span>-->
                </h3>
                <div class="radio">
                    <label>
                            <input type="radio" name="delivery" checked="">
                            Trả tiền mặt
                        </label>
                </div>

                <div class="radio">
                    <label>
                            <input type="radio" name="delivery">
                           Trả góp lãi suất 0%
                        </label>
                </div>

                <div class="mb30">

                </div>



            </div>

            <!--<div class="col-md-6">


                <h3 class="reoder-tit reorder-title reorder-title">Phương thức thanh toán
                    <span style="display: block;color: #fd832b; font-weight: normal; font-size: 16px; margin-top: 10px;">Đặt cọc 500,000đ.</span>
                </h3>
                <div class="radio">
                    <label>
                            <input type="radio" name="delivery" checked="">
                            <div>Trả tiền mặt tại chi nhánh gần nhất</div>
                        </label>
                </div>

                <div class="radio">
                    <label>
                            <input type="radio" name="delivery">
                            <div>Thanh toán trực tuyến</div>
                        </label>
                </div>

                <!
                <div class="reoder-chuyenkhoan">
                    <a href="" data-toggle="modal" data-target="#thongtin-nganhang">(Xem thông tin chuyển khoản)</a>
                </div>-->
            <!--</div>-->
        </div>
        <br>
        <div class="sony-action text-center">
            <a href="#">Hoàn tất</a>
        </div>
    </div>

</div>














<div class="modal fade " id="modal-thongso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1">
                THÔNG SỐ KỸ THUẬT
            </div>
            <div class="table-padding">
                <table class="table">

                    <tbody>
                        <tr>
                            <th scope="row">Dual front cam</th>
                            <td>Cam Selfie 16MP <br> Cam Wefie 8MP <br> Beautify 4.0 - Selfie đẹp tự nhiên</td>

                        </tr>
                        <tr>
                            <th scope="row">Rear cam</th>
                            <td>16MP</td>

                        </tr>
                        <tr>
                            <th scope="row">Design</th>
                            <td>mỏng, cứng cáp, sang trọng</td>
                        </tr>

                        <tr>
                            <th scope="row">Screen</th>
                            <td>Screen: 6 inch, new tech giúp chụp hình Selfie sáng hơn nhất là trong tối, trời nắng gắt vẫn
                                nhìn rõ màn hình</td>
                        </tr>

                        <tr>
                            <th scope="row">Touch</th>
                            <td>Touch: 1 chạm không cần ấn</td>
                        </tr>

                        <tr>
                            <th scope="row">RAM</th>
                            <td>4GB</td>
                        </tr>

                        <tr>
                            <th scope="row">ROM</th>
                            <td>64GB</td>
                        </tr>

                        <tr>
                            <th scope="row">Battery</th>
                            <td>VOOC 4100mAh</td>
                        </tr>

                        <tr>
                            <th scope="row">Other</th>
                            <td>Android 6.0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal fade des-modal" id="modal-thele" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1 text-center">
                Thể lệ
            </div>


            <div class="thele-content ">

                <div class="scroll thele">

                    <p><span style="font-size: small; color: #000000;"><strong><span style="font-family: verdana, geneva;">Danh s&aacute;ch ng&acirc;n h&agrave;ng chuyển khoản khi mua sắm Online tại VienthongA.vn</span></strong>
                        </span>
                    </p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span style="font-family: verdana, sans-serif; font-size: 8pt;">1. &nbsp; Ng&acirc;n h&agrave;ng Sacombank (SCB):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: verdana, geneva; font-size: x-small;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 060 007 113 156</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: Sacombank Điện Bi&ecirc;n Phủ - Tp.HCM</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;">2.&nbsp;&nbsp;&nbsp;Ng&acirc;n h&agrave;ng Đ&ocirc;ng &Aacute; (DAB):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 000 238 550 003</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: Đ&ocirc;ng &Aacute; T&acirc;n B&igrave;nh - TP.HCM</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;">3.&nbsp;&nbsp;&nbsp;Ng&acirc;n h&agrave;ng Vietcombank (VCB):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 007 1000 769 417</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: Vietcombank HCM</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;">4.&nbsp;&nbsp;&nbsp;Ng&acirc;n h&agrave;ng ANZ (ANZ):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 586 5006</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: NH ANZ Việt Nam - TP.HCM</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="color: #000000; font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;">5.&nbsp;&nbsp;&nbsp;Ng&acirc;n h&agrave;ng Qu&acirc;n đội (MLB):</span></strong>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;C&ocirc;ng ty: CP Sản Xuất -Thương Mại - XNK Viễn Th&ocirc;ng A</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Số t&agrave;i khoản: 701 1100 373 839</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp; -&nbsp;Chi nh&aacute;nh: Chợ Lớn TP.HCM</span></p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    <p><span style="font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><span style="color: #ff0000;">Nội dung gửi tiền:</span>                        Qu&yacute; kh&aacute;ch vui l&ograve;ng ghi theo mẫu (nếu chuyển qua ph&ograve;ng giao dịch, internet
                        banking):
                        </span>
                        </strong>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;T&ecirc;n kh&aacute;ch đặt h&agrave;ng&gt; - &lt;Số điện thoại đặt h&agrave;ng&gt; - &lt;Model đặt h&agrave;ng&gt;</span></em>
                        </span><br /><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>V&iacute; dụ: Nguyễn Văn A &ndash; 0909152355 &ndash; Samsung Galaxy S7</span></em>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></em>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt; color: #ff0000;">*<span style="text-decoration: underline;"><strong>Lưu &yacute;</strong></span>:
                        Sau khi chuyển tiền th&agrave;nh c&ocirc;ng, qu&yacute; kh&aacute;ch cần x&aacute;c nhận chuyển khoản
                        bằng 1 trong 2 c&aacute;ch sau:</span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt; color: #ff0000;">(1) Điện thoại th&ocirc;ng b&aacute;o đến số <span style="color: #0000ff;">(84-8) 38633333</span>                        để được xử l&yacute; nhanh nhất. Th&ocirc;ng tin qu&yacute; kh&aacute;ch cần cung cấp cho ch&uacute;ng
                        t&ocirc;i bao gồm:</span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;T&ecirc;n kh&aacute;ch đặt h&agrave;ng&gt;<br /></span></em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;Ng&acirc;n
                        h&agrave;ng đ&atilde; chuyển tiền&gt;<br /></span>
                        </em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;Số
                        tiền đ&atilde; chuyển&gt;<br /></span>
                        </em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;T&ecirc;n
                        người chuyển tiền&gt; (Nếu chuyển qua ph&ograve;ng giao dịch, internet banking)<br /></span>
                        </em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp;&nbsp;</em>&lt;Số
                        t&agrave;i khoản thẻ ATM hoặc t&ecirc;n chủ t&agrave;i khoản ATM&gt; (nếu chuyển qua m&aacute;y ATM)
                        </span>
                        </em>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></em>
                        </span>
                    </p>
                    <p><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><span style="color: #ff0000;">(2) Nhắn tin theo c&uacute; ph&aacute;p v&agrave; gửi tới số</span>                        <span style="color: #0000ff;">0888.545.446</span><span style="color: #ff0000;">:</span></span>
                    </p>
                    <p><span style="font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><strong>&nbsp; &nbsp; &nbsp; &nbsp;</strong>Nếu chuyển qua ph&ograve;ng giao dịch hoặc internet banking:</span></strong>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</em>&lt;M&atilde; ng&acirc;n h&agrave;ng&gt; - &lt; T&ecirc;n người chuyển tiền &gt; - &lt;Số tiền đ&atilde; chuyển&gt; - &lt;T&ecirc;n kh&aacute;ch đặt h&agrave;ng &gt;<br /></span></em><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</em>V&iacute;
                        dụ: VCB - Nguyen Van A &ndash; 3.000.000vnd &ndash; Nguyen Van B</span>
                        </em>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><strong><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><strong>&nbsp; &nbsp; &nbsp; &nbsp;</strong>Nếu chuyển qua m&aacute;y ATM:</span></strong>
                        </span>
                    </p>
                    <p><span style="font-size: x-small;"><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</em>&lt;M&atilde; ng&acirc;n h&agrave;ng&gt; - &lt;M&atilde; số t&agrave;i khoản ATM hoặc T&ecirc;n chủ tk ATM&gt; - &lt;Số tiền đ&atilde; chuyển&gt; - &lt;T&ecirc;n kh&aacute;ch đặt h&agrave;ng&gt;<br /></span></em><em><span style="font-family: verdana, geneva;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</em>V&iacute;
                        dụ: VCB - Nguyen Van A (0071002185469) - 3.000.000vnd - Nguyen Van B</span>
                        </em>
                        </span>
                    </p>
                    <p><em><span style="font-family: Verdana, sans-serif; font-size: 8pt;">&nbsp;</span></em></p>

                </div>




            </div>
        </div>
    </div>
</div>



 <div class="modal fade " id="danhsach-kh" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
            </div>
            <div class="modal-content " style="">
                <ul class="table-dathang" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#s7" aria-controls="s7" role="tab" data-toggle="tab">
                            <span class="">Danh sách khách hàng đăng ký nhận thông tin</span>
                        </a>
                    </li>
                    <!--  <li role="presentation" class="">
                    <a href="#s7-2" aria-controls="s7-2" role="tab" @click="SearchCocPostByCustomerPhone()" data-toggle="tab">
                        <span class="">Danh sách khách hàng đặt cọc</span>
                    </a>
                </li>-->

                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="s7">
                        <div class="tb-search">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                    <div class="input-group">
                                        <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhone">
                                        <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger" @click="SearchByCustomerPhone()" type="button">Tìm</button>
                                </span>
                                    </div>
                                    <!-- /input-group -->
                                </div>
                                <!-- /.col-lg-6 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <div class="table-responsive tb-height" id="ViewDanhSach">
                            <table id="danhsach" class="table table-striped table-light" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên khách hàng</th>
                                        <th class="hidden-xs">Email</th>
                                        <th class="hidden-xs">Số điện thoại</th>
                                        <th>Ngày đăng ký</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in registerInfo.ListUserRegister" v-cloak>
                                        <td><span class="tb-name"> ${campaignInfo.TotalRegister - index}</span>
                                            <td><span class="tb-name"> ${item.FullName}</span>
                                                <div class="visible-xs tb-phone">${item.Phone}</div>
                                            </td>
                                            <td class="hidden-xs"><span>${item.Email}</span></td>
                                            <td class="hidden-xs"><span>${item.Phone}</span></td>
                                            <td><span>${item.DateRe}</span></td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tb-loadmore text-center">
                            <a href="javascript:void(0);" data-page="1" id="btn-loadmore" class="btn btn-default" @click="Load_More_Dat_Coc()">Xem thêm</a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="s7-2">
                        <div class="tb-search">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                    <div class="input-group">
                                        <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhoneCoc">
                                        <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger" @click="SearchCocPostByCustomerPhone()" type="button">Tìm</button>
                                </span>
                                    </div>
                                    <!-- /input-group -->
                                </div>
                                <!-- /.col-lg-6 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <div class="table-responsive tb-height" id="ViewDanhSach2">
                            <table id="danhsach2" class="table table-striped table-light " cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Họ Tên</th>
                                        <th class="hidden-xs">Email</th>
                                        <th class="hidden-xs">Số điện thoại</th>
                                        <th>Ngày đăng ký</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for=" (item, index) in depositInfo" v-cloak>
                                        <td><span class="tb-name"> ${campaignInfo.TotalDatCoc - index}</span>
                                            <td><span class="tb-name"> ${item.TenKh}</span>
                                                <div class="visible-xs tb-phone">${item.Phone}</div>
                                            </td>
                                            <td class="hidden-xs"><span>${item.Email}</span></td>
                                            <td class="hidden-xs"><span>${item.Phone}</span></td>
                                            <td><span class="tb-sp">${item.DateDep}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tb-loadmore text-center">
                            <a href="javascript:void(0);" data-page="1" id="btn-loadpos" class="btn btn-default" @click="Load_More_Coc_Post()">Xem thêm</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    
{{/content}} {{/extend}}