{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187708">

<div class="section-hero-plus">
   
    <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/3/5/100000_banner-landingpage-2.jpg" alt="">
    <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/3/5/100000_banner-mobile.jpg" alt="">
   
</div>
<div class="section-bar sticky-bar" id="ordernow">
    <div class="rowFlex align-middle">
        <div class="column text-left ">
            <h2 class="bar-name"><span class="bar-brand">Samsung Galaxy S9|S9+</span></h2>
        </div>

        <div class="column shrink text-right ">
            <div class="bar-muangay">
                <a v-if="!mobileOrder" href="#preorder">
                    Đặt mua
                </a>
                <a v-if="mobileOrder" href="#mobile-order">
                        Đặt mua
                    </a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="section-bar " id="ordernow">
    <div class="rowFlex align-middle">
        <div class="column text-left ">
            <h2 class="bar-name">Galaxy J7 pro  <span class="hidden-xs">- Camera chinh phục bóng tối</span></h2>
        </div>

        <div class="column shrink text-right ">
            <div class="bar-muangay" data-toggle="modal" data-target="#danhsach-kh">
                    <a href="#" class="btn-samsung">Đặt mua</a>
            </div>
        </div>
    </div>
</div> -->
<div class="section-quatangplus">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 large-4">
            <div class="reorder-timer reorder-content">
                <div class="countdown2" :data-date="campaignInfo.EndDate">
                </div>
            </div>
        </div>

        <div class="column small-12 medium-6 large-8">
            <div class="danhsachsocial">
                <div class="rowFlex align-middle">
                    <div class="column small-12 medium-12 large-7">
                        <p class="xemdanhsachdangki">Số lượng người đăng ký <strong>${campaignInfo.TotalRegister}</strong>, đặt cọc <strong>${campaignInfo.TotalDatCoc}</strong></p>
                        <p>
                            <span class="xemdanhsach-link"><a href="javascript:void(0);"  @click="SearchByCustomerPhone()" data-toggle="modal" data-target="#danhsach-kh">Xem danh sách đặt mua</a></span>
                             <span class="orange-hyphen hidden-xs">|</span>
                             <span class="xemdanhsach-link chuongtrinh"><a href="javascript:void(0);" data-toggle="modal" data-target="#modal-thele">Xem thể lệ chương trình</a></span>
                            </p>
                    </div>

                    <div class="column small-12 medium-12 large-5">
                        <div class="social-m">
                                <div class="hotline-vta" style="display: inline-block; margin-right: 10px;">
                                        <p style="margin-bottom: 0">HOTLINE: <a href="tel:19006766" style="color:red">1900 67 66</a></p>
                                    </div>
                            <div  style="display: inline-block;" class="fb-like" data-href="https://vienthonga.vn/samsung-galaxy-s9.html" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                                
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        
</div>

<div id="dacdiemnoibat" class="j7-order s8-order animated wow fadeInUp mate-20" id="s8-preorder">
    <div class="container">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="dat-gach" style="color: #000">
                NHẬP THÔNG TIN ĐẶT GẠCH
            </div>
            <div class="text-dat-coc">
                Đặt cọc 500.000Đ
            </div>
            <div class="chon-sp-mate-20">
                <h3 class="preorder-title" style="min-width: 160px">Chọn sản phẩm</h3>
                <label class="opt-radio" style="min-width: 160px" v-for="item in ListProduct" v-cloak>
                    <input class="opt-radio-input" name="product" v-model="chonSanpham.name" type="radio" :value="item.ProductName" @click="handletienThanhtoan()">
                    <div class="opt-text opt-no-img">
                        <span>${item.ProductName}</span>                                    
                    </div>
                    <span class="opt-radio-icon"></span>
                </label> 
            </div>
            <div  v-if="ListProduct.length > 0" class="mt8 reorder-input">
                <div class="m-t-10" >
                    <div class="chon-sp-mate-20" v-show="chonSanpham.name == 'Huawei Mate 20 Pro'">
                        <h3 class="preorder-title" style="min-width: 160px">Chọn màu </h3>
                        <template v-for="item in ListProduct">
                            <label class="opt-radio" style="min-width: 160px" v-for="mausac in item.ListColor" v-if="item.ProductId == '188007'" v-cloak>  
                                
                                <input class="opt-radio-input" name="mausac" v-model="pushObj.ProductColorcode" type="radio" :value="mausac.CodePos" @click="addColor(mausac)">
                                <div class="opt-text">
                                        <template>
                                                <!-- <img  src="https://cdn1.vienthonga.vn/image/2017/12/3/100000_den-1.png" alt=""> -->
                                                <span >${mausac.ColorName}</span>
                                                
                                        </template>
                                    </div>
                                    <span class="opt-radio-icon" >
                                </span>
                            </label>
                        </template>  
        
                        
                    </div>  
                    <div class="chon-sp-mate-20" v-show="chonSanpham.name == 'Huawei Mate 20'">
                        <h3 class="preorder-title" style="min-width: 160px">Chọn màu</h3>
                        <template v-for="item in ListProduct" >
                            <label class="opt-radio" style="min-width: 160px" v-for="mausac in item.ListColor" v-if="item.ProductId == '188014'" v-cloak>  
                                
                                <input class="opt-radio-input" name="mausac" v-model="pushObj.ProductColorcode" type="radio" :value="mausac.CodePos" @click="addColor(mausac)"  >
                                <div class="opt-text">
                                        <template>
                                            <!-- <img  src="https://cdn1.vienthonga.vn/image/2017/12/3/100000_den-1.png" alt=""> -->
                                            <span >${mausac.ColorName}</span>
                                            
                                    </template>
                                       
                                     
                                    </div>
                                     <span class="opt-radio-icon" >
                                    </span>
                                                    
                                
                            </label>
                        </template>  
                    
                    </div>                      
                </div> 
            </div>                                                
            <h3 class="preorder-title" style="margin-top: 10px; margin-bottom: 10px">Thông tin người mua
        
            </h3>
            
            <!-- <div class="mt8 ">
        
        
                <div class="list-opt-radio">
                    <label v-for="gender in genders" class="opt-radio opt-40 inline-xs">
                        <input class="opt-radio-input" name="gioitinh"  v-model="pushObj.Gender" :id="gender.id" type="radio" :value="gender.value">
                        <div class="opt-text opt-no-img">
                            <span> ${gender.name}</span>
                        </div>
                        <span class="opt-radio-icon"></span>
                    </label>
        
        
                </div>
            </div> -->

            <div class="form-user">
            
                    <div class="row">
                        <div class="col-md-6">
                                <div class="form-line">
                                        <input class="form-control form-black " id="fullname" type="text" v-model="pushObj.Name" placeholder="Họ và tên">
                            
                                    </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-line">
                                        <input class="form-control form-black " id="phone" type="text" v-model="pushObj.Phone" placeholder="Số điện thoại">
                                    </div>
                        </div>
                    </div>
                   
                   
                              
                     <div class="form-line">
                    <input class="form-control form-black form-control-row" id="email" v-model="pushObj.Email" type="email" placeholder="Email">
                </div>
            </div>
            <h3 class=" preorder-title" style="margin-top: 15px; margin-bottom: 10px">CHỌN SIÊU THỊ NHẬN HÀNG
            
            </h3>
                
                
            <!-- <div class="list-opt-radio">
                <label class="opt-radio opt-40 w-100-xs" v-for="deli in deliveryType">
                    <input class="opt-radio-input" name="delivery-type" type="radio"  v-model="pushObj.Shiping" :value="deli.value" :id="deli.id">
                    <div class="opt-text opt-no-img">
                        <span>${deli.name}</span>
                    </div>
                    <span class="opt-radio-icon"></span>
                </label>
            </div> -->
            <div class="form-noinhanhang">
            
                                  
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-line">
                                <select v-model="selectedCity" class="form-control form-black " @change="filterDistrict(selectedCity)">
                                                  <option value="" disabled selected>Thành Phố</option>
                                        <option  v-for="city in listCity" :value="city" >${city.Cityname}</option>
                                </select>
            
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select v-model="selectedDistrict" class="form-control form-black " @change="filterBranch(selectedDistrict)">
                                <option value="" >Quận</option>
                                  <option v-for="dis in listDistrict" :value="dis"> ${dis.Districtname}</option>
                                </select>
                            </div>
                        </div>
                    </div>
            
            
            
                    <!-- CHI NHANH -->
                    <div v-if="pushObj.Shiping == '8'" class="form-line">
                        <div>
                            <select class="form-control form-black form-control-row" v-model="pushObj.Address">
                                <option value="" disabled selected>Chi nhánh</option>
                                <option v-for="branch in  listBranch"
                                        :value="branch.BranchsCodePos" >${branch.BranchsAdd}</option>
                            </select>
                        </div>
                    </div>
                    <div v-if="pushObj.Shiping == '6'" class="form-line">
                        <input class="form-control form-black form-control-row" v-model="pushObj.Address" type="text" placeholder="Địa chỉ nhà riêng / chi nhánh">
                    </div>
            </div>
            <div class="text-center m-t-20">
                <a href="javascript:void(0)" class="btn-tim" @click="registerDatTruoc()">Hoàn tất</a>
            </div>
            <br/>
        </div>
    </div>
</div>
<div class="cs-loader d-none" id="loading-icon">
    <div class="cs-loader-inner">
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
    </div>
</div>
{{>preorder-form}}
{{>danhsachkhachhang}}
{{>thele}}
{{>qua1}}
{{>quangcao}}

<div class="section-thongsokythuat">
    <div class="rowFlex align-middle">
       <div class="column small-12 medium-4 small-order-2 medium-order-1 large-order-1">
            <p class="thongso-title">
                Samsung galaxy s9
            </p>

            <div class="thongso-s9">
                <div class="s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_camera.jpg" alt="">
                    <div class="s9-text thongso-in">
                        <p>Camera sau 12MP - F1.5 & F2.4</p>
                        <p>Camera trước 8MP</p>
                    </div>
                </div>
                <div class="s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_cpu.jpg" alt="">
                    <div class="s9-text thongso-in">
                        <p>CPU 8 NHÂN</p>
                        <p>Exynos 9810 64 BIT</p>
                    </div>
                </div>
                <div class="s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_ram.jpg" alt="">
                    <div class="s9-text thongso-in">
                        <p>RAM 4GB</p>
                        <p>ROM 64GB</p>
                    </div>
                </div>
                <div class="s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_screen5.jpg" alt="">
                    <div class="s9-text thongso-in">
                        <p>màn hình 5.8" tràn nền</p>
                        <p>QHD Super AMOLED</p>
                    </div>
                </div>
                <div class="s9-detail">
                    <img class="img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_android.jpg" alt="">
                    <div class="s9-text thongso-in">
                        <p>ANDROID 8.0</p>
                        <p>OREO mới nhất</p>
                    </div>
                </div>
                <div class="s9-detail">
                    <img class=" img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_battery.jpg" alt="">
                    <div class="s9-text thongso-in">
                        <p>3000mAh</p>
                        <p>sạc nhanh, sạc không dây</p>
                    </div>
                </div>
            </div>
       </div>
       <div class="column small-12 medium-4 small-order-1 medium-order-2 large-order-2">
        <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_hinh-s9-s9-cauhinh.jpg" alt="">
    </div>
    <div class="column small-12 medium-4 small-order-3 medium-order-3 large-order-3">
        <p class="thongso-title">
            Samsung galaxy s9+
        </p>

        <div class="thongso-s9 hidden-xs">
            <div class="s9-detail">
                    <div class="s9-text text-right thongso-in">
                            <p>Camera sau 12MP - F1.5 & F2.4</p>
                            <p>Camera trước 8MP</p>
                        </div>
                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_camera.jpg" alt="">
               
            </div>
            <div class="s9-detail">
                    <div class="s9-text text-right thongso-in">
                            <p>CPU 8 NHÂN</p>
                            <p>Exynos 9810 64 BIT</p>
                        </div>
                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_cpu.jpg" alt="">
               
            </div>
            <div class="s9-detail">
                    <div class="s9-text text-right thongso-in">
                            <p>RAM 6GB</p>
                        <p>ROM 64GB</p>
                        </div>
                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_ram.jpg" alt="">
               
            </div>
            <div class="s9-detail">
                    <div class="s9-text text-right thongso-in">
                            <p>màn hình 6.2" tràn nền</p>
                            <p>QHD Super AMOLED</p>
                        </div>
                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_screen6-1.jpg" alt="">
                
            </div>
            <div class="s9-detail">
                    <div class="s9-text text-right thongso-in">
                            <p>ANDROID 8.0</p>
                        <p>OREO mới nhất</p>
                        </div>
                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_android.jpg" alt="">
               
            </div>
            <div class="s9-detail">
                    <div class="s9-text text-right thongso-in">
                            <p>3500mAh</p>
                            <p>sạc nhanh, sạc không dây</p>
                        </div>
                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_battery.jpg" alt="">
                
            </div>
        </div>
        <div class="visible-xs">
                <div class="thongso-s9">
                        <div class="s9-detail">
                                <img class="img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_camera.jpg" alt="">
                                <div class="s9-text  thongso-in">
                                        <p>Camera sau 12MP - F1.5 & F2.4</p>
                                        <p>Camera trước 8MP</p>
                                    </div>
                           
                           
                        </div>
                        <div class="s9-detail">
                                <img class="img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_cpu.jpg" alt="">
                                <div class="s9-text  thongso-in">
                                        <p>CPU 8 NHÂN</p>
                                        <p>Exynos 9810 64 BIT</p>
                                    </div>
                           
                           
                        </div>
                        <div class="s9-detail">
                                <img class="img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_ram.jpg" alt="">
                                <div class="s9-text thongso-in">
                                        <p>RAM 6GB</p>
                                    <p>ROM 64GB</p>
                                    </div>
                           
                           
                        </div>
                        <div class="s9-detail">
                                <img class="img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_screen6-1.jpg" alt="">
                                <div class="s9-text  thongso-in">
                                        <p>màn hình 6.2" tràn nền</p>
                                        <p>QHD Super AMOLED</p>
                                    </div>
                           
                            
                        </div>
                        <div class="s9-detail">
                                <img class="img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_android.jpg" alt="">
                                <div class="s9-text thongso-in">
                                        <p>ANDROID 8.0</p>
                                    <p>OREO mới nhất</p>
                                    </div>
                           
                           
                        </div>
                        <div class="s9-detail">
                                <img class="img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_battery.jpg" alt="">
                                <div class="s9-text  thongso-in">
                                        <p>3500mAh</p>
                                        <p>sạc nhanh, sạc không dây</p>
                                    </div>
                           
                            
                        </div>
                    </div>
        </div>
       
    </div>

    </div>
</div>

<div class="section-muangay-footer">
        <div class="rowFlex align-middle">
                <div class="column small-12 medium-6 large-6 small-order-2 medium-order-1 large-order-1 animated wow fadeInLeft">
                    <p class="muangay-footer-text">Sẵn sàng để nâng cấp?</p>

                    <p class="muangay-footer-button" >
                        <a v-if="!mobileOrder" href="#preorder">Đặt hàng ngay</a>
                        <a v-if="mobileOrder" href="#mobile-order">Đặt hàng ngay</a>
                    </p>
        
                        
                </div>
                <div class="column small-12 medium-6 large-6  small-order-1 medium-order-2 large-order-2 animated wow fadeInRight">
                            <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2018/2/0/100000_datmua-footer.png" alt="">
                </div>       
            </div> 
</div>

<div class=" section-tintuc">
        
            <div class="container">
                <div class="tintuc-text text-center">
                    <h2>Tin tức nổi bật</h2>
        
                </div>
                <div class="tintuc sp-slide wow fadeInUp animated">
                   
                        <div class="new" v-for="news in productDatTruoc.ListNews" v-cloak>
                            <a :href="'/'+news.PromotionLink +'.html'"></a>
        
                            <div class="embed-responsive embed-responsive-16by9">
                                <img :src="news.ImageUrl" class=" embed-responsive-item img-responsive center-block" />
                            </div>
        
                            <h3 class="name">${news.Title}</h3>
        
                        </div>
                    
        
        
                </div>
            </div>
        
        
        
        
        
        </div>
{{>preorder-thongsokythuat}}
{{/content}} {{/extend}}