{{#extend "default"}} {{#content "main"}}
<input type="hidden" id="productId" value="187378">

<div class="section-hero-vivo">
   
    <div class="rowFlex">
        <div class="column small-12 medium-5 large-5 wow fadeInLeft animated">
            <div class="hero-mainphone text-center hidden-xs">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/4/100000_top-phone2.png" alt="">
                <p class="preorder-title">
                        <span class="preorder-price-text"> Giá bán:</span> <span class="preorder-price">7.990.000<sup>đ</sup></span>
                </p>
            </div>
        </div>

        <div class="column small-12 medium-7 large-7">        
            <div class=" wow fadeInUp animated" data-wow-delay="0.5s">
                <div class="vivo-datgach">Đặt trước<span class="vivo-brand">Vivo V7+</span></div>
                <div class="vivo-nhanqua">Nhận quà khủng</div>
            </div>
            <div class="hero-mainphone text-center visible-xs">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/4/100000_top-phone2.png" alt="">
                <p class="preorder-title">
                        <span class="preorder-price-text"> Giá bán:</span> <span class="preorder-price">7.990.000<sup>đ</sup></span>
                </p>
            </div>
            <div class="top-img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/3/100000_top-banner.png" alt="">
            </div>            
           
            <p class="text-center"><a class="datngay-note8" href="#preorder">Đặt ngay</a></p>
    
           
            
        </div>
            

    </div>

   
</div>



{{> preorder-stickybar}}

<div class="section-quatangvivo">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-4 large-4">
            <div class="reorder-timer reorder-content">
                <div class="countdown2" :data-date="campaignInfo.EndDate">
                </div>
            </div>
        </div>

        <div class="column small-12 medium-8 large-8">
            <div class="danhsachsocial">
                <div class="rowFlex align-middle">
                    <div class="column small-12 medium-9 large-9">
                        <p class="xemdanhsachdangki">Số lượng người đăng ký <strong>${campaignInfo.TotalRegister}</strong>, đặt cọc <strong>${campaignInfo.TotalDatCoc}</strong></p>
                        <p>
                            <span class="xemdanhsach-link"><a href="javascript:void(0);"  @click="SearchByCustomerPhone()" data-toggle="modal" data-target="#danhsach-kh">Xem danh sách đặt mua</a></span><br class="visible-xs"/>
                             <span class="orange-hyphen hidden-xs">|</span>
                             <span class="xemdanhsach-link chuongtrinh"><a href="javascript:void(0);" data-toggle="modal" data-target="#modal-thele">Xem thể lệ chương trình</a></span>
                            </p>
                    </div>

                    <div class="column small-12 medium-3 large-3 text-right">
                        <div class="fb-like" data-href="https://vienthonga.vn/vivo-v7-plus.html" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vivoquatang-list">
        <div class="rowFlex">
            <div class="column small-12 medium-12 large-12">
                <p class="vivo-boquatang-title">
                        Bộ quà tặng <span>Trị giá 1.500.000<sup>đ</sup></span>
                </p>
            </div>
        </div>

        <div class="rowFlex">
            <div class="column small-12 medium-6 large-3">
                <div class="quatangvivo-detail">
                    <div class="vivoquatang-img">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/3/100000_quatang01.png" alt="">
                    </div>
                    <div class="vivoquatang-title">
                            Sạc dự phòng <br>
                            Microtek 12.000 mAh
                    </div>
                    <div class="vivoquatang-content">
                            Diện mạo rất nhỏ gọn, hợp thời trang<br>
                            Khả năng tương thích cao, sạc cùng lúc cho 2 thiết bị<br>
                            Dung lượng pin khủng 12.000 mAh, sạc được nhiều lần
                    </div>
                </div>
            </div>
            <div class="column small-12 medium-6 large-3">
                    <div class="quatangvivo-detail">
                            <div class="vivoquatang-img">
                                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/1/100000_loa-1.gif" alt="">
                            </div>
                            <div class="vivoquatang-title">
                                    Loa bluetooth<br>
                                    Touch Light
                            </div>
                            <div class="vivoquatang-content">
                                    Phong cách hiện đại, màu sắc trẻ trung<br>
                                    Kết nối qua cổng Bluetooth, trải nghiệm âm thanh sống động<br>
                                    Tích hợp hệ thống đèn LED, đổi màu độc đáo khi phát nhạc
                            </div>
                        </div>                    
            </div>
            <div class="column small-12 medium-6 large-3">
                    <div class="quatangvivo-detail">
                            <div class="vivoquatang-img">
                                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/3/100000_quatang03.png" alt="">
                            </div>
                            <div class="vivoquatang-title">
                                    Gậy chụp hình<br>
                                    cao cấp Vivo
                            </div>
                            <div class="vivoquatang-content">
                                    Thiết kế gọn gàng, dễ dàng mang theo<br>
                                    Hỗ trợ người dùng chụp ảnh selfie
                            </div>
                        </div>                    
            </div>
            <div class="column small-12 medium-6 large-3">
                    <div class="quatangvivo-detail">
                            <div class="vivoquatang-img">
                                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/3/100000_quatang04.png" alt="">
                            </div>
                            <div class="vivoquatang-title">
                                    Trả góp 0% hoặc<br>
                                    gia hạn bảo hành 2 năm
                            </div>
                            <div class="vivoquatang-content">
                                    Trả góp 0%<br>
                                    VietinBank, Shinhan Bank, Sacombank, Citibank, HSBC Bank, Techcombank, VIB Bank, ANZ Bank, TPBank<br>
                                    <!-- <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-tragop">(Xem chi tiết)</a> -->
                            </div>
                        </div>                                        
            </div>                                            
        </div>
    </div>
</div>

<div class="section-thietkesangtrong"> 
    <div class="rowFlex animated wow fadeInLeft align-middle" data-wow-delay="0.5s">
        <div class="column small-12 medium-6 large-6">
            <p class="vivo-title">Thiết kế sang trọng</p>
            <p class="vivo-subtitle">Thu hút mọi ánh nhìn</p>
            <p class="vivo-content">
                Được giới chuyên gia đánh giá cao về mặt thiết kế, 
                smartphone Vivo V7+ sở hữu vẻ ngoài sang trọng và tinh xảo dưới mọi góc độ. 
                Máy có khung được làm cực kỳ chắc chắn và bền đẹp, màu sắc sành điệu, bắt mắt, 
                các góc cạnh bo cong mềm mại, tạo cảm giác cầm nắm thoải mái. Đặc biệt, sử dụng mặt kính cường lực Gorilla Glass 3 cong 2.5D nhằm đảm bảo độ chắc chắn và chịu va đập tốt trong suốt quá trình sử dụng</p>
        </div>
        <div class="column small-12 medium-6 large-6">
            <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/9/4/100000_thietkesangtrong.png" alt="">
        </div>
    </div>
</div>



<div class="section-trainghiemkhonggian">
    <div class="rowFlex">     

        <div class="column small-12 medium-12 large-12 animated wow fadeInRight" data-wow-delay="0.5s">
            <div class="trainghiemkhonggian-text">
                <p class="vivo-title">Trải nghiệm không gian 5.99 inches</p>
                <p class="vivo-subtitle">Tràn màn hình FullView<sup>TM</sup></p>
                <p class="vivo-content">
                    Ở dòng V7+ mới nhất này, người dùng thỏa thích trải nghiệm không gian sắc nét và sống động trên màn hình IPS siêu mỏng,
                     kích thước lớn lên đến 5.99 inches, kết hợp với công nghệ tràn màn hình FullView. Độ phân giải 1440 x 720 pixels đem lại
                      những hình ảnh chất lượng, độ sáng cao,
                     độ tương phản ổn định, màu sắc trung thực và nổi bật, hoàn toàn lý tưởng cho các hoạt động giải trí đa phương tiện, xem phim, chơi game
                </p>
            </div>

            <div class="trainghiemkhonggian-solieu">
                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/9/4/100000_tyle.png" alt="">
                <!-- <p class="khonggianphantram"><span class="countup">84.4</span> <span>%</span></p> -->
                
                <img id="vivo-p" class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/9/4/100000_trainghiemkhonggian.png" alt="">
            </div>
        </div>

    </div>
</div>

<div class="section-camera">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 large-6 small-order-1 medium-order-2 large-order-2 animated wow fadeInLeft">
                <p class="vivo-title">Camera selfie cực nét</p>
                <p class="vivo-subtitle">Ảnh đẹp cực chất</p>
                <p class="vivo-content">Điều gây ấn tượng nhất ở chiếc Vivo V7+ là khả năng chụp ảnh selfie cực nét với camera 
                    độ phân giải khủng 24MP, khẩu độ f/2.0, tích hợp chế độ Selfie Softlight và các tính năng làm đẹp thông minh,
                     cho bạn sở hữu những bức ảnh đẹp rạng rỡ với ánh sáng tự nhiên và hoàn hảo nhất trong mọi điều kiện.<br>
                    Camera sau 16MP, khẩu độ f/2.0 cùng đèn Flash trợ sáng, đủ sức bắt trọn từng khoảnh khắc đáng nhớ và lung linh
                     nhất trong cuộc sống hàng ngày.
                    </p>
        </div>
        <div class="column small-12 medium-6 large-6  small-order-2 medium-order-1 large-order-1 animated wow fadeInRight">
                    <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/9/4/100000_camera.png" alt="">
        </div>       
    </div> 
</div>

        <div class="section-cauhinhantuong">
                <div class="rowFlex">    
                
                        <div class="column small-12 medium-12 large-12 animated wow fadeInRight" data-wow-delay="0.5s">
                            
                
                            <div class="cauhinhantuong-solieu">
                                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/9/4/100000_cauhinh-1.png" alt="">                                
                            </div>
                            <div class="cauhinhantuong-text text-center">
                                    <p class="vivo-title">Cấu hình ấn tượng</p>
                                    <p class="vivo-subtitle">Hiệu suất đỉnh cao</p>
                                    <div class="vivo-content">
                                            Vivo V7+ được trang bị cấu hình ấn tượng: bộ vi xử lý Octa-core mạnh mẽ, kết hợp cùng dung lượng RAM 4GB, 
                                            dung lượng bộ nhớ trong 64GB và có hỗ trợ khe cắm thẻ nhớ lên đến 256GB, cho hiệu năng cao, tốc độ hoạt động cực nhanh, 
                                            chạy đa nhiệm hiệu quả, xử lý đồ họa tốt, để người dùng chơi game, kết nối với mạng xã hội mượt mà <br>
                                            <p>Chip âm thanh AK4376A tăng khả năng giải mã dữ liệu âm thanh, đảm bảo mang đến cho bạn những trải nghiệm tuyệt vời khi nghe nhạc và thưởng thức video yêu thích</p>
                                    </div>
                                </div>
                        </div>
                
                    </div>
        </div>


<div class="section-thongsokythuat">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-4 large-4">
            <p class="vivo-title text-center">Thông số kỹ thuật</p>
            <div class="thongso-img">
                <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/9/4/100000_thongso.png" alt="">
            </div>

            <div class="xemchitiet">
                <a data-toggle="modal" data-target="#modal-thongso" >Xem chi tiết ></a>
            </div>
        </div>

        <div class="column small-12 medium-8 large-8">
                <div class="embed-responsive embed-responsive-16by9">
                       
                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/xtfVefy3WKw?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
        </div>
    </div>
</div>

{{>preorder-form}}
{{>preorder-tintuc}}

{{>modal-thongsokythuat}}

{{>modal-thele}}

{{>modal-danhsachkhachhang}}
{{>modal-tragop}}

{{/content}} {{/extend}}