<div class="section-banner-plus">
    <div class="list-banner">
        <div class="banner-detail">
            <a href="https://vienthonga.vn/nhan-loa-bluetooth-doi-mau-va-the-cao-500k-khi-mua-oppo-f7.html"> <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/4/4/100000_1.png" alt=""></a>
        </div>
        <div class="banner-detail">
                <a data-toggle="modal" data-target="#modal-chitiet" href="javascript:void(0)"> <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/4/4/100000_2.png" alt=""></a>
            </div>
            <div class="banner-detail">
                  <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/4/4/100000_3.png" alt="">
                </div>
    </div>
</div>