<div class="modal fade des-modal j7-modal s8-thele" id="modal-tragop" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
            </div>
            <div class="modal-content ">
                <div class="txt1 text-center">
                    Thông Tin Trả Góp
                </div>
    
    
                <div class="thele-content " style="padding: 20px">
    
                    <div class="scroll thele" v-html="ThongTinTraGop">
                        
    
                    </div>
                </div>
            </div>
        </div>
    </div>