<!-- <div class="hidden-xs" id="video-quangcao">
        
        <iframe class="iframe" width="100%" height="auto" src="https://www.youtube.com/embed/O_GjvLxqjcY?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="embed-responsive embed-responsive-16by9 visible-xs" id="video-quangcao">
        
        <iframe class="embed-responsive-item" width="100%" height="auto" src="https://www.youtube.com/embed/O_GjvLxqjcY?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

 -->
 <div id="dacdiemnoibat"></div>
 <a class="d-block hidden-xs animated wow fadeInDown" href="javascript:void(0);" id="play-video" @click="playvideo()">
 	<img class="center-block img-responsive hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/5/6/100000_video.png" alt="">
 	<!-- <img class="center-block img-responsive visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/5/1/100000_pre-huawei-video-mobile.jpg" alt=""> -->
 </a>
 <div class="hidden-xs">
    <iframe class="iframe d-none" id="video" width="100%" src="https://www.youtube.com/embed/PY5IJ-RE9P0?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="visible-xs">
    <iframe class="embed-responsive-item iframe" id="video2" width="100%" height="auto" src="https://www.youtube.com/embed/PY5IJ-RE9P0?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
 <!-- <div class="modal fade des-modal j7-modal s8-thele" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content " style="background: #000">
            <div class="hidden-xs">
        
                 <iframe class="iframe" width="100%" src="https://www.youtube.com/embed/ZSYPCj9eR2w?autoplay=1&rel=0" allow="autoplay; encrypted-media" frameborder="0" allowfullscreen></iframe>
             </div>
 
             <div class="embed-responsive embed-responsive-16by9 visible-xs">
                 
                 <iframe class="embed-responsive-item" width="100%" height="auto" src="https://www.youtube.com/embed/ZSYPCj9eR2w?autoplay=1&rel=0" allow="autoplay; encrypted-media" frameborder="0" allowfullscreen></iframe>
             </div>
        </div>
    </div>
 </div> -->