
<div class="tb-search">
    <!-- <div class="row"> -->
        <div style="padding-bottom: 10px" class="">
            <p class="thele-title">CÓ ${registerInfo.TotalRegister} KHÁCH THAM GIA</p>
            <div class="input-group">
                <input @keyup.enter="searchHandle()" type="tel" class="form-control" placeholder="Nhập số điện thoại để tìm kiếm" v-model="searchCusPhone">
                <span class="input-group-btn">
                <button type="button" @click="searchHandle()" class="btn btn-default btn-danger btn-iphonex"><img src="https://cdn1.vienthonga.vn/image/2018/2/3/100000_icon-search.png" alt=""></button>
            </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    <!-- </div> -->
    <!-- /.row -->
</div>
<div class="table-responsive tb-height" id="ViewDanhSach">
    <table id="danhsach" class="table table-striped table-light " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>STT</th>
                <th>HỌ & TÊN</th>
                <!-- <th class="hidden-xs">Email</th> -->
                <th class="hidden-xs">SĐT</th>
                <th class="hidden-xs">Trạng thái</th>
                <th class="hidden-xs">NGÀY</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for=" (item, index) in registerInfo.ListMemberToMemberModelDetail" v-cloak>
                <td>
                    <span class="tb-name"> ${registerInfo.TotalRegister - index}</span>
                    </td>
                    <td><span class="tb-name hidden-xs"> ${item.FullName.toUpperCase()}</span>
                        <span class="visible-xs tb-name"> ${item.FullName.toUpperCase()} - ${item.Phone}</span>
                    </td>
                    <!-- <td class="hidden-xs"><span>${item.Email}</span></td> -->
                    <td class="hidden-xs"><span>${item.Phone}</span></td>
                    <td style="color: #4CAF50;" class="hidden-xs"><img src="https://cdn1.vienthonga.vn/image/2018/4/5/100000_check.png" /><!-- ✓ -->Đã tham gia</td>
                    <td><span class="tb-sp hidden-xs">${item.DateRegister.slice(0, item.DateRegister.lastIndexOf("/") + 3).split('/')[2]}/${item.DateRegister.slice(0, item.DateRegister.lastIndexOf("/") + 3).split('/')[1]}/${item.DateRegister.slice(0, item.DateRegister.lastIndexOf("/") + 3).split('/')[0]}</span></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="tb-loadmore text-center">
    <a v-if="registerInfo.ListMemberToMemberModelDetail.length < registerInfo.TotalRegister" href="javascript:void(0);" data-page="1" id="btn-loadmore" class="btn btn-default btn-kmt4" @click="loadMoreHandle()">Xem thêm</a>
</div>