<div  style="" id="danhsachkhachhang">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="s7">
                    <div class="tb-search">
                        <p class="thele-title" style="font-weight: 600">CÓ ${campaignInfo.TotalRegister} KHÁCH ĐẶT HÀNG</p>
                        <div class="rowFlex" style="margin-bottom: 10px;">
                            <div class="medium-6 column small-12">
                                <div class="input-group">
                                    <input @keyup.enter="SearchByCustomerPhone()" style="margin-top: 0px" type="tel" class="form-control" placeholder="Nhập số điện thoại để tìm kiếm" v-model="searchCusPhone">
                                    <span class="input-group-btn"><button @click="SearchByCustomerPhone()" type="button" class="btn btn-default btn-danger btn-iphonex"><img src="https://cdn1.vienthonga.vn/image/2018/2/3/100000_icon-search.png" alt=""></button></span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <div class="medium-6 column small-12" role="tablist">
                                <div role="presentation" class="checkbox">
                                    <label style="padding-left: 0px;">
                                        <a href="#s7-2" aria-controls="s7-2" role="tab" @click="SearchCocPostByCustomerPhone()" data-toggle="tab">
                                            <input type="checkbox" value="false">
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            <span style="color: #000">
                                                
                                                Chỉ hiển thị danh sách đặt cọc
                                            </span>
                                        </a>
                                    </label>
                                </div>
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="table-responsive tb-height" id="ViewDanhSach">
                        <table id="danhsach" class="table table-striped table-light" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Họ & Tên</th>
                                    <!-- <th class="hidden-xs">Email</th> -->
                                    <th>SĐT</th>
                                    <th class="hidden-xs">Trạng thái</th>
                                    <th class="hidden-xs">Ngày</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in registerInfo.ListUserRegister" v-cloak>
                                    <td><span style="" class="tb-name"> ${index + 1}</span>
                                    <td style="max-width: 150px"><span class="tb-name"> ${item.FullName.toUpperCase()}</span>
                                        <!-- <div class="visible-xs tb-phone">${item.Phone}</div> -->
                                    </td>
                                    <!-- <td class="hidden-xs"><span>${item.Email}</span></td> -->
                                    <td><span>${item.Phone}</span></td>
                                    <td class="hidden-xs" style="min-width: 115px"><span style="color: #2A5A9E" class="tb-sp"><span class="check-icon-kh">✓</span> Đã đặt trước</span></td>
                                    <td class="hidden-xs">${item.DateRe.split(' ')[0]}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb-loadmore text-center">
                        <a v-if="registerInfo.TotalRegister > registerInfo.ListUserRegister.length" style="border-radius: 20px; font-weight: bold; padding: 8px 20px; border-color: #000" href="javascript:void(0);" data-page="1" id="btn-loadmore" class="btn btn-default" @click="Load_More_Dat_Coc()">Xem thêm</a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane " id="s7-2">
                    <div class="tb-search">
                        <p class="thele-title" style="color: #000">CÓ ${campaignInfo.TotalDatCoc} KHÁCH THAM GIA</p>
                        <div class="rowFlex" style="margin-bottom: 10px;">
                            <div class="medium-6 column small-12">
                                <div class="input-group">
                                    <input @keyup.enter="SearchCocPostByCustomerPhone()" style="margin-top: 0px" type="tel" class="form-control" placeholder="Nhập số điện thoại để tìm kiếm" v-model="searchCusPhoneCoc">
                                    <span class="input-group-btn"><button @click="SearchCocPostByCustomerPhone()" type="button" class="btn btn-default btn-danger btn-iphonex"><img src="https://cdn1.vienthonga.vn/image/2018/2/3/100000_icon-search.png" alt=""></button></span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <div class="medium-6 column small-12" role="tablist">
                                <div role="presentation" class="checkbox">
                                    <label style="padding-left: 0px;">
                                        <a href="#s7" aria-controls="s7" role="tab" data-toggle="tab">
                                            <input type="checkbox" checked="checked">
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            <span style="color: #000">
                                                Chỉ hiển thị danh sách đặt cọc
                                            </span>
                                        </a>
                                    </label>
                                </div>
                            </div>
                            <!-- <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="input-group">
                                    <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhoneCoc">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger" @click="SearchCocPostByCustomerPhone()" type="button">Tìm</button>
                                </span>
                                </div>
                                /input-group
                            </div> -->
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="table-responsive tb-height" id="ViewDanhSach2">
                        <table id="danhsach2" class="table table-striped table-light " cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Họ & Tên</th>
                                    <!-- <th class="hidden-xs">Email</th> -->
                                    <th >SĐT</th>
                                    <th class="hidden-xs">Trạng thái</th>
                                    <th class="hidden-xs">Ngày</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for=" (item, index) in depositInfo" v-cloak>
                                    <td><span style="" class="tb-name"> ${index + 1}</span>
                                    <td style="max-width: 150px"><span class="tb-name"> ${item.TenKh}</span>
                                        <!-- <div class="visible-xs tb-phone">${item.Phone}</div> -->
                                    </td>
                                    <!-- <td class="hidden-xs"><span>${item.Email}</span></td> -->
                                    <td><span>${item.Phone}</span></td>
                                    <td class="hidden-xs" style="min-width: 115px"><span style="color: #2A5A9E" class="tb-sp"><span class="check-icon-kh">✓</span> Đã đặt cọc</span></td>
                                    <td class="hidden-xs">${item.DateDep.split(' ')[0]}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb-loadmore text-center">
                        <a v-if="campaignInfo.TotalDatCoc > depositInfo.length"  style="border-radius: 20px; font-weight: bold; padding: 8px 20px" href="javascript:void(0);" data-page="1" id="btn-loadpos" class="btn btn-default" @click="Load_More_Coc_Post()">Xem thêm</a>
                    </div>
                </div>

            </div>
        </div>