<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="REFRESH" content="1800">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="fb:pages" content="186911474713457" />
    <meta content="news" itemprop="genre" name="medium">
    <meta content="vi-VN" itemprop="inLanguage">
    <meta name="robots" content="NOODP">
    <meta name="googlebot" content="NOODP">
    <meta name="keywords" content="{{ metaKeywords }}">
    <meta name="author" content="{{ metaAuthor }}">
    <meta name="description" content="{{ metaDescription }}">
    <title>{{ title }}</title>
    <meta itemprop="name" content="{{ title }}">
    <meta name="apple-mobile-web-app-title" content="{{ title }}">
    <meta property="og:title" content="{{ title }}" />
    <meta itemprop="description" content="{{ metaDescription }}">
    <meta property="og:description" content="{{ metaDescription }}" />
    <meta itemprop="image" content=" {{metaImage}}">
    <meta property="og:image" content="{{metaImage}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{url}}{{urlCurrentEvent}}" />
    <meta property="og:updated_time" content="{{updateTime}}" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:site_name" content="Viễn Thông A" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="geo.region" content="VN" />
    <meta name="geo.position" content="14.058324;108.277199" />
    <meta name="ICBM" content="14.058324, 108.277199" />
    <meta name="robots" content="INDEX,FOLLOW" />

    <meta name="google-site-verification" content="Nfx2f3wpJ_9riljiaGjztaSNDMBH9tXIS3dNA87zZb8" />
    <link rel="publisher" href="https://plus.google.com/u/0/106620553899910947761/posts" />
    <link rel="author" href="https://plus.google.com/b/100437183625773688979/100437183625773688979/posts" />



    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="{{url}}resource/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url}}resource/images/apple-touch-icon-72x72.png">
    <link rel="apple-dtouch-icon" sizes="114x114" href="{{url}}resource/images/apple-touch-icon-114x114.png">

 
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,vietnamese,cyrillic-ext,latin-ext' rel='stylesheet'
    type='text/css'>
    <!-- FONT ICONS -->
    <!--[if lte IE 7]>
    <script src="lte-ie7.js"></script><![endif]-->
    <link rel="stylesheet" href="{{url}}/resource/fonts/vta-icon/style.css">

    <link rel="stylesheet" href="{{url}}{{urlCurrentEvent}}/css/main.css">

    <link rel="stylesheet"  href="https://assets.vienthonga.vn/layout/headerfooter.css">

    <style>
        [v-cloak] {
            display: none
        }


        .section-bar {
            left: 0;
            z-index: 99 !important;
        }

        /*.slick-dots li button:before {
            font-size: 10px;
            line-height: 20px;
        }*/
    </style>
    <script type="text/javascript">
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PCDMLDG');
       

    </script>

  



</head>

<body data-function="{{function}}">
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <h1 style="text-indent: -9999px; position: fixed; top: 0; left: -9999px;">
        <a href="https://vienthonga.vn">Đặt trước Oppo A7</a>
    </h1>

  
   <div id="vue-element">
    {{#block "main"}}
    {{{contents}}} 
     {{/block}}
   </div>
   
    <div id="binhluan"></div>
    <div id="url-preorder" style="display:none">oppo-a7.html</div>
    <div id="gotoTop" class="vta-arrow-up"></div>


  <!-- Go To Top
    ============================================= -->
  <div id="gotoTop" class="vta-arrow-up"></div>
  <!-- <script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/jquery-3.2.1.min.js"></script> -->



<script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/app.js?v={{version}}"></script>

<script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/generalPc.js?v={{version}}"></script>


<!-- <script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/headerfooter.js?v={{version}}"></script> -->
<script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/jquery.sticky.js?v={{version}}"></script>
<script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/wow.min.js?v={{version}}"></script>



<script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/jquery.raty.js?v={{version}}"></script>



<script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/api.js?v={{version}}"></script>
<script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/data.js?v={{version}}"></script>
<script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/vue.min.js?v={{version}}"></script>

<!-- <script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/vee-validate.js"></script> -->
<script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/preorder-binding.js?v={{version}}"></script>





<!-- Google Tag Manager -->
<noscript>
    <!-- <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M9TTGJ3" height="0" width="0" style="display: none; visibility: hidden"></iframe> -->
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCDMLDG"
height="0" width="0" style="display:none;visibility:hidden"></iframe>

</noscript>
<script type="text/javascript">
    // <![CDATA[
    /*(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-M9TTGJ3');*/
    // (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    // new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    // j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    // 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    // })(window,document,'script','dataLayer','GTM-PCDMLDG');

    // ]]>
    /*$.getScript("https://assets.vienthonga.vn/comment/js/app.js");*/
    setTimeout(function(){
        $.ajax({
        type: 'get',
        url: 'https://assets.vienthonga.vn/comment/comment.html',
        success: function (data) {
            var $items = data;
            $("#binhluan").html($items);
            setTimeout(function () {
                /*     $.getScript("https://assets.vienthonga.vn/comment/js/app.js");*/
                $.getScript("https://assets.vienthonga.vn/comment/js/commentByVue.js");

                $.getScript("https://www.google.com/recaptcha/api.js?hl=vi");
            }, 2500);
        }
        });
    },1000)
   

</script>


<!-- End Google Tag Manager -->
  <script>
    wow = new WOW({
      boxClass: 'wow', // default
      animateClass: 'animated', // default
      offset: 100, // default
      mobile: false, // default
      live: true // default
    })
    wow.init();
  </script>


  <script>
    $(document).ready(function () {
      $("#ordernow").sticky({
        topSpacing: 0
      });
    });
  </script>

  <!-- Facebook Pixel Code -->
<script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '405487019828007');
        fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=405487019828007&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Facebook Pixel Code -->
      


  <!-- Google Code for Remarketing Tag -->

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 966905539;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/966905539/?guid=ON&amp;script=0"/>
</div>
</noscript>

<!--code dung cho chuong trinh event-->

<!-- MasOffer Retarget -->
<!-- <script type="text/javascript" src="https://static.masoffer.net/php/rtg/urk/urk.js?v=1.1"></script> -->
<!-- MasOffer Retarget -->

    <script type="text/javascript" src="{{url}}{{urlCurrentEvent}}/js/custom.js?v={{version}}"></script>
<!--<script type="text/javascript" src="https://vienthonga.vn/samsung-galaxy-j7-pro.html//js/test.js?v=1.0.3.0"></script>-->
</body>

</html>