<h3 class="preorder-title m-t-20">Phương thức đặt cọc
        <a class="radio-note">Đặt cọc 500.000đ
        </a>
        </h3>
    
    
    
    
    
        <div class="list-opt-radio">
            <label style="display: block" class="opt-radio" v-for="payment in payments">
                <input class="opt-radio-input" name="prepay-type"  v-model="pushObj.Payment" type="radio" :value="payment.value">
                <div class="opt-text opt-no-img" >
                    <span>      ${payment.name}</span>
                </div>
                <span class="opt-radio-icon"></span>
            </label>
    
    
        </div>
    
        <h3 class="preorder-title" v-show="pushObj.Payment == 16">Chọn thẻ:
    
            </h3>
    
            <div class="list-opt-radio"v-show="pushObj.Payment == 16">
    
                <label class="opt-radio" v-for="payment in paymentMethod">
                    <input class="opt-radio-input" name="choose-visa"  v-model="selectedPaymentMethod" type="radio" @click="getPaymentMethodCode(payment)" type="radio" :value="payment.paymentCode">
                    <div class="opt-text opt-no-img">
                        <span>   <img :src="payment.imageLink">   </span>
                    </div>
                    <span class="opt-radio-icon"></span>
                </label>
            </div>
    
    