<h3 class="preorder-title">Trợ giá với gói WOW

    </h3>
    
    <div class="mt8 gioitinh-component">
    
    
        <div class="list-opt-radio">
            <label class="opt-radio" style="display: block">
                <input class="opt-radio-input" name="chonWow"  v-model="chonWow" type="radio" id="wow599" value="wow599" @click="handletienThanhtoan()">
                <div class="opt-text opt-no-img">
                    <span> Giảm ngay <strong>3.800.000đ</strong> với gói 
                        <div class="tooltip-modal tooltip-m">
                            WOW599
                            <div class="tooltiptext">
                                <img v-if="chonSanpham.name == 'Samsung Galaxy A6 (2018)' && mobileCheck == false" class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_tooltipa6-1.jpg" alt="">
                                <img v-if="chonSanpham.name == 'Samsung Galaxy A6+ (2018)' && mobileCheck == false" class="img-responsive center-block" src= "https://cdn1.vienthonga.vn/image/2018/5/2/100000_tooltipa6plus.jpg" alt="">
                               
                                <img v-if="chonSanpham.name == 'Samsung Galaxy A6 (2018)' && mobileCheck == true" class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_tooltipa6-mobile.jpg" alt="">
                                <img v-if="chonSanpham.name == 'Samsung Galaxy A6+ (2018)' && mobileCheck == true" class="img-responsive center-block" src= "https://cdn1.vienthonga.vn/image/2018/5/2/100000_tooltipa6plus-mobile.jpg" alt="">
                             
                            </div>
                        </div> 
                    </span>
                </div>
                <span class="opt-radio-icon"></span>
            </label>
           
                <label class="opt-radio" style="display: block">
                        <input class="opt-radio-input" name="chonWow"  v-model="chonWow" type="radio" id="none" value="none" @click="handletienThanhtoan()">
                        <div class="opt-text opt-no-img">
                            <span>Không
                                
                            </span>
                        </div>
                        <span class="opt-radio-icon"></span>
                    </label>
        </div>
    </div>
    