 <!-- <h3 class="preorder-title ">Chọn màu</h3>
 -->
    <div  v-if="ListProduct.length > 0" class="mt8 reorder-input">
        <div class="list-opt-radio" >
            <div class="chonqua-block chonmau-block" v-show="chonSanpham.name == 'OPPO A7'">
                <h3 class="preorder-title">Chọn màu </h3>
                <div class="list-opt-radio" >
                        <template v-for="item in ListProduct">
                        <label class="opt-radio opt-40"  v-for="mausac in item.ListColor" v-if="item.ProductId == '188023'" v-cloak>  
                            
                            <input class="opt-radio-input" name="mausac" v-model="pushObj.ProductColorcode" type="radio" :value="mausac.CodePos" @click="addColor(mausac)">
                            <div class="opt-text">
                                <template>
                                    <span >${mausac.ColorName}</span> 
                                </template>
                            </div>
                            <span class="opt-radio-icon" >
                            </span>
                                                
                            
                        </label>
                    </template>  

                </div>
            </div>  
            <!-- <div class="chonqua-block chonmau-block" v-show="chonSanpham.name == 'Huawei Mate 20'">
                <h3 class="preorder-title">Chọn màu </h3>
                <div class="list-opt-radio" >
                        <template v-for="item in ListProduct">
                        <label class="opt-radio opt-40"  v-for="mausac in item.ListColor" v-if="item.ProductId == '188014'" v-cloak>  
                            
                            <input class="opt-radio-input" name="mausac" v-model="pushObj.ProductColorcode" type="radio" :value="mausac.CodePos" @click="addColor(mausac)">
                            <div class="opt-text">
                                <template>
                                    <span >${mausac.ColorName}</span> 
                                </template>
                            </div>
                            <span class="opt-radio-icon" >
                            </span>
                                                
                            
                        </label>
                    </template>  

                </div>
            </div>   -->
            <!-- <div class="chonqua-block chonmau-block" v-show="chonSanpham.name == 'Samsung Galaxy Note9 512GB'">
                                        <h3 class="preorder-title">Chọn màu</h3>
                                        <div class="list-opt-radio" >
                                                <template v-for="item in ListProduct" >
                                                <label class="opt-radio opt-40"  v-for="mausac in item.ListColor" v-if="item.ProductId == '187915'" v-cloak>  
                                                    
                                                            <input class="opt-radio-input" name="mausac" v-model="pushObj.ProductColorcode" type="radio" :value="mausac.CodePos" @click="addColor(mausac)"  >
                                                            <div class="opt-text">
                                                                    <template>
                                                                        <img  src="https://cdn1.vienthonga.vn/image/2017/12/3/100000_den-1.png" alt="">
                                                                        <span >${mausac.ColorName}</span>
                                                                        
                                                                </template>
                                                                   
                                                                 
                                                                </div>
                                                                 <span class="opt-radio-icon" >
                                                                </span>
                                                                        
                                                    
                                                </label>
                                            </template>  
                                    
                                            </div>
                                </div>   -->                    
        </div> 
    </div>