<h3 class="preorder-title">Chọn ưu đãi và phương thức thanh toán

    </h3>

    <div class="list-opt-radio">
        <label class="opt-radio">
            <input class="opt-radio-input" name="delivery" v-model="pushObj.Description" type="radio" value="Trả tiền mặt">
            <div class="opt-text opt-no-img">
                <span>Trả tiền mặt</span>
            </div>
            <span class="opt-radio-icon"></span>
        </label>


        <label class="opt-radio">
            <input class="opt-radio-input" name="delivery" v-model="pushObj.Description" type="radio" value="Trả góp lãi suất 0%">
            <div class="opt-text opt-no-img">
                <span> Trả góp 0%</span>
            </div>
            <span class="opt-radio-icon"></span>
        </label>



    </div>

    <div class="chonquatang-note8">
        <div v-if="pushObj.Description == 'Trả tiền mặt'" class="list-opt-radio thanhtoan-sub">
            <label v-if=" phaseStatus == 'A'" class="opt-radio" v-for="combo in comboListTienMat01" v-cloack>
                <input class="opt-radio-input" name="combo" v-model="pushObj.MaCombo" type="radio" :value="combo.comboCode" @change="chonCombo(combo)">
                <div class="opt-text opt-no-img">
                    <span class="name-boquatang"> ${combo.description}</span>
                </div>
                <span class="opt-radio-icon "></span>
            </label>

            <label v-if=" phaseStatus == 'B'" class="opt-radio" v-for="combo in comboListTienMat02" v-cloack>
                <input class="opt-radio-input" name="combo" v-model="pushObj.MaCombo" type="radio" :value="combo.comboCode" @change="chonCombo(combo)">
                <div class="opt-text opt-no-img">
                    <span class="name-boquatang"> ${combo.description}</span>
                </div>
                <span class="opt-radio-icon "></span>
            </label>
            <label v-if=" phaseStatus == 'C'" class="opt-radio" v-for="combo in comboListTienMat03" v-cloack>
                <input class="opt-radio-input" name="combo" v-model="pushObj.MaCombo" type="radio" :value="combo.comboCode" @change="chonCombo(combo)">
                <div class="opt-text opt-no-img">
                    <span class="name-boquatang"> ${combo.description}</span>
                </div>
                <span class="opt-radio-icon "></span>
            </label>
            <label v-if=" phaseStatus == 'D'" class="opt-radio" v-for="combo in comboListTienMat04" v-cloack>
                <input class="opt-radio-input" name="combo" v-model="pushObj.MaCombo" type="radio" :value="combo.comboCode" @change="chonCombo(combo)">
                <div class="opt-text opt-no-img">
                    <span class="name-boquatang"> ${combo.description}</span>
                </div>
                <span class="opt-radio-icon "></span>
            </label>
            <label v-if=" phaseStatus == 'E'" class="opt-radio" v-for="combo in comboListTienMat05" v-cloack>
                <input class="opt-radio-input" name="combo" v-model="pushObj.MaCombo" type="radio" :value="combo.comboCode" @change="chonCombo(combo)">
                <div class="opt-text opt-no-img">
                    <span class="name-boquatang"> ${combo.description}</span>
                </div>
                <span class="opt-radio-icon "></span>
            </label>

        </div>
        <div v-if="pushObj.Description == 'Trả góp lãi suất 0%'" class="list-opt-radio thanhtoan-sub">
            <label class="opt-radio" v-for="combo in comboListTraGop" v-cloack>
                <input class="opt-radio-input" name="combo" v-model="pushObj.MaCombo" type="radio" :value="combo.comboCode" @change="chonCombo(combo)">
                <div class="opt-text opt-no-img">
                    <span class="name-boquatang">${combo.description}</span>
                </div>
                <span class="opt-radio-icon "></span>
            </label>


        </div>
    </div>