<h3 class=" preorder-title m-t-20">Chọn siêu thị nhận hàng

    </h3>


    <!-- <div class="list-opt-radio">
        <label class="opt-radio opt-40 w-100-xs" v-for="deli in deliveryType">
            <input class="opt-radio-input" name="delivery-type" type="radio"  v-model="pushObj.Shiping" :value="deli.value" :id="deli.id">
            <div class="opt-text opt-no-img">
                <span>${deli.name}</span>
            </div>
            <span class="opt-radio-icon"></span>
        </label>
    </div> -->
