<h3 class="preorder-title ">Chọn bộ combo</h3>

                                <div class="mt8 reorder-input">
                                    <div class="list-opt-radio">
                                        <label class="opt-radio" v-for="combo in comboListV4" style="    margin-right: 28px;">
                                            <input class="opt-radio-input" type="radio" name="combo" :value="combo.value" v-model="chonCombo" @click="chonComboHandle()">
                                            <div class="opt-text">

                                                <span>${combo.name}</span>



                                            </div>
                                            <span class="opt-radio-icon">
                                            </span>
                                        </label>
                                    </div>
                                </div>
