<div class="form-user">

        <div class="row">
            <div class="col-md-6">
                    <div class="form-line">
                            <input class="form-control form-black " id="fullname" type="text" v-model="pushObj.Name" placeholder="Họ và tên">
                
                        </div>
            </div>
            <div class="col-md-6">
                    <div class="form-line">
                            <input class="form-control form-black " id="phone" type="text" v-model="pushObj.Phone" placeholder="Số điện thoại">
                        </div>
            </div>
        </div>
       
       
                  
             <div class="form-line">
            <input class="form-control form-black form-control-row" id="email" v-model="pushObj.Email" type="email" placeholder="Email">
        </div>
        
       
       
      
  
       
    </div>
