<div class="section-reorder formpreorder">
    <div class="container">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="preoder-heading text-center">

                <p >Đặt trước</h2>
                <p >Samsung galaxy j7 pro</p>
            </div>

            <!--<div class="reoder-txt1 text-center">
                Chương trình kết thúc sau
            </div>-->
            <div class="text-center reorder-timer reorder-content">
                <div class="countdown2" data-date="03/25/2017">
                </div>
            </div>

            <br>

            <div class="row reoder-form reorder-content">

                <div class="col-md-6">
                    <h3 class="preoder-tit reorder-title">
                        <span class="preorder-price-text"> Giá </span> <span class="preorder-price">${giaDuKien}đ</span></h3>
                    <!--<p></p>-->
                    <div class="reoder-txt2 reorder-txt">
                        <small> Số lượng người đăng ký:</small>
                        <strong class="number-reorder">20.000</strong>
                        <small>, đặt cọc</small>
                        <strong class="number-reorder">15000</strong>
                        <!--<span class="hidden-xs">-</span> <br class="visible-xs"> <a href="" data-toggle="modal" data-target="#modal-thele" style="color: #1ddcfe">Thể lệ</a>-->

                        <br> <a href="" data-toggle="modal" data-target="#danhsach-kh">Xem danh sách</a>
                    </div>

                    <h3 class="preorder-title ">Chọn màu</h3>
                    <div class="mt8 reorder-input">
                        <div class="list-opt-radio">
                            <label class="opt-radio">
                                <input class="opt-radio-input" name="color" type="radio" value="">
                                <div class="opt-text">
                                    <img src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_dattruoc-img-1-1.png"
                                         alt=""> <span>Black</span>
                                </div>
                                <span class="opt-radio-icon"></span>
                            </label>
                            <label class="opt-radio">
                                <input class="opt-radio-input" name="color" type="radio" value="">
                                <div class="opt-text">
                                    <img src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_dattruoc-img-1-1.png"
                                         alt=""> <span>Gold</span>
                                </div>
                                <span class="opt-radio-icon"></span>
                            </label>
                            <label class="opt-radio">
                                <input class="opt-radio-input" name="color" type="radio" value="">
                                <div class="opt-text">
                                    <img src="https://cdn1.vienthonga.vn/image/2017/6/2/100000_dattruoc-img-1-1.png"
                                         alt=""> <span>Blue</span>
                                </div>
                                <span class="opt-radio-icon"></span>
                            </label>
                        </div>
                    </div>


                    <h3 class="preorder-title">Thông tin người mua

                    </h3>

                    <div class="mt8 gioitinh-component">
                        <div class="list-opt-radio">
                            <label class="opt-radio">
                                <input class="opt-radio-input" name="gioitinh" type="radio" value="">
                                <div class="opt-text opt-no-img">
                                    <span>Nam</span>
                                </div>
                                <span class="opt-radio-icon"></span>
                            </label>
                            <label class="opt-radio">
                                <input class="opt-radio-input" name="gioitinh" type="radio" value="">
                                <div class="opt-text opt-no-img">
                                    <span>Nữ</span>
                                </div>
                                <span class="opt-radio-icon"></span>
                            </label>

                        </div>
                    </div>

                    <div class="mb10"></div>

                    <div class="">

                        <div class="form-line">
                            <input class="form-control form-black " id="fullname" type="text" placeholder="Họ và tên">

                        </div>

                        <div class="form-line">
                            <input class="form-control form-black " id="email" type="email" placeholder="Email">
                        </div>

                        <div class="form-line">
                            <input class="form-control form-black " id="phone" type="text" placeholder="Số điện thoại">
                        </div>
                    </div>

                    <div class="mb30">

                    </div>

                </div>

                <div class="col-md-6 j7-phuongthuc">

                    <h3 class=" preorder-title">Phương thức nhận hàng

                    </h3>


                    <div class="list-opt-radio mb10">
                        <label class="opt-radio">
                            <input class="opt-radio-input" name="delivery-type" type="radio" value="">
                            <div class="opt-text opt-no-img">
                                <span>Nhận hàng tại siêu thị</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>
                        <label class="opt-radio">
                            <input class="opt-radio-input" name="delivery-type" type="radio" value="">
                            <div class="opt-text opt-no-img">
                                <span>Nhận hàng tại nhà</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>

                    </div>


                    <div class="">

                        <!--<div style="color: white; margin-bottom: 10px;">
                            Chọn siêu thị
                        </div>-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-line">
                                    <select class="form-control form-black ">
                                        <option value="" disabled="" selected="">Thành Phố</option>
                                        <!-- <option> ${dis.Districtname}</option> -->
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-line">
                                    <select class="form-control form-black ">
                                        <option value="">Quận/ Huyện</option>
                                        <!-- <option> ${dis.Districtname}</option> -->
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="form-line">
                            <input type="text" class="form-control form-black"
                                   placeholder="Địa chỉ nhà riêng / Chi nhánh">
                        </div>
                    </div>


                    <h3 class="preorder-title" style="margin-top: 30px;">Phương thức đặt cọc

                    </h3>


                    <div class="list-opt-radio">
                        <label class="opt-radio">
                            <input class="opt-radio-input" name="prepay-type" type="radio" value="">
                            <div class="opt-text opt-no-img">
                                <span>Trả tiền mặt tại chi nhánh gần nhất</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>
                        <label class="opt-radio">
                            <input class="opt-radio-input" name="prepay-type" type="radio" value="">
                            <div class="opt-text opt-no-img">
                                <span>Thanh toán trực tuyến</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>

                    </div>

                    <div class="radio-note">* Đặt cọc 100.000đ, hoàn cọc một tuần sau thời gian mở bán chính thức.
                        <br>
                        Sau 7 ngày những phiếu cọc không suất sẽ bị hủy.
                    </div>

                    <h3 class="preorder-title">Phương thức thanh toán
                        <!--<span style="display: block;color: #fd832b; font-weight: normal; font-size: 16px; margin-top: 10px;">Đặt cọc 500,000đ.</span>-->
                    </h3>

                    <div class="list-opt-radio">
                        <label class="opt-radio">
                            <input class="opt-radio-input" name="delivery" type="radio" value="">
                            <div class="opt-text opt-no-img">
                                <span>Trả tiền mặt</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>
                        <label class="opt-radio">
                            <input class="opt-radio-input" name="delivery" type="radio" value="">
                            <div class="opt-text opt-no-img">
                                <span> Trả góp lãi suất 0% Visa </span><span class="radio-note">( ANZ, Sacombank, VIB Bank, Vietinbank,City Bank)</span>
                            </div>
                            <span class="opt-radio-icon"></span>
                        </label>

                    </div>

                    <br>

                    <div class="text-left">
                        <a href="#" class="btn-hoantat">Hoàn tất</a>
                    </div>

                </div>

                <!--<div class="col-md-6">


                    <h3 class="reoder-tit reorder-title reorder-title">Phương thức thanh toán
                        <span style="display: block;color: #fd832b; font-weight: normal; font-size: 16px; margin-top: 10px;">Đặt cọc 500,000đ.</span>
                    </h3>
                    <div class="radio">
                        <label>
                                <input type="radio" name="delivery" checked="">
                                <div>Trả tiền mặt tại chi nhánh gần nhất</div>
                            </label>
                    </div>

                    <div class="radio">
                        <label>
                                <input type="radio" name="delivery">
                                <div>Thanh toán trực tuyến</div>
                            </label>
                    </div>

                    <!
                    <div class="reoder-chuyenkhoan">
                        <a href="" data-toggle="modal" data-target="#thongtin-nganhang">(Xem thông tin chuyển khoản)</a>
                    </div>-->
                <!--</div>-->
            </div>
            <br>
        </div>


    </div>

</div>