<div class="form-noinhanhang">

                      
        <div class="row">
            <div class="col-md-6">
                <div class="form-line">
                    <select v-model="selectedCity" class="form-control form-black " @change="filterDistrict(selectedCity)">
                                      <option value="" disabled selected>Thành Phố</option>
                            <option  v-for="city in listCity" :value="city" >${city.Cityname}</option>
                    </select>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-line">
                    <select v-model="selectedDistrict" class="form-control form-black " @change="filterBranch(selectedDistrict)">
                    <option value="" >Quận</option>
                      <option v-for="dis in listDistrict" :value="dis"> ${dis.Districtname}</option>
                    </select>
                </div>
            </div>
        </div>



        <!-- CHI NHANH -->
        <div v-if="pushObj.Shiping == '8'" class="form-line">
            <div>
                <select class="form-control form-black form-control-row" v-model="pushObj.Address">
                    <option value="" disabled selected>Chi nhánh</option>
                    <option v-for="branch in  listBranch"
                            :value="branch.BranchsCodePos" >${branch.BranchsAdd}</option>
                </select>
            </div>
        </div>
        <div v-if="pushObj.Shiping == '6'" class="form-line">
            <input class="form-control form-black form-control-row" v-model="pushObj.Address" type="text" placeholder="Địa chỉ nhà riêng / chi nhánh">
        </div>
    </div>
