<h3 class="preorder-title m-t-20">Trả góp 6 tháng lãi suất 0% <span class="font-nomal">với nhà tài chính (HC)</span>
        </h3>
    
        <div class="mt8">
    
    
            <div class="list-opt-radio">
                <label v-for="tragop in TragopHC" class="opt-radio opt-40 inline-xs">
                    <input class="opt-radio-input" name="chontragopHC"  v-model="chonTragopHC" type="radio" :value="tragop.value" @click="handletienThanhtoan()">
                    <div class="opt-text opt-no-img">
                        <span> ${tragop.name}</span>
                    </div>
                    <span class="opt-radio-icon"></span>
                </label>
    
    
            </div>
        </div>