<h3 class="preorder-title">Thông tin người mua

    </h3>

    <div class="mt8 ">


        <div class="list-opt-radio">
            <label v-for="gender in genders" class="opt-radio opt-40 inline-xs">
                <input class="opt-radio-input" name="gioitinh"  v-model="pushObj.Gender" :id="gender.id" type="radio" :value="gender.value">
                <div class="opt-text opt-no-img">
                    <span> ${gender.name}</span>
                </div>
                <span class="opt-radio-icon"></span>
            </label>


        </div>
    </div>
