<h3 class="preorder-title" v-bind:style="{ marginBottom: (chonTragopHC == 'N' && chonTragop == 'N') ? '10px' : '20px' }">Chi phí cần thanh toán

</h3>

<div class="mt8">
    <div class="thanhtoan-detail" v-if="chonTragopHC == 'Y' || chonTragop == 'Y'">
        <span v-if="chonTragopHC == 'Y' || chonTragop == 'Y'">Giá máy</span>
        <span v-if="chonTragopHC == 'N' && chonTragop == 'N'">Giá máy cần thanh toán</span>
        <span v-if="chonTragopHC == 'N' && chonTragop == 'N'" class="">${giaThanhtoan.giaMay | formatMoney}</span>
        <span v-if="chonTragopHC == 'Y' || chonTragop == 'Y'" class="form-bold">${giaThanhtoan.giaMay | formatMoney}</span>
    </div>
    <div class="thanhtoan-detail" v-if="chonTragopHC == 'Y' || chonTragop == 'Y'">
        <span v-if="giaThanhtoan.traTruoc == 0">Trả trước</span>
        <span v-if="giaThanhtoan.traTruoc != 0">Trả trước 40%</span>
        <span v-if="chonTragopHC == 'Y' || chonTragop == 'Y'">${giaThanhtoan.traTruoc | formatMoney}</span>
    </div>
    <div class="thanhtoan-detail" v-if="chonTragopHC == 'Y' || chonTragop == 'Y'">
        <span v-if="chonTragopHC == 'Y' || chonTragop == 'Y'">Giá máy cần thanh toán</span>
        <span v-if="chonTragopHC == 'Y' || chonTragop == 'Y'" class="">${giaThanhtoan.giaMay - giaThanhtoan.khuyenmai - giaThanhtoan.traTruoc | formatMoney}</span>
    </div>
    <!-- <div v-if="chonTragopHC == 'Y' || chonTragop == 'Y'" class="thanhtoan-detail">
        <span>Khuyến mãi**</span>
        <span>${giaThanhtoan.khuyenmai | formatMoney}</span>
    </div> -->
    <!-- <div v-if="chonTragopHC == 'Y' || chonTragop == 'Y'" class="thanhtoan-detail">
        <span>Giá máy cần thanh toán</span>
        <span>${giaThanhtoan.giaMay - giaThanhtoan.khuyenmai - giaThanhtoan.traTruoc | formatMoney}</span>
    </div> -->
    <div v-if="chonTragopHC == 'Y' || chonTragop == 'Y'" class="module-tragop">
        <div class="thanhtoan-detail">
            <span>Lệ phí đóng hàng tháng<span v-if="chonTragopHC == 'Y' && chonTragop == 'N'"></span></span>
            <span>${giaThanhtoan.tienThanhtoan | formatMoney}</span>
        </div>
        
    
            <div class="thanhtoan-detail">
                    <span>Số tiền đóng hàng tháng</span>
                    <span>${giaThanhtoan.tragopThang | formatMoney}</span>
                </div>
                <!-- <div class="thanhtoan-detail">
                        <span>Số tiền tối thiểu tham gia gói WOW hàng tháng</span>
                        <span>${giaThanhtoan.tienwow | formatMoney}</span>
                    </div> -->
    </div>

        <!-- <div class="chi-phi">
            <div class="khuyenmai-tooltip" v-if="chonTragop == 'Y'">
                ** Khuyến mãi giảm 500.000đ áp dụng cho thẻ tín dụng (SCB BANK,STANDARD CHARTERED, TPBANK, SACOMBANK, SHINHAN BANK, VPBANK, CITIBANK, VIB BANK, MARITIME BANK)
                ** Khuyến mãi giảm 500.000đ chỉ áp dụng cho thẻ tín dụng FE Credit, các thẻ tín dụng ngân hàng khác trong
                <div class="lienhe-tongdai tooltip-modal tooltip-m" style="font-weight: 200; float: none; font-size: 14px;">
                    danh sách thẻ
                    <span class="tooltiptext list" style="top: unset; bottom: 18px;">
                        <ul>
                            <li>SCB BANK</li>
                            <li>STANDARD CHARTERED</li>
                            <li> TPBANK</li>
                            <li>SACOMBANK</li>
                            <li>SHINHAN BANK</li>
                            <li>VPBANK</li>
                            <li>CITIBANK</li>
                            <li>VIB BANK</li>
                            <li>MARITIME BANK</li>
                        </ul>
                    </span>
                </div>
                chỉ giảm 500.000đ 
            </div>
            <div class="khuyenmai-tooltip" v-if="chonTragopHC == 'Y' && chonTragop == 'N'">
                *** Lệ phí đóng hàng tháng sẽ khác nhau tuỳ thuộc vào nhà tài chính  
            </div>
        </div> -->
        <div v-if="chonTragop !== 'N' || chonTragopHC !== 'N'" class="thanhtoan-detail" style="padding-bottom: 0px;">
            <span>Tổng thanh toán hàng tháng
                <!-- <br>
                <a class="lienhe-tongdai hidden-xs" href="tel:19006766">Liên hệ hotline 1900 67 66 để biết thêm chi tiết</a> -->
            </span>
            <span class="form-bold">${giaThanhtoan.tongtien | formatMoney}</span>
        </div>
        <div v-if="chonTragopHC == 'N' && chonTragop == 'N'" class="thanhtoan-detail" style="padding-bottom: 0px;">
            <span v-if="chonTragopHC == 'N' && chonTragop == 'N'">Giá máy cần thanh toán </span>
            <span class="form-bold">${giaThanhtoan.giaMay | formatMoney}</span>
        </div>
        <div class="chi-phi-uoc-tinh module-tragop" v-if="chonTragopHC == 'Y' || chonTragop == 'Y'">* Chi phí thanh toán chỉ là ước tính</div>
        <!-- <br v-if="chonTragopHC == 'Y' || chonTragop == 'Y'" /> -->
       
        <a class="lienhe-tongdai hidden-xs" href="tel:19006766">Liên hệ hotline 1900 67 66 để biết thêm chi tiết</a>
       

</div>
