<h3 class="preorder-title">Chọn phương thức thanh toán

    </h3>

    <div class="list-opt-radio">
        <label class="opt-radio">
            <input class="opt-radio-input" name="delivery" v-model="pushObj.Description" type="radio" value="Trả tiền mặt">
            <div class="opt-text opt-no-img">
                <span>Trả tiền mặt</span>
            </div>
            <span class="opt-radio-icon"></span>
        </label>


        <label class="opt-radio">
            <input class="opt-radio-input" name="delivery" v-model="pushObj.Description" type="radio" value="Trả góp lãi suất 0%">
            <div class="opt-text opt-no-img">
                <span> Trả góp 0%</span>
            </div>
            <span class="opt-radio-icon"></span>
        </label>



    </div>