<h3 class="preorder-title m-t-20">Chọn sản phẩm</h3>
                                <div class="list-opt-radio sanpham-iphone">
                                    
                                        <label class="opt-radio opt-40"  v-for="item in ListProduct" v-cloak>
                                            <input class="opt-radio-input" name="product" v-model="chonSanpham.name" type="radio" :value="item.ProductName" @click="handletienThanhtoan()">
                                            <div class="opt-text opt-no-img">
                                                <span v-if="item.ProductCode == '14566'" style="font-weight: 600">${item.ProductName.slice(0, item.ProductName.indexOf('(') )}
                                                </span>
                                                <span v-if="item.ProductCode == '14567'" style="font-weight: 600">${item.ProductName.slice(0, item.ProductName.indexOf('(') )}
                                                </span>
                                                
                                            </div>
                                            <span class="opt-radio-icon"></span>

                                        </label>
                                   

                                    <div class="chonqua-block chonmau-block" v-show="chonSanpham.name == 'Samsung Galaxy A6 (2018)'">
                                        <h3 class="preorder-title">Chọn màu </h3>
                                        <div class="list-opt-radio">
                                            <template v-for="item in ListProduct">
                                                <label class="opt-radio opt-30" v-for="mausac in item.ListColor" v-if="item.ProductId == '187862'" v-cloak>

                                                    <input class="opt-radio-input" name="mausac" v-model="pushObj.ProductColorcode" type="radio" :value="mausac.CodePos" @click="addColor(mausac)">
                                                    <div class="opt-text">
                                                        <template v-if="mausac.CodePos === 'HH0010905'">
                                                          
                                                            <span>Xanh đại dương</span>

                                                        </template>
                                                        <template v-if="mausac.CodePos === 'HH0010914'">
                                                          
                                                                <span>Đen Titan</span>
    
                                                            </template>
                                                            <template v-if="mausac.CodePos === 'HH0010915'">
                                                          
                                                                    <span>Vàng thạch anh</span>
        
                                                                </template>



                                                    </div>
                                                    <span class="opt-radio-icon">
                                                    </span>


                                                </label>
                                            </template>

                                        </div>
                                    </div>






                                    <div class="chonqua-block chonmau-block" v-show="chonSanpham.name == 'Samsung Galaxy A6+ (2018)'">
                                        <h3 class="preorder-title">Chọn màu</h3>
                                        <div class="list-opt-radio">
                                            <template v-for="item in ListProduct">
                                                <label class="opt-radio opt-30" v-for="mausac in item.ListColor" v-if="item.ProductId == '187864'" v-cloak>

                                                    <input class="opt-radio-input" name="mausac" v-model="pushObj.ProductColorcode" type="radio" :value="mausac.CodePos" @click="addColor(mausac)">
                                                    <div class="opt-text">
                                                            <template v-if="mausac.CodePos === 'HH0010912'">
                                                                  
                                                                        
                                                                    <span>Xanh đại dương</span>
                                                                </template>
                                                            <template v-if="mausac.CodePos === 'HH0010907'">
                                                          
                                                                    <span>Đen Titan</span>
        
                                                                </template>
                                                               
                                                                    <template v-if="mausac.CodePos === 'HH0010913'">
                                                                  
                                                                            <span>Vàng thạch anh</span>
                
                                                                        </template>
        

                                                    </div>
                                                    <span class="opt-radio-icon">
                                                    </span>


                                                </label>
                                            </template>

                                        </div>
                                    </div>


                                </div>
