<h3 class="preorder-title m-t-20">Trả góp 12 tháng lãi suẤt 0% <span v-if="chonTragopHC == 'N' && chonTragop == 'N'" class="font-nomal">thẻ tín dụng
    <!-- <span v-if="chonTragop == 'Y'">(FE)**</span> --></span><br class="visible-xs" />
    
        <div class="lienhe-tongdai tooltip-modal tooltip-m" style="font-weight: 200">
            Danh sách thẻ áp dụng
            <span class="tooltiptext list">
                <ul>
                    <li>SCB BANK</li>
                    <li>STANDARD CHARTERED</li>
                    <li> TPBANK</li>
                    <li>SACOMBANK</li>
                    <li>SHINHAN BANK</li>
                    <li>VPBANK</li>
                    <li>CITIBANK</li>
                    <li>VIB BANK</li>
                    <li>MARITIME BANK</li>
                </ul>
            </span>
        </div>
    
        </h3>
    
        <div class="mt8">
    
    
            <div class="list-opt-radio">
                <label v-for="tragop in Tragop" class="opt-radio opt-40 inline-xs">
                    <input class="opt-radio-input" name="chontragop"  v-model="chonTragop" type="radio" :value="tragop.value" @click="handletienThanhtoan()">
                    <div class="opt-text opt-no-img">
                        <span> ${tragop.name}</span>
                    </div>
                    <span class="opt-radio-icon"></span>
                </label>
    
    
            </div>
        </div>
    