<div class="preoder-heading">
        <p>Đặt trước           
            <span>Samsung Galaxy S9 | S9+</span>
        </p>
        <!-- <p>Giá dự kiến</p>
        <div class="preoder-heading-sub">
           <div>Samsung Galaxy S9: <span>19.990.000đ</span></div>
           <div>Samsung Galaxy S9+: <span>23.490.000đ</span></div>
        </div> -->
    </div>