<div v-for="item in listGiaSocShow" v-if="item.FullPathImage" class="giasoc-detail">
        <div class="giasoc-image">
            <img class="img-responsive center-block" :src="item.FullPathImage" alt="">
            <template v-if="item.Note">
                <img class="giasoc-icon1" src="https://cdn1.vienthonga.vn/image/2018/4/1/100000_giasoc-icon-2.png" alt="">
                <div class="giasoc-icon2">
                    <img class="giasoc-icon2" src="https://cdn1.vienthonga.vn/image/2018/4/1/100000_giasoc-iconsale-1.png" alt="">
                    <span>${(((item.GiaNiemYet - item.Note)/item.GiaNiemYet)*100).toFixed(0)}%</span>
                </div> 
            </template>
            <template v-else>
                <div v-if="item.GiaOnline != item.GiaNiemYet && item.GiaNiemYet > 0" class="giasoc-icon2">
                    <img class="giasoc-icon2" src="https://cdn1.vienthonga.vn/image/2018/4/1/100000_giasoc-iconsale-1.png" alt="">
                    <span>${(((item.GiaNiemYet - item.GiaOnline)/item.GiaNiemYet)*100).toFixed(0)}%</span>
                </div>   
            </template>
        </div>

        <div v-if="item.statusBuy == 'ChayHang'" class="chayhang-block">
            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/4/2/100000_icon-chayhang.png" alt="">
        </div>
     
        <div class="giasoc-tensanpham">
                ${item.ProductName}
        </div>

        <div class="giasoc-gia">
                <template v-if="item.Note">
                        <p class="giasoc-giashow">${item.Note | formatMoney}</p>
                        <p class="giasoc-giagach" v-if="item.GiaNiemYet > 0">${item.GiaNiemYet |formatMoney}</p>
                    </template>
                    <template v-else>
                            <p class="giasoc-giashow">${item.GiaOnline | formatMoney}</p>
                            <p class="giasoc-giagach" v-if="item.GiaOnline != item.GiaNiemYet && item.GiaNiemYet > 0">${item.GiaNiemYet |formatMoney}</p>
                    </template>
                
            
        </div>
            <template v-if="item.Note">
                    <div class="giasoc-soluong">
                        <!-- <div class="giasoc-soluong-status">
                            <div class="giasoc-status-inside" v-bind:style="{ width : '80%' }">
                                
                            </div>
                        </div> -->
                        <div  class="giasoc-soluong-detail">
                            <!-- <p>Còn lại: ${item.RemainNumber} suất</p> -->
                            <p >
                                Kết thúc sau: <span  class="countdown3" :data-date="item.stopTime"></span>
                            </p>
                           
                        </div>
                    </div>
            </template>
            <template v-else>
                <div class="giasoc-soluong2">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/4/2/100000_icon-line.png" alt="">
                </div>   
            </template>
        <div class="giasoc-action">
                <template v-if="item.Note">
                        <a v-if="item.statusBuy == 'MuaNgay' && item.RemainNumber != 0" @click.prevent="insert(item)" data-toggle="modal" data-target="#modal-datmua" href="javascript:void(0)">Mua ngay</a>
                        <a v-if="item.statusBuy == 'DonCho'" href="javascript:void(0)">Đón Chờ</a>
                        <a v-if="item.statusBuy == 'ChayHang' || item.RemainNumber == 0" href="javascript:void(0)">Cháy Hàng</a>
                    </template>
                    <template v-else>
                            <a v-if="item.statusBuy == 'MuaNgay'" class="btn-nonsale" :href="'https://vienthonga.vn/' + item.ProductUrl" target="_blank">Mua ngay</a>
                            <a v-if="item.statusBuy == 'ChayHang'" class="btn-nonsale" href="javascript:void(0)">Cháy Hàng</a>
                            <a v-if="item.statusBuy == 'DonCho'" class="btn-nonsale" href="javascript:void(0)">Đón Chờ</a>
                    </template>
           
        </div>
    </div>