<div class="section-giasocmoingay">
   
    <img class="img-responsive center-block img-fullview hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/3/6/100000_giasoc.jpg" alt="">
    <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/4/2/100000_banner-giasoc-mobile.png" alt="">
   
        <div class="rowFlex">
            <div class="column">
               
                <div class="giasoc-content" >
                        <ul id="listTab-giasoc" class="table-giasoc" role="tablist">
                            <li v-for="date in listDateShow" role="presentation" @click="filterPhase(date)">
                                <a href="javascript:void(0)" >
                                        <span class="">${date.slice(0,date.lastIndexOf('/'))}</span>
                                    </a>
                            </li>                         
                              
                        </ul>
                      
                            <div class="list-giasoc" id="tab-giasoc-content">
                                {{>giasoc-detail}}
                               
                                
                            </div>
            
                       
                        <div class=" section-tintuc-giasoc">
                            <div class="column tintuc sp-slide wow fadeInUp animated">
                               
                                   
                                    <div class="new" v-for="banner in listBanner.top.slice(1)">
                                            <a :href="banner.Note"></a>
                        
                                            <div class="">
                                                <img :src="banner.EventPromotionDescription" class="img-responsive center-block" />                                                
                                            </div>
                        
                                        </div>
                                        
                            </div>
                        </div>
                    </div>

               
          
            </div>
        </div>
   
    <!-- <div class="container">
        <div class="rowFlex">
            <div class="column">
                <img class="img-responsive center-block img-padd-20" src="https://cdn1.vienthonga.vn/image/2018/3/6/100000_rectangle-2.jpg" alt="">
            </div>
        </div>
    </div> -->
    
</div>