<div class="rowFlex align-bottom">
        <div class="column small-12 medium-5 large-5 wow fadeInLeft animated">
            <div class="hero-mainphone text-center hidden-xs">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_top-sanpham.png" alt="">
                <p class="preorder-title">
                        <span class="preorder-price-text" style="    color: white;"> Giá dự kiến:</span> <span class="preorder-price" style="    color: white;">S9: 19.990.000 | S9+ 23.990.000</span>
                </p>
            </div>
        </div>

        <div class="column small-12 medium-7 large-7">        
            <div class=" wow fadeInUp animated" data-wow-delay="0.5s">
                <div class="plus-datgach">Đặt trước<span class="plus-brand"> Samsung Galaxy S9 | S9+</span></div>
                <!-- <div class="plus-quangcao">Camera kép xóa phông chuyên nghiệp</div> -->
                <div class="plus-nhanqua">nhận ngay quà khủng</div>
            </div>
            <div class="hero-mainphone text-center visible-xs">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_top-sanpham.png" alt="">
                    <p class="preorder-title">
                            <span class="preorder-price-text" style="    color: white;"> Giá dự kiến:</span> 
                            <span class="preorder-price" style="    color: white;">S9: 19.990.000 | S9+ 23.990.000</span>
                    </p>
            </div>
            <div class="top-img" >
                <!-- phase 1 -->
                <template v-if="phaseStatus == 'A'">
                        <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_sanpham03.png" alt="">
                        <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_sanpham01.png" alt="">
                        <img style="margin-top: 15px;" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_sanpham02.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_cohoitrungngay.png" alt="">
                </template>

                 <!-- phase 2 -->
                <template v-if="phaseStatus == 'B'">
                        <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_sanpham03-1.png" alt="">
                        <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_sanpham01-1.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_sanpham02-1.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_cohoitrungngay.png" alt="">
                </template>

                 <!-- phase 3 -->
                <template v-if="phaseStatus == 'C'">
                        <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_sanpham06.png" alt="">
                        <img style="margin-top: 15px;" class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_sanpham05.png" alt="">
                        <img  class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_sanpham01-2.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_sanpham02-2.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_sanpham03-2.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_sanpham04.png" alt="">
                </template>

                     <!-- phase 4 -->
                <template v-if="phaseStatus == 'D'">
                        <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/1/6/100000_sanpham03.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/1/6/100000_sanpham01.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/1/6/100000_sanpham02.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_cohoitrungngay.png" alt="">
                </template>

                 <!-- phase 5 -->
                <template v-if="phaseStatus == 'E'">
                        <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua01-desk.png" alt="">
                        <img style="margin-top: 15px;" class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua2-dek.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua01-mobile.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua02-mobile.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua03-mobile.png" alt="">
                       
                        <img  style="margin-top: 15px;" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_plus-mobile.png" alt="">
                        <img  style="margin-top: 15px;" class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua2-dek.png" alt="">
                       
                </template>

                
            </div>            
           
            <!-- <p class="text-center"><a class="datngay-note8" href="#preorder">Đặt ngay</a></p> -->
    
           
            
        </div>
            

    </div>