


<nav class="main-nav stick-fixed">
    <div class="container ">
        <div class="bg-color">
            <div class="mobile-nav">
                <i class="vta-hamburge"></i>
            </div>
            <div class="main-nav-logo">
                <a href="https://vienthonga.vn/" class="logo" title="Viễn thông A">
                </a>
                <h1 style="text-indent: -9999px; position: fixed; top: 0; left: -9999px;">
                    <a href='https://vienthonga.vn'>VienthongA - Siêu thị trực tuyến bán điện thoại, laptop, máy tính
                        bảng. GIAO HÀNG TOÀN QUỐC</a>
                </h1>
            </div>

            <div id="search-global">

                <div class="search-global" id="main-search">
                    <form action="/tim-kiem" name="search_form" method="get">
                        <input type="search" class="input input-search" name="q" value=""
                               placeholder="Nhập thông tin cần tìm" id="searchvta" onfocus="this.select();"
                               autocomplete="off">
                        <div class="search-icon">
                            <i class="vta-search"></i>
                        </div>
                        <a href="javascript:VtaJsPC.main.SearchProduct();" class="search-button">Tìm kiếm</a>
                    </form>
                    <div data-role="popup" id="searchDialog" data-overlay-theme="b" data-dismissible="true"
                         style="display: block;">
                        <ul class="searchContaint scroll" data-role="listview" data-input="#searchvta"></ul>
                    </div>
                </div>

                <div id="location-global" class="location-global-style">

                    <div class="location-global-form" id="loadchinhanh">
                        <div class="location-dropdown-icon">
                            <i class="vta-arrow-down"></i>
                        </div>
                        <span class="location-icon"><i class="vta-location"></i></span> Chọn chi nh&#225;nh để xem gi&#225;,
                        khuyến m&#227;i
                    </div>

                    <div class="dropdown-vta-content">
                        <div class="dropdown-vta-clear">
                            <a href="javascript:void(0);"><span class="icon-remove">&times;</span> Bỏ chọn chi nh&#225;nh</a>
                        </div>

                        <div class="dropdown-vta-search">
                            <input type="search" name="" id="filter-s" placeholder="Tìm theo chi nhánh">
                            <i class="vta-search"></i>
                        </div>

                        <div class="spinner" id="loaderbranch" style="display: none;">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>

                        <div class="dropdown-vta-tabs" id="showbranch">

                        </div>
                    </div>
                </div>

            </div>

            <div id="position-nav-top"></div>

            <div class="menu-store">
                <ul class="clearlist list-inline menu-store-list">
                    <li><a href="https://vplus.vienthonga.vn/">
                        <figure data-feedback="fb:likes, fb:comments">


                            <img src="https://cdn1.vienthonga.vn/image/2016/8/2/100000_vplus.png" alt="" width="45">

                        </figure>
                    </a></li>
                    <li><a href="http://vstore.vn" target="_blank">
                        <figure data-feedback="fb:likes, fb:comments">

                            <img src="https://cdn1.vienthonga.vn/image/2016/11/2/100000_v-store.png" alt="" width="75"
                                 style="position: relative;top: 3px;">

                        </figure>
                    </a></li>
                    <li><a href="https://sinhvien.vienthonga.vn/" class="menu-store-item"><i class="vta-student2"></i>
                        SINH VIÊN</a></li>

                </ul>
            </div>


        </div>
    </div>
</nav>

<header id="main-header">
    <section class="search">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div id="position-nav">
                        <div class="inner-nav desktop-nav" id="main-nav">
                            <ul class="clearlist">
                                <li class="add-menu-mobile">
                                    <a href="https://vplus.vienthonga.vn/" class="" data-toggle="tooltip"
                                       data-placement="bottom" style="padding: 19px 16px 20px;"
                                       title="vPlus" data-original-title="vPlus">
                                        <figure data-feedback="fb:likes, fb:comments">
                                            <img src="https://cdn1.vienthonga.vn/image/2016/8/2/100000_vplus.png" alt=""
                                                 width="45">
                                        </figure>
                                    </a>
                                </li>

                                <li class="add-menu-mobile">
                                    <a href="" class="" data-toggle="tooltip" data-placement="bottom"
                                       style="padding: 19px 16px 20px;"
                                       title="vStore" data-original-title="vStore" target="_blank">
                                        <figure data-feedback="fb:likes, fb:comments">
                                            <img src="https://cdn1.vienthonga.vn/image/2016/11/2/100000_v-store.png"
                                                 alt="" width="60">
                                        </figure>
                                    </a>
                                </li>


                                <li class="add-menu-mobile">
                                    <a href="https://sinhvien.vienthonga.vn/" class="" data-toggle="tooltip"
                                       data-placement="bottom"
                                       title="Sinh viên" data-original-title="Sinh viên">
                                        <i class="vta-student2 menu-icon"></i>
                                        <span>Sinh viên</span>
                                    </a>
                                </li>


                                <li>
                                    <a href="https://vienthonga.vn/dien-thoai-smartphones" class="mn-has-sub"
                                       data-toggle="tooltip" data-placement="bottom" title="Điện thoại"
                                       data-original-title="Điện thoại">
                                        <i class="vta-phone menu-icon"></i> <span>Điện thoại</span>
                                    </a>

                                    <ul class="mn-sub">
                                        <div class="multi-sub clearfix"
                                             style="background-image: url('https://cdn1.vienthonga.vn/image/2016/12/1/100000_banner-menu-s7.jpg')">
                                            <ul class="clearlist menu-dt">
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/apple-iphone"
                                                       title="Apple">Apple</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/samsung"
                                                       title="Samsung">Samsung</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/sony-vn"
                                                       title="Sony">Sony</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/htc"
                                                       title="HTC">HTC</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/nokia"
                                                       title="Nokia - Microsoft">Nokia - Microsoft</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/intex"
                                                       title="Intex">intex</a>
                                                </li>


                                            </ul>
                                            <ul class="clearlist menu-dt">
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/oppo"
                                                       title="Oppo">Oppo</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/mobiistar"
                                                       title="Mobiistar">Mobiistar</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/coolpad"
                                                       title="Coolpad">Coolpad</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/obi"
                                                       title="Obi">Obi</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/freetel"
                                                       title="Freetel">Freetel</a>
                                                </li>


                                            </ul>


                                            <ul class="clearlist menu-dt">

                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/vivo"
                                                       title="Vivo">Vivo</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/huawei"
                                                       title="Huawei">Huawei</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/philips"
                                                       title="Philips">Philips</a>
                                                </li>

                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/wiko"
                                                       title="Wiko">Wiko</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/dien-thoai-smartphones/lenovo"
                                                       title="Lenovo">Lenovo</a>
                                                </li>

                                            </ul>

                                            <div class="clearfix"></div>
                                            <div class="hang-cao-cap">
                                                <ul class="clearlist">
                                                    <li><a href="https://vienthonga.vn/dien-thoai-cao-cap"
                                                           title="HÀNG CAO CẤP">HÀNG CAO CẤP</a></li>
                                                    <li><a href="https://vienthonga.vn/dien-thoai-trung-cap" title="">HÀNG
                                                        TRUNG CẤP</a></li>
                                                    <li><a href="https://vienthonga.vn/dien-thoai-pho-thong"
                                                           title="HÀNG PHỔ THÔNG">HÀNG PHỔ THÔNG</a></li>
                                                </ul>
                                                <ul class="clearlist">
                                                    <li><a href="https://vienthonga.vn/linh-phu-kien/dong-ho/"
                                                           title="ĐỒNG HỒ THÔNG MINH">ĐỒNG HỒ THÔNG MINH</a></li>
                                                    <li><a href="https://vienthonga.vn/linh-phu-kien-dien-thoai"
                                                           title="LINH PHỤ KIỆN ĐIỆN THOẠI">LINH PHỤ KIỆN ĐIỆN THOẠI</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </ul>


                                </li>
                                <li>
                                    <a href="https://vienthonga.vn/may-tinh-bang" class="mn-has-sub"
                                       data-toggle="tooltip" data-placement="bottom" title="Tablet"
                                       data-original-title="Tablet">
                                        <i class="vta-tablet menu-icon"></i> <span>Tablet</span>
                                    </a>


                                    <ul class="mn-sub">
                                        <div class="multi-sub clearfix"
                                             style="background-image: url(https://vienthonga.vn/Content/images/bg/bg-menu-tablet.jpg)">
                                            <ul class="clearlist">
                                                <li>
                                                    <a href="https://vienthonga.vn/may-tinh-bang/apple-ipad"
                                                       title="MÁY TÍNH BẢNG IPAD">MÁY TÍNH BẢNG IPAD</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/may-tinh-bang/samsung-tablet"
                                                       title="MÁY TÍNH BẢNG SAMSUNG">MÁY TÍNH BẢNG SAMSUNG</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/may-tinh-bang/asus"
                                                       title="MÁY TÍNH BẢNG ASUS">MÁY TÍNH BẢNG ASUS</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/may-tinh-bang/may-tinh-bang-lenovo"
                                                       title="MÁY TÍNH BẢNG LENOVO">MÁY TÍNH BẢNG LENOVO</a>
                                                </li>

                                            </ul>
                                            <ul class="clearlist">
                                                <li>
                                                    <a href="https://vienthonga.vn/may-tinh-bang/may-tinh-bang-acer"
                                                       title="MÁY TÍNH BẢNG ACER">MÁY TÍNH BẢNG ACER</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/may-tinh-bang/may-tinh-bang-haier"
                                                       title="MÁY TÍNH BẢNG HAIER">MÁY TÍNH BẢNG HAIER</a>
                                                </li>

                                                <li>
                                                    <a href="https://vienthonga.vn/may-tinh-bang/may-tinh-bang-huawei"
                                                       title="MÁY TÍNH BẢNG HUAWEI">MÁY TÍNH BẢNG HUAWEI</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/may-tinh-bang/may-tinh-bang-mastel"
                                                       title="MÁY TÍNH BẢNG MASSTEL">MÁY TÍNH BẢNG MASSTEL</a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                            <div class="hang-cao-cap">
                                                <ul class="clearlist">
                                                    <li><a href="https://vienthonga.vn/may-tinh-bang-cao-cap"
                                                           title="HÀNG CAO CẤP">HÀNG CAO CẤP</a></li>
                                                    <li><a href="https://vienthonga.vn/may-tinh-bang-trung-cap"
                                                           title="HÀNG TRUNG CẤP">HÀNG TRUNG CẤP</a></li>
                                                    <li><a href="https://vienthonga.vn/may-tinh-bang-pho-thong"
                                                           title="HÀNG PHỔ THÔNG">HÀNG PHỔ THÔNG</a></li>
                                                    <li><a href="https://vienthonga.vn/linh-phu-kien-may-tinh-bang"
                                                           title="LINH PHỤ KIỆN MÁY TÍNH BẢNG">LINH PHỤ KIỆN MÁY TÍNH
                                                        BẢNG</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://vienthonga.vn/laptop" class="mn-has-sub" data-toggle="tooltip"
                                       data-placement="bottom" title="Laptop" data-original-title="Laptop"><i
                                            class="vta-laptop menu-icon"></i> <span>Laptop</span> </a>

                                    <ul class="mn-sub">
                                        <div class="multi-sub clearfix"
                                             style="background-image: url(https://vienthonga.vn/Content/images/bg/bg-menu-laptop.jpg)">
                                            <ul class="clearlist">
                                                <li>
                                                    <a href="https://vienthonga.vn/laptop/laptop-apple"
                                                       title="Laptop Apple">Laptop Apple</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/laptop/laptop-acer"
                                                       title="Laptop Acer">Laptop Acer</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/laptop/laptop-asus"
                                                       title="Laptop asus">Laptop asus</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/laptop/laptop-dell"
                                                       title="Laptop dell">Laptop dell</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/laptop/laptop-ibm-lenovo"
                                                       title="Laptop lenovo">Laptop lenovo</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/laptop/laptop-hp" title="Laptop HP">Laptop
                                                        HP</a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                            <div class="hang-cao-cap">
                                                <ul class="clearlist">
                                                    <li><a href="https://vienthonga.vn/laptop-cao-cap"
                                                           title="HÀNG CAO CẤP">HÀNG CAO CẤP</a></li>
                                                    <li><a href="https://vienthonga.vn/laptop-trung-cap"
                                                           title="HÀNG TRUNG CẤP">HÀNG TRUNG CẤP</a></li>
                                                    <li><a href="https://vienthonga.vn/laptop-pho-thong"
                                                           title="HÀNG PHỔ THÔNG">HÀNG PHỔ THÔNG</a></li>
                                                    <li><a href="https://vienthonga.vn/linh-phu-kien-laptop"
                                                           title="LINH PHỤ KIỆN LAPTOP">LINH PHỤ KIỆN LAPTOP</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://vienthonga.vn/linh-phu-kien" class="mn-has-sub"
                                       data-toggle="tooltip" data-placement="bottom" title="Phụ kiện"
                                       data-original-title="Phụ kiện"><i class="vta-headphone menu-icon"></i> <span>Phụ kiện</span></a>

                                    <ul class="mn-sub">
                                        <div class="multi-sub clearfix"
                                             style="background-image: url(https://vienthonga.vn/Content/images/bg/bg-menu-phukien.jpg)">
                                            <ul class="clearlist">
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien"
                                                       title="PHỤ KIỆN CHÍNH HÃNG">PHỤ KIỆN CHÍNH HÃNG</a>
                                                </li>
                                                <li class="sub"><a href="https://vienthonga.vn/linh-phu-kien/apple"
                                                                   title="APPLE"><span class="vta-arrow-right"></span>
                                                    APPLE</a></li>
                                                <li class="sub"><a
                                                        href="https://vienthonga.vn/linh-phu-kien/samsung-vn-2"
                                                        title="SAMSUNG"><span class="vta-arrow-right"></span>
                                                    SAMSUNG</a></li>

                                                <hr>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/cong-nghe-am-thanh"
                                                       title="CÔNG NGHỆ ÂM THANH">CÔNG NGHỆ ÂM THANH</a>
                                                </li>
                                                <li class="sub"><a
                                                        href="https://vienthonga.vn/linh-phu-kien/cong-nghe-am-thanh/loa-cong-nghe"
                                                        title="Loa công nghệ"><span class="vta-arrow-right"></span> Loa
                                                    công nghệ</a></li>
                                                <li class="sub"><a
                                                        href="https://vienthonga.vn/linh-phu-kien/cong-nghe-am-thanh/tai-nghe-cong-nghe"
                                                        title="Tai nghe công nghệ"><span class="vta-arrow-right"></span>
                                                    Tai nghe công nghệ</a></li>
                                                <hr>
                                                <li>
                                                    <a href="https://vienthonga.vn/index.php?dispatch=products.filter&lpk=lpk_phone"
                                                       title="PHỤ KIỆN ĐIỆN THOẠI">PHỤ KIỆN ĐIỆN THOẠI</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/index.php?dispatch=products.filter&lpk=lpk_tablet"
                                                       title="PHỤ KIỆN MÁY TÍNH BẢNG">PHỤ KIỆN MÁY TÍNH BẢNG</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/index.php?dispatch=products.filter&lpk=lpk_laptop"
                                                       title="PHỤ KIỆN LAPTOP">PHỤ KIỆN LAPTOP</a>
                                                </li>
                                            </ul>
                                            <ul class="clearlist menu-phukien">
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/tai-nghe"
                                                       title="Tai nghe">Tai nghe</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/mouse" title="Chuột">Chuột</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/de-tan-nhiet"
                                                       title="Đế tản nhiệt">Đế tản nhiệt</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/o-cung-di-dong"
                                                       title="Ổ cứng di động">Ổ cứng di động</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/thiet-bi-mang"
                                                       title="Thiết bị mạng">Thiết bị mạng</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/ban-phim"
                                                       title="Bàn phím">Bàn phím</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/tui-may-tinh-bang"
                                                       title="Túi máy tính bảng">Túi máy tính bảng</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/bao-da-may-tinh-bang/">Bao
                                                        da máy tính bảng</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/usb"
                                                       title="USB">USB</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/usb-3g" title="USB 3G">USB
                                                        3G</a>
                                                </li>

                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/camera" title="Camera">Camera</a>
                                                </li>

                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/linh-kien-khac"
                                                       title="Linh kiện khác">Linh kiện khác</a>
                                                </li>
                                            </ul>
                                            <ul class="clearlist menu-phukien">
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/mieng-dan-man-hinh"
                                                       title="Miếng dán màn hình">Miếng dán màn hình</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/the-nho"
                                                       title="Thẻ nhớ">Thẻ nhớ</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/bao-da" title="Bao da">Bao
                                                        da điện thoại</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/op-lung"
                                                       title="Ốp lưng">Ốp lưng</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/sac-du-phong"
                                                       title="Sạc dự phòng">Sạc dự phòng</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/tai-bluetooth"
                                                       title="Tai nghe Bluetooth">Tai nghe Bluetooth</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/dong-ho"
                                                       title="Đồng hồ Smartwatch">Đồng hồ thông minh</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/pin"
                                                       title="Pin thay thế">Pin thay thế</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/sac"
                                                       title="Sạc">Sạc</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/dau-doc-the"
                                                       title="Đầu đọc thẻ">Đầu đọc thẻ</a>
                                                </li>
                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/loa" title="Loa">Loa &
                                                        Micro</a>
                                                </li>

                                                <li>
                                                    <a href="https://vienthonga.vn/linh-phu-kien/cap"
                                                       title="Cáp">Cáp</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </ul>
                                </li>

                                <li>
                                    <a href="https://vienthonga.vn/the-cao-sim-so" class="" data-toggle="tooltip"
                                       data-placement="bottom" title="Thẻ, sim" data-original-title="Thẻ, sim<">
                                        <i class="vta-sim menu-icon"></i> <span>Thẻ, sim</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://vienthonga.vn/noi-dung-so" class="" data-toggle="tooltip"
                                       data-placement="bottom" title="Nội dung số" data-original-title="Nội dung số">
                                        <i class="vta-apps menu-icon"></i> <span>Nội dung số</span>
                                    </a>
                                </li>


                                <li>
                                    <a href="https://vienthonga.vn/may-doi-tra" class="" data-toggle="tooltip"
                                       data-placement="bottom" title="Máy đổi trả" data-original-title="Máy đổi trả"><i
                                            class="vta-refresh menu-icon"></i> <span>Máy đổi trả</span></a>
                                </li>

                                <li>
                                    <a href="https://vienthonga.vn/xa-hang" class="" data-toggle="tooltip"
                                       data-placement="bottom" title="Xả hàng" data-original-title="Xả hàng">
                                        <i class="vta-tag menu-icon"></i> <span>Xả hàng</span>
                                    </a>
                                </li>


                                <li>
                                    <a href="https://vienthonga.vn/khuyen-mai-moi-nhat" class="" data-toggle="tooltip"
                                       data-placement="bottom" title="Khuyến mãi" data-original-title="Khuyến mãi"><i
                                            class="vta-gift2 menu-icon"></i> <span>Khuyến mãi</span></a>
                                </li>

                                <li>
                                    <a href="https://vienthonga.vn/tra-gop.html" class="" data-toggle="tooltip"
                                       data-placement="bottom" title="Trả góp" data-original-title="Trả góp"><i
                                            class="vta-pigmoney menu-icon"></i> <span>Trả góp</span></a>
                                </li>

                                <li>
                                    <a href="https://vienthonga.vn/tin-tuc" class="" data-toggle="tooltip"
                                       data-placement="bottom" title="Tin công nghệ"
                                       data-original-title="Tin công nghệ"><i class="vta-news2 menu-icon"></i> <span>Tin công nghệ</span></a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</header>

