 <div class="col-xs-12 col-sm-6 col-md-3">

            <div class="sp">
                <div class="icon-t4" style="position: absolute; top: 5px; right: 10px; z-index:999;">
                    <img src="https://cdn1.vienthonga.vn/image/2017/3/3/100000_icon-t4.png" alt="" />
                </div>

                <div class="sp-img">

                    <img src="https://cdn1.vienthonga.vn/image/2015/10/4/100000_ss-galaxy-a5-2b.jpg" class="img-responsive center-block" alt="">

                </div>


                <div class="productFeature-info">


                    <h3 class="name">Samsung Galaxy J7 Prime</h3>
                    <ul class="price list-inline">
                        <li class="price1">8.9900.000 đ</li>
                        <li class="price2">10.9900.000 đ</li>
                    </ul>


                    <ul class="sale scroll">
                        <li>- Tặng phiếu mua hàng phụ kiện 600.000đ</li>
                        <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                        <li>- Tặng phiếu mua hàng phụ kiện 600.000đ</li>
                        <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                        <li>- Tặng phiếu mua hàng phụ kiện 600.000đ</li>
                        <li>- Cơ hội trúng: Smart TV Samsung 43" + Tủ lạnh Samsung + Máy giặt Samsung</li>
                    </ul>

                </div>
                <div class="muaOnline">

                    <div class="muaOnline-price">
                        <span>Mua Online giá</span> 17.990.000đ
                    </div>

                    <a href="#datmua-dialog" class="popup-with-zoom-anim">ĐẶT NGAY</a>

                </div>


            </div>

        </div>