<div class="quatangsmall--detail">
        <div class="quatangsmall--detail--img">
            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua03.jpg" alt="">
        </div>

        <div class="quatangsmall--detail--content">
            <p>Loa Bonsai Qi-Wireless kiêm sạc không dây</p>
            <p>Kiểu dáng hiện đại sang trọng, tích hợp đèn LED ban đêm.<br>
                Loa Bluetooth 4.0, âm thanh sống động.<br>
                Hỗ trợ sạc không dây thông dụng chuẩn Qi<br>
                <!-- Trị giá <strong>4.000.000đ</strong><br>
                <strong><a href="https://vienthonga.vn/loa-bonsai-qi-wireless-3-in-1-trai-nghiem-am-thanh-dinh-cao.html">Tìm hiểu thêm</a></strong> -->
            </p>
        </div>
    </div>  

    <div class="quatangsmall--detail">
            <div class="quatangsmall--detail--img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/2/100000_vrweb.jpg" alt="">
            </div>

            <div class="quatangsmall--detail--content">
                <p>Kính thực tế ảo VR Samsung (SM-R325N)</p>
                <p>Thiết kế gọn nhẹ, phù hợp với nhiều đối tượng sử dụng.<br>
                    Dễ dàng sử dụng, trải nghiệm đã hơn trong thế giới ảo.<br>
                    Tương thích đa dạng với các dòng điện thoại Galaxy.
                </p>
            </div>
        </div>  

        <div class="quatangsmall--detail">
                <div class="quatangsmall--detail--img">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua02.jpg" alt="">
                </div>

                <div class="quatangsmall--detail--content">
                    <p>Giá đỡ điện thoại đa năng Popsocket</p>
                    <p>Thiết kế nhỏ gọn, hợp thời trang.<br>
                        Tạo nét sành điệu cho smartphone.<br>
                        Giúp cầm chắc máy khi selfie một tay.
                    </p>
                </div>
            </div>  
            
            <div class="quatangsmall--detail">
                    <div class="quatangsmall--detail--img">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua01.jpg" alt="">
                    </div>

                    <div class="quatangsmall--detail--content">
                        <p>Các khuyến mãi khác</p>
                        <p>1 đổi 1 trong 30 ngày<br>
                            Giảm 60% gói bảo vệ toàn diện.<br>
                            Miễn phí 100% phí sửa chữa <br>(theo chính sách VTA)
                        </p>
                    </div>
                </div>  