<div class="quatangsmall--detail">
        <div class="quatangsmall--detail--img">
            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/3/5/100000_k350.jpg" alt="">
        </div>

        <div class="quatangsmall--detail--content">
            <p>Dàn loa Samsung K350</p>
            <p>Loa không dây siêu trầm mạnh mẽ.<br>
                    Kết hợp hoàn hảo với smart TV bằng công nghệ Bluetooth.<br>
                    Trải nghiệm âm thanh vòng sống động.
                    
            </p>
        </div>
    </div>  

    <div class="quatangsmall--detail">
            <div class="quatangsmall--detail--img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/3/5/100000_oplung.jpg" alt="">
            </div>

            <div class="quatangsmall--detail--content">
                <p>Ốp lưng Hyperknit chính hãng</p>
                <p>Màu sắc thời trang, tạo phong cách sành điệu.<br>
                        Bảo vệ thân máy chắc chắn, chống trầy xước và va đập mạnh.<br>
                        
                </p>
            </div>
        </div>  

        <div class="quatangsmall--detail">
                <div class="quatangsmall--detail--img">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua02.jpg" alt="">
                </div>

                <div class="quatangsmall--detail--content">
                    <p>Giá đỡ điện thoại đa năng Popsocket</p>
                    <p>Thiết kế nhỏ gọn, hợp thời trang.<br>
                        Tạo nét sành điệu cho smartphone.<br>
                        Giúp cầm chắc máy khi selfie một tay.
                    </p>
                </div>
            </div>  
            
            <div class="quatangsmall--detail">
                    <div class="quatangsmall--detail--img">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua01.jpg" alt="">
                    </div>

                    <div class="quatangsmall--detail--content">
                        <p>Các khuyến mãi khác</p>
                        <p>1 đổi 1 trong 30 ngày<br>
                            Giảm 60% gói bảo vệ toàn diện.<br>
                            Miễn phí 100% phí sửa chữa <br>(theo chính sách VTA)
                        </p>
                    </div>
                </div>  