<div id="modal-datmua" class="modal fade">
        <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                        <div class="modal-header">
                                <p> đặt mua ${modalData.productName}</p>
                                <button type="button" class="close" data-dismiss="modal">
                                        <img src="https://cdn1.vienthonga.vn/image/2018/4/2/100000_icon-close.png" alt="">
                                </button>
                        </div>
                        <div class="modal-body">
                                <div class="rowFlex">
                                        <div class="column small-12 medium-4 large-4">
                                                <div class="text-center">
                                                        <img class="img-responsive center-block modal-image" :src="modalData.imagePhone" alt="">
                                                        <select class="modal-chonmau" name="sd" id="sd" class="s2__sanpham_chonmau" v-model="modalData.selectColor" @change="getImage()">
                                                                <option value="" disabled selected>Chọn màu</option>
                                                                <option v-for="item in modalData.listColor" :value="item">${item.ColorName}</option>
                                                        </select>
                                                </div>

                                        </div>
                                        <div class="column small-12 medium-8 large-8">
                                                <div class="modal__tongtien">
                                                        <p>Tổng tiền:
                                                                <span>${modalData.productPrice | formatMoney}</span>

                                                        </p>
                                                </div>

                                                <div class="modal__form">
                                                        <div class="form-group">
                                                                <div class="list-opt-radio">
                                                                        <label class="opt-radio" v-for="item in genders">
                                                                                <input class="opt-radio-input" name="gioitinh" type="radio" :value="item.value" v-model='pushObjModal.Gender'>
                                                                                <div class="opt-text">
                                                                                        <span>${item.name}</span>
                                                                                </div>
                                                                                <span class="opt-radio-icon"></span>
                                                                        </label>

                                                                </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <div class="row">
                                                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                                                                <input type="text" class="form-control" id="hotenmodal" placeholder="Nhập họ tên của bạn" v-model="pushObjModal.Name">
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                                                                <input type="text" class="form-control" id="dienthoaimodal" placeholder="Nhập số điện thoại di động" v-model="pushObjModal.Phone">
                                                                        </div>
                                                                </div>
                                                                <div class="row">
                                                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                                                                <input type="text" class="form-control" id="emailmodal" placeholder="Nhập email" v-model="pushObjModal.Email">
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="modal__button">
                                                                <button @click="registerModal()">đặt mua</button>
                                                        </div>
                                                </div>
                                        </div>
                                </div>


                        </div>
                </div>
        </div>
</div>