<div id="modal-chitiet" class="modal fade">
        <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                        <div class="modal-header">
                                <p>Chương trình khuyến mãi</p>
                                <button type="button" class="close" data-dismiss="modal">
                                        <img src="https://cdn1.vienthonga.vn/image/2018/4/2/100000_icon-close.png" alt="">
                                </button>
                        </div>
                        <div class="modal-body">
                                <p><b>Viễn Th&ocirc;ng A tặng loa đổi m&agrave;u v&agrave; thẻ c&agrave;o trị gi&aacute; 500K cho kh&aacute;ch nhận m&aacute;y OPPO F7 trong ng&agrave;y mở b&aacute;n</b></p>
<p><b><i>V&agrave;o ng&agrave;y 21/04, Viễn Th&ocirc;ng A ch&iacute;nh thức mở b&aacute;n sản phẩm OPPO F7 với mức gi&aacute; 7,99 triệu đồng v&agrave; 9,99 triệu đồng cho phi&ecirc;n bản OPPO F7 128GB. Kh&aacute;ch h&agrave;ng đến nhận m&aacute;y ngay trong ng&agrave;y mở b&aacute;n sẽ được tặng th&ecirc;m Loa bluetooth đổi m&agrave;u Tekin S5 v&agrave; thẻ c&agrave;o trị gi&aacute; 500 ng&agrave;n đồng. </i></b></p>
<p>Cụ thể, kh&aacute;ch h&agrave;ng đ&atilde; tham gia đặt trước OPPO F7 từ ng&agrave;y 13/04 đến hết ng&agrave;y 20/04 sẽ nhận được bộ qu&agrave; đặt trước gồm:</p>
<ul>
<li>Tai nghe bluetooth Tekin SH3 hoặc G&oacute;i bảo hiểm vỡ m&agrave;n h&igrave;nh 1 năm</li>
<li>Tham gia trả g&oacute;p 0% l&atilde;i suất thẻ t&iacute;n dụng c&aacute;c ng&acirc;n h&agrave;ng (<i>SCB Bank, Standard Chartered, TP Bank, Sacombank, Shinhanbank, FE Credit, Citibank, VIB Bank, Maritime Bank</i>) hoặc trả g&oacute;p 6 th&aacute;ng l&atilde;i suất 0% nh&agrave; t&agrave;i ch&iacute;nh (<i>Home Credit, HD Saison, FE Credit</i>)</li>
<li>Cơ hội nhận phiếu mua h&agrave;ng l&ecirc;n đến 10 triệu đồng</li>
</ul>
<p>Đặc biệt, Viễn Th&ocirc;ng A tặng th&ecirc;m c&aacute;c ưu đ&atilde;i hấp dẫn kh&aacute;c ri&ecirc;ng trong ng&agrave;y mở b&aacute;n như sau:</p>
<ul>
<li>Tặng th&ecirc;m Loa bluetooth đổi m&agrave;u Tekin S5 v&agrave; thẻ c&agrave;o trị gi&aacute; 500,000 đồng (<i>&aacute;p dụng cho 30 kh&aacute;ch h&agrave;ng đầu ti&ecirc;n xếp h&agrave;ng v&agrave; ho&agrave;n tất c&aacute;c thủ tục mua OPPO F7</i>)</li>
<li>Nhận ngay phiếu mua h&agrave;ng trị gi&aacute; 300,000 đồng (<i>&aacute;p dụng cho 200 kh&aacute;ch h&agrave;ng tiếp theo đến nhận m&aacute;y trước 12h00</i>)</li>
</ul>
<p>Chi tiết buổi mở b&aacute;n sẽ diễn ra v&agrave;o l&uacute;c 08:00 &ndash; 11:00 s&aacute;ng ng&agrave;y 21/04/2018 tại Viễn Th&ocirc;ng A chi nh&aacute;nh:</p>
<ul>
<li>328 &ndash; 330 Đường 3/2, Phường 12, Quận 10, TPHCM</li>
</ul>
<p>Số lượng qu&agrave; tặng c&oacute; hạn, ưu ti&ecirc;n những kh&aacute;ch h&agrave;ng đến trước. Chi tiết chương tr&igrave;nh li&ecirc;n hệ số hotline 1900 54 54 46 &ndash; 1900 67 66 hoặc truy cập v&agrave;o website <a href="https://vienthonga.vn/">https://vienthonga.vn</a>.</p>


                        </div>
                </div>
        </div>
</div>