
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
              <button type="button" class="close btn-close" data-dismiss="modal">
                  <img src="https://cdn1.vienthonga.vn/image/2017/7/4/100000_close.png" alt="">
                </button>
            <div class="modal-body">  
                <p class="modal-p">
                        Cám ơn bạn đã đăng ký, vui lòng nhập mã xác thực
                </p>            
              <div class="" >
                   <div class="">
                          <input class="input-style" type="text" name="phone" placeholder="Nhập số điện thoại của bạn" v-model="modalForm.phone">
                        </div>
                    <div class="">
                          <input class="input-style" type="text" name="key" placeholder="Nhập mã số xác thực mà VTA đã gửi đến SĐT đăng ký của bạn" v-model="modalForm.key">
                        </div>

                </div>

                <a  href="javascript:void(0)" class="btn-gui btn-position-right" @click="registerKey()">Gửi</a>
            </div>
           
          </div>
      
        </div>
      </div>