<div class="modal fade j7-modal s8-thongso" id="modal-thongso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div><a href="#" class="des-close" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content ">
            <div class="txt1">
                THÔNG SỐ KỸ THUẬT
            </div>
            <div class="table-padding">
                <table class="table">

                    <tbody>
                        <tr>
                            <th scope="row">Trọng lượng</th>
                            <td>180g</td>

                        </tr>
                        <tr>
                            <th scope="row">Kích thước</th>
                            <td>152.4 x 74.7 x 7.9mm</td>

                        </tr>
                        <tr>
                            <th scope="row">Màn hình hiển thị</th>
                            <td>Super AMOLED 5.5 inches</td>
                        </tr>

                        <tr>
                            <th scope="row">Camera chính</th>
                            <td>
                                13MP (f1.7) + 5MP (f1.9)
                                    </td>
                        </tr>
                        <tr>
                            <th scope="row">Camera selfie</th>
                            <td>16MP (f1.9)
                                    </td>
                        </tr>

                        <tr>
                            <th scope="row">CPU</th>
                            <td> 8 nhân, 64 bit</td>
                        </tr>

                        <tr>
                            <th scope="row">Bộ nhớ</th>
                            <td>RAM 4GB ROM 32GB</td>
                        </tr>
                        <tr>
                                <th scope="row">Khe cắm thẻ nhớ</th>
                                <td>MicroSD, hỗ trợ lên đến 256GB</td>
                            </tr>
                        <tr>
                            <th scope="row">Hệ điều hành</th>
                            <td>Android 7.0</td>
                        </tr>

                        <tr>
                            <th scope="row">Pin</th>
                            <td>3000 mAh</td>
                            
                        </tr>

                       

                         <tr>
                            <th scope="row">Sim</th>
                            <td>2 SIM 2 sóng</td>
                        </tr>
                        <tr>
                            <th scope="row">Bảo mật</th>
                            <td>Samsung Knox, thư mục bảo mật, bảo mật vân tay 1 chạm, nhận diện khuôn mặt</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>