<div class="modal fade j7-modal s8-danhsachkhachhang" id="danhsach-kh" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
        </div>
        <div class="modal-content " style="">
            <ul class="table-dathang" role="tablist">
                <li role="presentation" class="active">
                    <a href="#s7" aria-controls="s7" role="tab" data-toggle="tab">
                            <span class="">Danh sách khách hàng đặt trước</span>
                        </a>
                </li>
                  <li role="presentation" class="">
                    <a href="#s7-2" aria-controls="s7-2" role="tab" @click="SearchCocPostByCustomerPhone()" data-toggle="tab">
                        <span class="">Danh sách khách hàng đặt cọc</span>
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="s7">
                    <div class="tb-search">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="input-group">
                                    <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhone">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger btn-vivo" @click="SearchByCustomerPhone()" type="button">Tìm</button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="table-responsive tb-height" id="ViewDanhSach">
                        <table id="danhsach" class="table table-striped table-light" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên khách hàng</th>
                                    <!-- <th class="hidden-xs">Email</th> -->
                                    <th class="hidden-xs">Số điện thoại</th>
                                    <th>Ngày đăng ký</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in registerInfo.ListUserRegister" v-cloak>
                                    <td><span class="tb-name"> ${campaignInfo.TotalRegister - index}</span>
                                        <td><span class="tb-name"> ${item.FullName}</span>
                                            <div class="visible-xs tb-phone">${item.Phone}</div>
                                        </td>
                                        <!-- <td class="hidden-xs"><span>${item.Email}</span></td> -->
                                        <td class="hidden-xs"><span>${item.Phone}</span></td>
                                        <td><span>${item.DateRe}</span></td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb-loadmore text-center">
                        <a href="javascript:void(0);" data-page="1" id="btn-loadmore" class="btn btn-default" @click="Load_More_Dat_Coc()">Xem thêm</a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane " id="s7-2">
                    <div class="tb-search">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="input-group">
                                    <input type="tel" class="form-control" placeholder="Tìm theo số điện thoại" v-model="searchCusPhoneCoc">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger btn-vivo" @click="SearchCocPostByCustomerPhone()" type="button">Tìm</button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="table-responsive tb-height" id="ViewDanhSach2">
                        <table id="danhsach2" class="table table-striped table-light " cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Họ Tên</th>
                                    <!-- <th class="hidden-xs">Email</th> -->
                                    <th class="hidden-xs">Số điện thoại</th>
                                    <th>Ngày đăng ký</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for=" (item, index) in depositInfo" v-cloak>
                                    <td><span class="tb-name"> ${campaignInfo.TotalDatCoc - index}</span>
                                        <td><span class="tb-name"> ${item.TenKh}</span>
                                            <div class="visible-xs tb-phone">${item.Phone}</div>
                                        </td>
                                        <!-- <td class="hidden-xs"><span>${item.Email}</span></td> -->
                                        <td class="hidden-xs"><span>${item.Phone}</span></td>
                                        <td><span class="tb-sp">${item.DateDep}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb-loadmore text-center">
                        <a href="javascript:void(0);" data-page="1" id="btn-loadpos" class="btn btn-default" @click="Load_More_Coc_Post()">Xem thêm</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
