<p align="center"><span style="font-size: medium;"><strong>CHƯƠNG TR&Igrave;NH BIG CAMPAIGN</strong></span></p>
<p align="center"><span style="font-size: medium;"><strong>GIỜ V&Agrave;NG GI&Aacute; SỐC - SĂN DẾ O ĐỒNG</strong></span></p>
<p>1. Thời gian diễn ra:&nbsp;<strong>Mỗi tuần 01 điện thoại 0 đồng</strong></p>
<ul>
<li><span style="text-decoration: underline;">Tuần 1</span>&nbsp;(Từ ng&agrave;y 06/04/2018 đến hết ng&agrave;y 08/04/2018): Samsung Galaxy J7 Pro</li>
<li><span style="text-decoration: underline;">Tuần 2</span>&nbsp;(Từ ng&agrave;y 11/04/2018 đến hết ng&agrave;y 13/04/2018): Nokia N6</li>
<li><span style="text-decoration: underline;">Tuần 3</span>&nbsp;(Từ ng&agrave;y 18/04/2018 đến hết ng&agrave;y 20/04/2018): OPPO F5</li>
<li><span style="text-decoration: underline;">Tuần 4</span>&nbsp;(Từ ng&agrave;y 25/04/2018 đến hết ng&agrave;y 27/04/2018): Vivo Y69</li>
</ul>
<p>2. Đối tượng tham gia: Tất cả c&ocirc;ng d&acirc;n Việt Nam từ 16 tuổi trở l&ecirc;n</p>
<p>3. C&aacute;ch thức tham gia:</p>
<ul>
<li>Kh&aacute;ch h&agrave;ng tham gia bằng c&aacute;ch để lại th&ocirc;ng tin:</li>
</ul>
<p>+ Họ v&agrave; t&ecirc;n (tr&ugrave;ng với CMND hoặc thẻ CCCD)</p>
<p>+ Số điện thoại (SDT) v&agrave; bắt buộc x&aacute;c minh SDT.</p>
<ul>
<li>Mỗi SDT chỉ được tham gia duy nhất 1 lần trong ng&agrave;y.</li>
<li>Nếu kh&aacute;ch h&agrave;ng đ&atilde; may mắn tr&uacute;ng thưởng th&igrave; kh&ocirc;ng được tham gia v&agrave;o những đợt kế tiếp của chương tr&igrave;nh.</li>
<li>Kh&aacute;ch h&agrave;ng tr&uacute;ng giải sẽ kh&ocirc;ng được nhận khuyến m&atilde;i k&egrave;m theo của sản phẩm.</li>
<li>Kh&aacute;ch h&agrave;ng tr&uacute;ng giải kh&ocirc;ng được ph&eacute;p chuyển nhượng cơ hội nhận thưởng cho người kh&aacute;c.</li>
<li>Giải thưởng kh&ocirc;ng được quy ra bằng tiền mặt.</li>
</ul>
<p>4. C&aacute;ch thức chọn người thắng giải:</p>
<ul>
<li>D&ugrave;ng 6 số cuối SDT người tham gia để so s&aacute;nh với KQXS (Kết quả xổ số).</li>
<li>Trong trường hợp c&oacute; từ 2 người tr&uacute;ng giải trở l&ecirc;n: Người thắng giải cuối c&ugrave;ng c&oacute; 6 số cuối CMND hoặc thẻ CCCD TR&Ugrave;NG hoặc THẤP HƠN &amp; GẦN NHẤT với KQXS đ&agrave;i Tp.HCM (Ng&agrave;y kết quả tương ứng với từng đợt game).</li>
</ul>
<p>&nbsp;</p>
<table border="1" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td valign="top" width="192">
<p align="center"><strong>Ng&agrave;y diễn ra chương tr&igrave;nh</strong></p>
</td>
<td valign="top" width="211">
<p align="center"><strong>KQSX của đ&agrave;i</strong></p>
</td>
<td valign="top" width="182">
<p align="center"><strong>Người tr&uacute;ng giải</strong></p>
</td>
</tr>
<tr>
<td width="192">
<p align="center">06-08/04/2018</p>
</td>
<td valign="top" width="211">
<p align="center">TP.HCM<br />(Ng&agrave;y 09/04/2018)</p>
</td>
<td rowspan="4" width="182">
<p>C&oacute; 6 số cuối SDT TR&Ugrave;NG hoặc THẤP HƠN &amp; GẦN NHẤT với KQXS.</p>
</td>
</tr>
<tr>
<td width="192">
<p align="center">11-13/04/2018</p>
</td>
<td valign="top" width="211">
<p align="center">TP.HCM<br />(Ng&agrave;y 14/04/2018)</p>
</td>
</tr>
<tr>
<td width="192">
<p align="center">18-20/04/2018</p>
</td>
<td valign="top" width="211">
<p align="center">TP.HCM<br />(Ng&agrave;y 21/04/2018)</p>
</td>
</tr>
<tr>
<td width="192">
<p align="center">25-27/04/2018</p>
</td>
<td valign="top" width="211">
<p align="center">TP.HCM<br />(Ng&agrave;y 28/04/2018)</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>5. C&ocirc;ng bố tr&uacute;ng thưởng &amp; nhận giải:</p>
<ul>
<li>Viễn Th&ocirc;ng A&nbsp; c&ocirc;ng bố người thắng giải trước 16h sau 02 ng&agrave;y kết th&uacute;c game từng đợt.</li>
<li>Người tr&uacute;ng thưởng ra nhận giải tại hệ thống cửa h&agrave;ng Viễn Th&ocirc;ng A tr&ecirc;n to&agrave;n quốc v&agrave; cần xuất tr&igrave;nh CMND hoặc Thẻ CCCD để nhận giải.</li>
<li>Trong trường hợp Kh&aacute;ch h&agrave;ng kh&ocirc;ng thể đến được cửa h&agrave;ng gần nhất của Viễn Th&ocirc;ng A để nhận giải, người tr&uacute;ng thưởng sẽ chịu mọi chi ph&iacute; vận chuyển ph&aacute;t sinh.</li>
<li>Trao thưởng trong v&ograve;ng 20 ng&agrave;y kể từ ng&agrave;y c&ocirc;ng bố kết quả tr&ecirc;n website Viễn Th&ocirc;ng A.</li>
<li>Trong v&ograve;ng 3 ng&agrave;y kể từ hạn ch&oacute;t trao thưởng, nếu kh&aacute;ch h&agrave;ng kh&ocirc;ng đến nhận giải, kết quả tr&uacute;ng thưởng sẽ bị hủy.</li>
<li>Kh&aacute;ch h&agrave;ng đ&atilde; tr&uacute;ng thưởng sẽ kh&ocirc;ng được tham gia chương tr&igrave;nh v&agrave;o đợt tiếp theo.</li>
<li>Trong trường hợp c&oacute; tranh chấp, quyết định của Viễn Th&ocirc;ng A l&agrave; quyết định cuối c&ugrave;ng.</li>
</ul>