<div class="section-datmua small-order-2 medium-order-1 visible-xs" id="datmuasanpham">
        <div class="rowFlex align-middle">
            <div class="column small-12 medium-8">    
                <div style="padding-top: 10px">
                    <p class="datmua-title"><!-- Đặt trước <strong>HUAWEI</strong><span> P20 Pro</span> <br/> --><!-- Giá:<strong> ${giaDuKien}đ</strong> -->
                        <!-- Giá dự kiến: <br/>Mate 20:  ${giaDuKien.split(' ')[0]}Đ <br/> Mate 20 Pro: ${giaDuKien.split(' ')[1]}Đ -->  <!-- ${giaDuKien}đ -->
                        Giá dự kiến: ${giaDuKien}Đ
                        <!-- <strong>Giá dự kiến: <span>24.990.000Đ 
                        <span class="gigabyte">128GB</span> </span>  &nbsp;|&nbsp;  <span> 29.990.000Đ <span class="gigabyte">512GB</span></span></strong> -->
                    </p>  
                </div>   
                  
            </div>
            <div class="column small-12 medium-4">
                <a class="datmua-mobile" @click="transferForm()">Đặt ngay</a>
            </div>
        </div>
    </div>
