<div class="section-reorder formpreorder visible-xs" id="mobile-order">
        <div class="container">
            <div class="col-sm-12 ">
                    <div class="preoder-heading">
                            <p>Đặt trước           
                                <span>Samsung Galaxy S9 | S9+</span>
                            </p>
                            <p>Giá dự kiến</p>
                            <div class="preoder-heading-sub">
                               <div>Samsung Galaxy S9: <span>19.990.000đ</span></div>
                               <div>Samsung Galaxy S9+: <span>23.490.000đ</span></div>
                            </div>
                            <a class="datmua-mobile" @click="transferForm()">Đặt mua</a>
                        </div>
    
                
               
            </div>
        </div>
    </div>

<div class="section-reorder formpreorder hidden-xs" id="preorder">
    <div class="container">
        <div class="col-sm-12 ">
           <div class="preoder-heading">
                   <p>Đặt trước           
                       <span>Samsung Galaxy S9 | S9+</span>
                   </p>
                   <p>Giá dự kiến</p>
                   <div class="preoder-heading-sub">
                      <div>Samsung Galaxy S9: <span>19.990.000đ</span></div>
                      <div>Samsung Galaxy S9+: <span>23.490.000đ</span></div>
                   </div>
               </div>           

            <div class="row reoder-form reorder-content">
                <div class="col-md-6 p-border">
                    <!-- <h3 class="preorder-title">
                        <span class="preorder-price-text"> Giá bán:</span>
                        <span class="preorder-price">${giaDuKien}Đ</span>
                    </h3> -->
                    <div class="form-content-left">
                            <h3 class="preorder-title m-t-20">Chọn sản phẩm</h3>
                                                    <div class="list-opt-radio sanpham-iphone">
                                                            <label class="opt-radio opt-40" v-for="item in ListProduct" v-cloak>
                                                                <input class="opt-radio-input" name="product" v-model="chonSanpham.name" type="radio" :value="item.ProductName" @click="handletienThanhtoan()">
                                                                <div class="opt-text opt-no-img">
                                                                    <span v-if="item.ProductName == 'Samsung Galaxy S9'" style="font-weight: 600">${item.ProductName}</span>
                                                                    <span v-if="item.ProductName == 'Samsung Galaxy S9+'" style="font-weight: 600">${item.ProductName}</span>                                        
                                                                </div>
                                                                <span class="opt-radio-icon"></span>
                                                            </label>                           
                                                            
                                                            
                                                                <div class="chonqua-block chonmau-block" v-show="chonSanpham.name == 'Samsung Galaxy S9'">
                                                                        <h3 class="preorder-title">Chọn màu </h3>
                                                                        <div class="list-opt-radio" >
                                                                                <template v-for="item in ListProduct">
                                                                                <label class="opt-radio opt-40"  v-for="mausac in item.ListColor" v-if="item.ProductId == '187708'" v-cloak>  
                                                                                    
                                                                                            <input class="opt-radio-input" name="mausac" v-model="pushObj.ProductColorcode" type="radio" :value="mausac.CodePos" @click="addColor(mausac)">
                                                                                            <div class="opt-text">
                                                                                                    <template v-if="mausac.ColorCode === '000000'">
                                                                                                            <!-- <img  src="https://cdn1.vienthonga.vn/image/2017/12/3/100000_den-1.png" alt=""> -->
                                                                                                            <span >Màu đen</span>
                                                                                                            
                                                                                                    </template>                                                                
                                                                                                    
                                        
                                                                                                    <template v-if="mausac.ColorCode === 'b596bf'">
                                                                                                            <!-- <img src="https://cdn1.vienthonga.vn/image/2017/12/3/100000_timkhoi.png" alt="">  -->
                                                                                                            <span>Tím Đinh Hương</span>
                                                                                                            
                                                                                                    </template>
                                                                                                   
                                                                                                 
                                                                                                </div>
                                                                                                <span class="opt-radio-icon" >
                                                                                            </span>
                                                                                                        
                                                                                    
                                                                                </label>
                                                                            </template>  
                                                        
                                                                            </div>
                                                                </div>                                
                                                                
                                                            
                                                           
                                
                                                           
                                
                                                        <div class="chonqua-block chonmau-block" v-show="chonSanpham.name == 'Samsung Galaxy S9+'">
                                                                <h3 class="preorder-title">Chọn màu</h3>
                                                                <div class="list-opt-radio" >
                                                                        <template v-for="item in ListProduct" >
                                                                        <label class="opt-radio opt-40"  v-for="mausac in item.ListColor" v-if="item.ProductId == '187710'" v-cloak>  
                                                                            
                                                                                    <input class="opt-radio-input" name="mausac" v-model="pushObj.ProductColorcode" type="radio" :value="mausac.CodePos" @click="addColor(mausac)"  >
                                                                                    <div class="opt-text">
                                                                                            <template v-if="mausac.ColorCode === '000000'">
                                                                                                    <!-- <img  src="https://cdn1.vienthonga.vn/image/2017/12/3/100000_den-1.png" alt=""> -->
                                                                                                    <span >Màu đen</span>
                                                                                            </template>                                                                
                                                                                            
                                
                                                                                            <template v-if="mausac.ColorCode === 'b596bf'">
                                                                                                    <!-- <img src="https://cdn1.vienthonga.vn/image/2017/12/3/100000_timkhoi.png" alt="">  -->
                                                                                                    <span>Tím Đinh Hương</span>
                                                                                            </template>
                                                                                           
                                                                                         
                                                                                        </div>
                                                                                         <span class="opt-radio-icon" >
                                                                                        </span>
                                                                                                
                                                                            
                                                                        </label>
                                                                    </template>  
                                                
                                                                    </div>
                                                        </div>                      
                                                        
                                    
                                                        </div>                   
                            <h3 class="preorder-title ">Chọn bộ combo</h3>
                            
                            <div class="mt8 reorder-input">
                                <div class="list-opt-radio" >
                                    <label class="opt-radio"  v-for="combo in comboList" style="    margin-right: 28px;">
                                        <input class="opt-radio-input" type="radio" name="combo" :value="combo.value" v-model="chonCombo" @click="chonComboHandle()">
                                        <div class="opt-text">
                                                   
                                                    <span >${combo.name}</span>
                                           
                                         
                                         
                                        </div>
                                         <span class="opt-radio-icon" >
                                        </span>
                                    </label>                        
                                </div> 
                            </div>                            <h3 class="preorder-title">Thông tin người mua
                            
                                </h3>
                            
                                <div class="mt8 ">
                            
                            
                                    <div class="list-opt-radio">
                                        <label v-for="gender in genders" class="opt-radio opt-40">
                                            <input class="opt-radio-input" name="gioitinh"  v-model="pushObj.Gender" :id="gender.id" type="radio" :value="gender.value">
                                            <div class="opt-text opt-no-img">
                                                <span> ${gender.name}</span>
                                            </div>
                                            <span class="opt-radio-icon"></span>
                                        </label>
                            
                            
                                    </div>
                                </div>        
                            <div class="form-user">
                            
                                    <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-line">
                                                        <input class="form-control form-black " id="fullname" type="text" v-model="pushObj.Name" placeholder="Họ và tên">
                                            
                                                    </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="form-line">
                                                        <input class="form-control form-black " id="phone" type="text" v-model="pushObj.Phone" placeholder="Số điện thoại">
                                                    </div>
                                        </div>
                                    </div>
                                   
                                   
                                              
                                         <div class="form-line">
                                        <input class="form-control form-black " id="email" v-model="pushObj.Email" type="email" placeholder="Email">
                                    </div>
                                    
                                   
                                   
                                  
                              
                                   
                                </div>                            <h3 class=" preorder-title m-t-20">Phương thức nhận hàng
                            
                                                </h3>
                            
                            
                                                <div class="list-opt-radio">
                                                    <label class="opt-radio opt-40" v-for="deli in deliveryType">
                                                        <input class="opt-radio-input" name="delivery-type" type="radio"  v-model="pushObj.Shiping" :value="deli.value" :id="deli.id">
                                                        <div class="opt-text opt-no-img">
                                                            <span>${deli.name}</span>
                                                        </div>
                                                        <span class="opt-radio-icon"></span>
                                                    </label>
                                                </div>
                            <div class="form-noinhanhang">
                            
                                                  
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-line">
                                                <select v-model="selectedCity" class="form-control form-black " @change="filterDistrict(selectedCity)">
                                                                  <option value="" disabled selected>Thành Phố</option>
                                                        <option  v-for="city in listCity" :value="city" >${city.Cityname}</option>
                                                </select>
                            
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-line">
                                                <select v-model="selectedDistrict" class="form-control form-black " @change="filterBranch(selectedDistrict)">
                                                <option value="" >Quận</option>
                                                  <option v-for="dis in listDistrict" :value="dis"> ${dis.Districtname}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                            
                            
                            
                                    <!-- CHI NHANH -->
                                    <div v-if="pushObj.Shiping == '8'" class="form-line">
                                        <div>
                                            <select class="form-control form-black " v-model="pushObj.Address">
                                                <option value="" disabled selected>Chi nhánh</option>
                                                <option v-for="branch in  listBranch"
                                                        :value="branch.BranchsCodePos" >${branch.BranchsAdd}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div v-if="pushObj.Shiping == '6'" class="form-line">
                                        <input class="form-control form-black " v-model="pushObj.Address" type="text" placeholder="Địa chỉ giao hàng">
                                    </div>
                                </div>                            <h3 class="preorder-title m-t-20">Phương thức đặt cọc
                                <a class="radio-note">Đặt cọc 500.000đ
                                </a>
                                </h3>
                            
                            
                            
                            
                            
                                <div class="list-opt-radio">
                                    <label style="display: block" class="opt-radio" v-for="payment in payments">
                                        <input class="opt-radio-input" name="prepay-type"  v-model="pushObj.Payment" type="radio" :value="payment.value">
                                        <div class="opt-text opt-no-img" >
                                            <span>      ${payment.name}</span>
                                        </div>
                                        <span class="opt-radio-icon"></span>
                                    </label>
                            
                            
                                </div>
                            
                                <h3 class="preorder-title" v-show="pushObj.Payment == 16">Chọn thẻ:
                            
                                    </h3>
                            
                                    <div class="list-opt-radio"v-show="pushObj.Payment == 16">
                            
                                        <label class="opt-radio" v-for="payment in paymentMethod">
                                            <input class="opt-radio-input" name="choose-visa"  v-model="selectedPaymentMethod" type="radio" @click="getPaymentMethodCode(payment)" type="radio" :value="payment.paymentCode">
                                            <div class="opt-text opt-no-img">
                                                <span>   <img :src="payment.imageLink">   </span>
                                            </div>
                                            <span class="opt-radio-icon"></span>
                                        </label>
                                    </div>
                            
                                                      </div>
                   
                   

                </div>

                <div class="col-md-6">
                    <div class="form-content-right">
                            <h3 class="preorder-title m-t-20">Trả góp 0% lãi suất với thẻ tín dụng 
                                
                                <div class="lienhe-tongdai tooltip-modal tooltip-m" >
                                    Danh sách thẻ áp dụng
                                    <span class="tooltiptext list">
                                        <ul>
                                            <li>Vietin Bank</li>
                                            <li>Shinhan Bank</li>
                                            <li> Sacombank</li>
                                            <li>CitiBank</li>
                                            <li>HSBC</li>
                                            <li>Techcombank</li>
                                            <li>VIB</li>
                                            <li>ANZ</li>
                                            <li>TPbank</li>
                                        </ul>
                                    </span>
                                </div>
                            
                                </h3>
                            
                                <div class="mt8">
                            
                            
                                    <div class="list-opt-radio">
                                        <label v-for="tragop in Tragop" class="opt-radio opt-40">
                                            <input class="opt-radio-input" name="chontragop"  v-model="chonTragop" type="radio" :value="tragop.value" @click="handletienThanhtoan()">
                                            <div class="opt-text opt-no-img">
                                                <span> ${tragop.name}</span>
                                            </div>
                                            <span class="opt-radio-icon"></span>
                                        </label>
                            
                            
                                    </div>
                                </div>                            <h3 class="preorder-title">Trợ giá với gói WOW
                            
                            </h3>
                            
                            <div class="mt8 gioitinh-component">
                            
                            
                                <div class="list-opt-radio">
                                    <label class="opt-radio" style="display: block">
                                        <input class="opt-radio-input" name="chonWow"  v-model="chonWow" type="radio" id="wow1399" value="wow1399" @click="handletienThanhtoan()">
                                        <div class="opt-text opt-no-img">
                                            <span> Trợ giá <strong>9.000.000đ</strong> với gói 
                                                <div class="tooltip-modal tooltip-m">
                                                    WOW1399
                                                    <div class="tooltiptext">
                                                        <img v-if="chonSanpham.name == 'Samsung Galaxy S9' && mobileCheck == false" class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/1/100000_tooltip-s9-2.jpg" alt="">
                                                        <img v-if="chonSanpham.name == 'Samsung Galaxy S9+' && mobileCheck == false" class="img-responsive center-block" src= "https://cdn1.vienthonga.vn/image/2018/2/1/100000_tooltip-s9-3.jpg" alt="">
                                                        <img v-if="chonSanpham.name == 'Samsung Galaxy S9' && mobileCheck == true" class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/1/100000_pop-up-wow-s9-2.jpg" alt="">
                                                        <img v-if="chonSanpham.name == 'Samsung Galaxy S9+' && mobileCheck == true" class="img-responsive center-block" src= "https://cdn1.vienthonga.vn/image/2018/2/1/100000_pop-up-wow-s9-3.jpg" alt="">
                                                    </div>
                                                </div> 
                                            </span>
                                        </div>
                                        <span class="opt-radio-icon"></span>
                                    </label>
                                    <label class="opt-radio" style="display: block">
                                            <input class="opt-radio-input" name="chonWow"  v-model="chonWow" type="radio" id="wow999" value="wow999" @click="handletienThanhtoan()">
                                            <div class="opt-text opt-no-img">
                                                <span>Trợ giá <strong>6.500.000đ</strong> với gói 
                                                    <div class="tooltip-modal tooltip-m" >
                                                        WOW999
                                                        <div class="tooltiptext">
                                                                <img v-if="chonSanpham.name == 'Samsung Galaxy S9' && mobileCheck == false" class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/1/100000_tooltip-s9-2.jpg" alt="">
                                                                <img v-if="chonSanpham.name == 'Samsung Galaxy S9+' && mobileCheck == false" class="img-responsive center-block" src= "https://cdn1.vienthonga.vn/image/2018/2/1/100000_tooltip-s9-3.jpg" alt="">
                                                                <img v-if="chonSanpham.name == 'Samsung Galaxy S9' && mobileCheck == true" class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/1/100000_pop-up-wow-s9-2.jpg" alt="">
                                                                <img v-if="chonSanpham.name == 'Samsung Galaxy S9+' && mobileCheck == true" class="img-responsive center-block" src= "https://cdn1.vienthonga.vn/image/2018/2/1/100000_pop-up-wow-s9-3.jpg" alt="">
                                                        </div>
                                                    </div> 
                                                    
                                                </span>
                                            </div>
                                            <span class="opt-radio-icon"></span>
                                        </label>
                                        <label class="opt-radio" style="display: block">
                                                <input class="opt-radio-input" name="chonWow"  v-model="chonWow" type="radio" id="none" value="none" @click="handletienThanhtoan()">
                                                <div class="opt-text opt-no-img">
                                                    <span>Không
                                                        
                                                    </span>
                                                </div>
                                                <span class="opt-radio-icon"></span>
                                            </label>
                                </div>
                            </div>                            
                            <h3 class="preorder-title">Chi phí cần thanh toán
                            
                                </h3>
                                
                                <div class="mt8">
                                    <div class="thanhtoan-detail">
                                        <span>Giá máy</span>
                                        <span>${giaThanhtoan.giaMay | formatMoney}</span>
                                    </div>
                                    <div class="thanhtoan-detail">
                                            <span>Trợ giá</span>
                                            <span>${giaThanhtoan.troGia | formatMoney}</span>
                                        </div>
                                        <div class="thanhtoan-detail">
                                                <span>Số tiền cần thanh toán</span>
                                                <span class="form-bold">${giaThanhtoan.tienThanhtoan | formatMoney}</span>
                                            </div>
                                            
                                        <div v-if="chonWow !== 'none' || chonTragop !== 'N'" class="module-tragop">
                                                <div class="thanhtoan-detail">
                                                        <span>Trả góp hàng tháng</span>
                                                        <span>${giaThanhtoan.tragopThang | formatMoney}</span>
                                                    </div>
                                                    <div class="thanhtoan-detail">
                                                            <span>Số tiền tối thiểu tham gia gói WOW hàng tháng</span>
                                                            <span>${giaThanhtoan.tienwow | formatMoney}</span>
                                                        </div>
                                        </div>
                                           
                                        <div v-if="chonWow !== 'none' || chonTragop !== 'N'" class="thanhtoan-detail tongtienthanhtoan">
                                            <span>Số tiền thanh toán ước tính hàng tháng<br><a class="lienhe-tongdai" href="tel:19006766">Liên hệ hotline 1900 67 66 để biết thêm chi tiết</a></span>
                                            <span class="form-bold">${giaThanhtoan.tongtien | formatMoney}</span>
                                        </div>
                                
                                </div>                            <div class="text-center">
                                 <a href="javascript:void(0)" class="btn-hoantat" @click="registerDatTruoc()">Hoàn tất</a>
                             </div>
                    </div>
                  
                   
                </div>
            </div>
           
        </div>
    </div>
</div>