<div class="modal fade j7-modal " id="modal-thongso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
            </div>
            <div class="modal-content ">
                <div class="txt1">
                    THÔNG SỐ KỸ THUẬT
                </div>
                <div class="table-padding">
                        <table class="table">
        
                            <tbody>
                            <tr>
                                <th scope="row">Màn hình:</th>
                                <td>5.3 inches, QHD (2560 x 1440 pixels)</td>
        
                            </tr>
                            <tr>
                                <th scope="row">Camera sau:</th>
                                <td>13 MP (Màu sắc + OIS) + 13 MP (Đơn sắc), 1.12um, f/2.0, 76.9˚</td>
        
                            </tr>
                            <tr>
                                <th scope="row">Quay phim: </th>
                                <td>Quay phim 4K 2160p@30fps</td>
                            </tr>
        
                            <tr>
                                <th scope="row">Camera trước</th>
                                <td>13 Megapixel tự động lấy nét theo pha</td>
                            </tr>
                            <tr>
                                <th scope="row">Chụp ảnh nâng cao: </th>
                                <td>Chống rung quang học (OIS), Tự động lấy nét, Chạm lấy nét, Nhận diện khuôn mặt, HDR, Panorama, Chụp ảnh xóa phông.</td>
                            </tr>
                            <tr>
                                <th scope="row">Hệ điều hành: </th>
                                <td>Android 7.1.1 (Nougat)</td>
                            </tr>
                            <tr>
                                <th scope="row">CPU</th>
                                <td>4 nhân 2,5GHz Qualcomm® Kryo™ CPU + 4  nhân1,8GHz Kryo</td>
                            </tr>
                            <tr>
                                <th scope="row">Chip đồ họa (GPU): </th>
                                <td>Adreno 540</td>
                            </tr>
                            <tr>
                                <th scope="row">Bộ nhớ trong:</th>
                                <td>RAM 4GB ROM 64GB</td>
                           </tr>       
                           
        
                            
        
                            <tr>
                                <th scope="row">Pin</th>
                                <td>3090 mAh, Sạc nhanh Quick Charge 3.0</td>
                            </tr>
                             <tr>
                                <th scope="row">Thẻ nhớ ngoài:</th>
                                <td>microSD, hỗ trợ lên đến 256GB</td>
                            </tr>
                            <tr>
                                <th scope="row">Chuẩn kết nối/sạc: </th>
                                <td>Type C, USB 3.1 Gen 1 (5Gbps)</td>
                            </tr>
                           
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>