<div class="modal fade j7-modal " id="modal-imei" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="des-close"><a href="#" data-dismiss="modal" aria-label="Close"><i class="vta-close"></i></a>
            </div>
            <div class="modal-content ">
                <div class="txt1">
                   Thông báo
                </div>
                <div class="table-padding">
                   <p>Vui lòng kiểm tra số IMEI!</p>
                   <p>IMEI đã nhập bị trùng hoặc không hợp lệ</p>
                </div>
            </div>
        </div>
    </div>