<div class="section-hero-plus">
   
        <img class="img-responsive center-block hidden-xs" :src="campaignInfo.BannerPC" alt="">
        <img class="img-responsive center-block visible-xs" :src="campaignInfo.BannerMobile" alt="">
       
    </div>