<!-- <div class="section-quatangplus">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 large-4">
            <div class="reorder-timer reorder-content">
                <div class="countdown2" :data-date="campaignInfo.EndDate">
                </div>
            </div>
        </div>

        <div class="column small-12 medium-6 large-8">
            <div class="danhsachsocial">
               
                    
                        <p class="xemdanhsachdangki">Số lượng người đăng ký <strong>${campaignInfo.TotalRegister}</strong>, đặt cọc <strong>${campaignInfo.TotalDatCoc}</strong></p>
                        <p class="xemdanhsachdangki danhsachdatmua"><a href="#danhsach">Xem danh sách đặt mua</a></p>
                        <div class="social-m">
                                <div class="hotline-vta" style="display: inline-block; margin-right: 10px;">
                                        <p style="margin-bottom: 0">HOTLINE: <a href="tel:19006766" style="color:red">1900 67 66</a></p>
                                    </div>
                            <div  style="display: inline-block;" class="fb-like" data-href="https://vienthonga.vn/samsung-galaxy-a6-2018.html" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                                
                            </div>
                        </div>
                            
                   
              
            </div>
        </div>
    </div>

    
</div> -->
<div class="section-quatangplus small-order-1 medium-order-2">
        <div class="rowFlex align-middle">
            <div class="column small-12 medium-6 large-4">
                <div class="reorder-timer reorder-content">
                    <div class="countdown2" :data-date="campaignInfo.EndDate">
                    </div>
                </div>
            </div>
    
            <div class="column small-12 medium-6 large-8">
                <div class="danhsachsocial">
                    <div class="rowFlex small-12 medium-12 large-12" style="margin: 0px;">
                        <div class=" small-12 medium-12 large-7">
                            <p class="xemdanhsachdangki">Số lượng người đăng ký <strong>${campaignInfo.TotalRegister}</strong>, đặt cọc <strong>${campaignInfo.TotalDatCoc}</strong></p>
                            <p>
                                <span class="xemdanhsach-link"><a href="#danhsach">Xem danh sách đặt mua</a></span>
                                <span class="orange-hyphen hidden-xs">|</span>
                                <span class="xemdanhsach-link chuongtrinh"><a href="#thele">Xem thể lệ chương trình</a></span>
                                <span class="xemdanhsach-link visible-xs"><a href="tel:19006766">Gọi Hotline 19006766 để được tư vấn</a></span>
                            </p>
                        </div>
                        <!-- <div class=" small-12 medium-12 large-4 hidden-xs">
                            <p>
                                <span class="xemdanhsach-link"><a href="#danhsach">Xem danh sách đặt mua</a></span>
                            </p>
                        </div> -->
                        <div class=" small-12 medium-12 large-5 hidden-xs">
                            <div class="social-m">
                                    <div class="hotline-vta" style="display: inline-block; margin-right: 10px;">
                                            <p style="margin-bottom: 0">HOTLINE: <a href="tel:19006766" style="color:red">1900 67 66</a></p>
                                        </div>
                                <div  style="display: inline-block;" class="fb-like" data-href="https://vienthonga.vn/oppo-a7.html" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                                    
                                </div>
                            </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
    </div>