<div class="section-camerakep">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 large-6 animated wow fadeInLeft small-order-2 medium-order-1 large-order-1">
            <div class="timkhoituyetsac-img">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/8/1/100000_camera-1.png" alt="">
                <br class="visible-xs">
            </div>
        </div>

        <div class="column small-12 medium-6 large-6 animated wow fadeInRight small-order-1 medium-order-2 large-order-2" data-wow-delay="0.5s">
            <div class="timkhoituyetsac-text">
                <p class="note8-title">Camera kép</p>
                <p class="note8-subtitle">Chụp ảnh ấn tượng, không thể chất hơn</p>
                <p class="note8-content">Camera kép mặt sau của siêu phẩm Samsung Galaxy Note 8 được dự đoán
                     sẽ bao gồm: một cảm biến 12 MP đi kèm công nghệ lấy nét dual-pixel và một cảm biến 13 MP,
                      tích hợp ống kính tele để zoom quang 2X. Cả 2 đều tích hợp công nghệ ổn định quang học OIS,
                       giúp bạn bắt trọn từng khoảnh khắc sống động và sở hữu những bức ảnh không thể chất hơn.
                </p>
            </div>
        </div>

    </div>
</div>