<div class="sticky-bar" id="ordernow">
    <div class="dropdown visible-xs" style="padding: 20px">
        <div style="padding: 0px 0px 0px 10px;" id="menu1" data-toggle="dropdown" class="bar-name"><span class="bar-brand">DANH MỤC</span><span class="caret"></span></div>

        <ul class="dropdown-menu drop-menu-xz2" role="menu" aria-labelledby="menu1">
          <li role="presentation"><a class="href-scroll" role="menuitem" tabindex="-1" href="#dacdiemnoibat">SẢN PHẨM</a></li>
          <li role="presentation"><a class="href-scroll" role="menuitem" tabindex="-1" href="#thongso">THÔNG SỐ KỸ THUẬT</a></li>
          <li role="presentation"><a class="href-scroll" role="menuitem" tabindex="-1" href="#thele">THỂ LỆ</a></li>
          <li role="presentation"><a class="href-scroll" role="menuitem" tabindex="-1" href="#tintuc">TIN TỨC</a></li>
        </ul>
      </div>
      <div class="rowFlex hidden-xs">
          <div class="column medium-6 large-5 text-center">
              <div style="padding-top: 15px">
                  <p class="datmua-title"><!-- Đặt trước <strong>HUAWEI</strong><span> P20 Pro</span> <br/> -->
                    Giá dự kiến: <!-- Mate 20: ${giaDuKien.split(' ')[0]}Đ | Mate 20 Pro: ${giaDuKien.split(' ')[1]}Đ -->   ${giaDuKien}Đ
                      <!-- <strong>Giá dự kiến: <span>24.490.000Đ 
                      <span class="gigabyte">128GB</span> </span>  &nbsp;|&nbsp;  <span> 29.490.000Đ <span class="gigabyte">512GB</span></span></strong> -->
                  </p>  
              </div>
          </div>
          <div class="column medium-6 large-7">
              <div class="liststicky">
                      
                      <div class="sticky-detail"><span class="bar-brand"><a class="href-scroll" href="#dacdiemnoibat">TÍNH NĂNG</a></span></div>
                      <div class="sticky-detail"><span class="bar-brand"><a class="href-scroll" href="#quatang">QUÀ TẶNG</a></span></div>
                      <div class="sticky-detail"><span class="bar-brand"><a class="href-scroll" href="#thongso">THÔNG SỐ</a></span></div>
                      <div class="sticky-detail"><span class="bar-brand"><a class="href-scroll" href="#tintuc">TIN TỨC</a></span></div>
                      <div class="sticky-detail"><span class="bar-brand"><a class="href-scroll" href="#thele">THỂ LỆ</a></span></div>
                      <div class="sticky-detail"><span class="bar-brand"><a class="datmua-mobile" @click="transferForm()">ĐẶT NGAY</a></span></div>
                      <!-- <div class="sticky-detail"><span class="bar-brand"><a @click="transferForm()">ĐẶT GẠCH</a></span></div> -->
              </div>
          </div>
      </div>
    
</div>
