<div class="section-danhsach">
        <div class="container">
                <div class="rowFlex">
                    <div class="column small-12 medium-12 large-6 tab-content" id="thele">
                        <div class="" style="margin-top: 25px">
                            <div class="txt1" style="font-weight: 600;">
                                THỂ LỆ CHƯƠNG TRÌNH
                            </div>
                            <div style="background: #fff;padding: 15px; margin-top: 15px;overflow-y:scroll;border: 1px solid #E0E0E0;border-radius: 2px;" class="rowFlex">
                                
                        
                        
                                <div class="thele-content ">
                        
                                    <div class="thele" v-html="campaignInfo.Note">
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column small-12 medium-12 large-6 tab-content"  id="danhsach">
                        {{>danhsachkhachhang}}
                    </div>
                </div>
            </div>
</div>
