<div class=" section-tintuc">
        
            <div class="container">
                <div class="tintuc-text text-center">
                    <h2>Tin tức nổi bật</h2>
        
                </div>
                <div class="tintuc sp-slide wow fadeInUp animated">
                   
                        <div class="new" v-for="news in productDatTruoc.ListNews" v-cloak>
                            <a :href="'/'+news.PromotionLink +'.html'"></a>
        
                            <div class="embed-responsive embed-responsive-16by9">
                                <img :src="news.ImageUrl" class=" embed-responsive-item img-responsive center-block" />
                            </div>
        
                            <h3 class="name">${news.Title}</h3>
        
                        </div>
                    
        
        
                </div>
            </div>
        
        
        
        
        
        </div>