<div class="section-spen note8-spen"> 
    <div class="rowFlex animated wow fadeInLeft align-middle" data-wow-delay="0.5s">
        <div class="column small-12 medium-6 large-6">
            <p class="note8-title">Bút S Pen</p>
            <p class="note8-subtitle">Cải tiến vượt trội</p>
            <p class="note8-content">Bút S Pen là tính năng đặc trưng của dòng Samsung Galaxy Note và siêu phẩm Note 8 sắp tới được cho
                 là sẽ có một số nâng cấp đáng chú ý đối với chiếc bút này. Không chỉ cải thiện về phần mềm mà bút S Pen đi kèm với Note
                  8 còn được cải thiện cả về phần cứng, hứa hẹn sẽ thực sự mang lại những trải nghiệm hoàn toàn khác biệt và thú vị cho 
                  người dùng.</p>
        </div>
        <div class="column small-12 medium-6 large-6">
            <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2017/8/1/100000_butspen-1.png" alt="">
        </div>
    </div>
</div>