<div class="section-boquatang-01">
        <div class="rowFlex">
            <div class="column small-12 medium-12 large-12">

                <p class="plus-boquatang-title">
                        Chọn 1 trong 2. bộ quà siêu đỉnh <span>Trị giá 4.000.000<sup>đ</sup></span>
                </p>
                
            </div>
        </div>

        <div class="rowFlex collapse">
            <div class="column small-12 medium-6 large-6">
                <div class="listquatang-title-block">
                        <p class="listquatang-title">
                                Bộ Quà 1
                            </p>
                        <hr class="visible-xs title-hr">
                </div>
                   
                    <div class="listquatang-block">
                            <div class="quatangsmall--detail">
                                    <div class="quatangsmall--detail--img">
                                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua03.jpg" alt="">
                                    </div>
                            
                                    <div class="quatangsmall--detail--content">
                                        <p>Loa Bonsai Qi-Wireless kiêm sạc không dây</p>
                                        <p>Kiểu dáng hiện đại sang trọng, tích hợp đèn LED ban đêm.<br>
                                            Loa Bluetooth 4.0, âm thanh sống động.<br>
                                            Hỗ trợ sạc không dây thông dụng chuẩn Qi<br>
                                            <!-- Trị giá <strong>4.000.000đ</strong><br>
                                            <strong><a href="https://vienthonga.vn/loa-bonsai-qi-wireless-3-in-1-trai-nghiem-am-thanh-dinh-cao.html">Tìm hiểu thêm</a></strong> -->
                                        </p>
                                    </div>
                                </div>  
                            
                                <div class="quatangsmall--detail">
                                        <div class="quatangsmall--detail--img">
                                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/2/100000_vrweb.jpg" alt="">
                                        </div>
                            
                                        <div class="quatangsmall--detail--content">
                                            <p>Kính thực tế ảo VR Samsung (SM-R325N)</p>
                                            <p>Thiết kế gọn nhẹ, phù hợp với nhiều đối tượng sử dụng.<br>
                                                Dễ dàng sử dụng, trải nghiệm đã hơn trong thế giới ảo.<br>
                                                Tương thích đa dạng với các dòng điện thoại Galaxy.
                                            </p>
                                        </div>
                                    </div>  
                            
                                    <div class="quatangsmall--detail">
                                            <div class="quatangsmall--detail--img">
                                                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua02.jpg" alt="">
                                            </div>
                            
                                            <div class="quatangsmall--detail--content">
                                                <p>Giá đỡ điện thoại đa năng Popsocket</p>
                                                <p>Thiết kế nhỏ gọn, hợp thời trang.<br>
                                                    Tạo nét sành điệu cho smartphone.<br>
                                                    Giúp cầm chắc máy khi selfie một tay.
                                                </p>
                                            </div>
                                        </div>  
                                        
                                        <div class="quatangsmall--detail">
                                                <div class="quatangsmall--detail--img">
                                                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua01.jpg" alt="">
                                                </div>
                            
                                                <div class="quatangsmall--detail--content">
                                                    <p>Các khuyến mãi khác</p>
                                                    <p>1 đổi 1 trong 30 ngày<br>
                                                        Giảm 60% gói bảo vệ toàn diện.<br>
                                                        Miễn phí 100% phí sửa chữa <br>(theo chính sách VTA)
                                                    </p>
                                                </div>
                                            </div>                      </div>
                   
            </div>
            <div class="column small-12 medium-6 large-6">
                    <div class="listquatang-title-block">
                            <p class="listquatang-title">
                                    Bộ Quà 2
                                </p>
                            <hr class="visible-xs title-hr">
                    </div>
                        <div class="listquatang-block listqt2">
                                <div class="quatangsmall--detail">
                                        <div class="quatangsmall--detail--img">
                                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/3/5/100000_k350.jpg" alt="">
                                        </div>
                                
                                        <div class="quatangsmall--detail--content">
                                            <p>Dàn loa Samsung K350</p>
                                            <p>Loa không dây siêu trầm mạnh mẽ.<br>
                                                    Kết hợp hoàn hảo với smart TV bằng công nghệ Bluetooth.<br>
                                                    Trải nghiệm âm thanh vòng sống động.
                                                    
                                            </p>
                                        </div>
                                    </div>  
                                
                                    <div class="quatangsmall--detail">
                                            <div class="quatangsmall--detail--img">
                                                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/3/5/100000_oplung.jpg" alt="">
                                            </div>
                                
                                            <div class="quatangsmall--detail--content">
                                                <p>Ốp lưng Hyperknit chính hãng</p>
                                                <p>Màu sắc thời trang, tạo phong cách sành điệu.<br>
                                                        Bảo vệ thân máy chắc chắn, chống trầy xước và va đập mạnh.<br>
                                                        
                                                </p>
                                            </div>
                                        </div>  
                                
                                        <div class="quatangsmall--detail">
                                                <div class="quatangsmall--detail--img">
                                                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua02.jpg" alt="">
                                                </div>
                                
                                                <div class="quatangsmall--detail--content">
                                                    <p>Giá đỡ điện thoại đa năng Popsocket</p>
                                                    <p>Thiết kế nhỏ gọn, hợp thời trang.<br>
                                                        Tạo nét sành điệu cho smartphone.<br>
                                                        Giúp cầm chắc máy khi selfie một tay.
                                                    </p>
                                                </div>
                                            </div>  
                                            
                                            <div class="quatangsmall--detail">
                                                    <div class="quatangsmall--detail--img">
                                                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/2/6/100000_qua01.jpg" alt="">
                                                    </div>
                                
                                                    <div class="quatangsmall--detail--content">
                                                        <p>Các khuyến mãi khác</p>
                                                        <p>1 đổi 1 trong 30 ngày<br>
                                                            Giảm 60% gói bảo vệ toàn diện.<br>
                                                            Miễn phí 100% phí sửa chữa <br>(theo chính sách VTA)
                                                        </p>
                                                    </div>
                                                </div>                              </div>
                
                                      
            </div>
            
                                                               
        </div>

        <div class="quatangsh-block">
                <div class="rowFlex align-middle">
                        <div class="column small-12 medium-6 large-6">
                               
                                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/3/5/100000_xesh.png" alt="">
                               
                        </div>
                        <div class="column small-12 medium-6 large-6">
                            <div class="qua-sh">
                                    <p>sắm samsung galaxy s9|s9+</p>
                                    <p>rinh sh mode</p>
                                    <p>Cơ hội nhận 4 chiếc - <span>SH Mode sành điệu</span></p>
                                    <p>Khách hàng tham gia chương trình đặt hàng Galaxy S9/S9+ sẽ có cơ hội trúng thưởng 4 SH Mode sành điệu
                                    </p>
                            </div>
                               
                        </div>
                    </div>
        </div>
       
    </div>