<div class="section-miengdan" id="quatang">
    <div class="rowFlex">
        <div class="column">
            <div class="miengdan-title">
                <p class="main-title">Rước quà chất đến 6.5 triệu
                   </p>
            </div>
            
            <div class="list-quatang-top">
                <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_qua01.jpg" alt="">
                <img  class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_quatang02-mobile.png" alt="">

                <div class="list-quatang-right">
                    <div class="quatang02-detail">
                        <p>Tai nghe Samsung U Flex 1.500.000 Đ</p>
                        <div>
                            <span>Khung tai nghe điều chỉnh linh hoạt</span>    
                            <span>Công nghệ Scalable Codec giúp kết nối Bluetooth liên tục</span>  
                            <span>Khung tai nghe điều chỉnh linh hoạt</span>  
                        </div>
                    </div>

                    <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_qua05.png" alt="">
                    <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_quatang-mobile.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="section-bannertemp">
    <div class="rowFlex">
            <div class="column">
                    <div class="list-banner">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_gift-5.png" alt="">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_gift-19.png" alt="">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_gift-7.png" alt="">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_gift-8.png" alt="">
                    </div>
                </div>
    </div>
    
</div>

<div class="section-video">
       {{>component-video}}
</div>


<div class="section-camera-a6" id="dacdiemnoibat">
        <ul class="nav nav-tabs tab-camera">
                <li class="active"><a data-toggle="tab" href="#livefocus">Live focus</a></li>
                <li><a data-toggle="tab" href="#art">Art bokeh</a></li>
                <li><a data-toggle="tab" href="#khaudo">Khẩu độ 1.7</a></li>
               
              </ul>
            
              <div class="tab-content">
                <div id="livefocus" class="tab-pane fade in active">
                    
                            <div class="rowFlex align-middle">
                                    <div class="column small-12 medium-6 large-6">
                                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_icon-camera01.png" alt="">
                                        <p class="main-title">Camera kép<br class="hidden-xs">
                                            xóa phông chuyên nghiệp</p>
                                        <p class="sub-title">
                                                Chụp ảnh xoá phông hoàn hảo như máy chuyên nghiệp với camera sau kép 16MP + 5MP, dễ dàng điều chỉnh độ mờ hậu cảnh trước và sau khi chụp, cho chủ thể bức ảnh nổi bật ấn tượng.

                                                

                                        </p>
                                        <p class="sub-title">
                                                *Chỉ có trên Galaxy A6+
                                        </p>
                                    </div>
                                    <div class="column small-12 medium-6  large-6">
                                        <img class="center-block img-responsive congnghecao-tinhnang w30" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_camera1.png"
                                            alt="">
                        
                                    </div>
                                </div>
                        
                        
                            
                </div>
               
                <div id="art" class="tab-pane fade">
                        <div class="rowFlex align-middle">
                                <div class="column small-12 medium-6 large-6">
                                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_icon-camera02.png" alt="">
                                    <p class="main-title">Hiệu ứng Bokeh<br class="hidden-xs">
                                        Nghệ thuật</p>
                                    <p class="sub-title">
                                            Thoả sức tuỳ chỉnh ánh sáng hậu cảnh với nhiều hiệu ứng Bokeh đa dạng, tạo nét chấm phá độc đáo và ảo diệu cho mỗi khung ảnh.
                                    </p>
                                </div>
                                <div class="column small-12 medium-6  large-6">
                                    <img class="center-block img-responsive congnghecao-tinhnang w30" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_camera2.png"
                                        alt="">
                    
                                </div>
                            </div>
                </div>
                <div id="khaudo" class="tab-pane fade">
                        <div class="rowFlex align-middle">
                                <div class="column small-12 medium-6 large-6">
                                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_icon-camera03.png" alt="">
                                    <p class="main-title">Chụp ảnh tối đỉnh cao</p>
                                    <p class="sub-title">
                                            Bắt trọn mọi khoảnh khắc sống rực rỡ ngay trong điều kiện thiếu sáng nhờ khẩu độ "khủng" F1.7 + F1.9 của bộ đôi camera sau. Khả năng bắt sáng tối ưu cho phép bạn ghi lại những hình ảnh hoàn mỹ và rực rỡ đến từng chi tiết bất chấp cả bóng tối.
                                    </p>
                                </div>
                                <div class="column small-12 medium-6  large-6">
                                    <img class="center-block img-responsive congnghecao-tinhnang w30" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_camera3.png"
                                        alt="">
                    
                                </div>
                            </div>
                      </div>
              
              </div>
</div>

<div class="section-camera-a6">
        <ul class="nav nav-tabs tab-camera tab-view">
                <li class="active"><a data-toggle="tab" href="#maxview">Max view</a></li>
                <li><a data-toggle="tab" href="#lienkhoi">Thiết kế liền khối </a></li>
               
               
              </ul>
            
              <div class="tab-content">
                <div id="maxview" class="tab-pane fade in active">
                    
                            <div class="rowFlex align-middle">
                                    <div class="column small-12 medium-6 large-6 small-order-1 medium-order-2">
                                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_icon-manhinh.png" alt="">
                                        <p class="main-title">Màn hình tràn viền<br class="hidden-xs">
                                            sống động</p>
                                        <p class="sub-title">
                                                Đắm mình vào hình ảnh sinh động như cuộc sống qua màn hình tràn viền rộng 6.0” chuẩn cinema 18.5:9 cùng công nghệ Super AMOLED Full HD+, đưa trải nghiệm giải trí lên tầm cao mới.



                                        </p>
                                        <p class="sub-title">
                                            
*Galaxy A6: màn hình 5.6” HD+, công nghệ super AMOLED
                                        </p>
                                    </div>
                                    <div class="column small-12 medium-6  large-6 small-order-2 medium-order-1">
                                        <img class="center-block img-responsive congnghecao-tinhnang w30" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_manhinh.png"
                                            alt="">
                        
                                    </div>
                                </div>
                        
                        
                            
                </div>
               
                <div id="lienkhoi" class="tab-pane fade">
                        <div class="rowFlex align-middle">
                                <div class="column small-12 medium-6 large-6 small-order-1 medium-order-2">
                                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_icon-thietkelienkhoi.png" alt="">
                                    <p class="main-title">Thiết kế sang trọng</p>
                                    <p class="sub-title">
                                            Chế tác tinh xảo với thân máy kim loại nguyên khối đẳng cấp kết hợp mặt kính trước cong 2.5D cho thiết kế mượt mà tinh tế đến từng góc cạnh, nâng tầm phong cách qua
 


                                    </p>
                                    <p class="sub-title">
                                            3 sắc màu thời trang:
                                    </p>
                                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/3/100000_thietke-mausac.png" alt="">
                                </div>
                                <div class="column small-12 medium-6  large-6 small-order-2 medium-order-1">
                                    <img class="center-block img-responsive congnghecao-tinhnang w30" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_thietkenguyenkhoi-1.png"
                                        alt="">
                    
                                </div>
                            </div>
                </div>
              
              
              </div>
</div>

<div class="section-matlung">
    
        <div class="rowFlex align-middle">
            <div class="column small-12 medium-6 large-6">
                    <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_icon-selfie.png" alt="">
                <p class="main-title">Selfie hoàn hảo</p>
                <p class="sub-title">
                        Tự tin "sống ảo" với camera trước 24MP (F1.9) cho hiệu ứng xoá phông và chụp thiếu sáng đỉnh cao, thoả sức sáng tạo ảnh selfie cùng bộ sticker ngộ nghĩnh và cá tính.



                </p>
                <p class="sub-title">*Galaxy A6: Camera trước 16MP (F1.9)</p>
            </div>
            <div class="column small-12 medium-6  large-6">
                <img class="center-block img-responsive congnghecao-tinhnang w30" src="https://cdn1.vienthonga.vn/image/2018/5/2/100000_selfie.png"
                    alt="">

            </div>
        </div>

  
    
</div>

