<!-- <div id="dacdiemnoibat" class="section-manhinh animated wow fadeInUp">
    <div class="manhinhvocuc--content congnghecao-content">
        <div class="rowFlex">
            <div class="column small-12">
                <p class="vivo-title animated wow fadeInUp">Cảm hứng sáng tạo<br/>
                    <span class="vivo-title2">từ sắc màu lấp lánh</span>
                </p>

                <p class="vivo-content medium-offset-2 medium-8 animated wow fadeInUp">
                    Honor 10 được thiết kế khung nhôm với hai mặt kính bố trí trước và sau tạo độ bóng loáng, chắc chắn. Mặt lưng máy lấy cảm hứng từ kính cực quang đổi màu, làm thành dải màu cuốn hút khi nhìn từ các góc độ khác nhau.
                </p>
                <img class="center-block img-responsive m-t-50 m-b-50 animated wow fadeInDown" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_sp-daimau.png" alt="">
            </div>
        </div>

    </div>


</div> -->
<!-- <div class="section-camera">

    <div class="video" data-video="video/clip-huawei.mp4">
        <video class="video-responsive hidden-xs" autoplay="" muted="" playsinline="">
            <source src="video/clip-huawei.mp4" type="video/mp4">
        </video>
        <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/3/2/100000_2-video.jpg" alt="">
    </div>



</div> -->
<!-- <div id="dacdiemnoibat" class="section-honor-xanh animated wow fadeInUp">
    <div class="rowFlex">
        <div class="column small-12 medium-6 large-6 animated wow fadeInRight">
            <img class="center-block img-responsive congnghecao-tinhnang w30" src="https://cdn1.vienthonga.vn/image/2018/7/2/100000_1.png"
                alt="">
            <p class="vivo-title medium-11">Bao da Clear View
            </p>

            <p class="vivo-content medium-11">
                Bảo vệ toàn diện các mặt điện thoại.<br/>
                Tạo đế đỡ điện thoại, tùy chỉnh góc độ.<br/>
                Thao tác tiện lợi ngay trên nắp bao da.<br/>
            </p>
            <div class="tri-gia text-center medium-11">Trị giá: <span>1.400.000đ</span></div>
        </div>
        <div class="column small-12 medium-6 large-6 animated wow fadeInRight">
            <img class="center-block img-responsive congnghecao-tinhnang w30" src="https://cdn1.vienthonga.vn/image/2018/7/2/100000_2.png"
                alt="">
            <p class="vivo-title medium-11">Cáp DeX HDMI
            </p>

            <p class="vivo-content medium-11">
                Kiểu dáng nhỏ gọn, dễ dàng sử dụng.<br/>
                Truyền tải dữ liệu, hình ảnh nhanh từ điện thoại ra tivi.<br/>
                Đáp ứng mọi nhu cầu giải trí, chơi game.<br/>
            </p>
            <div class="tri-gia text-center medium-11">Trị giá: <span>1.100.000đ</span></div>
        </div>
    </div>
</div> -->
<!-- <div id="dacdiemnoibat" class="section-camera-sau-kep animated wow fadeInDown">
    <div class="rowFlex align-middle">
        <div class="column small-12 animated wow fadeInLeft">
            <p class="vivo-title medium-12">Đỉnh cao mới<br class="visible-xs"/> của Trí Tuệ Nhân Tạo
            </p>

            <p class="vivo-content medium-10 medium-offset-1" style="color: #585757">
                Trí tưởng tượng vô hạn của con người đó là nguồn cảm hứng cho HUAWEI Mate 20 Pro mới. Những đột phá về công nghệ sẽ làm mờ ranh giới giữa những gì bạn có thể mơ ước và những gì bạn có thể làm.
            </p>

            <a class="d-block" href="javascript:void(0);" id="play-video" @click="playvideo()">
                <img class="center-block img-responsive m-t-20 m-b-20" src="https://cdn1.vienthonga.vn/image/2018/10/0/100000_video-1.png" alt="">
             </a>
             <div class="">
                <iframe class="iframe d-none" id="video" width="100%" height="auto" src="https://www.youtube.com/embed/PhKQ9gr5Zq0?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div> -->
<div class="section-camera-truoc animated wow fadeInDown">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 large-6">
            <p class="vivo-title medium-11 animated wow fadeInLeft">Màn hình giọt nước 
            </p>
            <p class="vivo-title-small medium-11 animated wow fadeInLeft">Lấy cảm hứng từ thiên nhiên
            </p>
            <p class="vivo-content medium-10">
                Thiết kế màn hình giọt nước ấn tượng có kích thước 6.2 inches lấy cảm hứng từ hình ảnh giọt nước đang rơi trong tự nhiên. Kính Corning Glass với tỉ lệ hiển thị 88.4% chống trầy xước và mang lại trải nghiệm hình ảnh sống động, chân thực hơn cho người dùng.

            </p>
        </div>
        <div class="column small-12 medium-6 large-6 hidden-xs animated wow fadeInRight">
            <img class="center-block img-responsive congnghecao-tinhnang" src="https://cdn1.vienthonga.vn/image/2018/11/3/100000_1-1.png"
            alt="">
        </div>
    <img style="padding: 0px 20px" class="center-block img-responsive congnghecao-tinhnang visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/11/3/100000_1-1.png"
        alt="">
    </div>
</div>
<div class="section-sac-mau-phong-cach animated wow fadeInUp">
    <!-- <div class=" hidden-xs animated wow fadeInRight" style="width: 50%; position: absolute; height: 100%">
        <img class="center-block img-responsive w-100" src="https://cdn1.vienthonga.vn/image/2018/11/3/100000_1-2.png"
        alt="" style="height: 100%">
    </div> -->
    <div class="rowFlex align-middle padding-sacmau">
        <div class="column small-12 medium-6 large-6 medium-offset-6">
            <p class="vivo-title medium-11 medium-offset-1 animated wow fadeInLeft">Sắc màu phong cách
            </p>
            <p class="vivo-title-small medium-11 medium-offset-1 animated wow fadeInLeft">Đẹp mắt mọi góc cạnh
            </p>
            <p class="vivo-content medium-11 medium-offset-1">
                OPPO A7 sở hữu mặt lưng cong 3D phản chiếu vân lưới ánh sáng, đem lại diện mạo sang trọng, thu hút mọi ánh nhìn. Sản phẩm mang hơi hướng thiết kế nghệ thuật tương phản với hai phiên bản sắc màu ấn tượng: Xanh lam ngọc và Vàng hoàng kim.

            </p>
        </div>
    <img class="center-block img-responsive congnghecao-tinhnang visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/11/3/100000_1-2.png"
        alt="">
    </div>
</div>
<div class="section-camera-truoc section-pin-khung animated wow fadeInDown">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 large-6">
            <p class="vivo-title medium-11 animated wow fadeInLeft">Pin “khủng” 4230mAh  
            </p>
            <p class="vivo-title-small medium-11 animated wow fadeInLeft">RAM 4GB - ROM 64GB
            </p>
            <p class="vivo-content medium-10">
                Dung lượng pin 4230mAh giúp bạn không còn lo lắng về việc tiêu hao pin trong cả ngày. Chức năng quản lý pin thông minh AI sẽ làm ngưng các ứng dụng không hoạt động, giảm bộ nhớ đệm dư thừa để tiết kiệm pin hơn.

            </p>
        </div>
        <div class="column small-12 medium-6 large-6 hidden-xs animated wow fadeInRight">
            <img class="center-block img-responsive congnghecao-tinhnang" src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_untitled-2.png"
            alt="">
        </div>
    <img style="padding: 0px 20px" class="center-block img-responsive congnghecao-tinhnang visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_untitled-2.png"
        alt="">
    </div>
</div>
<div class="section-mh-tran-vien animated wow fadeInUp">
    <div class="rowFlex align-middle">
        <!-- <div class="column small-12 medium-6  large-6 hidden-xs">
            <img class="center-block img-responsive congnghecao-tinhnang w30" src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_3camera.png"
                alt="">
        
        </div> -->
        <div class="column small-12 animated wow fadeInRight">
            <p class="vivo-title medium-12">Cấu hình mạnh mẽ với chip Qualcomm 8 nhân
            </p>
            <p class="vivo-title-small medium-11 animated wow fadeInLeft">RAM 4GB - ROM 64GB
            </p>
            <p class="vivo-content medium-10 medium-offset-1">
                Bộ vi xử lý Qualcomm 8 nhân tốc độ 1.8GHz giúp hệ thống vận hành mượt mà khi bạn đang chơi game hay xem phim, xử lý đa nhiệm nhanh chóng hơn. Bộ nhớ nâng cao 64GB cho phép bạn lưu trữ nhiều hình ảnh, dữ liệu hơn.
            </p>
            <img class="center-block img-responsive congnghecao-tinhnang m-t-20 hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_rear-dual-camera.png"
            alt="">
            <img class="center-block img-responsive congnghecao-tinhnang m-t-20 visible-xs" src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_rear-dual-camera.png"
            alt="">
        </div>
    </div>
</div>
<div class="section-camera-sau-kep-2 animated wow fadeInDown">
    <div class="rowFlex align-bottom">
        <div class="column small-12 medium-6 large-6" style="position: relative; z-index: 1">
            <p class="vivo-title medium-11 animated wow fadeInLeft">Camera sau kép 
            </p>
            <p class="vivo-title-small medium-11 animated wow fadeInLeft">Bắt trọn mọi khoảnh khắc
            </p>
            <p class="vivo-content medium-10">
                Camera sau kép cảm biến 13MP + 2MP với công nghệ làm đẹp trí tuệ nhân tạo AI sẽ tự động điều chỉnh ánh sáng để làm nổi bật chủ thể, mang đến ảnh chụp chân dung chất lượng cùng hiệu ứng bokeh lấp lánh. Công nghệ ổn định hình ảnh đa khung giúp video của bạn mượt mà và sống động hơn.

            </p>
        </div>
        <!-- <div class="hidden-xs animated wow fadeInRight" style="position: absolute; bottom: 0px; max-width: 850px; left: 39%;">
            <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_.png"
            alt="">
        </div> -->
    <img class="center-block img-responsive visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_.png"
        alt="">
    </div>
</div>
<div class="section-color-os animated wow fadeInUp">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 large-6 hidden-xs animated wow fadeInRight">
            <img class="center-block img-responsive" src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_layer-2.png"
            alt="">
        </div>
        <div class="column small-12 medium-6 large-6">
            <p class="vivo-title medium-11 animated wow fadeInLeft">
                <img class="img-responsive" src="https://cdn1.vienthonga.vn/image/2018/11/3/100000_1-4.png"
            alt="">
            </p>
            <p class="vivo-title-small medium-11 animated wow fadeInLeft m-t-20">Vừa chơi vừa chat video thông minh
            </p>
            <p class="vivo-content medium-10">
                Với hệ điều hành ColorOS 5.2, bạn thỏa sức trải nghiệm game, xem phim mà không ngại bỏ lỡ cuộc gọi, tin nhắn quan trọng từ bạn bè và người thân, đồng thời giúp bạn lưu lại những kỷ niệm, khoảnh khắc với những video thú vị.

            </p>
        </div>
    <img style="padding: 0px 50px" class="center-block img-responsive visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_layer-2.png"
        alt="">
    </div>
</div>
<!-- <div class="section-tuyet-tac animated wow fadeInDown">
    <div class="rowFlex align-middle">
        <div class="column small-12 animated wow fadeInLeft">
            <p class="vivo-title medium-12">Tuyệt tác sáng tạo giữa thẩm mỹ và công nghệ
            </p>

            <p class="vivo-content medium-10 medium-offset-1">
                Mate 20/Mate 20 Pro sở hữu thiết kế đột phá với cụm hình vuông kết hợp 3 camera và 1 đèn flash ở mặt sau, những đường vân ánh sáng tạo nên dải màu phản quang độc đáo, tôn thêm điểm nhấn thẩm mỹ. Mặt lưng kính cong 3D không trơn trượt và không bám vân tay, các góc cạnh được bo tròn và kích thước mỏng của máy tạo cảm giác cầm nắm thoải mái mà vẫn chắc tay cho người dùng.
            </p>
            <img class="center-block img-responsive congnghecao-tinhnang m-t-20 hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/10/0/100000_camera.png"
            alt="">
            <img class="center-block img-responsive congnghecao-tinhnang m-t-20 visible-xs" src="https://cdn1.vienthonga.vn/image/2018/10/0/100000_matu.png"
            alt="">
        </div>
    </div>
</div> -->
<!-- <div class="section-camera-sau-kep animated wow fadeInDown" style="padding-bottom: 0px;">
    <div class="rowFlex align-middle">
        <div class="column small-12 animated wow fadeInRight">
            <p class="vivo-title medium-12">Cảm biến vân tay thông minh
            </p>

            <p class="vivo-content medium-10 medium-offset-1">
                Cảm biến vân tay của Mate 20 được đặt phía sau lưng máy ngay dưới cụm 3 camera và đèn flash, trong khi Mate 20 Pro trang bị cảm biến vân tay dưới màn hình mặt trước, cho thao tác mở khóa máy an toàn, nhanh chóng đồng thời tối giản thiết kế mặt lưng.
            </p>
            <img class="center-block img-responsive congnghecao-tinhnang m-t-20 hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/10/0/100000_cambien-1.png"
            alt="">
            <img class="center-block img-responsive congnghecao-tinhnang m-t-20 visible-xs" src="https://cdn1.vienthonga.vn/image/2018/10/0/100000_cambien.png"
            alt="">
        </div>
    </div>
</div> -->
<!-- <div class="section-camera-truoc hidden-xs animated wow fadeInUp" style="padding-bottom: 0px;">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 animated wow fadeInLeft">
            <p class="vivo-title medium-12">Camera trước 24MP, khẩu độ f/2.0
            </p>

            <p class="vivo-content medium-12">
                Cả hai máy đều có camera trước cảm biến "khủng" 24MP, khẩu độ f/2.0. Đặc biệt Mate 20 Pro còn tích hợp cảm biến độ sâu 3D có thể nhận diện 30.000 điểm, giúp nhận dạng khuôn mặt và mở khóa máy trong nháy mắt. Với tính năng Emoji 3D, bạn tự tin sáng tạo nên những bức ảnh mô phỏng nhân vật hoạt hình vui nhộn
            </p>
        </div>
        <div class="column small-12 medium-6 animated wow fadeInLeft">
            <img class="center-block img-responsive congnghecao-tinhnang m-t-20 hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/10/0/100000_camera-truoc.png"
            alt="">
        </div>
    </div>
</div> -->
<!-- <div class="section-camera-sau-kep animated wow fadeInUp">
    <div class="manhinhvocuc--content congnghecao-content">
        <div class="rowFlex">
            <div class="column small-12 animated wow fadeInUp">
                <p class="vivo-title">Hình ảnh thực tế A7
                </p>
                <div class="small-12 medium-10 medium-offset-1 large-6 large-offset-3 m-t-10">
                    <div class="circle-gradient">
                        <div class="">
                            <span class="circle-gradient-1"></span>
                            Xanh Đại Dương
                        </div>
                        <div class="">
                            <span class="circle-gradient-2"></span>
                            Vàng Ánh/Kim
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="hinhanh-slide-button">
    <div class="tintuc-border sp-slide5 wow fadeInUp animated" style="margin-bottom: 0px;">

        <div class="new" v-cloak>
            <img class="center-block img-responsive congnghecao-tinhnang w-100 hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/10/1/100000_pc-1.png"
                alt="">
            <img class="center-block img-responsive congnghecao-tinhnang w-100 visible-xs" src="https://cdn1.vienthonga.vn/image/2018/10/1/100000_1-2.png"
                alt="">
        </div>
        <div class="new" v-cloak>
            <img class="center-block img-responsive congnghecao-tinhnang w-100 hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/10/1/100000_pc-4.jpg"
                alt="">
            <img class="center-block img-responsive congnghecao-tinhnang w-100 visible-xs" src="https://cdn1.vienthonga.vn/image/2018/10/1/100000_aa.png"
                alt="">
        </div>
        <div class="new" v-cloak>
            <img class="center-block img-responsive congnghecao-tinhnang w-100 hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/10/1/100000_img-copy-3.jpg"
            alt="">
            <img class="center-block img-responsive congnghecao-tinhnang w-100 visible-xs" src="https://cdn1.vienthonga.vn/image/2018/10/1/100000_33.png"
            alt="">
        </div>
    </div>
</div> -->
<!-- <div class="section-camera-truoc animated wow fadeInUp" style="padding: 0px;">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 animated wow fadeInLeft">
            <p class="vivo-title medium-8 medium-offset-2">Bộ vi xử lý AI 7nm
đầu tiên trên thế giới
            </p>

            <p class="vivo-content medium-10 medium-offset-1">
                Bộ vi xử lý AI 7nm dẫn đầu trong ngành công nghệ của Kirin 980 mang đến sự nâng cấp hiệu suất trực tiếp cho cải thiện tốc độ và tăng hiệu suất sử dụng năng lượng.
            </p>
            <img class="center-block img-responsive congnghecao-tinhnang m-t-30 hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/10/0/100000_group-13.png"
            alt="">
            <img class="center-block img-responsive congnghecao-tinhnang m-t-20 visible-xs" src="https://cdn1.vienthonga.vn/image/2018/10/0/100000_group-13-1.png"
            alt="">
        </div>
        <div class="column small-12 medium-6 animated wow fadeInLeft">
            <img class="center-block img-responsive congnghecao-tinhnang hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/10/1/100000_im.png"
            alt="">
        </div>
    </div>
    <img class="center-block img-responsive congnghecao-tinhnang m-t-30 visible-xs" src="https://cdn1.vienthonga.vn/image/2018/10/1/100000_im.png"
    alt="">
</div> -->
<!-- <div class="section-camera-sau-kep animated wow fadeInDown" style="background: #f6f4f4">
    <div class="rowFlex align-middle">
        <div class="column small-12 animated wow fadeInRight">
            <p class="vivo-title medium-12">Dung lượng pin "khủng"
            </p>

            <p class="vivo-content medium-8 medium-offset-2">
                Mate 20 Pro và Mate 20 tích hợp trình quản lý điện năng bằng AI thông minh hơn giúp kéo dài thời gian sử dụng, đáp ứng nhu cầu giải trí và công việc hằng ngày của người dùng.
            </p>
            <img class="center-block img-responsive congnghecao-tinhnang m-t-20 m-b-20 hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/10/0/100000_cauhinh.png"
            alt="">
            <img class="center-block img-responsive congnghecao-tinhnang m-t-20 m-b-20 visible-xs" src="https://cdn1.vienthonga.vn/image/2018/10/0/100000_pin.png"
            alt="">
        </div>
    </div>
</div> -->
<!-- <div class="section-trinh-chieu animated wow fadeInUp">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 medium-offset-6 animated wow fadeInLeft">
            <p class="vivo-title medium-12">Trình chiếu không dây
            </p>

            <p class="vivo-content medium-12">
                Bạn có thể trình chiếu các bài thuyết trình, trò chơi hoặc video ngay lập tức lên màn hình lớn hơn mà không cần cáp nối. 
            </p>
        </div>
    </div>
</div> -->
<!-- <div class="section-camera-sau-kep animated wow fadeInUp">
    <div class="manhinhvocuc--content congnghecao-content">
        <div class="rowFlex">
            <div class="column small-12 animated wow fadeInUp">
                <p class="vivo-title">Thiết kế cải tiến vượt trội
                </p>

                <p class="vivo-content medium-offset-1 medium-12 animated wow fadeInUp">
                    Samsung Galaxy A7 được chế tác nguyên khối tinh tế với mặt kính sang trọng, thân máy siêu mỏng chỉ 7.5mm, mang đến vẻ đẹp thời thượng cho chủ sở hữu. Cảm biến vân tay lần đầu tiên được đặt ở mặt bên, thuận tiện hơn cho việc mở khóa và tối giản hóa mặt lưng nhằm giữ diện mạo đẹp hoàn hảo của máy.
                </p>
                <div class="small-12 large-10 large-offset-1 m-t-10">
                    <div class="circle-gradient">
                        <div class="">
                            <span class="circle-gradient-1"></span>
                            Xanh Đại Dương
                        </div>
                        <div class="">
                            <span class="circle-gradient-2"></span>
                            Vàng Ánh/Kim
                        </div>
                        <div class="">
                            <span class="circle-gradient-3"></span>
                            Đen Thạch Anh
                        </div>
                    </div>
                </div>
                <img class="center-block img-responsive m-t-20 animated wow fadeInDown" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_thietkenguyenkhoi.png" alt="">
            </div>
        </div>

    </div>
</div> -->
<!-- <div class="section-camera-sau-kep animated wow fadeInUp">
    <div class="rowFlex align-middle">
        <div class="column small-12 animated wow fadeInRight">
            <p class="vivo-title medium-12">Bộ 3 camera chụp góc siêu rộng
            </p>

            <p class="vivo-content medium-12">
                Bộ 3 camera sau 24MP + 5MP + 8MP đầu tiên với khả năng lấy góc siêu rộng 120 độ tương tự góc nhìn của mắt người, cho khả năng thu trọn cả thế giới vào trong ống kính, giúp bắt trọn mọi khoảnh khắc chân thực.
            </p>
        </div>
        <div class="hinhanh-slide-button column small-12 large-12">
            <div class="tintuc tintuc-border sp-slide5 wow fadeInUp animated">
                <div class="new" v-cloak>
                    <div class="embed-responsive embed-responsive-full">
                        <img src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_3camera.png" class="img-abc embed-responsive-item img-responsive center-block" />
                    </div>
                </div>
                <div class="new" v-cloak>
                    <div class="embed-responsive embed-responsive-full">
                        <img src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_3camera-2.png" class="img-abc embed-responsive-item img-responsive center-block" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="section-camera-sau-kep animated wow fadeInUp visible-xs">
    <div class="rowFlex align-middle">
        <div class="column small-12 animated wow fadeInRight">
            <p class="vivo-title medium-12">Hình ảnh thực tế A7
            </p>
        </div>
        <div class="column small-12 medium-10 medium-offset-1 large-8 large-offset-2 m-t-10">
            <div class="tab-slide m-b-20">
                <div id="tab-slide-0" class="active tab-content-oppo-a7-1" @click="changeSlide(0)">
                    Xanh lam ngọc
                </div>
                <div id="tab-slide-1" class=" tab-content-oppo-a7-2" @click="changeSlide(3)">
                    Vàng hoàng kim
                </div>
                <!-- <div id="tab-slide-2" class="" @click="changeSlide(2)">
                    Low light
                </div> -->
            </div>
        </div>
        <div class="hinhanh-slide-button column small-12 large-12">
            <div id="slide-active-tab" class="tintuc-border sp-slide4 wow fadeInUp animated">
                <!-- <div class="new" v-cloak>
                    <div class="embed-responsive embed-responsive-full" style="padding-bottom: 57%;">
                        <img src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_xoaphong3.png" class="img-abc embed-responsive-item img-responsive center-block" />
                    </div>
                </div> -->
                <div class="new" v-cloak>
                    <div class="embed-responsive embed-responsive-full" style="padding-bottom: 100%;">
                        <img src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_-1.png" class="img-abc embed-responsive-item img-responsive center-block w-100" />
                    </div>
                </div>
                <div class="new" v-cloak>
                    <div class="embed-responsive embed-responsive-full" style="padding-bottom: 100%;">
                        <img src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_2-1.png" class="img-abc embed-responsive-item img-responsive center-block w-100" />
                    </div>
                </div>
                <div class="new" v-cloak>
                    <div class="embed-responsive embed-responsive-full" style="padding-bottom: 100%;">
                        <img src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_3-1.png" class="img-abc embed-responsive-item img-responsive center-block w-100" />
                    </div>
                </div>
                <div class="new" v-cloak>
                    <div class="embed-responsive embed-responsive-full" style="padding-bottom: 100%;">
                        <img src="https://cdn1.vienthonga.vn/image/2018/11/3/100000_1-7.jpg" class="img-abc embed-responsive-item img-responsive center-block w-100" />
                    </div>
                </div>
                <div class="new" v-cloak>
                    <div class="embed-responsive embed-responsive-full" style="padding-bottom: 100%;">
                        <img src="https://cdn1.vienthonga.vn/image/2018/11/3/100000_1111.jpg" class="img-abc embed-responsive-item img-responsive center-block w-100" />
                    </div>
                </div>
                <div class="new" v-cloak>
                    <div class="embed-responsive embed-responsive-full" style="padding-bottom: 100%;">
                        <img src="https://cdn1.vienthonga.vn/image/2018/11/3/100000_dd.jpg" class="img-abc embed-responsive-item img-responsive center-block w-100" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-camera-sau-kep animated wow fadeInUp hidden-xs">
    <div class="rowFlex align-middle">
        <div class="column small-12 animated wow fadeInRight">
            <p class="vivo-title medium-12">Hình ảnh thực tế A7
            </p>
        </div>
        <div class="column small-12 medium-10 medium-offset-1 large-8 large-offset-2 m-t-10">
            <div class="tab-slide m-b-20">
                <div id="tab-slide-0" class="active tab-content-oppo-a7-1" @click="changeSlide(0)">
                    Xanh lam ngọc
                </div>
                <div id="tab-slide-1" class=" tab-content-oppo-a7-2" @click="changeSlide(1)">
                    Vàng hoàng kim
                </div>
                <!-- <div id="tab-slide-2" class="" @click="changeSlide(2)">
                    Low light
                </div> -->
            </div>
        </div>
    </div>
    <div class="hinhanh-slide-button">
        <div id="slide-active-tab" class="tintuc-border sp-slide4 wow fadeInUp animated">
            <div class="new" v-cloak>
                <div class="align-middle" style="margin: 0px; display: flex">
                    <div class="small-4 large-4">
                        <div class="embed-responsive embed-responsive-full" style="padding-bottom: 100%;">
                            <img src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_-1.png" class="img-abc embed-responsive-item img-responsive center-block w-33" />
                        </div>
                    </div>
                    <div class="small-4 large-4">
                        <div class="embed-responsive embed-responsive-full" style="padding-bottom: 100%;">
                            <img src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_2-1.png" class="img-abc embed-responsive-item img-responsive center-block w-33" />
                        </div>
                    </div>
                    <div class="small-4 large-4">
                        <div class="embed-responsive embed-responsive-full" style="padding-bottom: 100%;">
                            <img src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_3-1.png" class="img-abc embed-responsive-item img-responsive center-block w-33" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="new" v-cloak>
                <div class="align-middle" style="margin: 0px; display: flex">
                    <div class="small-4 large-4">
                        <div class="embed-responsive embed-responsive-full" style="padding-bottom: 100%;">
                            <img src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_-1.png" class="img-abc embed-responsive-item img-responsive center-block w-33" />
                        </div>
                    </div>
                    <div class="small-4 large-4">
                        <div class="embed-responsive embed-responsive-full" style="padding-bottom: 100%;">
                            <img src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_2-1.png" class="img-abc embed-responsive-item img-responsive center-block w-33" />
                        </div>
                    </div>
                    <div class="small-4 large-4">
                        <div class="embed-responsive embed-responsive-full" style="padding-bottom: 100%;">
                            <img src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_3-1.png" class="img-abc embed-responsive-item img-responsive center-block w-33" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="new" v-cloak>
                <div class="embed-responsive embed-responsive-full" style="padding-bottom: 57%;">
                    <img src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_xoaphong3.png" class="img-abc embed-responsive-item img-responsive center-block" />
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- <div class="section-camera-sau-kep animated wow fadeInDown">
    <div class="rowFlex align-middle">
        <div class="column small-12 animated wow fadeInRight">
            <p class="vivo-title medium-12">Màn hình tràn viền sống động
            </p>

            <p class="vivo-content medium-12">
                Đắm mình vào không gian giải trí không giới hạn qua màn hình tràn viền công nghệ Super AMOLED 6.0 inches, chuẩn tỉ lệ điện ảnh 18.5:9 và độ phân giải FHD+ (1080 x 2220 pixels), giúp hiển thị nội dung và hình ảnh sắc nét với màu sắc trung thực, tự nhiên.
            </p>
            <img class="center-block img-responsive congnghecao-tinhnang" src="https://cdn1.vienthonga.vn/image/2018/10/4/100000_manhinh.png"
            alt="">
        </div>
    </div>
</div> -->
<!-- <div class="section-camera-truoc animated wow fadeInUp">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 large-6">
            <p class="vivo-title medium-11 animated wow fadeInLeft">Studio Nhiếp Ảnh Bỏ Túi
            </p>

            <p class="vivo-content medium-11">
                Camera trước 16 MP f/2.0 có thể tạo ảnh selfie đẹp ngay cả trong điều kiện ánh sáng yếu hoặc ngược sáng. Với sự trợ giúp của công nghệ AI, hiệu ứng ánh sáng 3D cho chân dung được tăng cường với ánh sáng dịu, ánh sáng sân khấu, ánh sáng cánh bướm và hơn thế nữa với thuật toán làm đẹp để tạo ra ảnh chụp chân dung chất lượng như chụp tại Studio.

            </p>
        </div>
        <div class="column small-12 medium-6 large-6 hidden-xs animated wow fadeInRight">
            <img class="center-block img-responsive congnghecao-tinhnang" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_phone3.png"
            alt="">
        </div>
    <img style="padding: 0px 50px" class="center-block img-responsive congnghecao-tinhnang visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_phone3.png"
        alt="">
    </div>
</div> -->
<!-- <div class="section-camera-bat-tron animated wow fadeInUp">
    <div class="manhinhvocuc--content congnghecao-content">
        <div class="rowFlex">
            <div class="column small-12 animated wow fadeInUp">
                <p class="vivo-title">Trải nghiệm mượt mà, xử lý tác vụ nhanh chóng
                </p>

                <p class="vivo-content medium-offset-1 medium-10 animated wow fadeInUp">
                    Galaxy A7 trang bị bộ vi xử lý Exynos 7885 8 nhân cùng bộ RAM 4GB, ROM 64GB và thẻ nhớ ngoài microSD tối đa 512GB, hỗ trợ xử lý đa tác vụ dễ dàng và nhanh chóng. Galaxy A7 có dung lượng pin 3300mAh, chạy trên nền tảng hệ điều hành Android 8.0 và có tính năng App Pair thông minh cho phép thao tác 2 ứng dụng hoạt động song song cùng lúc. 
                </p>
                <div class="rowFlex align-middle">
                    <div class="div-left column small-6 medium-6 large-6">
                        <img class="wow fadeInDown" src="https://cdn1.vienthonga.vn/image/2018/10/4/100000_2.png" alt="">
                        <div style="padding-left: 10px;">
                            Exynos 7885<br class="hidden-xs" /> 8 nhân,
                            2.2GHZ
                        </div>
                    </div>
                    <div class="div-right column small-6 medium-6 large-6">
                        <img class="wow fadeInUp" src="https://cdn1.vienthonga.vn/image/2018/10/4/100000_6.png" alt="">
                        <div style="padding-left: 10px;">
                            RAM 4GB, ROM 64GB,<br class="" /> khe cắm MicroSD 512GB
                        </div>
                    </div>
                </div>
                <img class="center-block img-responsive m-t-20 animated wow fadeInDown" src="https://cdn1.vienthonga.vn/image/2018/10/4/100000_phone.png" alt="">
            </div>
        </div>

    </div>
</div> -->
<!-- <div class="section-gpu-turpo animated wow fadeInUp">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-6 large-6">
            <p class="vivo-title medium-11 animated wow fadeInLeft">GPU TURBO <br/>
Hiệu Năng Siêu Việt<br/>
            </p>

            <p class="vivo-content medium-11">
                Huawei Y9 2019 sử dụng chip Kirin 710, 8 nhân giúp cải thiện hiệu năng đến 75%, xử lý đa nhiệm chương trình và chơi game cực đỉnh cùng GPU Turbo, cho bạn đắm chìm trong không gian giải trí đầy cảm xúc.

            </p>
        </div>
        <div class="column small-12 medium-6 large-6 hidden-xs animated wow fadeInRight">
            <img class="center-block img-responsive congnghecao-tinhnang" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_phone4.png"
            alt="">
        </div>
    <img style="padding: 0px 50px" class="center-block img-responsive congnghecao-tinhnang visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_phone4.png"
        alt="">
    </div>
</div>