<div id="quatang" class="section-quatang-1 animated wow fadeInUp">
    <div class="manhinhvocuc--content congnghecao-content">
        <div class="rowFlex align-middle">
            <div class="column small-12">
                <p class="nhan-bo-qua animated wow fadeInUp">Nhận ngay ưu đãi
                </p>
                <div style="display: flex; justify-content: center;">
                    <div class="nhan-bo-qua-2 animated wow fadeInDown">
                        Quà tặng khi đặt trước Oppo A7 <span class="hidden-xs">-</span> Số lượng có hạn
                    </div>
                </div>
                <!-- <p class="vivo-content medium-offset-1 medium-10 animated wow fadeInUp">
                    Thiết kế ấn tượng, mang tính di động cao, thích hợp cho smartphone, PC, laptop, máy tính bảng.
                    <br/>
                    Hỗ trợ kết nối Bluetooth nhanh và ổn định, lan tỏa âm thanh mạnh mẽ.
                    <br/>
                    Tích hợp micro chống ồn thuận tiện cho việc đàm thoại.
                </p>
                <div class="text-center"><a href="https://vienthonga.vn/tren-tay-loa-loa-bluetooth-harman-kardon-onyx-studio-3-60w-qua-tang-khi-mua-honor-10-xanh-la.html" class="red">Xem chi tiết</a></div> -->
                <!-- <div class="rowFlex" style="align-items: center;">
                    <div class="column small-12 medium-6">
                        <img class="center-block img-responsive animated wow fadeInDown" src="https://cdn1.vienthonga.vn/image/2018/6/3/100000_loa.png" alt="">
                    </div>
                    <div class="column small-12 medium-7 large-7 animated wow fadeInRight">
                        <p class="vivo-title medium-11">Nhận ngay tai nghe<br class="hidden-xs" />
                JBL C150SI
                        </p>
                
                        <p class="vivo-content medium-8 medium-offset-3">
                            Thiết kế hiện đại, trẻ trung, phù hợp với giới trẻ năng động. Chiều dài dây 1.2m giúp dễ dàng bỏ túi cất giữ. Chất lượng âm thanh ổn định, tích hợp thêm mirco tiện dụng.
                        <br />
                        <a class="text-right xct-qua" href="https://vienthonga.vn/mua-som-honor-10-nhan-ngay-dan-loa-samsung-soundbar-hw-k350-choi-nhac-max-phe-max-da.html">xem chi tiết</a>
                        </p>
                        <img src="https://cdn1.vienthonga.vn/image/2018/10/2/100000_tainghe-02.png" alt="" class="img-responsive center-block paddingB10 img-left hidden-xs">
                        <div class="tri-gia text-right medium-11">Trị giá: <span>2.490.000đ</span></div>
                    </div>
                    <div class="column small-12 medium-5 large-5" style="position: relative;">
                        <img src="https://cdn1.vienthonga.vn/image/2018/10/2/100000_tainghe.png" alt="" class="img-responsive center-block hidden-xs">
                        <img src="https://cdn1.vienthonga.vn/image/2018/10/2/100000_tainghe.png" alt="" class="img-responsive center-block visible-xs">
                        <img src="https://cdn1.vienthonga.vn/image/2018/10/2/100000_tainghe-02.png" alt="" class="img-responsive center-block paddingB10 visible-xs">
                        <div class="circle-ripple2 hidden-xs" style="top: 43%; left: 48%; z-index: 1">
                        <div class="circle-ripple hidden-xs" style="bottom: 11%; left: 19%;">
                        </div>
                        </div>
                        <div class="circle-ripple hidden-xs" style="bottom: 24%; right: 18%;">
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- <img style="padding: 0px .76923rem" class="center-block img-responsive congnghecao-tinhnang visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/10/6/100000_dongho.png"
                alt="">
            <div class="column small-12 medium-6 large-6">
                <p class="vivo-title medium-12 animated wow fadeInLeft">Đồng hồ Huawei Watch 2
                </p>
                <p class="vivo-title-2 medium-12 animated wow fadeInLeft">Trị giá 6.490.000
                </p>
                <p class="vivo-content medium-12">
                    Thiết kế viền bezel gốm đẹp mắt, chống mài mòn cao, trọng lượng nhẹ. Kết nối với smartphone dễ dàng, tích hợp định vị GPS. Đo nhịp tim hoàn hảo, chống nước và bụi chuẩn IP68.

                </p>
                <div class="text-center" style="padding-bottom: 10px"><a href="https://vienthonga.vn/tren-tay-loa-loa-bluetooth-harman-kardon-onyx-studio-3-60w-qua-tang-khi-mua-honor-10-xanh-la.html" style="color: #6C6C6C; font-style: italic; text-decoration: underline;">Xem chi tiết</a></div>
            </div>
            <div class="column small-12 medium-6 large-6 hidden-xs animated wow fadeInRight">
                <img class="center-block img-responsive congnghecao-tinhnang" src="https://cdn1.vienthonga.vn/image/2018/10/6/100000_dongho.png"
                alt="">
            </div> -->
        </div>

    </div>


</div>
<div class="section-quatang-1 animated wow fadeInUp">
    <div class="manhinhvocuc--content congnghecao-content">
        <div class="rowFlex align-middle">
            <!-- <img style="padding: 0px .76923rem" class="center-block img-responsive congnghecao-tinhnang visible-xs w-100" src="https://cdn1.vienthonga.vn/image/2018/10/6/100000_oplung.png"
                alt=""> -->
            <div class="column small-12 medium-4 large-4 animated wow fadeInRight" style="position: relative;">
                <img class="center-block img-responsive m-t-20" src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_3.png"
                alt="">
                <div class="plus-icon">+</div>
                <div class="text-center visible-xs" style="margin-top: 20px; padding-bottom: 50px"><a href="https://vienthonga.vn/tren-tay-loa-loa-bluetooth-harman-kardon-onyx-studio-3-60w-qua-tang-khi-mua-honor-10-xanh-la.html" class="xem-chi-tiet-qua-tang">Xem chi tiết</a></div>
            </div>
            <div class="column small-12 medium-4 large-4 animated wow fadeInRight" style="position: relative;">
                <img class="center-block img-responsive m-t-20" src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_2.png"
                alt="">
                <div class="plus-icon">+</div>
                <div class="text-center visible-xs" style="margin-top: 20px; padding-bottom: 50px"><a href="https://vienthonga.vn/tren-tay-loa-loa-bluetooth-harman-kardon-onyx-studio-3-60w-qua-tang-khi-mua-honor-10-xanh-la.html" class="xem-chi-tiet-qua-tang">Xem chi tiết</a></div>
            </div>
            <div class="column small-12 medium-4 large-4 animated wow fadeInRight" style="position: relative;">
                <img class="center-block img-responsive m-t-20" src="https://cdn1.vienthonga.vn/image/2018/11/2/100000_1.png"
                alt="">
                <div class="text-center visible-xs" style="margin-top: 20px; padding-bottom: 25px"><a href="https://vienthonga.vn/tren-tay-loa-loa-bluetooth-harman-kardon-onyx-studio-3-60w-qua-tang-khi-mua-honor-10-xanh-la.html" class="xem-chi-tiet-qua-tang">Xem chi tiết</a></div>
            </div>
            <div class="column small-12 medium-4 large-4 animated wow fadeInRight hidden-xs" style="position: relative;">
                <div class="text-center" style="margin-top: 20px; padding-bottom: 10px"><a href="https://vienthonga.vn/tren-tay-loa-loa-bluetooth-harman-kardon-onyx-studio-3-60w-qua-tang-khi-mua-honor-10-xanh-la.html" class="xem-chi-tiet-qua-tang">Xem chi tiết</a></div>
            </div>
            <div class="column small-12 medium-4 large-4 animated wow fadeInRight hidden-xs" style="position: relative;">
                <div class="text-center" style="margin-top: 20px; padding-bottom: 10px"><a href="https://vienthonga.vn/tren-tay-loa-loa-bluetooth-harman-kardon-onyx-studio-3-60w-qua-tang-khi-mua-honor-10-xanh-la.html" class="xem-chi-tiet-qua-tang">Xem chi tiết</a></div>
            </div>
            <div class="column small-12 medium-4 large-4 animated wow fadeInRight hidden-xs" style="position: relative;">
                <div class="text-center" style="margin-top: 20px; padding-bottom: 10px"><a href="https://vienthonga.vn/tren-tay-loa-loa-bluetooth-harman-kardon-onyx-studio-3-60w-qua-tang-khi-mua-honor-10-xanh-la.html" class="xem-chi-tiet-qua-tang">Xem chi tiết</a></div>
            </div>
        </div>

    </div>


</div>
<!-- <div class="section-quatang-2 animated wow fadeInUp">
    <div class="manhinhvocuc--content congnghecao-content">
        <div class="rowFlex align-middle">
            <div class="column small-12 medium-6 large-6">
                <p class="vivo-title medium-12 animated wow fadeInLeft">Đế sạc không dây
                </p>
                <p class="vivo-title-2 medium-12 animated wow fadeInLeft">Trị giá 2.490.000
                </p>
                <p class="vivo-content medium-12">
                    Thiết kế hình tròn đơn giản, gam màu trắng tinh tế. Thoải mái đặt điện thoại lên đế mà không sợ trơn tuột ra ngoài. Trang bị các tính năng bảo vệ như chống quá áp, quá dòng, quá mạch.

                </p>
                <div class="text-center" style="padding-bottom: 10px"><a href="https://vienthonga.vn/tren-tay-loa-loa-bluetooth-harman-kardon-onyx-studio-3-60w-qua-tang-khi-mua-honor-10-xanh-la.html" style="color: #6C6C6C; font-style: italic; text-decoration: underline;">Xem chi tiết</a></div>
            </div>
            <div class="column small-12 medium-6 large-6 animated wow fadeInRight">
                <img class="center-block img-responsive congnghecao-tinhnang" src="https://cdn1.vienthonga.vn/image/2018/10/6/100000_sac.png"
                alt="">
                <div class="text-center" style="padding-bottom: 10px; color: #6C6C6C; font-style: italic; text-decoration: underline; padding: 0px .76923rem">Chỉ áp dụng với sản phẩm Mate 20 Pro</div>
            </div>
        </div>

    </div>


</div> -->
<!-- <div style="position: relative;">
    <img src="https://cdn1.vienthonga.vn/image/2018/10/5/100000_vinid-pc.png" alt="" class="img-responsive center-block hidden-xs">
    <img src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_vinid-mobile.png" alt="" class="img-responsive center-block visible-xs" style="width: 100%">
    <img src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_preorder-gift.png" alt="" class="img-responsive center-block hidden-xs">
    <img src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_preorder-gift-mobile.png" alt="" class="img-responsive center-block visible-xs" style="padding-bottom: 10px">
    <div class="text-center hidden-xs" style="padding-bottom: 10px"><a href="https://vienthonga.vn/tren-tay-loa-loa-bluetooth-harman-kardon-onyx-studio-3-60w-qua-tang-khi-mua-honor-10-xanh-la.html" style="color: #2196F3">Xem chi tiết</a></div>
    <img src="https://cdn1.vienthonga.vn/image/2018/10/3/100000_group-8.png" alt="" class="img-responsive center-block hidden-xs" style="min-width: 100%; position: absolute; bottom: 0px; z-index: -1;"><img src="https://cdn1.vienthonga.vn/image/2018/10/5/100000_bg.png" alt="" class="img-responsive center-block visible-xs" style="min-width: 100%; position: absolute; bottom: 0px; z-index: -1;">
</div> -->
<!-- <div class="section-tangdienthoai animated wow fadeInUp">
    <div class="">
        <div class="rowFlex">
            <div class="column small-12">
                <img class="center-block img-responsive animated wow fadeInDown hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/5/4/100000_web-linelp-mo-ban-honor-10-1.png" alt="">
                <img class="center-block img-responsive animated wow fadeInDown visible-xs" src="https://cdn1.vienthonga.vn/image/2018/5/4/100000_web-linelp-mo-ban-honor-10-mobile.png" alt="">
                <div class="rowFlex align-middle">
                    <div class="column small-12 medium-7 medium-offset-4 large-6 large-offset-5 mo-ta-tang-dien-thoai">
                        <a class="tim-hieu-them" href="#thele">
                            Tìm hiểu thêm
                        </a>
                        <div class="visible-xs" style="height: 10px"></div>
                        <a class="chi-tiet-tang-dien-thoai" href="https://vienthonga.vn/mua-honor-10-den-som-nhan-may-tang-them-dien-thoai-da-nang-goflya8-1-trieu-cuc-doc-dao.html">
                            Chi tiết sản phẩm
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<div class="section-boquatang-01">
        <div class="rowFlex">
            <div class="column">
            
                <p class="plus-boquatang-title">
                    nhận ngay quà chất
                </p>

             
            </div>
        </div>
        <div class="rowFlex">
            <div class="paddingB20 column small-12 medium-12 large-12">
                <div class="rowFlex align-middle">
                    <div class="column small-12 medium-6 large-6" style="position: relative;">
                        <img src="https://cdn1.vienthonga.vn/image/2018/5/1/100000_loa-1.png" alt="" class="img-responsive center-block paddingB10 hidden-xs">
                        <img src="https://cdn1.vienthonga.vn/image/2018/5/1/100000_loa-1.png" alt="" class="img-responsive center-block paddingB10 visible-xs">
                        <div class="circle-ripple hidden-xs" style="bottom: 11%; left: 19%;">
                        </div>
                        <div class="circle-ripple2 hidden-xs" style="bottom: 17%; left: 50%;">
                        </div>
                        <div class="circle-ripple hidden-xs" style="bottom: 24%; right: 18%;">
                        </div>
                    </div>
                    <div class="column small-12 medium-6 large-6">
                            
                        <p class="qua-2-content qua-2-sub">Loa Soundbar K350
                            <br/>
                            <span class="price-quatang">trị giá 3.990.000đ</span>
                        </p>
                        <p class="qua-2-content small-12 medium-12 large-9">
                                    Thiết kế sang trọng, tinh tế, dễ di chuyển.<br>
Hệ thống loa 2.1 siêu trầm mạnh mẽ, trải nghiệm âm thanh sống động.<br>
Kết hợp hoàn hảo với tivi màn hình phẳng 55 inches.

                                    
                                
                    
                        </p>
                        <div class="xem-chi-tiet paddingB10">
                            <div class="bold">Trị giá: 3.990.000đ</div>
                            <a href="https://vienthonga.vn/mua-som-honor-10-nhan-ngay-dan-loa-samsung-soundbar-hw-k350-choi-nhac-max-phe-max-da.html">xem chi tiết</a>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="column small-12 medium-12 large-12">
                <div class="rowFlex box-uudai-quatang">
                    <div class="small-12 medium-4">
                        <img src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_trago.png" alt="" class="img-responsive center-block paddingB10">
                    </div>
                    <div class="small-12 medium-4">
                        <img src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_1trieu.png" alt="" class="img-responsive center-block paddingB10">
                    </div>
                    <div class="small-12 medium-4">
                        <img src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_tivi.png" alt="" class="img-responsive center-block paddingB10">
                    </div>
                </div>
            </div>
            <div class="paddingB30 column small-12 medium-6 large-6">
                <div class="rowFlex">
                    <div class="column small-12 medium-5 large-5">
                        <img src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_qua-tang-03.png" alt="" class="img-responsive center-block paddingB10">
                    </div>
                    <div class="column small-12 medium-7 large-7">
                            
                        <p class="qua-2-content qua-2-sub">Tai nghe Bluetooth Powerbeat Promate</p>
                        <p class="qua-2-content">
                            Thiết kế nhỏ gọn, tiện lợi di chuyển kết nối Bluetooth 4.1, công nghệ khử tiếng ồn và lọc nhiễu, pin hoạt động đến 3 giờ, kết hợp hộp sạc linh hoạt
                            <br>
            
                    
                        </p>
                        <div class="xem-chi-tiet paddingB10 hidden-xs">
                            <div class="bold">Trị giá: 2.990.000đ</div>
                            <a href="https://vienthonga.vn/tai-nghe-bluetooth-powerbeat-promate.html">xem chi tiết</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="paddingB30 column small-12 medium-6 large-6">
                <div class="rowFlex">
                    <div class="column small-12 medium-5 large-5">
                        <img src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_qua-tang-04.png" alt="" class="img-responsive center-block paddingB10">
                    </div>
                    <div class="column small-12 medium-7 large-7">
                            
                        <p class="qua-2-content qua-2-sub">Giảm ngay 1 triệu + trả góp 0% khi thanh toán bằng thẻ tín dụng
                            </p>
                        <p class="qua-2-content">    - Bảo vệ điện thoại khi rơi vỡ bất ngờ hoặc tổn thất bởi chất lỏng<br>
                            - Không giới hạn số lần sửa chữa trong 1 năm (kể từ thời điểm mua máy)<br>
                            - Bồi thường 100% máy mới khi máy không thể khắc phục<br>
                                
                                
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="paddingB30 column small-12 medium-6 large-6">
                <div class="rowFlex">
                    <div class="column small-12 medium-5 large-5">
                        <img src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_qua-tang-05.png" alt="" class="img-responsive center-block paddingB10">
                    </div>
                    <div class="column small-12 medium-7 large-7">
                            
                        <p class="qua-2-content qua-2-sub">Gói bảo hiểm vỡ màn hình 03 tháng</p>
                        <p class="qua-2-content">    Thay màn hình 1 lần với máy bị vỡ, sứt mẻ màn hình trong 90 ngày<br>
                                
                    
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        

    </div> -->