<div class="section-boquatang-03">
        <div class="rowFlex">
            <div class="column small-12 medium-12 large-12">
                <p class="plus-boquatang-title">
                        Bộ quà tặng  <span>Trị giá 3.000.000<sup>đ</sup></span>
                </p>
                
            </div>
        </div>

        <div class="rowFlex align-middle">
            <div class="column small-12 medium-6 large-6">
                <div class="quatangvivo-detail quatang03--content">
                    <div class="vivoquatang-img quatang03--content__img">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_boqua-v3-01.png" alt="">
                    </div>
                    <!-- <div class="plus-boqua">
                        Bộ quà 1:
                    </div> -->
                    <div class="quatang03--content__text">
                            <div class="plusquatang-title">
                                    Loa không dây Samsung Bottle <br>EO-SG710CSEGWW
                            </div>
                            <div class="plusquatang-content">
                                    Âm thanh lan tỏa 360 độ.<br>
                                    Tính năng sạc cảm ứng.<br>
                                    Tích hợp đèn LED và lắc tay để đổi màu.<br>
                            </div>
                    </div>
                   
                </div>
            </div>
            <div class="column small-12 medium-6 large-6">
                <div class="quatangsmall--detail">
                    <div class="quatangsmall--detail--img">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_boqua-v3-02.png" alt="">
                    </div>

                    <div class="quatangsmall--detail--content">
                        <p>Pin sạc dự phòng cao cấp Anker 10.000mAh</p>
                        <p>Thiết kế năng động, thời trang, dung lượng đến 10.000mAh.<br>
                                Khả năng tương thích cao, tích hợp công nghệ sạc nhanh tiên tiến</p>
                    </div>
                </div>    
                <div class="quatangsmall--detail popsocket-detail">
                        <div class="quatangsmall--detail--img">
                            <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_boqua-v3-03.png" alt="">
                        </div>
    
                        <div class="quatangsmall--detail--content">
                            <p>Popsocket thời trang</p>
                            <p>Thiết kế nhỏ gọn, đa dạng, hợp thời trang.<br>
                                    Dễ dàng sử dụng như giá đỡ điện thoại.<br>
                                    Giúp cầm chắc máy khi selfie một tay</p>
                        </div>
                    </div>  
                    <div class="quatangsmall--detail">
                            <div class="quatangsmall--detail--img">
                                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_boqua-v3-04.png" alt="">
                            </div>
        
                            <div class="quatangsmall--detail--content">
                                <p>Thẻ nhớ 64GB (SanDisk)</p>
                                <p>Kích thước vừa vặn với mọi thiết bị.<br>
                                        Dung lượng 64GB, tăng bộ nhớ máy, sao lưu nhiều dữ liệu hơn</p>
                            </div>
                        </div>                       
            </div>
                                                               
        </div>
    </div>