<div class="section-boquatang-02">
        <div class="rowFlex">
            <div class="column small-12 medium-12 large-12">
                <p class="plus-boquatang-title">
                        Bộ quà tặng  <span>Trị giá 3.000.000<sup>đ</sup></span>
                </p>
                
            </div>
        </div>

        <div class="rowFlex">
            <div class="column small-12 medium-6 large-6">
                <div class="quatangvivo-detail">
                    <div class="vivoquatang-img">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_boqua-v2.png" alt="">
                    </div>
                    <!-- <div class="plus-boqua">
                        Bộ quà 1:
                    </div> -->
                    <div class="plusquatang-title">
                            Dàn loa Samsung K350
                    </div>
                    <div class="plusquatang-content">
                            Loa không dây siêu trầm mạnh mẽ.<br>
                            Kết hợp hoàn hảo với smart TV bằng công nghệ Bluetooth.<br>
                            Trải nghiệm âm thanh vòng sống động.
                    </div>
                </div>
            </div>
            <div class="column small-12 medium-6 large-6">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_boqua-v2-02.png" alt="">
                                    
            </div>
                                                               
        </div>
    </div>