<div class="rowFlex" style="margin: 0px -20px">
    <div style="margin-top: 20px" class="column small-12 medium-12 large-6 tab-content">
        <a target="_blank" :href="'https://vienthonga.vn/' + ProductEvent.ProductUrl + '?isbuyonline=true'">
            <!-- <img class="img-responsive center-block img-padd-20 visible-xs" :src="campaignInfo.BannerMobile" alt="">
            <img class="img-responsive center-block img-padd-20 hidden-xs" :src="campaignInfo.BannerPc" alt=""> -->
            <img class="img-responsive center-block img-padd-20" :src="ProductEvent.FullPathImage" alt="">
        </a>
        <div class="title-sandienthoai">
            <a target="_blank" :href="'https://vienthonga.vn/' + ProductEvent.ProductUrl + '?isbuyonline=true'">${ProductEvent.ProductName}
            </a>
            <div class="price-sandienthoai">
                <span>${ProductEvent.GiaChiNhanh | formatMoney}</span>
                <span>Miễn Phí</span>
            </div>
        </div>
        <div v-if="EventGioVang.CurrentCampaignId === campId" class="ketthuc">
            <div>Kết thúc sau</div>
            <div class="reorder-timer reorder-content">
                <div class="countdown2" :data-date="campaignInfo.EndDate">
                </div>
            </div>
        </div>
        <div v-if="EventGioVang.CurrentCampaignId === campId" class="thongtinlienhe">
            <p class="thele-title">ĐỂ LẠI THÔNG TIN ĐỂ SĂN ${ProductEvent.ProductName}</p> 
            <div class="form-thongtin">
                <div class="rowFlex">
                    <div class="column small-12 medium-6">
                        <input type="text" name="hoten" v-model="postObj.MemberName" placeholder="*Họ và tên" class="input-style">
                    </div> 
                    <div style="padding-left: 0px" class="column small-12 medium-6 hidden-xs">
                        <input type="phone" name="sodienthoai" v-model="postObj.MemberPhone" placeholder="Số điện thoại" class="input-style">
                    </div>
                    <div class="column small-12 medium-6 visible-xs">
                        <input type="phone" name="sodienthoai" v-model="postObj.MemberPhone" placeholder="Số điện thoại" class="input-style">
                    </div>
                </div> 
                <div class="rowFlex">
                    <div class="column">
                        <input type="email" name="email" v-model="postObj.MemberEmail" placeholder="Email" class="input-style">
                    </div>
                </div> 
                <div class="rowFlex">
                    <div  class="column hidden-xs">
                        <a data-toggle="modal" href="#myModal" class="small-6 btn-gui-mobile btn-position-left" style="background: #E0E0E0; color: #424242; margin-right: 5px;">Xác Thực Lại</a>
                        <a href="javascript:void(0)" style="background: #6D6D3B" class="btn-gui btn-position-left" @click="registerDatTruoc()">Gửi</a> 
                    </div>
                    <div  class="column small-12 visible-xs">
                        <div class="rowFlex">
                            <div style="padding-right: 5px;" class="column small-6">
                                <a data-toggle="modal" href="#myModal" class=" btn-gui-mobile btn-position-left" style="background: #E0E0E0; color: #424242; margin-right: 5px;">Xác Thực Lại</a>
                            </div>
                            <div style="padding-left: 5px;" class="column small-6">
                                <a href="javascript:void(0)" style="background: #E53935;" class="btn-gui-mobile btn-position-left" @click="registerDatTruoc()">Gửi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rowFlex visible-xs">
            <div class="column">
                <div class="small-12  view-list-dat-mua visible-xs">
                    <p  data-toggle="modal" data-target="#modal-danhsachdatmua">Xem danh sách đặt mua</p>
                    <p  data-toggle="modal" data-target="#modal-thele">Xem thể lệ chương trình</p>
                </div>
                <!-- <img class="img-responsive center-block img-padd-20" src="https://cdn1.vienthonga.vn/image/2018/3/6/100000_rectangle-2.jpg" alt=""> -->
                <div style="padding: 0px" class=" section-tintuc-giasoc">
                    <div class="tintuc sp-slide wow fadeInUp animated">   
                        <div v-for="banner in listBanner.top">
                            <a :href="banner.Note"></a>
        
                            <div class="">
                                <img :src="banner.EventPromotionDescription" class="img-responsive center-block width100PhanTram" />                               
                            </div>
        
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column small-12 medium-12 large-6 tab-content hidden-xs">
        {{>danhsachkhachhang2}}
    </div>
</div>