<div class="section-tintuc-2" id="tintuc">
    <div class="rowFlex">
        <div class="column small-12 medium-6 animated wow fadeInLeft">
            <div class="thongsos8-title">
                <p class="new-title text-center">Hình ảnh sản phẩm</p>
            </div>
            <div class="tintuc tintuc-border sp-slide3 wow fadeInUp animated hidden-xs">
                <div class="new" v-for="img in HinhAnhSanPhamPC" v-cloak>
                    <div class="embed-responsive embed-responsive-full">
                        <img :src="img" class="img-abc embed-responsive-item img-responsive center-block" />
                    </div>
                </div>
                <!-- <div class="new" v-cloak>
                    <div class="embed-responsive embed-responsive-full">
                        <img src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_sp-hieunang.png" class="img-abc embed-responsive-item img-responsive center-block" />
                    </div>
                </div>
                <div class="new" v-cloak>
                    <div class="embed-responsive embed-responsive-full">
                        <img src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_sp-selfie.png" class="img-abc embed-responsive-item img-responsive center-block" />
                    </div>
                </div>
                <div class="new" v-cloak>
                    <div class="embed-responsive embed-responsive-full">
                        <img src="https://cdn1.vienthonga.vn/image/2018/5/5/100000_sp-manhinh.png" class="img-abc embed-responsive-item img-responsive center-block" />
                    </div>
                </div> -->
            </div>
            <div class="tintuc sp-slide3 wow fadeInUp animated visible-xs">
                <div class="new" v-for="img in HinhAnhSanPhamMobile" v-cloak>
                    <div class="embed-responsive embed-responsive-full">
                        <img :src="img" class="img-abc embed-responsive-item img-responsive center-block" />
                    </div>
                </div>
            </div>
        </div>
        <div class="column small-12 medium-6 animated wow fadeInRight">
            <div class="thongsos8-title">
                <p class="new-title text-center">Tin tức </p>
            </div>
            <div class="tintuc" id="slick1">
                <div class="item new new2" v-for="news in productDatTruoc.ListNews" v-cloak>
                    <a :href="'/'+news.PromotionLink +'.html'"></a>
                    <div class="rowFlex">
                        <div class="small-6 medium-4 column">
                            <img :src="news.ImageUrl" class=" embed-responsive-item img-responsive center-block img-tintuc2" />
                        </div>
                        <div class="small-6 medium-8 p-r-20">
                            <div class="name">${news.Title}</div>
                            <div class="row2 note hidden-xs" v-html="news.Note"></div>
                            <div class="time comment-tintuc">${news.CreatedDate.split(' ')[0]} | ${news.Counter} lượt xem.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="tintuc sp-slide2 wow fadeInUp animated">
                <div class="new" v-for="news in productDatTruoc.ListNews" v-cloak>
                    <a :href="'/'+news.PromotionLink +'.html'"></a>
            
                    <div class="embed-responsive embed-responsive-16by9">
                        <img :src="news.ImageUrl" class=" embed-responsive-item img-responsive center-block" />
                    </div>
                    <h3 class="name">${news.Title}</h3>
                </div>
            </div> -->
        </div>
    </div>
</div>