<div class="rowFlex">
    <div class="column small-12 medium-12 large-4">
        
            <img class="img-responsive center-block hidden-xs hidden-sm" src="https://cdn1.vienthonga.vn/image/2017/9/5/100000_dienthoai.png" alt="" />
    </div>
<div class="column small-12 medium-12 large-8">
    <p class="hero-iphonex-title text-center">Đặt gạch <span>Siêu Phẩm Nhà Táo 2017</p>
    <p class="hero-iphonex-toptitle text-center">Nhận ngay quà khủng</p>
    <img class="img-responsive center-block visible-xs visible-sm" src="https://cdn1.vienthonga.vn/image/2017/9/5/100000_dienthoai.png" alt="" />
        
    <div class="list-combo">
        <div class="combo-detail">
                <div class="combo-title text-center">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/5/100000_combo1-text.png" alt="">
                        <p class="combo-title-sub">Combo trọn bộ Táo </p>
                    </div>
                    <div class="combo-img">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/5/100000_combo1-img.png" alt="">
                    </div>
        </div>
        <div class="combo-detail">
                <div class="combo-title text-center">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/5/100000_combo2-text.png" alt="">
                        <p class="combo-title-sub">Apple Watch</p>
                    </div>
                    <div class="combo-img">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/5/100000_combo2-img.png" alt="">
                    </div>
        </div>
        <div class="combo-detail">
                <div class="combo-title text-center">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/5/100000_combo2-text.png" alt="">
                        <p class="combo-title-sub">Voucher trị giá 8 triệu</p>
                    </div>
                    <div class="combo-img">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/5/100000_combo3-img.png" alt="">
                    </div>
        </div>
        <div class="combo-detail">
                <div class="combo-title text-center">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/5/100000_combo4-text.png" alt="">
                        <p class="combo-title-sub">Thẻ tín dụng</p>
                        <!-- , <a class="xemchitiet" href="javascript:void(0)" data-toggle="modal" data-target="#modal-tragop"> xem chi tiết</a> -->
                    </div>
                    <div class="combo-img">
                        <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2017/9/5/100000_combo4-img.png" alt="">
                    </div>    
        </div>
    </div>            
   
    <div class="rowFlex">
        <div class="column small-12 medium-12 large-12">
            <div class="datmua-action">
                <div class="fb-like" data-href="https://vienthonga.vn/sieu-pham-nha-tao-2017.html" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                    
                </div>
            
                <div class="datmua-block">
                        <div class="btn-datmua-iphonex text-center">
                                <a href="#preorder">Đặt ngay</a>
                        </div>
                        <div class="nguoithamgia">
                                <p>Đã có ${campaignInfo.TotalRegister} người đã tham gia</p> 
                                <a class="xemdanhsach-block" href="#xemdanhsach-list">Xem danh sách</a></li>                              
                        </div>
                            
                </div>
               
            </div>
         </div>
    </div>
    
</div>


</div>