<div class="section-trainghiem">
    <div class="rowFlex align-middle">
        <div class="column small-12 medium-5">
            <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/3/5/100000_khuyenmai-2.png" alt="">
            <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/3/5/100000_khuyenmai-mobile.png" alt="">
        </div>
        <div class="column small-12 medium-7">
            <div class="form-khuyenmai">
                <p>DANH SÁCH SIÊU THỊ TRẢI NGHIỆM GALAXY S9 | S9+</p>
                <div class="listForm">
                        <div class="row">
                                <div class="col-md-6">
                                    <div class="form-line">
                                        <select v-model="selectedCityKhuyenMai" class="form-control form-black " @change="filterDistrictKhuyenMai(selectedCityKhuyenMai)">
                                                          <option value="" disabled selected>Chọn Thành Phố</option>
                                                <option  v-for="city in listCityKhuyenMai" :value="city" >${city.Cityname}</option>
                                        </select>
                    
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-line">
                                        <select v-model="selectedDistrictKhuyenMai" class="form-control form-black " @change="filterBranchKhuyenMai(selectedDistrictKhuyenMai)">
                                        <option value="" >Chọn Quận/Huyện</option>
                                          <option v-for="dis in listDistrictKhuyenMai" :value="dis"> ${dis.Districtname}</option>
                                        </select>
                                    </div>
                                </div>
                        </div>
                </div>

                <div class="listDanhsachCuahang">
                    <p v-for="district in chonKM.District"> ${district.BranchsAdd}</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>