<div class="section-wow">
        <div class="rowFlex">
            <div class="column small-12 medium-4 large-4">
                <img class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_wow-tragop.png" alt="">
            </div>
            <div class="column small-12 medium-4 large-4">
                <div class="wow--detail">
                    <div class="wow--detail__title">
                            <p>
                                    Trợ giá đặc biệt <span>9.000.000<sup>đ</sup></span>
                            </p>
                           <p>
                                <span>22.490.000<sup>đ</sup></span>    
                                <span>13.490.000<sup>đ</sup></span>
                           </p>
                    </div>
    
                    <div class="wow--detail__content">
                        <img src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_mobi-1399.png" alt="">
                        <div class="wow--detail__content__list">
                                <img class="img-responsive center-block"  src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_tinhnang01.png" alt="">
                                <img class="img-responsive center-block"  src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_tinhnang02-1.png" alt="">
                                <img class="img-responsive center-block"  src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_tinhnang03-1.png" alt="">
                                <img class="img-responsive center-block"  src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_goinhom-1.png" alt="">
                        </div>
    
                        <img  class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/1/6/100000_wow-1399-01.png" alt="">
                    </div>
                    
                   
                </div>
                </div>
                <div class="column small-12 medium-4 large-4">
                        <div class="wow--detail">
                                <div class="wow--detail__title">
                                        <p>
                                                Trợ giá đặc biệt <span>6.700.000<sup>đ</sup></span>
                                        </p>
                                       <p>
                                            <span>22.490.000<sup>đ</sup></span>    
                                            <span>15.790.000<sup>đ</sup></span>
                                       </p>
                                </div>
                
                                <div class="wow--detail__content">
                                    <img src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_mobi-999-1.png" alt="">
                                    <div class="wow--detail__content__list">
                                            <img class="img-responsive center-block"  src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_tinhnang01-2.png" alt="">
                                            <img class="img-responsive center-block"  src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_tinhnang02-2.png" alt="">
                                            <img class="img-responsive center-block"  src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_tinhnang03-2.png" alt="">
                                            <img class="img-responsive center-block"  src="https://cdn1.vienthonga.vn/image/2018/1/5/100000_goinhom-2.png" alt="">
                                    </div>
    
                                    <img  class="img-responsive center-block" src="https://cdn1.vienthonga.vn/image/2018/1/6/100000_wow-999-01.png" alt="">
                                </div>
                                
                                
                            </div>
                    </div>
        </div>
    </div>