<div class="section-xahangxin img-fullview">
    <!-- <div class="bg-mobile-xahangxin visible-xs"></div> -->
    <img class="img-responsive center-block hidden-xs" src="https://cdn1.vienthonga.vn/image/2018/3/6/100000_xahang.jpg" alt="">
    <img class="img-responsive center-block visible-xs" src="https://cdn1.vienthonga.vn/image/2018/4/2/100000_xahang-mobile.jpg" alt="">
    <div class="container">
        <div class="rowFlex box-shadow">
            <div style="padding: 0px 1px" class=" small-6 medium-6 large-20-phantram flex-equal" v-for="(item, index) in XaHangGiaXin.listSanphamShow">
                <div class="laptopvoucher">
                    <div class="laptopvoucher-img">                       
                        <a target="_blank" :href="item.mainLink + item.ProductCode">
                            <img class="img-responsive center-block laptopvoucher-imageproduct" :src="item.ImageLink" alt="">
                        </a>
                    </div>
                          
                    <a class="laptopsoc-tensanpham"target="_blank" :href="item.mainLink + item.ProductCode">${item.ProductName}
                    </a>
                    <div class="laptopvoucher-gia">
                       ${item.MayDoiTraPrice | formatMoney}
                    </div>
                    <div class="laptopsoc-gia">Số lượng: ${item.CountProduct}</div>
                    <div class="laptopsoc-gia">Rẻ hơn máy mới từ: <span>${item.Giacu - item.MayDoiTraPrice  | formatMoney}</span></div>
                    <!-- <div v-if="item.EventPromotionDescription.length > 6" class="laptopvoucher-quatang">
                       <img style="margin-right: 5px;" src="https://cdn1.vienthonga.vn/image/2018/3/4/100000_c-users-thien-appdata-local-packages-microsoft-skypeapp-kzf8qxf38zg5c-.png" alt="">${item.EventPromotionDescription}
                    </div> -->
                    <a class="laptopsoc-tragop" target="_blank" :href="item.mainLink + item.ProductCode">Mua ngay</a>
                    <!-- <a v-if="item.BuyStatus == 'MuaNgay'" class="laptopsoc-tragop" target="_blank" :href="'https://vienthonga.vn/' + item.ProductUrl + '?isbuyonline=true'">Mua ngay</a>
                    <a v-if="item.BuyStatus == 'DonCho'" class="laptopsoc-tragop" href="javascript:void(0)">Đón Chờ</a>
                    <a v-if="item.BuyStatus == 'HetHan'" class="laptopsoc-tragop" href="javascript:void(0)">Hết Hạn</a> -->
                </div>
            </div>
            
        </div>
        <div class="xemthem">
                <p><a v-if="XaHangGiaXin.showed < XaHangGiaXin.listSanpham.length"  href="javascript:void(0);" @click="loadMoreProduct()"><strong>Xem thêm </strong></a></p>
            </div>
    </div>
    
</div>