#preorder{
  color: black;
  background: #f5f5f5;
  padding: 10px 0;
}
.section-reorder {
    background: $formpreorder-background;  // background of form preorder
    color: $formpreorder-text;  // color for text of form preorder
  }

.datngay-note8, .font-ss1, .number-reorder, .plus-boqua, .plus-boquatang-sub, .plus-brand, .plus-datgach, .plus-nhanqua, .plus-quangcao, .plusquatang-title, .qua-sh p:first-child, .qua-sh p:nth-child(2), .qua-sh p:nth-child(3), .quatangsmall--detail--content p:first-child, .s9-text p:first-child, .s-sub2, .section-hero-plus .preorder-price, .section-hero-plus .preorder-price-text, .thongso-title, .vivo-subtitle, .wow--detail__title p:first-child, .wow--detail__title p:last-child, strong {
    @extend .font-ss3;
    // font-weight: bold;
}
.preoder-heading-sub div span {
  @extend .font-ss1;
}
.form-bold, b {
  @extend .font-ss1;
}
.formpreorder {  
  input,
  select{
    // border: none;
  }
    small,   
    span,
    label,
    strong {
      color: #000;
    }
   span{
     font-weight: 400;
   }
    // .preorder-title,
    .preorder-price-text,
    .preorder-price {
      color:  $formpreorder-title; // color for text of title inside the form
      @extend .font-ss1;
    }
    .element {
      @media(max-width: 768px) {
        width: 60px;
      }
  
    }    
    
}
  .preoder-heading {  
     text-align: center;
    @include respond-to(mobile){
      text-align: left; 
    }  
    p:nth-child(1){       
        @extend %section-title; // Big title at top of form
        text-transform: none;
        color: #000;
        font-size: 24px;
        @include respond-to(mobile){
          font-size: 16px;
        }
        span {
          font-size: 32px;
          color: #000;
          @include respond-to(mobile){
            display: block;
            font-size: 20px;
          }
        }
    }       
    p:nth-child(2){
        //@extend %section-sub; // Second title of form
        // color: #333;
        // @extend .font-ss3;
        // font-weight: 600;
        color: #000;
        margin: 15px 0;
        font-size: 16px;
        display: inline-block;
        @include respond-to(mobile){
          font-size: 14px;
          margin-bottom: 0px;
        }
    }
    p:nth-child(3){
        @extend %section-sub; // Second title of form
        // color: #333;
        // @extend .font-ss3;
        // font-weight: 600;
        color: #000;
        margin: 15px 0;
        font-size: 16px;
        display: inline-block;
        @include respond-to(mobile){
          font-size: 14px;
          margin-bottom: 0px;
          display: block;
        }
    }
    p:nth-child(1),
    p:nth-child(2),
    p:nth-child(3){
      text-transform: unset !important;
      @media(max-width: 767px){
        display: block;
        // margin-right: 10px;
      }
    }
    .preoder-heading-sub{
      div {
        display: inline-block;
        margin-bottom: 0;
        font-size: 16px;
        @media(min-width: 991px){
          font-size: 24px;
        }
      }
      div:nth-child(1){  
        padding-right: 0;
        border-right: none;
        @media(min-width: 991px){
          border-right: 1px solid #000;
          padding-right: 20px;
          margin-right: 20px;
        }
      }
    }
  }
  .preorder-title{
    margin-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .preorder-price-text{
    font-size: 30px;
    text-transform: uppercase;
  }
  .preorder-price{    
    @extend .font-ss1;
    @include font-responsive(30px,30px,26px); 
    color: #e76eab !important;
  }
  @media (min-width: 991px){
    .btn-hoantat {
        position: absolute;
        width: 100%;
        bottom: -60px;
    }
  }
  @media (max-width: 769px){
    .btn-hoantat {
        width: 100% !important;
    }
  }
  .btn-hoantat{
    color: #fff;
    background: $formpreorder-hoantat-background;
    padding: 10px 50px;
    font-family: SamsungSharpSans-Bold,sans-serif;
    margin-top: 15px;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    border-radius: 2px;
    width: 95%;
    border: none;
    &:visited{
      background: $formpreorder-hoantat-background;
      color: white;
    }
    &:hover,
    &:active{
      background: darken($formpreorder-hoantat-background, 10%);
      color: white;
    }
    
  }  

  .number-reorder {
    font-weight: bold;
    @extend .font-ss1;
    color: white;
  }


#fullname::-webkit-input-placeholder{
  color: black;
}
#email::-webkit-input-placeholder{
  color: black;
}
#phone::-webkit-input-placeholder{
  color: black;
}
#fullname:-moz-placeholder,
#fullname::-moz-placeholder,
#fullname:-ms-input-placeholder{
  color: black;
}

#danhsach{
  .tb-name{
    color: #000;
  }
}
.form-content-left {
    padding-right: 0;
    border-right: none;
    @media(min-width: 991px){
      padding-right: 30px;
      border-right: 1px solid #ccc;
    }
}
.form-control {
    height: 40px;
    border-radius: 2px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8c8c8c !important;
    opacity: 1; /* Firefox */
}
.tongtienthanhtoan {
    border-top: 1px solid #000;
    padding-top: 20px;
}
.thanhtoan-detail {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;
    span {
      font-size: 11px;
      @media (min-width: 768px){
        font-size: 14px;
      }
    }
}
.module-tragop {
    padding-top: 20px;
    border-top: 1px solid #000;
}
@media (min-width: 768px) {
  .form-bold {
      font-size: 24px!important;
  }
}

.form-detail {
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 18px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 4px 5px 0 rgba(0,0,0,0.12), 0 1px 10px 0 rgba(0,0,0,0.20);
  padding-bottom: 50px;
}