#tab-giasoc-content {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-top: 15px;
    padding: 5px;
    overflow-x: scroll;
    @media(max-width:768px){
        flex-wrap: wrap;
        overflow-x: initial;
        justify-content: center;
    }
}

.giasoc-detail {
    display: flex;
    flex-direction: column;    
    margin-right: 20px;
    min-width: 195px;
    position: relative;
    @media(max-width:768px){
        width: 45%;
        margin: 5px;
        min-width: auto;
    }
}

.giasoc-image{
    position: relative;
    max-width: 195px;
}

.giasoc-icon1{
    position: absolute;
    top: 5px;
}

.giasoc-icon2{
    position: absolute;
    bottom: 5px;
    right: 5px;
    span{
        position: relative;
        top: -10px;
        left: -13px;
        color: white;
    }
}
.giasoc-tensanpham{
    font-size: 14px;
    font-weight: 600;
    flex: 1;

}

.giasoc-gia{
    p{
        margin-bottom: 0;
    }
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 5px;
   .giasoc-giashow{
        color: #D0021B;
        font-size:18px;
        font-weight: 600;
    }
   .giasoc-giagach{
        color:#9b9b9b;
        font-size: 12px;
        text-decoration: line-through;
        font-weight: 600;
    }
}

.giasoc-soluong-status {
    height: 3px;
    background: grey;
    border: none;
    width: 100%;
    border-radius: 10px;
}

.giasoc-status-inside{
    height: 3px;
    background: red;
    border: none;
    width: 90%;
    border-radius: 10px;
}

.giasoc-soluong-detail{
    margin-top: 5px;
    p{
        margin-bottom: 0;
        font-size: 10px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.giasoc-action a{
    padding: 10px 0;
    display: inline-block;
    background: #2196F3;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    margin-top: 5px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:visited{
        background: darken(#2196F3,10%);
        color: white;
    }
}

.giasoc-content {
    background: white;
   
    margin-bottom: 40px;
}

ul#listTab-giasoc {
    margin: 0;
    padding: 0;
    list-style: none;

    li{
        display: inline-block;
        width: 25%;
        cursor: pointer;
        a{
            display: inline-block;
            background: #FFEBEE;
            color: black;
            padding: 15px;
            width: 100%;
            text-align: center;
        }
    }
    .active{
        a{
            background: #FF9200 ;
            color: white;
        }
    }
}

.btn-nonsale{
    background: #FF9200 !important;
    &:hover,
    &:focus,
    &:visited{
        background: darken(#FF9200,10%);
    }
}

.countdown3{
    .element{
        display: inline-block;

        span{
            font-size: 10px;
            color: red;
        }
    }
}

.chayhang-block {
    position: absolute;
    bottom: -1px;
    z-index: 2;
    width: 100%;
    height: 110px;
}


    .section-tintuc-giasoc{
        background: transparent;
        padding: 30px 0px;        
    }
