@mixin section-bg-cover($link,$color){
    background: url($link) $color no-repeat;
    background-size: cover;
    background-position: center center;    
}

@mixin section-bg-100($link,$color){
    background: url($link) $color no-repeat;
    background-size: 100% 100%;
    background-position: center center;    
}