#modal-datmua,
#modal-chitiet{
    padding-left: 0;
    .modal-body{
        padding: 20px;
        @media (max-width: 500px) {
            padding: 5px;
            padding-top: 15px;
        }
    }
    .modal-dialog{
        width: auto;
        @media(min-width: 991px){
            width: 800px;
        }
    }

    .modal-header{
        padding: 15px 0;
        border: none;
        p{
            margin-bottom: 0;
            padding: 0px 15px;
            color: black;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            @media (max-width: 500px) {
                font-size: 12px;
                padding-top: 5px;
            }
        }
        .close{
            opacity: 1;
            position: absolute;
            top: -15px;
            right: -15px;
            @media (max-width: 500px) {
                font-size: 14px;
                top: 5px;
                right: 15px;
            }
        }
    }
    .modal-content{
        width: 96%;
        margin: 0 auto;
        background: #FFFFFF;
        border: 5px solid #235F83;
        box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px 0 rgba(0,0,0,0.20);
        @media (max-width: 500px) {
            padding: 0px;
            border: none;
            padding-bottom: 15px;
        }
       
    }

    .modal__button{
        text-align: center;
        @media (min-width:768px) {
            text-align: right;
        }
        button{
            border: none;
            display: block;
            background: #235F83;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            border-radius: 2px;
            color: white;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            padding: 8px 15px;
            width: 100%;
            @media (min-width:768px) {
                display: inline-block;
                width: auto;
            }
        }
        
    }

    .modal__form{
        .form-group{
            margin-bottom: 10px;
            @media(max-width: 500px){
                margin-bottom: 5px;
            }
        }
        .form-control{
            background: #FFFFFF;
            border: 1px solid #E0E0E0;
            border-radius: 2px;
            height: 40px;
            margin-bottom: 10px;
            @media(max-width: 500px){
                height: 30px;
            }
            @media(min-width: 768px){
                margin-bottom: 0;
            }

            &:focus{
                background: #FFFFFF;
                border: 1px solid #2096F3;
                box-shadow: 0 0 4px 0 #2096F3;
                border-radius: 2px;
            }
        }
    }
    .modal__tongtien p {
        margin-bottom: 0;
        padding: 20px 0;
       
        color: black;
        font-weight: 600;
        font-size: 14px;
        @media(max-width: 500px){
            padding: 2px;
        }
        span{
            font-size: 20px;
            color: #F44336;
            @media(max-width: 500px){
                font-size: 14px;
            }
        }
    }

    .modal__combo{
        &_image{
            max-width: 140px;
            @media(max-width: 500px){
                max-width: 80px;
                float: left;
            }
        }

        &_dienthoai,
        &_plus,
        &_quatang,
        &_chonmau{
            display: inline-block;
            @media(max-width:500px){
                display: block;
            }
        }


        &_plus{
            max-width: 100%;
            height: 100%;
            margin: 5px auto;
        }

        &_quatang,
        &_chonmau{
            p{
                margin-bottom: 0;
                display: inline-block;
                color: black;
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
                margin-top: 10px;
            }
        }
        &_chonmau{
            @media(max-width:500px){
               float: left;
             }
            select{
                display: block;
                margin: 5px 0;
                @media(max-width:500px){
                   max-width: 100px;
                }
            }
        }
    }
    .modal-body_combo {
        padding: 15px;
        border: dashed 2px#979797;
        border-radius: 8px;
        text-align: center;
        @media(min-width:500px){
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}


.opt-text span{
    color: black;
}

.modal-chonmau{
    margin-top: 10px;
    height: 40px;
    width: 100px;
    border-radius: 0;
    background: white;
}

.form-control{
    margin-top: 10px;
    @media(min-width: 768px){
        // margin-top: 15px;
    }
}

.modal-image{
    max-width: 300px;
    @media(min-width: 768px){
        max-width: 100%;
    }
}