.section-tintuc{
  padding: 50px 0;
    background: #ebebeb;
    h2{
      text-transform: uppercase;
      font-size: 40px;
    }
    .new .name{
      font-size: 14px;
      text-align: left;
      &:hover{
        color: black;
      }
    }  
    .new:hover .name {
      color: black;
    }
  }