.opt-radio {
    display: block;
    margin-right: 3px;
    position: relative;
    @media(min-width: 768px) {
      display: inline-block;
      // margin-right: 15px;
      min-width: 100px;
      margin-bottom: 8px;
    }

    .opt-text {
      cursor: pointer;
      padding-left: 25px;
      font-size: 15px;
      span {
        // padding-left: 5px;
        &.name-boquatang{
          padding-left: 0;
          @extend .font-ss1;
        }
      }
    }
    
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      top: 0;
      right: 0;
    }

    .opt-radio-icon {
      border: 2px solid #0900B7;
      position: absolute;
      top: 37%;
      left: 0;
      height: 16px;
      width: 16px;
      border-radius: 100%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      background: white;

      &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 10;
        height: 6px;
        width: 6px;
        border-radius: 100%;
        background: white;
        display: none;
      }
    }
    .opt-no-img {
      // margin-top: 11px;
    }
  }

  .opt-radio-input:checked ~ span.opt-radio-icon:after {
    display: block;
  }

  .radio-note {
    text-transform: none;
    // font-weight: bold;
    color: #000 !important;
   margin: 15px 0 0;
    font-size: 13px;
    position: relative;
    padding-left: 40px;
    &:before{
        content: '*';
       position: absolute;
        top: 0;
        left: 30px;
        @include respond-to(mobile){
          left: 0px;
        }
    }
    @include respond-to(mobile){
      padding-left: 12px;
      margin-top: 15px;
      display: block;
    }
  }

.phuongthucnhanhang-component {
    .opt-radio {
      display: block;
    }
  
    .opt-radio-icon {
      top: 0px !important;
    }
  
    .j7-action {
      a {
        padding: 8px 50px;
      }
    }
  }

  .gioitinh-component {
    .opt-radio-icon {  
      top: 10px !important;
      @include respond-to(mobile){
        top: 0px !important;
      }
    }
  
  }

  .opt-radio .opt-radio-icon::after {
    background: #0900B7;

}