.sticky-bar{
    
    background:$stickybar-bg;
    padding: 0;
    z-index: 99999!important;
    
    .bar-name{
        font-size: 14px;
       @extend .font-ss1;
       text-transform: none;
       font-weight: 400;
       padding: 17px 0;
       @include respond-to(small){
        padding: 21px 0;
    } 
    }
    .bar-brand{       
        @extend .font-ss1;
        color: white;     
        font-weight: 600;
    }
    .bar-muangay{
        padding: 0;
        a{
            
            // text-transform: uppercase;
            color: white;
            background: $stickybar-button-bg;
            padding: 7px 22px!important;
            font-size: 14px;
            // font-weight: 600;
            // @extend .font-ss1;
            border-radius: 3px;
            border: solid 1px #ccc;
            // @include font-responsive(20px, 18px,14px);  
            display: inline-block; 
           
            @include respond-to(mobile){
                padding: 7px 25px!important;
            }    
        //    span{          
        //         display: inline-block; 
        //         transform: skew(20deg); 
        //     }
                    
           
                
        }
    }
}