.reorder-timer{
    padding: 15px 0;
    background: $timer-background;
    padding-bottom: 0;
    text-align: center;
    @media(min-width: 768px){
        text-align: left;
    }
    .countdown2{
        margin: 0;
        padding: 0;
        
        .element:first-child{
            transform: scale(1);
            top: 0;
        }

        .element{
            margin-right: 15px;
            padding: 0;
            border: none;
            border-radius: 0;
            background: none;
            float: none;
            display: inline-block;
            .label{
                    position: static;
                    color: $timer-text;
                    font-size: 18px;
            }
        }

        .box-timer{
            display:block;
            padding: 22px 10px;
            text-align: center;
            color: #111;
            background-color: #ddd;
            background: linear-gradient(#0a0a0a, #2f2f2f); 	
            border-top: 3px solid #303030;
            border-radius: 4px;
            color: white;
            

            &::after{
                content: "";
            width: 89%;
            height: 2px;
            background: transparent;

            display: block;
            position: absolute;
            top: 37%;
            left: 0;
            background: rgba(0,0,0,.5);

        }
	
                
        }
    }
}

.reorder-timer .countdown2 .element {
    margin-right: 0px;
  }