.main-title{
    @extend .font-ss1 ;
    font-size: 35px;
    text-align: center;
   
    @media(max-width: 1024px){
        font-size: 20px;
    }
}

.sub-title{
    @extend .font-ss2;
    font-size: 15px;
    text-align: center;
   
    @media(max-width: 1024px){
        font-size: 13px;
    }
}