$color-samsung: #000;
$color-yellow-ss: #ddbd77;

$color-txt : #000;


img {
  image-rendering: -webkit-optimize-contrast;
}

.font-ss2 {
  font-family: Roboto-Medium;
}
.font-ss3 {
  font-family: Roboto-Regular;
}
.font-ss1 {
  font-family: Roboto-Bold;
}
.font-ss7 {
  font-family: Roboto-Light;
}
// .font-ss2 {
//   font-family: SamsungSharpSans-Medium;
// }
// .font-ss3 {
//   font-family: SamsungSharpSans-Regular;
// }
// .font-ss1 {
//   font-family: SamsungSharpSans-Bold;
// }
.font-ss4 {
  font-family: Roboto-Regular;
}
.font-ss5 {
  font-family: Roboto-Medium;
}
.font-ss6 {
  font-family: Roboto-Bold;
}
// .font-ss4 {
//   font-family: UTM_Avo;
// }
// .font-ss5 {
//   font-family: UTM_Avo;
// }
// .font-ss6 {
//   font-family: UTM_AvoBold;
// }

#main-header {
  margin-bottom: 0 !important;
}

[class^="section-"] {
  color: #000;
  padding: 60px 0;
  position: relative;
  @extend .font-ss2;

  @include respond-to(small) {
    padding: 30px 0;
  }
  &.top {
    padding-top: 0;
  }
  &.bottom {
    padding-bottom: 0;
  }

}

.rowFlex.fluid {
  max-width: 100% !important;
}

.w-100 {
  width: 100%;
}


.section-bar {
  background: darken(#052248, 5%);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 99 !important;
  // display: none;
  // .is-sticky &{
  //   display: block;
  // }
}

#ordernow-sticky-wrapper{
  height: 0 !important;
  overflow: hidden;
  &.is-sticky{
    height: 62px !important;
    overflow: visible;
  }
}




.bar-name {
  font-size: 22px;
  color: white;
  margin: 0;
  @include respond-to(mobile) {
    font-size: 16px;
  }

  span{
    color: $color-samsung;
    font-size: 0.7em;
  }


}

.modal-dialog{
  margin-top: 50px;
}
.bar-muangay {
  padding: 2px 0;

   img {
      width: 70px;
    }

  @include respond-to(mobile) {
    img {
      width: 60px;
    }
  }

  .btn-samsung{
    background: #052247;
    color: white;
    &:hover{
      background: lighten(#052247, 10%);
    }
  }
}












.tintuc {
  margin: 20px 0 10px;
  .slick-dots {
    white-space: nowrap;
    overflow: hidden;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 0px;
    padding: 0;
  }
}

.new {
  text-align: center;
  padding: 0 15px;
  position: relative;
  &:hover {
    .name {
      color: $color-samsung;
    }
  }
  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .name {
    font-weight: bold;
    font-size: 16px;
  }
  .content {}
}

.slick-dots li button:before {
  font-size: 50px;
}

.scroll {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding-right: 15px;
}

.des-modal {
  .txt1 {
    color: white;
    font-size: 18px;
    background: #257cd4;
    padding: 8px 20px;
  }
  .modal-content {
    padding: 0;
    overflow: hidden;
  }
}

.thele-content{


  padding: 30px 20px;
}
.thele{
  height: 353px;

   @include respond-to(mobile){
    height: 300px;
  }

  @include respond-to(x-mobile){
    height: 300px;
  }
}

#modal-thongso {
  .txt1 {
    color: white;
    font-size: 20px;
    background: #257cd4;
    padding: 5px 20px;
  }
  .table-padding {
    padding: 5px 10px;
  }
  .table {
    font-size: 16px;
  }
  .table>tbody>tr:first-child {
    >td,
    >th {
      border-top: none
    }
  }
  .table>thead>tr>th,
  .table>thead>tr>td,
  .table>tbody>tr>th,
  .table>tbody>tr>td,
  .table>tfoot>tr>th,
  .table>tfoot>tr>td {
    color: black;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #eaeaea;
  }
  .table>tbody>tr>th {
    padding: 8px 10px 8px 0;
    white-space: nowrap
  }
  .modal-content {
    padding: 0;
    overflow: hidden;
  }
}

.des-close {
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #000000;
  width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;

  a {
    font-size: 11px;
    color: #d3d3d3;
    &:hover{
      color: white;
    }
  }
}

.section-reoder {
 
  padding: 60px 0;
  .form-control {
    background: #fff;
    font-size: 14px;
    &:placeholder {
      color: #8c8c8c;
    }
    color: #000;
    &:active,
    &:focus {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  }
}

label {
  color: #8c8c8c;
}

.form-line {
  margin-bottom: 10px;
}



.reoder-txt1 {
  font-size: 25px;
  color: #8c8c8c;
  margin-bottom: 20px;
  @include respond-to(small) {
    font-size: 18px;
  }
}

.reoder-pd-l {
  padding-left: 15px;
}

.reoder-chuyenkhoan {
  a {
    color: #4e94f4;
    &:hover {
      color: lighten(#4e94f4, 10%);
    }
  }
}

a {
  color: #4e94f4;
  &:hover {
    color: lighten(#4e94f4, 10%);
  }
}

.reoder-txt2 {
  font-size: 14px;
  line-height: 24px;
  color: white;
  .number {
    color: #fd832b
  }
  a {
    color: #0099cc;
    &:hover {
      color: lighten(#0099cc, 10%);
    }
  }
}

.countdown2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
  color: white;
  margin: 10px 0 20px;
  display: inline-block;
  line-height: 0.5;
  .haicham {
    font-size: 28px;
    float: left;
    padding: 0 16px;
    color: white;
    position: relative;
    top: 14px;
  }
  .label {
    position: absolute;
    bottom: -2px;
    left: 0;
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: normal;
    width: 100%;
    text-transform: uppercase;
  }
  .element {
    &:first-child {
      transform: scale(1.2);
      /* vertical-align: -44%; */
      position: relative;
      top: -7px;
      margin-right: 5px;
    }
    text-align: center;
    float: left;
    position: relative;
    padding: 2px 8px 21px;
    border: 1px solid #0b61d7;
    border-radius: 5px;
    background: #0b61d7;
  }
  @include respond-to(mobile) {
    font-size: 35px;
    .element {
      padding: 2px 4px 20px;
    }
  }
  @include respond-to(x-mobile) {
    font-size: 30px;
    .element {
      padding: 2px 4px 20px;
    }
    .haicham {
      font-size: 20px;
      float: left;
      padding: 0 9px;
      color: white;
      position: relative;
      top: 14px;
    }
    .label {
      position: absolute;
      bottom: -2px;
      left: 0;
      font-size: 12px;
      line-height: 40px;
    }
  }
}

.reoder-form {
  font-size: 16px;
  margin-top: 20px;

  .col-md-4{
    padding-left: 25px;
    padding-right: 25px;
    @include respond-to(small){
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.reoder-action {
  background: #0b61d7;
  color: white;
  font-size: 18px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 5px;
  &:hover {
    color: white;
    background: lighten(#0b61d7, 10%);
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
}

.km-list {
  color: #8c8c8c;
  margin: 7px 0 10px !important;
  li {
    margin-bottom: 5px;
  }
}

.reoder-tit {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  font-weight: normal;
  margin-left: -15px;
  @include respond-to(medium) {
    margin-left: 0;
  }
}

input[type=radio]:checked+div {
  color: white;
}

.product-color {
  text-align: center;
  white-space: nowrap;
  border: 1px solid #c8c9cb;
  vertical-align: middle;
  top: -4px;
  padding: 3px 11px;
  font-weight: bold;
}

.mb30 {
  margin-bottom: 30px;
}

.mb10 {
  margin-bottom: 10px;
}



.table-dathang {
  li {
    padding: 3px 8px;
    display: inline-block;
    &.active {
      a {
        color: #0b61d7;
      }
    }
    a {
      font-size: 14px;
      color: black;
      &:hover {
        color: #0b61d7;
      }
    }
    &.active {
      background: #0b61d7;
      border-radius: 3px;
      a {
        color: white;
      }
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: -5px;
        width: 0;
        left: 50%;
        margin-left: -5px;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #0b61d7;
      }
    }
  }
}

.modal-content {
  padding: 20px;
}

.tb-name {
  color: #0057d5;
  // font-weight: bold;
}

.tb-sp {
  color: red;
}

.tb-height {
  max-height: 500px;
    overflow-y: scroll;
    border: solid 1px #ccc;
    border-radius: 2px;
}

.tb-phone {
  font-style: italic;
  font-size: 12px;
}

.tb-loadmore {
  margin-top: 15px;
}

.tb-search {
  margin: 20px 0;
}


/***
Light Table
***/

.table.table-light {
  border: 0 !important;
}

.table.table-light>thead>tr:hover>th {
  background: none;
}

.table.table-light>thead>tr.uppercase {
  text-transform: uppercase;
}

.table.table-light>thead>tr>th {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  color: black;
  font-family: "Open Sans", sans-serif;
  border: 0;
  border-bottom: 1px solid #F2F5F8;
}

.table.table-light>tbody>tr:last-child>td {
  border: 0;
}

.table.table-light>tbody>tr>td {
  border: 0;
  border-bottom: 1px solid #F2F5F8;
  color: #000;
  vertical-align: middle;
  font-size: 14px;
}

.table.table-light>tbody>tr>td.fit {
  width: 1px;
  padding-right: 3px;
}

.table.table-light>tbody>tr>td .user-pic {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.table.table-light.table-hover>tbody>tr>td:hover,
.table.table-light.table-hover>tbody>tr>th:hover,
.table.table-light.table-hover>tbody>tr:hover>td,
.table.table-light.table-hover>tbody>tr:hover>th {
  background: #f9fafb;
}
