.rowFlex {
    max-width: 1400px;
}
.liststicky {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5px 0;
    .sticky-detail span a{
        color: white;
        font-size: 18px;
        border-radius: 5px;
        @extend .font-ss3;

    }
}
.section-datmua{
    background: #1B7583;
    padding: 10px 0px 20px 0px;
}
body {
    @extend .font-ss3;
}
.vivo-content {
    @extend .font-ss7;
}
.vivo-title {
    @extend .font-ss7;
}
@media (min-width: 992px) {
	.fb-like {
		float: right;
	}
}
.xemdanhsach-link{
    a{
        font-size: 14px;
        text-decoration: underline;
        color: black;
        // padding-right: 10px;
        &:hover{
            color: darken(#00ade6, 10%);
        }
    }
    @include respond-to(mobile){
       display: block;       
     }   
}

@media(max-width: 767px){

    .datmua-title {
        margin-bottom: 15px;
        font-size: 18px;
        color: #fff;
        text-align: center;
    }
    .xemdanhsachdangki{
       
        padding: 0px !important;
        border: none !important;
        border-radius: 2px;
        margin-bottom: 0;
        text-align: center;
    }

    .xemdanhsach-link{
        margin-top: 8px;
        border: solid 1px black;
        border-radius: 2px;
        text-align: center;
        padding: 7px 0;
        a {
        	text-decoration: none;
        }
    }

    .social-m{
        text-align: center;
        border: solid 1px black;
        padding: 7px 0;
    }

    .section-camera{
        background: white;
        padding: 0px;
    }
    .text-block{
        .vivo-title,
        .vivo-content{
            color: black;
        }
    }
    .camera-content{
        position: static;
        transform: none;
        background: transparent;
        .vivo-title,
        .vivo-content{
            color: black;
        }
        
    }

    .section-pentemp{
        padding: 0px;
        .vivo-title,
        .vivo-content{
            color: black;
        }
    }
    .vivo-title {
    	margin: 20px 0px 5px 0px;
    	font-size: 25px !important;
    	margin-bottom: 5px !important;
    }
    .vivo-content {
        font-size: 14px !important;
    }
    .section-dangky-nhanthongtin .muangay-footer-button {
    	text-align: center;
    }
    .inline-xs {
    	display: inline-block !important;
    }
	.form-bold {
	    font-size: 24px !important;
	    font-weight: bold !important;
	}
	.w-100-xs {
		width: 100%;
	}
    .s9-text {
        width: 100%;
        p:nth-child(1) {
            margin: 5px;
            margin-left: 20px !important;
        }
        p:nth-child(2) {
            margin-left: 20px !important;
        }
    }
    .section-boquatang-01 {
        padding-bottom: 0px !important;
    }
}
.vivo-title {
    font-size: 50px;
}
.thanhtoan-detail span {
	font-size: 14px;
}
.thanhtoan-detail {
    .form-bold {
        @extend .font-ss1;
    }
}
.vivo-content {
	line-height: 40px;
    font-size: 25px;
    @include respond-to(mobile){
        line-height: 20px;
    }
}
.vivo-title {
	text-transform: none;
	margin-bottom: 10px;
}

.danhsachsocial{
    // padding: 10px 0;
    // padding-top: 0px;
    @media(min-width: 768px){
        border-bottom: solid 1px black;
    }
   

}

.qua-2-sub{
    @extend .font-ss1;
    font-size: 18px !important;
}

.qua-2-content{
    font-size: 14px;
    @media(max-width: 767px){
        text-align: center;
    }
}
.xem-chi-tiet {
	margin-top: 15px;
    @media(max-width: 767px){
        text-align: center;
    }
	a {
		color: #FC0303;
		text-decoration: underline;
	}
}
.img-ipad{
    display: none;
    margin-top: 30px;
    @media(min-width: 768px){
        display: block;
    }
}
.m-t-30 {
    margin-top: 30px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-t-40 {
    margin-top: 40px;
}
.m-b-40 {
    margin-bottom: 40px;
}
.m-t-50 {
    margin-top: 50px;
}
.m-b-50 {
    margin-bottom: 50px;
}
.vivo-title {
    @extend .font-ss2;
    .vivo-title2 {
        @extend .font-ss2;
        font-weight: 200;
    }
}
.vivo-content, .vivo-title {
    text-align: center;
}
.section-tangdienthoai {
    padding: 0px 0px 0px 0px;
    background: url(https://cdn1.vienthonga.vn/image/2018/5/4/100000_web-linelp-mo-ban-honor-10.png) no-repeat center;
    background-size: cover;
    position : relative;
    .chi-tiet-tang-dien-thoai {
        float: right;
    }
    .mo-ta-tang-dien-thoai {
        margin-top: -75px;
        z-index: 10;
    }
    .tim-hieu-them {
        color: #fff;
        padding: 5px 35px;
        border-radius: 20px;
        background: linear-gradient(to bottom, #464497, #713c94);
    }
    .chi-tiet-tang-dien-thoai {
        color: #F6402E;
        text-decoration: underline;
    }
    .vivo-content {
        color: #D6D4D5;
    }
    @media(max-width: 1200px) and (min-width: 769px) {
        .mo-ta-tang-dien-thoai {
            margin-top: -65px;
        }
    }
    @media(max-width: 767px){
        .chi-tiet-tang-dien-thoai {
            float: none;
        }
        .mo-ta-tang-dien-thoai {
            text-align: center;
        }
        .mo-ta-tang-dien-thoai {
            margin-top: 10px;
            margin-bottom: 20px;
        }
        
    }
}
.m-b-20 {
    margin-bottom: 20px;
}
.section-quatang-1, .section-quatang-2 {
    padding: 20px 0px 10px 0px;
    // background: url(https://cdn1.vienthonga.vn/image/2018/10/2/100000_bg-sile-gif.png) no-repeat center;
    background-size: cover;
    position : relative;
    .vivo-content, .vivo-title {
        text-align: center;
    }
    .vivo-title {
        font-size: 50px;
    }
    .vivo-title-2 {
        font-size: 35px;
        @extend .font-ss3;
        color: #1B7583;
        margin-bottom: 30px;
    }
    .xct-qua {
        line-height: 40px;
        font-style: italic;
        text-decoration: underline;
        font-size: 20px;
        color: #F45133;
        margin-top:10px;
        @include respond-to(mobile) {
            font-size: 14px;
        }
    }
    .img-left {
        left: 50px;
        position: relative;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
        font-size: 20px;
        @include respond-to(mobile) {
            font-size: 14px; 
        }
    }
    .red {
        color: #ec1119;
    }
    @media(max-width: 767px){
        // background: transparent;
        padding: 0;
        .vivo-content, .vivo-title {
            text-align: center;
        }
        .vivo-title {
            font-size: 30px !important;
        }
        .vivo-title-2 {
            font-size: 30px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}
.section-quatang-2 {
    background: url(https://cdn1.vienthonga.vn/image/2018/10/0/100000_bg-gift.png) no-repeat center;
    background-size: cover;
    position : relative;
    @media(max-width: 767px){
        padding: 0 0 30px 0;
    }
}
.section-manhinh {
	padding: 30px 0px 0px 0px;
	background: url(https://cdn1.vienthonga.vn/image/2018/5/5/100000_daimau.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    .vivo-content, .vivo-title {
        text-align: center;
    }
    .vivo-title {
        color: #fff;
    }
    .vivo-content {
        color: #D6D4D5;
    }
    @media(max-width: 767px){
        // background: transparent;
        padding: 0;
        

    }
}
.section-honor-xanh {
    background-size: cover;
    position : relative;
    background: #fff;
    padding: 35px 0px 0px 0px;
    padding-bottom: 50px;
    .vivo-content, .vivo-title {
        color: #000;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
    }
    @media(min-width: 769px){
        .vivo-content, .vivo-title {
            text-align: center;
        }
    }
    @media(max-width: 767px){
        // background: transparent;
        padding: 0;
        padding-bottom: 0px;

    }
}
.section-matlung {
    padding-bottom: 0px;
    background: #fff;
    // background: url(https://cdn1.vienthonga.vn/image/2018/7/2/100000_bg-2.jpg) no-repeat center;
    // background-size: cover;
    position : relative;
    padding: 30px 0px 0px 0px;
    @media(min-width: 769px){
        .vivo-content, .vivo-title {
            text-align: left;
        }
    }
    @media(max-width: 767px){
        // background: transparent;
        padding: 0;

    }
}
.section-chup-sieu-rong {
    // background: #fff;
    background: url(https://cdn1.vienthonga.vn/image/2018/10/0/100000_bg-chup-sieu-rong.png) no-repeat center;
    background-size: cover;
    position : relative;
    padding: 30px 0px 50px 0px;
    
    .vivo-content, .vivo-title {
        color: #fff;
    }
    @media(min-width: 769px){
        .vivo-content, .vivo-title {
            text-align: center;
        }
    }
    @media(max-width: 767px){
        // background: url(https://cdn1.vienthonga.vn/image/2018/10/0/100000_2885bfe4-cc44-4e11-88b0-9728562f81c3.jpg) no-repeat center;
        background: none;
        padding: 0;

    }
}
.section-camera-sau-kep {
    padding: 30px 0px 0px 0px;
    // background: url(https://cdn1.vienthonga.vn/image/2018/10/3/100000_4.jpg) no-repeat center;
    // background-size: cover;
    background: #fff;
    position : relative;
    .vivo-content, .vivo-title {
        text-align: center;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
    }
    @media(max-width: 767px){
        // background: transparent;
        padding: 0;
        // padding-bottom: 15px;

    }
}
.section-trinh-chieu {
    padding: 200px 0px 240px 0px;
    background: url(https://cdn1.vienthonga.vn/image/2018/10/0/100000_82a215aa2b4a467a906b1f956243b729fc55a4a7bec0f55d2f-pimgpsh-mobile-save-1.jpg) no-repeat center;
    background-size: cover;
    // background: #fff;
    position : relative;
    .vivo-content, .vivo-title {
        text-align: left;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
    }
    @media(max-width: 1000px){
        padding: 100px 0px 120px 0px;
    }
    @media(max-width: 767px){
        background: url(https://cdn1.vienthonga.vn/image/2018/10/0/100000_35190a24-dedf-432c-b218-d34b4186ea05.jpg) no-repeat center;
        background-size: 100% 100%;
        .vivo-content, .vivo-title {
            text-align: center;
        }
        // background: transparent;
        padding: 0px 0px 185px 0px;
        // padding-bottom: 15px;

    }
}
.section-dong-che-tac {
    padding: 30px 0px 0px 0px;
    // background: url(https://cdn1.vienthonga.vn/image/2018/10/3/100000_4.jpg) no-repeat center;
    // background-size: cover;
    background: #f3f3f3;
    position : relative;
    .vivo-content, .vivo-title {
        text-align: center;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
    }
    @media(max-width: 767px){
        // background: transparent;
        padding: 0;
        // padding-bottom: 15px;

    }
}
.section-tuyet-tac {
    padding: 30px 0px 0px 0px;
    // background: url(https://cdn1.vienthonga.vn/image/2018/10/3/100000_4.jpg) no-repeat center;
    // background-size: cover;
    background: #F5F3F4;
    position : relative;
    .vivo-content, .vivo-title {
        text-align: center;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
    }
    @media(max-width: 767px){
        // background: transparent;
        padding: 0;
        // padding-bottom: 15px;

    }
}
.section-mh-tran-vien {
    padding: 30px 0px 0px 0px;
    background: url(https://cdn1.vienthonga.vn/image/2018/11/2/100000_bg.png) no-repeat center;
    background-size: cover;
    // background: #fff;
    position : relative;
    .vivo-content, .vivo-title, .vivo-title-small {
        text-align: center;
    }
    .vivo-title, .vivo-title-small {
        color: #fff;
    }
    .vivo-content {
        color: #fff;
    }
    @media(max-width: 767px){
        background: url(https://cdn1.vienthonga.vn/image/2018/11/2/100000_bg.png) no-repeat center;
        background-size: 150% 100%;
        padding: 0;

    }
}
.section-pin-ben-bi {
    padding: 0px 0px 0px 0px;
    background: #fff;
    background-size: cover;
    position : relative;
    .vivo-content, .vivo-title {
        text-align: center;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
    }
    @media(max-width: 767px){
        // background: transparent;
        padding: 0;
        // padding-bottom: 15px;

    }
}
.section-phieu-nhac {
    padding: 0px 0px 0px 0px;
    background: url(https://cdn1.vienthonga.vn/image/2018/10/3/100000_4.png) no-repeat center;
    background-size: cover;
    position : relative;
    .vivo-content, .vivo-title {
        text-align: center;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
    }
    @media(max-width: 767px){
        // background: transparent;
        padding: 0;
        // padding-bottom: 15px;

    }
}
.section-camera-bat-tron {
    padding: 30px 0px 20px 0px;
    background: #fff;
    // background: url(https://cdn1.vienthonga.vn/image/2018/10/3/100000_3-1-1.jpg) no-repeat center;
    // background-size: cover;
    position : relative;
    .vivo-content, .vivo-title {
        text-align: center;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
    }
    @media(max-width: 767px){
        // background: transparent;
        padding: 0;
        padding-bottom: 15px;

    }
}
.vivo-title-small {
    color: #000;
    @extend .font-ss1;
    font-size: 30px;
    @include respond-to(mobile) {
        font-size: 20px; 
        text-align: center;
    } 
}
.section-camera-truoc {
    padding: 30px 0px 0px 0px;
    // background: url(https://cdn1.vienthonga.vn/image/2018/10/3/100000_4.jpg) no-repeat center;
    // background-size: cover;
    background: #fff;
    position : relative;
    .vivo-content, .vivo-title {
        text-align: left;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
    }
    @media(max-width: 767px){
        .vivo-content, .vivo-title {
            text-align: center;
        }
        // background: transparent;
        padding: 0;
        margin-top: -5px;
        // padding-bottom: 15px;

    }
}
.section-camera-sau-kep-2 {
    padding: 80px 0px 0px 0px;
    background: url(https://cdn1.vienthonga.vn/image/2018/11/4/100000_1-1.png) no-repeat center;
    // background-size: cover;
    // background: #fff;
    min-height: 700px;
    position : relative;
    // min-height: 500px;
    .vivo-content, .vivo-title {
        text-align: left;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
    }
    @media(max-width: 767px){
        min-height: 0px;
        .vivo-content, .vivo-title {
            text-align: center;
        }
        background: transparent;
        padding: 0;
        margin-top: -5px;
        // padding-bottom: 15px;

    }
}
.section-pin-khung {
    padding: 120px 0px 120px 0px;
    @media(max-width: 767px){
        padding: 0;
        padding-bottom: 20px;
    }
}
.section-sac-mau-phong-cach {
    padding: 0px 0px 0px 0px;
    // background: #FFF3E4;
    min-height: 500px;
    .padding-sacmau {
        padding-top: 80px;
    }
    @media(min-width: 1500px){
        min-height: 600px;
        .padding-sacmau {
            padding-top: 100px;
        }
    }
    @media(min-width: 1900px){
        min-height: 650px;
        .padding-sacmau {
            padding-top: 120px;
        }
    }
    background: url(https://cdn1.vienthonga.vn/image/2018/11/4/100000_group-15-1.png) no-repeat center;
    background-size: cover;
    position : relative;
    .vivo-content, .vivo-title {
        text-align: left;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
    }
    @media(max-width: 767px){
        .padding-sacmau {
            padding-top: 0px;
        }
        min-height: 0px;
        .vivo-content, .vivo-title {
            text-align: center;
        }
        background: #fff;
        padding: 0;
        margin-top: -5px;
        // padding-bottom: 15px;

    }
}
.section-color-os {
    padding: 30px 0px 30px 0px;
    background: #FFF3E4;
    // background: url(https://cdn1.vienthonga.vn/image/2018/10/3/100000_4.jpg) no-repeat center;
    // background-size: cover;
    position : relative;
    .vivo-content, .vivo-title {
        text-align: left;
    }
    .vivo-title {
        color: #000;
    }
    .vivo-content {
        color: #000;
    }
    @media(max-width: 767px){
        .vivo-content, .vivo-title {
            text-align: center;
        }
        padding: 0;
        padding-bottom: 15px;

    }
}
.section-gpu-turpo {
    padding-bottom: 0px;
    background: #fff;
    background-size: cover;
    position : relative;
    padding: 50px 0px 0px 0px;
    .vivo-title, .vivo-content {
        text-align: right;
        color: #000;
    }
    
    .vivo-content {
        color: #000;
    }
    @media(max-width: 767px){
        // background: #0e1227;
        .vivo-title, .vivo-content {
            text-align: center;
        }
        padding: 0px 0px 0px 0px;

    }
}
.section-cauhinh-manh-me {
    padding-bottom: 0px;
    background: #010C3B;
    background-size: cover;
    position : relative;
    padding: 30px 0px 30px 0px;
    .vivo-content, .vivo-title {
        @media(min-width: 769px){
            text-align: left;
        }
    }
    .vivo-title {
        color: #fff;
    }
    .vivo-content {
        color: #D6D4D5;
    }
    @media(max-width: 767px){
        // background: transparent;
        padding: 0px 0px 10px 0px;

    }
}
.section-mokhoa-vantay {
    padding: 30px 0px 20px 0px;
    background: url(https://cdn1.vienthonga.vn/image/2018/7/2/100000_bg-6.jpg) no-repeat center;
    background-size: cover;
    position : relative;
     .vivo-content, .vivo-title {
        color: #fff;
        text-align: center;
    }
    .vivo-content {
        color: #D6D4D5;
    }
    @media(max-width: 767px){
        // background: transparent;
        padding: 0;
        padding-bottom: 20px;
        .manhinhvocuc--content {
            // background: #000;
        }

    }
}
.content-mokhoa {
    @media(min-width: 769px){
        width: 50%;
        display: inline-block;
        float: left;
    }
    
}
.section-sacnhanh {
    padding: 150px 0px 150px 0px;
    background: url(https://cdn1.vienthonga.vn/image/2018/7/2/100000_bg-5.jpg) no-repeat center;
    background-size: cover;
    position : relative;
     .vivo-content, .vivo-title {
        color: #fff;
        text-align: right;
    }
    .vivo-content {
        color: #D6D4D5;
    }
    @media(max-width: 767px){
        background: #0e1227;
        padding: 0;
        .manhinhvocuc--content {
            // background: #000;
        }
         .vivo-content, .vivo-title {
            text-align: center;
        }
    }
}
.section-thuphong {
	padding-bottom: 0px;
	background: url(https://cdn1.vienthonga.vn/image/2018/5/5/100000_pre-huawei-kha-nang-thu-phong-hybrid-gap-5-lan.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    padding: 170px 0px;
    .vivo-title, .vivo-content {
    	text-align: right;
    	color: #fff;
    }
    @media(max-width: 767px){
        background: transparent;
        padding: 0;
        .thuphong--content {
        	background: #6AB9F0;
        	.vivo-title, .vivo-content {
        		color: #fff;
        		text-align: left;
        	}
        }

    }
}
.section-anhsang {
	padding-bottom: 0px;
	background: url(https://cdn1.vienthonga.vn/image/2018/5/5/100000_pre-huawei-nghe-thuat-anh-sang.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    @media(min-width: 768px){
	    .img-ipad {
			margin-bottom: 70px;
		}
	}
    @media(max-width: 767px){
        background: transparent;
        padding: 0;
        .manhinhvocuc--content {
        	background: #1F0F2F;
        	.vivo-title, .vivo-content {
        		color: #fff;
        	}

        }

    }
}
.section-master-ai {
	background: url(https://cdn1.vienthonga.vn/image/2018/5/2/100000_pre-huawei-selfie1.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    padding: 20px 0px;
    padding-bottom: 0px;
    .vivo-title, .vivo-content {
    	color: #000;
    }
    @media(max-width: 767px){
        background: transparent;
        padding: 0;
        .thuphong--content {
        	.vivo-title, .vivo-content {
        		text-align: left;
        	}
        }

    }
}
@media (min-width: 400px) {
	.s9-detail {
	    justify-content: flex-start;
	}
}
.section-thongsokythuat {
    background: #fff;
    color: #000;
    .thongso-title {
        font-size: 22px;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    @media (min-width: 768px){
        .thongso-title {
            margin-bottom: 47px;
        }
    }
    .table.table-light > tbody > tr > td {
        @extend .font-ss7;
        font-size: 16px !important;
        @include respond-to(mobile) {
            font-size: 14px !important;
        }
    }
}
.section-dangky-nhanthongtin .muangay-footer-button a {
	font-weight: bold;
}
.plus-boquatang-title {
    @extend .font-ss1;
	text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 35px;
}
.check-icon-kh {
	background: #2A5A9E;
    color: #fff;
    font-size: 11px;
    padding: 0px 2px;
}
.section-dangky-nhanthongtin {
	padding: 20px 0px 0px 0px;
    @include respond-to(mobile) {
        padding: 0px 0px 0px 0px;
    }
}
@media (min-width: 769px) {
	.tooltip-m {
		float: right;
	}
    .modal-dialog {
        margin-top: 10vh;
    }
    .xemdanhsachdangki {
        span {
            font-weight: bold;
        }
    }
}
.tooltip-m {
    border-bottom: none;
}
.form-detail {
	padding-bottom: 80px;
}
@media (max-width: 767px) {
    .form-control-row {
        margin-top: 0px;
    }
    .modal-dialog {
        margin-top: 30vh;
    }
}
.paddingB20 {
    padding-bottom: 20px;
}
.paddingB10 {
    padding-bottom: 10px;
}
.paddingB30 {
    padding-bottom: 30px;
}
.bold {
    font-weight: bold;
}
.s9-text {
    width: 100%;
    p:nth-child(1) {
        margin: 5px;
        margin-left: 30px;
    }
    p:nth-child(2) {
        margin-left: 30px;
    }
}
.preoder-heading {
    @extend .font-ss2;
}
.preoder-heading p:nth-child(2) {
    @extend .font-ss3;
}
.reoder-form {
    @extend .font-ss2;
}
.preorder-title {
    @extend .font-ss1;
    color: #000;
    .radio-note {
        @extend .font-ss3;
    }
    .font-nomal {
        @extend .font-ss3;
    }
}
.chi-phi {
    border-top: solid 1px black;
    padding-top: 5px;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0px;
}
.lienhe-tongdai {
    @extend .font-ss2;
    .tooltiptext {
        font-size: 12px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 90% !important;
    }
}
.iframe {
    width: 100% !important;
    height: 70vh;
    margin: 0 auto;
    @media (max-width: 767px) {
        height: 30vh;
    }
}
.d-block {
    display: block;
}
.d-none {
    display: none !important;
}
.tb-height {
    max-height: 304px;
}
.price-quatang {
    color: #FC0303;
    @extend .font-ss2;
    font-weight: 200;
}
.qua-2-sub {
    font-size: 35px !important;
    margin-bottom: 25px;
}
.qua-2-content {
    font-size: 15px;
}
.section-boquatang-01 {
    padding: 30px 0px 20px 0px;
}

.box-uudai-quatang {
    @media (min-width: 769px) {
        margin-right: 10px !important;
        margin-left: 10px !important;
        border: 2px solid transparent;
        border-image: linear-gradient(to right, #03CDFD , #9A2ECF);
        border-image-slice: 1;
        div {
            margin: 12px 0px;
        }
    }
    @media (max-width: 767px) {
        margin-right: 10px !important;
        margin-left: 10px !important;
        div:nth-child(1) {
            padding-top: 0px;
        }
        div {
            padding-top: 10px;
        }
    }
    div:nth-child(1) {
        @media (min-width: 769px) {
            border-right: 1px solid #9A2ECF;
        }
        @media (max-width: 767px) {
            border-top: 1px solid #CD97E8;
        }
    }
    div:nth-child(2) {
        @media (min-width: 769px) {
            border-right: 1px solid #9A2ECF;
        }
        @media (max-width: 767px) {
            border-top: 1px solid #CD97E8;
        }
    }
    div:nth-child(3) {
        @media (max-width: 767px) {
            border-top: 1px solid #CD97E8;
        }
    }
}
.s8-sub-title {
    @extend .font-ss3;
    font-size: 30px;
    text-transform: none;
    @media (max-width: 767px) {
        font-size: 30px;
    }
}
.s8-sub-title-2 {
    @extend .font-ss3;
    font-size: 50px;
    text-transform: none;
    @media (max-width: 767px) {
        font-size: 25px;
    }
}

.s9-detail {
    img {
        margin: 20px 0px;
        height: auto;
        width: auto;
        @media (max-width: 767px) {
            height: 40px;
        }
    }
}
.tb-sp {
    font-size: 13px;
}
.section-danhsach {
    background: #fff;
    @media (max-width: 767px) {
        background: #f6f6f6;
        padding-top: 0px;
    }
}
/* .section-dangky-nhanthongtin2 {
    background: #eee;
    position : relative;
    padding: 20px 0px 0px 0px;
    align-items: center;
    display: flex;
    .muangay-footer-button {
        margin-bottom: 0;
        text-align: left;
    }
    .muangay-footer-button a {
        font-weight: bold;
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid #000;
        padding: 12px 27px;
        border-radius: 29px;
        background: transparent;
    }
    .dangky-nhanthongtin-content {
        text-align: left;
        padding: 35px 20px;
        text-transform: uppercase;
        font-size: 24px;
        color: #000;
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    @media (max-width: 767px) {
        .muangay-footer-button {
            text-align: center;
        }
    }
} */
.section-tintuc-2 {
    padding: 20px 0px;
    background: #fff;
    .thongsos8-title {
        text-transform: none;
    }
}
.slick-next, .slick-prev {
    height: 50px;
    border-radius: 100px;
    z-index: 2;
    background: none;
    width: 50px;
}
.hinhanh-slide-button {
    .slick-next, .slick-prev {
        top: 45%;
    }
    .sp-slide5 {
        .slick-next, .slick-prev {
            top: 58%;
        }
    }
    
    .slick-prev:before {
        content: url(https://cdn1.vienthonga.vn/image/2018/11/2/100000_group-8.png);
    }
    .slick-next:before {
        content: url(https://cdn1.vienthonga.vn/image/2018/11/2/100000_group-12.png);
    }
    .slick-next {
        right: 60px !important;
        width: 100px;
        height: 100px;
        // border: 1px solid rgba(0, 0, 0, 1);
    }
    .slick-prev {
        left: 20px !important;
        width: 100px;
        height: 100px;
        // border: 1px solid rgba(0, 0, 0, 1);
    }
    @include respond-to(mobile) {
        padding: 0px !important;
        .slick-next, .slick-prev {
            display: none !important;
        }
    }
    .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
        // border: 1px solid rgba(0, 0, 0, 1)
    }
    .slick-prev.slick-disabled, .slick-next.slick-disabled {
        // border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .slick-dots {
        // display: none !important;
        bottom: 10px; 
    }
    .embed-responsive-item {
        height: auto;
    }
    .embed-responsive-full {
        padding-bottom: 70%;
    }
    // .slick-prev:before {
    //     content: url(https://cdn1.vienthonga.vn/image/2018/10/5/100000_100000-back.png);
    // }
    // .slick-next:before {
    //     content: url(https://cdn1.vienthonga.vn/image/2018/10/5/100000_100000-back-1.png);
    // }
    .slick-dots li button:before {
        color: #000;
    }
    .slick-dots li.slick-active button:before {
        color: #000;
    }
}
.slick-prev:before, .slick-next:before {
    color: #000;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: none;
}
.slick-prev:before {
    content: url(https://cdn1.vienthonga.vn/image/2018/5/6/100000_back.png);
}
.slick-next:before {
    content: url(https://cdn1.vienthonga.vn/image/2018/5/6/100000_next.png);
}
.embed-responsive-full{
    padding-bottom: 79%;
}
/* .slick-list {
    display: flex;
    flex-direction: row;
} */
/* .slick-slide img {
    width: 100%;
    height: auto;
    padding: 0 10px;
    margin-bottom: 20px;
} */
.new {
    padding: 0px;
}
.new2 {
    padding-bottom: 24px;
    text-align: left;
    .name {
        font-size: 14px;
        @extend .font-ss1;
        @media (max-width: 767px) {
            font-size: 12px;
        }
    }
    .time {
        font-size: 12px;
    }
    .note {
        font-size: 12px;
    }
}
.row2 {
    height: 50px;
    overflow: hidden;
}
.dots-number {

}
.slick-dots .dots-number {
    color: #000;
    padding: 1px 6px 1px 6px;
    border-radius: 100%;
    font-size: 12px;
    background: #EAE8E8;
}
.slick-active .dots-number {
    color: #000;
    padding: 1px 6px 1px 6px;
    border-radius: 100%;
    font-size: 12px;
    background: #C5C1C1;
}
@media (max-width: 767px) {
    .new-title {
        font-size: 30px !important;
    }
    .section-quatangplus {
        background: #fff !important;
    }
    .qua-2-sub {
        font-size: 25px !important;
        margin-bottom: 10px;
    }
}
.new-title {
    font-size: 30px;
    @extend .font-ss1;
    padding-bottom: 10px;
}
.img-abc {
    // height: 100% !important;
    width: 100%;
    right: 0px;
    left: 0px;
}
.khuyenmai-tooltip {
    font-style: italic;
    font-size: 14px;
}
.comment-tintuc {
    color: #7A7A7A;
}
.img-tintuc2 {
    width: 100%;
    max-height: 100px;
}
.tintuc-border {
    // border: 1px solid #979797;
}

.p-t-10 {
    padding-top: 10px;
}

.p-b-10 {
    padding-bottom: 10px;
}

// Variables
$color: rgba(70, 200, 255, 0.9);
$color2: rgba(0, 0, 0, 0.01);

.circle-ripple {
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
    width: 1em;
    height: 1em;
    border-radius: 1em;
    -webkit-animation: ripple 0.7s linear infinite;
    transform: rotateX(0deg);
    animation: ripple 0.7s linear infinite;
}
.circle-ripple2 {
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.1);
    width: 1em;
    height: 1em;
    border-radius: 1em;
    -webkit-animation: rippletwo 1.5s linear infinite;
    transform: rotateX(0deg);
    animation: rippletwo 1.5s linear infinite;
}
@keyframes rippletwo {
  0% {
    box-shadow: 0 0 0 9em rgba($color2, 0.08),
                0 0 0 12em rgba($color2, 0.08);
  }
  100% {
    box-shadow: 0 0 0 12em rgba($color2, 0.08),
                0 0 0 16em rgba($color2, 0);
  }
}
@media(min-width: 768px) and (max-width: 1000px){
    @keyframes rippletwo {
        0% {
            box-shadow: 0 0 0 0 rgba($color2, 0.08),
                        0 0 0 5em rgba($color2, 0.08),
                        0 0 0 7em rgba($color2, 0.08),
                        0 0 0 9em rgba($color2, 0.08);
        }
        100% {
            box-shadow: 0 0 0 5em rgba($color2, 0.08),
                        0 0 0 7em rgba($color2, 0.08),
                        0 0 0 9em rgba($color2, 0.08),
                        0 0 0 12em rgba($color2, 0);
        }
    }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($color2, 0.3),
                0 0 0 1.5em rgba($color2, 0.3),
                0 0 0 3em rgba($color2, 0.3),
                0 0 0 4.5em rgba($color2, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1.5em rgba($color2, 0.3),
                0 0 0 3em rgba($color2, 0.3),
                0 0 0 4.5em rgba($color2, 0.3),
                0 0 0 5.5em rgba($color2, 0);
  }
}
/* @keyframes rippletwo {
  0% {
    box-shadow: 0 0 0 0 rgba($color2, 0.3),
                0 0 0 2em rgba($color2, 0.3),
                0 0 0 5em rgba($color2, 0.3),
                0 0 0 9em rgba($color2, 0.3);
  }
  100% {
    box-shadow: 0 0 0 2em rgba($color2, 0.3),
                0 0 0 5em rgba($color2, 0.3),
                0 0 0 9em rgba($color2, 0.3),
                0 0 0 14em rgba($color2, 0);
  }
} */
.bar-name {
    span {
        color: #fff;
    }
}
.p-r-20 {
    padding-right: 20px;
}
.tskt-note9 {
    @extend .font-ss1;
    font-size: 15px;
    color: #000 !important;
    tbody > tr > td {
        color: #000 !important;
        padding: 15px;
    }
    tbody > tr {
        border-bottom: 5px solid #F9F9F9;
    }
    tbody > tr:nth-of-type(odd) {
        background-color: #ECECEC;
    }
    tbody > tr:nth-of-type(even) {
        background-color: #fff;
    }
}
.bar-brand {
    cursor: pointer;
}
.section-thongsokythuat {
    background: #F9F9F9;
    padding: 30px 0px;
}
.chi-phi-uoc-tinh {
    font-size: 14px;
    margin-top: 10px;
}
.datmua-mobile{
    // background: #F6402E;   
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    display: block;
    padding: 11px 20px;
    margin-top: 0px;
    cursor: pointer;;
    border-radius: 2px;   
    // @extend .font-ss1; 
    // &:hover,
    // &:focus,
    // &:visited{
    //     color: white ;
    //     background: darken(#F6402E, 10%) ;
    // }
}
.datmua-mobile {
    background-image: linear-gradient(-40deg, #AF8C5A 0%, #E3C99F 98%, #E6CBA1 100%);
    // background: #FFCD00 !important;
    // background: #FFF300 !important;
    border-radius: 39px !important;
    font-family: Roboto-Bold !important;
    // @extend .font-ss1;
    color: #fff !important;
    // background: rgb(251, 231, 115) !important;
    // color: #252d60 !important;
    @include respond-to(mobile){
        border-radius: 0px !important;   
        font-size: 18px;
    }
}
.tri-gia {
    color: #000;
    font-size: 23.35px;
    @extend .font-ss1;
    span {
        color: #EC0618;
        font-size: 28px;
    }
    @include respond-to(mobile){
       text-align: center;   
    }  
}
.thele-content {
    @extend .font-ss3;
}
.thongso-s9 {
    display: flex;
}
.s9-detail {
    display: block;
    text-align: center;
    align-items: flex-start;
    margin: 0px 5px;
    justify-content: center;
    img {
        margin: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}
.circle-gradient {
    display: flex;
    justify-content: space-evenly;
    @include respond-to(mobile) {
        justify-content: space-between;
        padding-left: 25px;
    } 
    div {
        position: relative;
        font-size: 16px;
        @extend .font-ss1;
        @include respond-to(mobile){
            font-size: 12px; 
        } 
    }
    .circle-gradient-1 {
        position: absolute;
        border-radius: 100%;
        left: -24px;
        top: -3px;
        width: 19px;
        height: 19px;
        background-image: linear-gradient(-229deg, #2270BB 0%, #3797E3 100%);
    }
    .circle-gradient-2 {
        position: absolute;
        border-radius: 100%;
        left: -24px;
        top: -3px;
        width: 19px;
        height: 19px;
        background-image: linear-gradient(-229deg, #C19B84 0%, #E7C6B2 100%);
    }
    .circle-gradient-3 {
        position: absolute;
        border-radius: 100%;
        left: -24px;
        top: -3px;
        width: 19px;
        height: 19px;
        background-image: linear-gradient(-229deg, #232327 0%, #54595F 100%);
    }
}
.tab-slide {
    display: flex;
    @extend .font-ss2;
    justify-content: space-evenly;
    /* @include respond-to(mobile) {
        justify-content: space-between;
    }  */
    .active {
        @extend .font-ss3;
        text-decoration: underline;
    }

    div {
        position: relative;
        font-size: 16px;
        cursor: pointer;
        @extend .font-ss3;
        @include respond-to(mobile) {
            font-size: 12px; 
        } 
    }
    @include respond-to(mobile) {
        font-size: 12px; 
    } 
}
.m-t-10 {
    margin-top: 10px;
}
.div-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include respond-to(mobile) {
        display: block;
        font-size: 12px;
        text-align: center;
        div {
            margin-top: 10px;
        }
        img {
            width: 40px;
        } 
    } 
}
.div-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include respond-to(mobile) {
        display: block;
        font-size: 12px;
        text-align: center;
        div {
            margin-top: 10px;
        }
        img {
            width: 40px;
        } 
    } 
}
/* add them cho form main theo font family */
.preoder-heading p:nth-child(1), .reoder-form, .radio-note, .lienhe-tongdai, .preoder-heading p:nth-child(2) {
    @extend .font-ss4;
}
.dat-truoc-huawei, .preorder-title, .form-bold, .btn-hoantat {
    @extend .font-ss1;
}
.opt-radio .opt-radio-icon {
    top: 50% !important;
}
.reorder-timer .countdown2 .box-timer {
    background: #1B7583;
    border-top: 3px solid #1B7583;
}
.reorder-timer .countdown2 .box-timer::after {
    background: none !important;
}
.table.table-light {
    // chỉ dành cho cái danh sách khách hàng
    font-family: SamsungSharpSans-Medium;
}
.form-mate-20 {
    @extend .font-ss3;
}
.form-control {
    color: #000;
    font-size: 14px;
}
// .thele-content {
//     b {
//         color: #000 !important;
//     }
// }
.dat-gach {
    font-size: 30px;
    margin-top: 20px;
    @extend .font-ss2;
    text-align: center;
    @include respond-to(mobile) {
        font-size: 21px; 
    } 
}
.text-dat-coc {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    @include respond-to(mobile) {
        font-size: 15px; 
    } 
}
.chon-sp-mate-20 {
    margin-top: 0px;
    display: flex;
    @include respond-to(mobile) {
        display: block;
    } 
    .preorder-title {
        margin-top: 0px;
        margin-bottom: 0px;
        margin: unset;
        margin-right: 50px;
        @include respond-to(mobile) {
            margin: 0 auto;
            margin-bottom: 10px;
            margin-top: 20px;
        } 
    }
    .opt-radio {
        margin-right: 50px;
        @include respond-to(mobile) {
            width: unset;
        } 
    }
    // .opt-no-img {
    //     @extend .font-ss3;
    // }
}
.btn-tim {
    background: #1B7583;
    border-radius: 2px;
    font-size: 20px;
    @extend .font-ss1;
    padding: 8px 25px;
    color: #FFFFFF;
}
.muoi-trieu {
    font-size: 55px;
    @include respond-to(mobile) {
        font-size: 30px;
    }
}
.nhan-bo-qua {
    @extend .font-ss1;
    margin-bottom: 10px;
    color: #1B7583;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    @include respond-to(mobile) {
        margin-top: 10px;
        font-size: 30px;
    }
}
.nhan-bo-qua-2 {
    padding: 5px 40px;
    @extend .font-ss3;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-size: 30px;
    border: 1px solid #1B7583;
    border-radius: 100px;
    @include respond-to(mobile) {
        font-size: 20px;
        padding: 5px 30px;
    }
}
.sp-slide5 {
    .slide {
      height: 100%;
    }

    .slick-track {
      display: flex;
    }
    .slick-track .slick-slide {
      display: flex;
      height: auto;
      align-items: unset;
      justify-content: center;
    }
}
.left-des {
    margin-left: 135px !important;
    @include respond-to(mobile) {
        margin-left: unset !important;
    }
}
.xem-chi-tiet-qua-tang {
    @extend .font-ss7;
    color: #000;
    font-size: 20px;
    border-bottom: 1px solid #000;
}
.plus-icon {
    position: absolute;
    right: 0px;
    font-size: 40px;
    top: 45%;
    @include respond-to(mobile) {
        bottom: 0px;
        font-size: 25px;
        right: 48%;
        top: unset;
    }
}
.tab-content-oppo-a7-1, .tab-content-oppo-a7-2 {
    border-radius: 32px;
    font-size: 25px !important;
    color: #FFFFFF;
    padding: 10.5px 30px;
    text-decoration: none !important;
    @include respond-to(mobile) {
        padding: 5px 20px;
        font-size: 14px !important;
    }
}
.tab-content-oppo-a7-1 {
    background-image: linear-gradient(-218deg, #005066 0%, #003D54 100%);
}
.tab-content-oppo-a7-2 {
    background-image: linear-gradient(-218deg, #E5C9A0 0%, #AD8856 100%);
}
.datmua-mobile {
    opacity: 0;
    pointer-events: none;
    @include respond-to(mobile) {
        height: 0px;
        padding: 0px;
    }
}