.section-datmua{
    background: black;
    padding: 20px 0;
}

@media (min-width: 992px) {
	.fb-like {
		float: right;
	}
}
.xemdanhsach-link{
    a{
        font-size: 14px;
        text-decoration: underline;
        color: black;
        padding-right: 10px;
        &:hover{
            color: darken(#00ade6, 10%);
        }
    }
    @include respond-to(mobile){
       display: block;       
     }   
}

.danhsachsocial{
    padding: 10px 0;
    @media(min-width: 768px){
        border-bottom: solid 1px black;
    }
   

}
@media(max-width: 767px){
    .xemdanhsachdangki{
       
        padding: 0px !important;
        border: none !important;
        border-radius: 2px;
        margin-bottom: 0;
        text-align: center;
    }

    .xemdanhsach-link{
        margin-top: 8px;
        border: solid 1px black;
        text-align: center;
        padding: 7px 0;
        a {
        	text-decoration: none;
        }
    }

    .social-m{
        text-align: center;
        border: solid 1px black;
        padding: 7px 0;
    }

    .section-camera{
        background: white;
        padding: 0px;
    }
    .text-block{
        .vivo-title,
        .vivo-content{
            color: black;
        }
    }
    .camera-content{
        position: static;
        transform: none;
        background: transparent;
        .vivo-title,
        .vivo-content{
            color: black;
        }
        
    }

    .section-pentemp{
        padding: 0px;
        .vivo-title,
        .vivo-content{
            color: black;
        }
    }
    .vivo-title {
    	margin: 20px 0px 10px 0px;
    	font-size: 18px !important;
    	margin-bottom: 10px !important;
    }
    .vivo-content {
        font-size: 14px !important;
    }
    .section-dangky-nhanthongtin .muangay-footer-button {
    	text-align: center;
    }
    .dat-truoc-huawei {
    	font-weight: bold !important;
    }
    .inline-xs {
    	display: inline-block !important;
    }
	.form-bold {
	    font-size: 24px !important;
	    font-weight: bold !important;
	}
	.w-100-xs {
		width: 100%;
	}
    .s9-text {
        width: 100%;
        p:nth-child(1) {
            margin: 5px;
            margin-left: 20px !important;
        }
        p:nth-child(2) {
            margin-left: 20px !important;
        }
    }
    .section-boquatang-01 {
        padding-bottom: 0px;
    }
}
.vivo-title {
    font-size: 36px;
}
.thanhtoan-detail span {
	font-size: 14px;
}
.thanhtoan-detail {
    .form-bold {
        @extend .font-ss6;
    }
}
.vivo-content {
	line-height: 22px;
    font-size: 18px;
}
.vivo-title {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.danhsachsocial{
    padding: 10px 0;
    @media(min-width: 768px){
        border-bottom: solid 1px black;
    }
   

}

.qua-2-sub{
    @extend .font-ss1;
    font-size: 18px !important;
}

.qua-2-content{
    font-size: 14px;
    @media(max-width: 767px){
        text-align: center;
    }
}
.xem-chi-tiet {
	margin-top: 15px;
	a {
		color: #3a9ff7;
		text-decoration: underline;
	}
}
.img-ipad{
    display: none;
    margin-top: 30px;
    @media(min-width: 768px){
        display: block;
    }
}
.section-manhinh {
	padding-bottom: 0px;
	background: url(https://cdn1.vienthonga.vn/image/2018/5/5/100000_pre-huawei-tai-tho-1.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    @media(max-width: 767px){
        background: transparent;
        padding: 0;
        .manhinhvocuc--content {
        	background: #000;
        	.vivo-title, .vivo-content {
        		color: #fff;
        	}
        }

    }
}
.section-matlung {
	padding-bottom: 0px;
	background: url(https://cdn1.vienthonga.vn/image/2018/5/5/100000_pre-huawei-3-camera.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    padding: 130px 0px;
    @media(max-width: 767px){
        background: transparent;
        padding: 0;

    }
}
.section-thuphong {
	padding-bottom: 0px;
	background: url(https://cdn1.vienthonga.vn/image/2018/5/5/100000_pre-huawei-kha-nang-thu-phong-hybrid-gap-5-lan.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    padding: 170px 0px;
    .vivo-title, .vivo-content {
    	text-align: right;
    	color: #fff;
    }
    @media(max-width: 767px){
        background: transparent;
        padding: 0;
        .thuphong--content {
        	background: #6AB9F0;
        	.vivo-title, .vivo-content {
        		color: #fff;
        		text-align: left;
        	}
        }

    }
}
.section-anhsang {
	padding-bottom: 0px;
	background: url(https://cdn1.vienthonga.vn/image/2018/5/5/100000_pre-huawei-nghe-thuat-anh-sang.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    @media(min-width: 768px){
	    .img-ipad {
			margin-bottom: 70px;
		}
	}
    @media(max-width: 767px){
        background: transparent;
        padding: 0;
        .manhinhvocuc--content {
        	background: #1F0F2F;
        	.vivo-title, .vivo-content {
        		color: #fff;
        	}

        }

    }
}
.section-master-ai {
	background: url(https://cdn1.vienthonga.vn/image/2018/5/2/100000_pre-huawei-selfie1.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    padding: 20px 0px;
    padding-bottom: 0px;
    .vivo-title, .vivo-content {
    	color: #000;
    }
    @media(max-width: 767px){
        background: transparent;
        padding: 0;
        .thuphong--content {
        	.vivo-title, .vivo-content {
        		text-align: left;
        	}
        }

    }
}
@media (min-width: 400px) {
	.s9-detail {
	    justify-content: flex-start;
	}
}
.section-thongsokythuat {
    background: #fff;
    color: #000;
    .thongso-title {
        font-size: 22px;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    @media (min-width: 768px){
        .thongso-title {
            margin-bottom: 47px;
        }
    }
}
.section-dangky-nhanthongtin .muangay-footer-button a {
	font-weight: bold;
}
.plus-boquatang-title {
	text-transform: uppercase;
    margin-bottom: 50px;
}
.check-icon-kh {
	background: #2A5A9E;
    color: #fff;
    font-size: 11px;
    padding: 0px 2px;
}
.section-dangky-nhanthongtin {
	padding: 20px 0px 0px 0px;
}
@media (min-width: 769px) {
	.tooltip-m {
		float: right;
	}
    .modal-dialog {
        margin-top: 10vh;
    }
}
.tooltip-m {
    border-bottom: none;
}
.form-detail {
	padding-bottom: 80px;
}
@media (max-width: 767px) {
    .form-control-row {
        margin-top: 50px;
    }
    .modal-dialog {
        margin-top: 30vh;
    }
}
.paddingB20 {
    padding-bottom: 20px;
}
.paddingB10 {
    padding-bottom: 10px;
}
.paddingB30 {
    padding-bottom: 30px;
}
.bold {
    font-weight: bold;
}
.s9-text {
    width: 100%;
    p:nth-child(1) {
        margin: 5px;
        margin-left: 30px;
    }
    p:nth-child(2) {
        margin-left: 30px;
    }
}
.preoder-heading {
    @extend .font-ss4;
    .dat-truoc-huawei {
        @extend .font-ss5;
    }
}
.preoder-heading p:nth-child(2) {
    @extend .font-ss4;
}
.reoder-form {
    @extend .font-ss5;
}
.preorder-title {
    @extend .font-ss6;
    color: #000;
    .radio-note {
        @extend .font-ss4;
        font-weight: 200;
    }
}
.chi-phi {
    border-top: solid 1px black;
    padding-top: 20px;
    font-style: italic;
    font-size: 14px;
}
.lienhe-tongdai {
    @extend .font-ss4;
}
@media (min-width: 992px) {
    .modal-lg {
        width: 90% !important;
    }
}
.iframe {
    width: 100% !important;
    height: 70vh;
    margin: 0 auto;
    @media (max-width: 767px) {
        height: 30vh;
    }
}
.d-block {
    display: block;
}
.d-none {
    display: none !important;
}
.tb-height {
    max-height: 302px;
}
