.section-hero-iphonex{
    background: transparent;
    padding: 0;
    color: #ccc;
}
.section-social{
    padding: 10px 0;
    background: #f2f2f2;
}

.text-social{
    text-align: center;
    margin-top: 10px;
    @media(min-width: 768px){
        text-align: right;
        margin-top: 0px;
    }
    a{
        color: white;
        margin-left: 10px;
        &:hover,
        &:focus,
        &:visited{
            color: white;
        }
    }
}
.hero-iphonex-title{
    color: black;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    span{
        font-size: 60px;
        @include respond-to(mobile){
            font-size: 30px;
        }
    }
    @include respond-to(mobile){
        font-size: 30px;
    }
}

.hero-iphonex-toptitle{
    color: black;
    font-size: 35px;
    font-weight:600;
    // margin-bottom: 40px;
    @include respond-to(mobile){
        font-size: 23px;
    }
    span{
        font-size: 50px;
        color: #ff630e;
    }
}

.combo-title-sub{
    font-size: 14px;
    padding-top: 10px;
}

.btn-datmua-iphonex {
    
    margin: 15px 20px;
    display: inline-block;
    a {
        font-size: 14px;
        border-radius: 5px;
        color: black;
        
        text-decoration: none;
        background: #febc1a;
        padding: 10px 40px;
    }
    a:hover {
        background: darken(#febc1a,10%);
        color: black;
    }
    @include respond-to(mobile){
        margin: 20px 0;
    }
}

.nguoithamgia{
    display: inline-block;
    @include respond-to(mobile){
        display: block;
    }
    p{        
        display: inline-block;
        color: #999;
        font-size: 14px;
    }
}

.xemdanhsach-block{
    color: #666;
    text-decoration: underline;
    font-size: 14px;
    &:hover,
    &:visited,
    &:focus{
        color: darken(#666, 10%);
    }
}

.xemchitiet{
    color: #febc1a;
    text-decoration: underline;
    &:hover,
    &:visited,
    &:focus{
        color: darken(#febc1a, 10%);
    }
}

.section-thelevadanhsach{
    background: white;
    padding: 0;
   
}

.thele-title{
    color: #333;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    @include respond-to(small){
        margin: 10px 0;
    }
}

.modal-content{   
    box-shadow: none;
}
.des-modal .txt1 {
    background: rgb(211, 47, 47)
}
.table-dathang li.active,
 ,
#modal-thongso .txt1{
    color: #757575;
    // font-size: 18px;
    background: #6D6D3B;
    // padding: 15px 20px;
    a:hover {
        color: #fff;
    }
}
.table-dathang li.active:before{
  border-top: 5px solid #666;
  display: none;
}

/* .thele{
    height: 300px;
    @media(min-width: 991px) and (max-width: 1080px){
        height: 359px;
    }

    @media(min-width: 1081px){
        height: 332px;
    }
} */

.reoder-form{
    margin-top: 0;
}

.combo-img{
    @include respond-to(small){
        margin-bottom: 20px;
    }
}

.datmua-action{
    text-align: center;
    padding-top: 20px;
    @media(min-width: 768px){
        text-align: right;
    }
}

.thele-content{
    padding: 10px;
}

.list-combo{
    display: block;
    @media(min-width: 768px){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
   
   
}

.combo-detail{
    @media(min-width: 768px){
        align-self: flex-end;
    }
    @media(min-width: 991px) and (max-width: 1060px){
        width: 50%;
        margin-bottom: 10px;
    }
}


.listdanhsach-filter {
    margin-bottom: 20px;
}

.m-b-0{
    margin-bottom: 0 !important;
}

.m-t-0{
    margin-top: 5px !important;
}

.table.table-light>thead>tr>th{
    font-size: 12px !important;
}

.btn-iphonex{
    background: white !important;
    border: none;
}

.tb-name,
.tb-sp{
    color: #666;
}

input.input-style {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding-left: 10px;
}

.btn-gui {
    background: black;
    color: white;
    padding: 10px 42px;
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-block;
    &:hover,
    &:focus,
    &:visited{
        color: white;

    }
    
}
.form-thongtin {
    padding: 0px;
    
   
    
}

.btn-position-right{
    float: none;
    width: 100%;
    text-align: center;
    @media(min-width: 768px){
        float: right;
        width: auto;
    }
}

.input-group{
    display: block;
}

.input-group .form-control{
    width: 100% !important;
    display: block;
    float: none;
    height: 40px;
    padding-left: 50px;
}

.input-group-btn{
    position: absolute;
    top: 4px;
    left: 3px;
}

.ketqua-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    background: #E01212;
    color: white;
    border-radius: 28px;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 30px;
    cursor: pointer;
    &:hover,
    &:focus,
    &:visited{
        color: white;
        background: darken(#E01212, 10%)
    }
    @media(max-width: 767px){
        font-size: 16px;
    }
}

.section-ketqua{
    background: black;
    text-align: center;
}

.btn-xemthem{
    background: white;
    border-radius: 28px;
    padding: 10px 40px;
    text-transform: uppercase;
}

.text-hotline {
    padding: 5px 10px;
    background: #C4090F;
    color: white;
    border-radius: 2px;
}

.modal-text{
    text-align: right;
    margin-bottom: 0;
    @media(max-width: 767px){
        text-align: left;
    }
}

.modal-p {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}
.modal-header,
.modal-footer{
    border: none;
}

#myModal .modal-content{
    padding-bottom: 50px;    
}

button.close.btn-close {
    
    padding: 10px;
    background: #D8D8D8;
    border-radius: 100px;
    position: absolute;
    top: -19px;
    right: -21px;
    opacity: 1;
    

    img{
        max-width: 20px;
    }
}

.chuongtrinh-content{
    padding: 20px;
    background: #eee;
    margin-top: 20px; 
}

.sanpham-text{
    text-align: center;
    p:first-child{
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 3px;
    }
    p:last-child{
        span:first-child{
            text-decoration: line-through;
            font-size: 14px;
            color: #757575;


        }
        span:last-child{

            font-size: 18px;
            color: #E53935;

        }
    }

    @media(min-width: 768px){
        text-align: left;
    }
}

.btn-grey{
    background:#e0e0e0;
    color: black;
    margin-right: 0px;
    margin-top: 10px;
    @media(min-width: 768px){
        text-align: left;
        margin-right: 10px;
        margin-top: 0px;
    }
    &:hover,
    &:focus,
    &:visited{
        color: black;
        background:darken(#e0e0e0, 10%);
    }
}

.section-thele{
    padding-top: 0px;
}