$white: #fff;





.j7-action {
  a {
    background: #c7eafd;
    color: #000;
    margin-bottom: 20px;
    margin-top: 20px;

    &:hover {
      background: darken(#c7eafd, 10%);
      color: #000;
    }
  }

}

.xemthele {
  padding: 8px 60px;
  margin-top: 20px;

  @include respond-to(small) {
    margin-top: 0;
  }
}

.section-hero {
  background: url('https://cdn1.vienthonga.vn/image/2017/6/2/100000_hero-bg-1.jpg') #051536 no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.section-quatangdacbiet {
  background: #052247;
}

.section-qled {
  background: url('https://cdn1.vienthonga.vn/image/2017/6/2/100000_tivi-bg-1.jpg') #01112b no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.section-thietkekimloai {
  background: #c7eafc;
}

.section-chinhphucbongtoi {

  background: url('https://cdn1.vienthonga.vn/image/2017/6/2/100000_thietke-bg-1.jpg') #031134 no-repeat;

  background-size: 100% auto;

  background-position: top center;

  @include respond-to(medium) {

    background: #031134;

  }

}

.section-cauhinhtoitan {
  background: #031134;
}

.section-thongsokythuat {
  background: url('https://cdn1.vienthonga.vn/image/2017/6/2/100000_thongso-bg-1.jpg') #01112b no-repeat;
  background-size: cover;
  background-position: center center;
}





.btn-samsung {
  display: inline-block;
  background: $color-samsung;
  border-radius: 3px;
  padding: 9px 25px 7px;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  @extend .font-ss1;
  &:hover {
    background: darken($color-samsung, 10%);
  }

  @include respond-to(x-mobile) {
    padding: 9px 25px 7px;
    font-size: 14px;
  }
}

.presell--text {
  font-size: 26px;
  color: $white;
  margin-right: 5px;

  @include respond-to(medium) {
    font-size: 22px;
  }

  @include respond-to(mobile) {
    font-size: 18px;
  }
}

.presell--name {
  color: $white;
  font-size: 52px;
  @extend .font-ss1;

  @include respond-to(medium) {
    font-size: 30px;
  }

  @include respond-to(mobile) {
    font-size: 28px;
  }

  @include respond-to(x-mobile) {
    font-size: 22px;
  }
}

.presell--price {
  color: $white;
  font-size: 36px;
  span {
    font-size: 0.6em;
  }
  @extend .font-ss1;

  @include respond-to(medium) {
    font-size: 30px;
  }

  @include respond-to(mobile) {
    font-size: 30px;
  }

  @include respond-to(x-mobile) {
    font-size: 30px;
  }
}

.presell-sub {
  color: $white;
  font-size: 28px;
  @extend .font-ss2;

  @include respond-to(medium) {
    font-size: 25px;
  }

  @include respond-to(mobile) {
    font-size: 20px;
  }

  @include respond-to(x-mobile) {
    font-size: 16px;
  }
}

.presell-tinysub {
  color: $white;
  font-size: 16px;

  @include respond-to(x-mobile) {
    font-size: 14px;
  }
}

.presell {
  
  .s-sub {
    font-size: 28px;
  }
  .s-sub,
  .s-tinysub {
    color: $white;
    @extend .font-ss2;
  }

  .s-tinysub {
    font-size: 16px;
  }
}

.hero-social {
  padding-top: 45px;
}

.section-quatangdacbiet {
  .s-title2 {
    color: $white;
  }

  .s-sub2 {
    color: #c7eafc;
  }

  .list-nhanqua-img,
  .list-nhanqua-text {
    text-align: center;
    //@media(min-width: 992px){
    //    text-align: left;
    //}
    .s-content {
      color: $white;
      font-size: 14px;

      @include respond-to(mobile) {
        font-size: 13px;
      }
    }
    .s-blue {
      color: #c7eafc;
      padding-top: 10px;
      font-size: 18px;
      @include respond-to(mobile) {
        font-size: 14px;
      }

    }

    &.special {
      .s-blue {
        text-transform: uppercase;
      }
      .s-content, .s-blue {
        font-size: 14px;
        text-align: left;

        @include respond-to(mobile) {
          font-size: 13px;
          text-align: center;
        }
      }

    }
  }

}

.quatangdacbiet-lg {
  position: relative;
  .list-nhanqua-text {
    @media(min-width: 1204px) {
      position: absolute;
          bottom: -11%;
        right: -35%;
    }

  }
}

.section-qled {
  .s-title2 {
    color: $white;
  }
  .s-sub2 {
    color: #c7eafc;
  }
}

.section-thietkekimloai {
  .s-content {
  }
}

.chinhphucbongtoi-text {
  .s-title,
  .s-sub {
    color: #c7eafc;
  }
  .s-content {
    color: $white;
  }
}

.cauhinhtoitan-text {
  @extend .chinhphucbongtoi-text;
}

.section-thongsokythuat {
  .s-title {
    color: #c7eafc;
    padding-bottom: 20px;
  }
  .j7-action {
    text-align: center;
    a {
      padding: 8px 60px;
    }
  }
}





.giftName{
  text-align: center;
  margin-top: 15px;
}

.giftName-title{
  color: #c7eafc;
  @extend .font-ss1;
  font-size: 14px;
  margin-bottom: 10px;
  // padding: 0 5px;
}

.giftName-content{
  color: white;
  font-size: 12px;
  // padding: 0 5px;
} 