.section-hero-plus {
    padding: 0;

}
.img-fullview {
    width: 100%;
}
.modal-content {
    padding-top: 0px;
}
.hethan {
    background: #607D8B;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-left: 5px;
}
.width100PhanTram {
    width: 100%;
}
.saptoi {
    background: #2196F3;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-left: 5px;
}
.table-dathang {
    margin: 0px -20px;
    padding-left: 0px;
    li {
        border-radius: 0px !important;
        width: 25%;
        text-align: center;
        text-transform: uppercase;
        //margin: 0px -2px;
        border-left: 1px solid #757575;
        background: #FFEBEE;
        padding: 0;
        a {
            color: #757575;
            padding: 15px 20px;
            display: inline-block;
        }
        a:hover {
            color: darken(#757575, 20%);
        }
    }
    li:first-child {
        margin-left: 0px;
        border-left: none;
    }
    @media (min-width: 768px){
        li:nth-child(5n) {
            margin-left: 0px;
            border-left: none;
        }
    } 
}
.view-list-dat-mua {
    p {
        padding: 5px 0px;
        border: 1px solid #2196F3;
        border-radius: 2px;
        margin: 10px 0px 0px 0px;
        text-align: center;
        color: #2196F3;
        cursor: pointer;
    }
    
}
.btn-gui-mobile {
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px 0px;
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-block;
}
.table-dathang-mobile {
    li {
        width: unset;
        padding: 9px 20px;
    }
    margin: 0px;
    padding-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.btn-kmt4 {
    border: 1px solid #000000;
    border-radius: 100px;
    font-weight: 600;
    @extend .font-ss3;
    padding: 10px 40px;
}
.section-miengdan {
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
    @include respond-to(mobile){
        padding: 10px 0px;
        width: 100%;
    }
}
.box-shadow {
    @include respond-to(mobile){
        background: #FFFFFF;
        padding: 10px 0px;
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    }
}
.tb-height{
    @include respond-to(mobile){
        max-height: 50vh;
    }
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #eee;
}
.img-padd-20 {
    // padding: 20px 0px;
    padding: 0px 20%;
}
.section-sandienthoai {
    padding: 0px;
    padding-bottom: 25px !important;
    background: #BFB35A;
    position: relative;
    /* .bg-mobile-sandienthoai {
        background: url(https://cdn1.vienthonga.vn/image/2018/3/6/100000_cover-minigame.jpg) no-repeat 50%;
        background-size: cover;
        position: relative;
        padding-bottom: 100px;
    } */
    .title-sandienthoai {
        padding-left: 30%;
        a {
            font-weight: 600;
            color: #000;
        }
        .price-sandienthoai {
            span:nth-of-type(1) {
                font-size: 14px;
                color: #757575;
                letter-spacing: 0;
                text-decoration: line-through;
                border-bottom: 1px solid #757575;
            }
            span:nth-of-type(2) {
                font-weight: 600;
                font-size: 18px;
                color: #E53935;
                letter-spacing: 0;
            }
        }
    }
}
.ketthuc {
    text-align: center;
    padding: 5px 0px;
    .reorder-timer {
        text-align: center;
    }
    .reorder-timer .countdown2 .box-timer {
        background: #E53935;
        border-top: 3px solid #E53935;
        border-radius: 8px;
    }
    .reorder-timer .countdown2 .box-timer::after {
        display: none;
    }
}
.section-tintuc {
    background: transparent;
    padding: 0px;
    padding-bottom: 10px;
}
.no-btn-click {
    .slick-dots {
        display: none !important;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 20px;
}
.slick-arrow {
    display: none !important;
}
.combo-promotion-title, .main-promotion-title {
    .modal-content {
        border-radius: 0px;
    }
    position: relative;
    z-index: 2;
    
}
.flex-equal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.laptopsoc-tensanpham {
    color: #000;
    font-size: 18px;
    display: block;
    margin: 10px 0 0 0;
    min-height: auto;
    font-weight: 400;
    text-align: left;
    padding: 0 10px;
}
.laptopsoc-giahienthi, .laptopsoc-tensanpham {
    font-size: 24px;
    font-weight: 600;
}
.laptopsoc-gia {
    padding: 0 10px;
    font-size: 14px;
    letter-spacing: -0.09px;
    span {
        color: #ff9200d4
    }
}
.laptopvoucher-img {
    position: relative;
}
.laptopvoucher-icon {
    position: absolute;
    top: 15px;
    left: 5px;
}
.laptopvoucher-gia {
    min-height: auto;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 18px;
    color: #D0021B;
    letter-spacing: -0.11px;
    font-weight: 600;
    padding: 0 10px;
}
.laptopvoucher {
    background: #fff;
    position: relative;
    margin-bottom: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    // &:hover {
    //     box-shadow: 2px 2px 5px #666;
    // }
    .laptopsoc-tensanpham {
        font-size: 14px;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .laptopsoc-tragop {
        display: inline-block;
        text-align: center;
        color: #fff;
    }
}
.xemthem {
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 2px;
    a, a:focus, a:hover, a:visited {
        color: #FF9100;
    }

    a {
        font-weight: 600;
        font-size: 14px;
        border: 1px solid #FF9100;
        border-radius: 2px;
        padding: 10px 67px;
        text-transform: uppercase;
    }
}
.section-uudai {
    padding: 0px;
}
.uudai {
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 30px;
    a, a:focus, a:hover, a:visited {
        color: #fff;
    }

    a {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        border-radius: 2px;
        background: #2196F3;
        font-weight: 600;
        padding: 15px 30px;
        text-transform: uppercase;
        
    }
    @include respond-to(mobile){
        padding: 0px;
        padding-top: 10px;
        p {
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
            background: #2196F3;
            border-radius: 2px;
            padding: 15px 0px;
        }
        a {
            font-size: 18px;
            box-shadow: unset;
        }
    }
}
.img-slide-height200 {
    background-position: center;
    height: 200px !important;
}
.uudai-img {
    padding: 0px 20px 20px 0px;
    img {
        background-position: center;
        height: 200px;
        box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.60);
        width: 100%;
    }
    @include respond-to(mobile){
        &:nth-child(n) {
            padding-right: 0px;
        }
    }
    @include respond-to(small){
        &:nth-child(2n) {
            padding-right: 0px;
        }
    }
    @media(min-width: 992px){
        &:nth-child(3n) {
            padding-right: 0px;
        }
    }
    
}
.laptopsoc-tragop:focus, .laptopsoc-tragop:visited {
    
}
@media print, screen and (min-width: 62em) {
    .large-20-phantram {
        -ms-flex: 0 0 20%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
.laptopsoc-tragop {
    background: #FF9200;
    font-size: 14px;
    color: #FFFFFF;
    // background: #dc6a88;
    // box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    border-radius: 2px;
    display: inline-block;
    margin-top: 0;
}
.laptopsoc-muangay, .laptopsoc-tragop {
    padding: 10px 21px;
    color: #fff;
    border-radius: 2px;
    margin: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    // box-shadow: 0 2px 5px #666;
}
.laptopvoucher-quatang {
    background: #d42c58;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 0;
    margin-bottom: 10px;
    min-height: auto;
    text-align: center;
}

.title-tablet {
    width: 175px;
    text-align: center;
}
.section-giasocmoingay {
    padding: 0px;
    background: #525775;
    position: relative;
    /* .bg-mobile-giasocmoingay {
        background: url(https://cdn1.vienthonga.vn/image/2018/3/6/100000_giasoc.jpg) no-repeat 50%;
        background-size: cover;
        position: relative;
        padding-bottom: 100px;
    } */
}
.section-xahangxin {
    padding: 0px;
    background: #fff;
    position: relative;
    /* .bg-mobile-xahangxin {
        background: url(https://cdn1.vienthonga.vn/image/2018/3/6/100000_xahang.jpg) no-repeat 50%;
        background-size: cover;
        position: relative;
        padding-bottom: 100px;
    } */
}
@media (min-width: 768px) {
	.danhsachsocial {
	    border-bottom: 1px solid #000;
	}
}
.danhsachsocial {
    padding: 10px 0;
}
.section-quatangplus {
    background: #fff !important;
    padding: 10px;
}
.sticky-bar {
    padding: 17px 0;
    z-index: 99999!important;
    background: #642995;
}
.sticky-bar .bar-muangay a {
    color: #642995;
    background: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}
.m-t-20 {
    margin-top: 20px!important;
}
.list-opt-radio {
    margin-top: 15px;
}


.tooltip-m {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #000;


    .tooltiptext {
        visibility: hidden;
        width: 800px;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        left: -460px;
    }
    .list {
        width: 150px;
        background: #fff;
        color: #000;
        left: -2px;
        top: 20px;
        border-radius: 2px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            padding: 3px 0;
            border-bottom: 1px solid #ccc;
        }
        li:last-child {
            padding-bottom: 0;
            border: none;
        }
    }
    &:hover .tooltiptext {
        visibility: visible;
    }
}

.tooltip-modal {
    color: #2196f3;
    text-decoration: underline;
}
.lienhe-tongdai {
    font-size: 12px;
    color: #2196f3;
    text-decoration: underline;
    text-transform: none;
}
.plus-boquatang-title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.plus-boquatang-sub, .plus-boquatang-title {
    color: #000;
    text-align: center;
    span {
        font-size: 48px;
    }
}
.listquatang-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
@media (min-width: 768px){
    .listquatang-block {
        border-right: 1px solid #000;
        padding-right: 10px;
    }
}
.listqt2 {
    border: none;
}  
.quatangsmall--detail, .quatangvivo-detail {
    text-align: center;
}
@media (min-width: 768px) {
    .quatangsmall--detail {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        min-height: 250px;
    }
    .quatangsmall--detail, .quatangvivo-detail {
        text-align: left;
    }
    .quatangsmall--detail--img {
        max-width: 250px;
    }
}
  

.quatangsmall--detail--img {
    max-width: 250px;
    margin: 0 auto;
}
.quatangsh-block {
    padding: 30px 0;
    background: #eee;
}
.section-camera {
    background: url(https://cdn1.vienthonga.vn/image/2018/2/0/100000_thietkethoithuong.jpg) no-repeat 50%;
    background-size: cover;
    padding-bottom: 600px;
    position: relative;
}
.camera-content {
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    padding: 0;
    background: rgba(0,0,0,.7);
    position: absolute;
}
@media (min-width: 991px) {
    .camera-content {
        position: absolute;
        -webkit-transform: none;
        transform: none;
        background: transparent;
        width: 40%;
        left: 37%;
        top: 65px;
        padding: 10px;
    }
}
.vivo-content {
    color: #fff;
    font-size: 14px;
    line-height: 2.1;
}
.vivo-subtitle, .vivo-title {
    color: #fff;
}
.vivo-title {
    font-size: 28px;
    margin-bottom: 15px;
}
.manhinhvocuc--content .vivo-content, .manhinhvocuc--content .vivo-title {
        color: #000;
    }
.section-slowmotion {
    background: #000;
    text-align: center;
    padding: 40px 0;
}
.section-mahinhvocuc {
    background: url(https://cdn1.vienthonga.vn/image/2018/4/5/100000_100000-camerasau-bg2.jpg) no-repeat 50%;
    background-size: cover;
}
.manhinhvocuc-img {
    position: relative;
    top: 70px;
}
.manhinhvocuc--content {
    text-align: left;
    padding: 0;
    position: relative;
    top: 0;
    @media(min-width: 768px) {
        text-align: center;
        width: 70%;
        margin-bottom: 0;
        top: 60px;
        padding: 70px 0;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }
}
@media (min-width: 768px) {
    .manhinhvocuc--content .vivo-content, .manhinhvocuc--content .vivo-title {
        color: #fff;
    }
    .manhinhvocuc--content {
        text-align: center;
        width: 70%;
        margin-bottom: 0;
        top: 60px;
        padding: 70px 0;
    }
    .congnghecao-phone {
        position: relative;
        top: 73px;
        visibility: hidden;
    }
}
.section-butspen {
    background: url(https://cdn1.vienthonga.vn/image/2018/2/0/100000_bg-thietkelimloai.jpg) no-repeat 50%;
    background-size: cover;
    padding-bottom: 0;
    @media(min-width: 991px) {
        .vivo-title, .vivo-content {
            text-align: right;
        }
    }
    @include respond-to(mobile) {
        .vivo-content .vivo-title {
            color: #000;
        }
        text-align: left;
        top: 0;
        margin: unset;
    }
}
.congnghecao-icon {
    position: absolute;
    left: 50%;
    top: 15px;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 500px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.section-congnghecao {
    background: url(https://cdn1.vienthonga.vn/image/2018/2/2/100000_bg-congnghecao.jpg) no-repeat 50%;
    background-size: cover;
    position: relative;
    padding-top: 200px;
    @include respond-to(mobile) {
        .congnghecao-icon {
            display: none;
        }
    }
}
.section-vixuly {
    background: url(https://cdn1.vienthonga.vn/image/2018/2/0/100000_bg-emoji.jpg) no-repeat 50%;
    background-size: cover;
    padding-bottom: 0;
    .vivo-content, .vivo-title {
        color: #000;
    }
}

@include respond-to(mobile) {
    .manhinhvocuc-img {
        top: 0px;
    }
    .section-pentemp .vivo-content, .section-pentemp .vivo-title {
        color: #000;
    }
    .section-congnghecao {
        background: transparent;
        padding: 0;
    }
    .section-vixuly {
        background: #fff;
        padding-top: 0;
    }
}
.section-thongsokythuat {
    background: #fff;
    .thongso-title {
        font-size: 22px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    @media (min-width: 768px){
        .thongso-title {
            margin-bottom: 47px;
        }
    }
}
.s9-detail {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
}

@media (min-width: 400px){
    .s9-detail {
        width: 50%;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media (min-width: 768px) {
    .s9-detail {
        margin-bottom: 0;
        width: 100%;
    }
}
.s9-text {
    width: 200px;
}
@media (max-width: 768px) and (min-width: 400px) {
    .thongso-s9 {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.section-muangay-footer {
    background: #000;
}
.muangay-footer-text {
    font-size: 20px;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}
.muangay-footer-button {
    margin-bottom: 0;
    text-align: center;
    a {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid #fff;
        padding: 14px 27px;
        border-radius: 29px;
    }
    a:visited, a:hover {
        color: #fff;
    } 
}

@media (min-width: 768px) {
    .muangay-footer-text {
        font-size: 28px;
        padding: 0;
        padding-bottom: 10px;
        text-align: left;
    }
    .muangay-footer-button {
        text-align: left;
    }
}

.quatangsmall--detail--content {
    margin-top: -27px;
    @media (min-width: 768px) {
        padding-left: 15px;
        margin-top: 0;
        max-width: 300px;
    }
    p:first-child {
        font-size: 16px;
        min-width: 285px;
    }
    p:last-child {
        line-height: 1.9;
    }
}