body {
  background: none;
}

.section-title-sp {
  h2 {
    font-size: 24px;
    color: #f6282a;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 45px;
    padding-bottom: 30px;
    margin:0px;
  }
  .title-uudai {
    padding-top: 25px;
    padding-bottom: 0px;
  }
}

.banner {
  img {
    padding-bottom: 25px;
  }
}

.section-filter {
    margin: 10px 0 30px;
}
.section-filter.kmt4 {
  ul {
    li {
      a {
        font-size: 14px;
        border-right: none;
      }
    }
  }
}

.sp {
  border: 1px solid #ebebeb;
}

.sp .productFeature-info .name {
  color: #f6282a;
  padding: 0 10px;
  text-transform: uppercase;
  height: 37px;
  overflow: hidden;
  margin-bottom: 5px;
  line-height: 1.3;
}

.productFeature-info .price {
  padding: 0 10px;
}

.productFeature-info .price .price1 {
  color: #333;
}

.productFeature-info .price .price2 {
  color: #999;
}

.productFeature-info .sale {
  height: 100px;
  background: #ebebeb;
  padding: 10px;
}

.price.list-inline {
  margin-left: 0px!important;
}

.muaOnline {
  border: none;
  a {
    background: #f6282a;
  }
}

.sp .muaOnline .muaOnline-price,
.sp .muaOnline .muaOnline-price span {
  color: #f6282a!important;
}

.sp {
  position: relative;
}

.sp .sp-img {
  margin: 15px 0;
  width: 100%;
}

.sp-img img {
  max-width: 200px;
}

.muaOnline a:hover {
  background: darken(#f6282a, 10%);
}

.loadmore a {
  background: #ccc;
  color: #333;
  border: none;
   
}
.loadmore a:hover {
    background: #ccc;
    color: #333;
  }