
body{
    font-size: 14px;
}

.text-bold{
    font-weight: 600;
}

.section-hero-nokia8{
    background: url('https://cdn1.vienthonga.vn/image/2017/10/5/100000_100000-top-bg.jpg') no-repeat center center; 
    background-size: cover;
}

.section-thongso{
    background: #ff630e;
    padding: 30px 0 !important;
}

.thongso-chitiet{
    background: white;
    width: 65%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px 0;
    @include respond-to(mobile){
        width: 90%;
    }
}

.btn-datmua-iphonex {
    
    margin: 30px 20px;
    display: block;
    a {
        font-size: 18px;
        border-radius: 5px;
        color: white;
        
        text-decoration: none;
        background: #ff630e;
        padding: 10px 40px;
        border-radius: 50px;
    }
    a:hover {
        background: darken(#ff630e,10%);
        color: white;
    }
    @include respond-to(mobile){
        margin: 20px 0;
    }
}

.nguoithamgia{
    text-align: center;
    display: block;
    p{        
        display: inline-block;
        color: black;
        font-size: 14px;
        margin-bottom: 0;
        background: rgba(255,255,255,.7);
        padding: 10px 40px;
        border-radius: 3px;
        font-weight: 600;
        @include respond-to(mobile){
            padding: 10px 20px;
        }
        strong{
            font-weight: 600;
            color: #ff630e;
        }
    }
}

.top-quydinh{
    margin-top: 20px;
    font-weight: 600;
}

.nokia8-gia{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
    span{
        font-size: 30px;
    }
}

.xem-thongso{
    a{
        font-size: 14px;
        color: #ff630e;
        text-decoration: underline;

        &:hover{
            color: darken(#ff630e,10%);
        }
    }
}

.preorder-price-text,
.preorder-price{
    font-weight: 600 !important;
    color: #666 !important;
}

.preorder-price-text{
    font-size: 14px;
}

.preorder-price{
    font-size: 24px;
}

.radio-note{
    // color: #666 !important;
    font-size: 14px;
}

.chuphinh-text,
.amthanh-text,
.hedieuhanh-text{
    @include respond-to(mobile){
        padding: 15px 0;
    }
}

#modal-thongso .txt1{
    background: #ff630e;
}
#modal-imei .txt1 {
    color: white;
    font-size: 20px;
    background: #ff630e;
    padding: 5px 20px;
    text-align: center;
  }
  #modal-imei{
      
    .table-padding{
        padding: 20px;
        text-align: center;
        p{
            color: black;
        }
    }
    .modal-content {
        padding: 0;
        border-radius: 0;
    }

    .modal-dialog{
        @media(min-width: 768px){
          width: 28%
        }
        
    }
  }

 
  