.note8-hero{    
    @include section-bg-cover('https://cdn1.vienthonga.vn/image/2017/8/2/100000_banner-bg.jpg',#000c1e);
}

.top-quatang-note8{
    @include section-bg-100('https://cdn1.vienthonga.vn/image/2017/8/2/100000_bg-top.png',#000c1e);    
    padding: 15px 0;
}

.note8-hero{
    .heroTxt--title{
        @extend %hero-title;
    }
    .heroTxt--brand{
        @extend %hero-brand;
    }
    .heroTxt--name{
        color: #0a89ff;
        font-size: 24px;
        text-align: center;
        @include respond-to(mobile){
            margin-bottom: 20px;
            display: inline-block;
        }
    }
    .heroTxt--quatang{
        font-size: 36px;
        @include respond-to(mobile){
            font-size: 28px;            
        }
    }
    .hero-small{
        font-size: 10px;
        text-align: right;
        color:#bababa;
    }
    .temp-text{
        color: #0a89ff;
        min-height: 40px;
        text-align: center;
        font-size: 14px;
    }
    .temp-text-title{
        font-weight: 600;
        @extend .font-ss1;
    }
    .temp-text-white{
        @extend .temp-text;
        font-size:13px;
        color: white;
        padding-top: 10px;
    }
    .temp-text-title-white{
        @extend .temp-text-title;
        color: white;
        font-size:13px;
    }
    .top-quatang-main{
        .quatang{
            display: block;
            
            @media(min-width: 600px){
                display: inline-block;
            }
            @media(min-width: 768px) and (max-width: 991px){
               width: 30%;
             }
            .temp-text{
                @media(min-width: 768px) and (max-width: 991px){
                   font-size: 10px !important;
                }
            }            
        }
    }
    .top-quatang-option{
        .quatang{
            display: inline-block;

            width: 49%;
           
            @media(min-width: 600px){
                display: inline-block;
                width: 28.33%;
            }
            @media(min-width: 768px){
                display: inline-block;
                width: initial;
            }
            @media(min-width: 991px){
                display: inline-block;
                width: 29%;
            }
            @media(min-width: 1124px){
                display: inline-block;
                width: initial;
            }
        }
    }
   
    .q1{
        padding: 0 10px;
    }

    .top-xemdanhsach-note8{
        padding: 30px 0;
        padding-bottom: 5px;
    }
    .xemdanhsachdangki{
        color: white;
        line-height: 2.2;
        strong{
            @extend .font-ss1;
        }
    }
    .xemdanhsach-orange{
        a{
            color: #ff9900;
            padding-right: 10px;
            border-right: solid 1px;
            text-decoration: underline;
            @include respond-to(mobile){
                border: none;
                margin-bottom: 10px;
                display: inline-block;
            }
        }        
    }
    .xemdanhsach-yellow{
        a{
            color: #ffff00;
            text-decoration: underline;
            padding-left: 10px;
            @include respond-to(mobile){
                padding-left: 0px;
            }
        }
    }
    .reorder-timer{
        background: transparent;
        border-top: solid 1px #004195;
    }
    .reorder-timer .countdown2 .element .label{
        color: white;
    }
    .datngay-note8{
        color: white;
        padding: 10px 25px;
        background: #ee420a;
        border-radius: 3px;
        font-size: 16px;
        font-family: 'SamsungSharpSans-Bold', sans-serif;
        margin-top: 8px;
        display: inline-block;
    }
    .reorder-timer .countdown2 .element{
        @include respond-to(mobile){
            margin-right: 0;
        }
    }
}

.note8-spen{
    background: black;
}

.note8-title{
    font-size: 48px;
    color: white;
    font-family: 'SamsungSharpSans-Bold', sans-serif;
    margin-bottom: 0;
    line-height: 1.2;
    @include respond-to(mobile){
        font-size: 35px;
    }
}

.note8-subtitle{
    font-size: 30px;
    color: white;
    font-family: 'SamsungSharpSans-Regular', sans-serif;
    margin-bottom: 45px;
    @include respond-to(mobile){
        font-size: 20px;
        margin-bottom: 20px;
    }
}
.note8-content{
    font-size: 14px;
    color: white;
    font-family: 'SamsungSharpSans-Regular', sans-serif;
    width: 84%;
    line-height: 1.8;
    @include respond-to(mobile){       
        margin-bottom: 20px;
    }
}

.section-camerakep,
.section-samsungpay{
    background: #001530;
}      


    .s8-danhsachkhachhang .table-dathang li.active{
        background:#0155d2;
    }
    .s8-danhsachkhachhang .table-dathang li.active:before{
        border-top: 5px solid #0155d2;
    }

    

    .j7-modal .txt1{
        background: #0155d2 !important;
    }