table > tbody > tr > th, td {
    border-top: none !important;
    font-size: 16px;
}
.s8-sub-title {
    font-size: 26px;
}
.section-hero-plus {
    padding: 0;
    .img-banner {
        position: relative;
        @include respond-to(mobile){
            // max-width: 250px;
            // margin: 0 auto;
        }
        .pos-form {
            position: absolute;
            bottom: 20px;
            left: 0px;
            right: 0px;
        }
        .form-thongtin-desktop {
            min-width: 500px;
            max-width: 600px;
            margin: 0 auto;
            @media(min-width :768px) and (max-width: 1024){
                min-width: 400px;
            }
        }
        @include respond-to(mobile){
            .pos-form {
                position: relative;
                top: 10px;
                margin-bottom: 10px;
            }
            .form-thongtin-desktop {
                min-width: 0px;
            }
        }
    }
}
.img-fullview {
    width: 100%;
}
.modal-content {
    padding-top: 0px;
}
.hethan {
    background: #607D8B;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-left: 5px;
}
.width100PhanTram {
    width: 100%;
}
.saptoi {
    background: #2196F3;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-left: 5px;
}
.table-dathang {
    margin: 0px -20px;
    padding-left: 0px;
    li {
        border-radius: 0px !important;
        width: 25%;
        text-align: center;
        text-transform: uppercase;
        //margin: 0px -2px;
        border-left: 1px solid #757575;
        background: #FFEBEE;
        padding: 0;
        a {
            color: #757575;
            padding: 15px 20px;
            display: inline-block;
        }
        a:hover {
            color: darken(#757575, 20%);
        }
    }
    li:first-child {
        margin-left: 0px;
        border-left: none;
    }
    @media (min-width: 768px){
        li:nth-child(5n) {
            margin-left: 0px;
            border-left: none;
        }
    } 
}
.view-list-dat-mua {
    p {
        padding: 5px 0px;
        border: 1px solid #2196F3;
        border-radius: 2px;
        margin: 10px 0px 0px 0px;
        text-align: center;
        color: #2196F3;
        cursor: pointer;
    }
    
}
.btn-gui-mobile {
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px 0px;
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-block;
}
.active-color-oppo {
    li {
        font-size: 16px;
        cursor: pointer;
        list-style-type: none;
        display: inline-block;
        a {
            color: #000;
        }
    }
    .active {
        a {
            color: #607e8c !important;
            font-weight: 600;
        }
    }
    
}
.btn-kmt4 {
    border: 1px solid #000000;
    border-radius: 100px;
    font-weight: 600;
    @extend .font-ss3;
    padding: 10px 40px;
}
.section-miengdan {
    padding: 20px 0px 0px 0px;
    margin: 0 auto;
    @include respond-to(mobile){
        padding: 10px 0px;
        width: 100%;
    }
}
.box-shadow {
    @include respond-to(mobile){
        background: #FFFFFF;
        padding: 10px 0px;
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    }
}
.tb-height{
    @include respond-to(mobile){
        max-height: 50vh;
    }
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #eee;
}
.img-padd-20 {
    // padding: 20px 0px;
    padding: 0px 20%;
}
.section-sandienthoai {
    padding: 0px;
    padding-bottom: 10px;
    background: #BFB35A;
    position: relative;
    /* .bg-mobile-sandienthoai {
        background: url(https://cdn1.vienthonga.vn/image/2018/3/6/100000_cover-minigame.jpg) no-repeat 50%;
        background-size: cover;
        position: relative;
        padding-bottom: 100px;
    } */
    .title-sandienthoai {
        padding-left: 30%;
        a {
            font-weight: 600;
            color: #000;
        }
        .price-sandienthoai {
            span:nth-of-type(1) {
                font-size: 14px;
                color: #757575;
                letter-spacing: 0;
                text-decoration: line-through;
                border-bottom: 1px solid #757575;
            }
            span:nth-of-type(2) {
                font-weight: 600;
                font-size: 18px;
                color: #E53935;
                letter-spacing: 0;
            }
        }
    }
}
.ketthuc {
    text-align: center;
    padding: 5px 0px;
    .reorder-timer {
        text-align: center;
    }
    .reorder-timer .countdown2 .box-timer {
        background: #E53935;
        border-top: 3px solid #E53935;
        border-radius: 8px;
    }
    .reorder-timer .countdown2 .box-timer::after {
        display: none;
    }
}
.section-tintuc {
    background: transparent;
    padding: 0px;
    padding-bottom: 10px;
}
.section-hinhanhthucte {
    padding: 0px;
    padding-top: 30px;
}






.section-banner-plus{
    background: #a1191d;
    padding: 0;
    .list-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.no-btn-click {
    .slick-dots {
        display: none !important;
    }
}
.slick-dots {
    // display: none !important;
}
.slick-dotted.slick-slider {
    margin-bottom: 20px;
}
.height-img-oppo-slide {
    min-height: 400px;
    @include respond-to(mobile) {
        min-height: 200px;
    }
    .width-img-oppo {
        width: auto;
        right: 0px;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
// .slick-arrow {
//     display: none !important;
// }
.slick-next {
    right: 0px;
}
.slick-prev {
    left: 0px;
}
.slick-next, .slick-prev {
    height: 50px;
    border-radius: 100px;
    z-index: 2;
    background: rgba(0,0,0,.4);
    width: 50px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: rgba(0,0,0,.4);
    color: transparent;
}
/* .slick-prev:before {
    content: "<";
}
.slick-next:before {
    content: ">";
} */
.combo-promotion-title, .main-promotion-title {
    .modal-content {
        border-radius: 0px;
    }
    position: relative;
    z-index: 2;
    
}
.flex-equal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.laptopsoc-tensanpham {
    color: #000;
    font-size: 18px;
    display: block;
    margin: 10px 0 0 0;
    min-height: auto;
    font-weight: 400;
    text-align: left;
    padding: 0 10px;
}
.laptopsoc-giahienthi, .laptopsoc-tensanpham {
    font-size: 24px;
    font-weight: 600;
}
.laptopsoc-gia {
    padding: 0 10px;
    font-size: 14px;
    letter-spacing: -0.09px;
    span {
        color: #ff9200d4
    }
}
.laptopvoucher-img {
    position: relative;
}
.laptopvoucher-icon {
    position: absolute;
    top: 15px;
    left: 5px;
}
.laptopvoucher-gia {
    min-height: auto;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 18px;
    color: #D0021B;
    letter-spacing: -0.11px;
    font-weight: 600;
    padding: 0 10px;
}
.laptopvoucher {
    background: #fff;
    position: relative;
    margin-bottom: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    // &:hover {
    //     box-shadow: 2px 2px 5px #666;
    // }
    .laptopsoc-tensanpham {
        font-size: 14px;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .laptopsoc-tragop {
        display: inline-block;
        text-align: center;
        color: #fff;
    }
}
.xemthem {
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 2px;
    a, a:focus, a:hover, a:visited {
        color: #FF9100;
    }

    a {
        font-weight: 600;
        font-size: 14px;
        border: 1px solid #FF9100;
        border-radius: 2px;
        padding: 10px 67px;
        text-transform: uppercase;
    }
}
.section-uudai {
    padding: 0px;
}
.uudai {
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 30px;
    a, a:focus, a:hover, a:visited {
        color: #fff;
    }

    a {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        border-radius: 2px;
        background: #2196F3;
        font-weight: 600;
        padding: 15px 30px;
        text-transform: uppercase;
        
    }
    @include respond-to(mobile){
        padding: 0px;
        padding-top: 10px;
        p {
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
            background: #2196F3;
            border-radius: 2px;
            padding: 15px 0px;
        }
        a {
            font-size: 18px;
            box-shadow: unset;
        }
    }
}
.img-slide-height200 {
    background-position: center;
    height: 200px !important;
}
.uudai-img {
    padding: 0px 20px 20px 0px;
    img {
        background-position: center;
        height: 200px;
        box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.60);
        width: 100%;
    }
    @include respond-to(mobile){
        &:nth-child(n) {
            padding-right: 0px;
        }
    }
    @include respond-to(small){
        &:nth-child(2n) {
            padding-right: 0px;
        }
    }
    @media(min-width: 992px){
        &:nth-child(3n) {
            padding-right: 0px;
        }
    }
    
}
.laptopsoc-tragop:focus, .laptopsoc-tragop:visited {
    
}
@media print, screen and (min-width: 62em) {
    .large-20-phantram {
        -ms-flex: 0 0 20%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
.laptopsoc-tragop {
    background: #FF9200;
    font-size: 14px;
    color: #FFFFFF;
    // background: #dc6a88;
    // box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    border-radius: 2px;
    display: inline-block;
    margin-top: 0;
}
.laptopsoc-muangay, .laptopsoc-tragop {
    padding: 10px 21px;
    color: #fff;
    border-radius: 2px;
    margin: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    // box-shadow: 0 2px 5px #666;
}
.laptopvoucher-quatang {
    background: #d42c58;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 0;
    margin-bottom: 10px;
    min-height: auto;
    text-align: center;
}

.title-tablet {
    width: 175px;
    text-align: center;
}
.section-giasocmoingay {
    padding: 0px;
    background: #525775;
    position: relative;
    /* .bg-mobile-giasocmoingay {
        background: url(https://cdn1.vienthonga.vn/image/2018/3/6/100000_giasoc.jpg) no-repeat 50%;
        background-size: cover;
        position: relative;
        padding-bottom: 100px;
    } */
}
.section-xahangxin {
    padding: 0px;
    background: #fff;
    position: relative;
    /* .bg-mobile-xahangxin {
        background: url(https://cdn1.vienthonga.vn/image/2018/3/6/100000_xahang.jpg) no-repeat 50%;
        background-size: cover;
        position: relative;
        padding-bottom: 100px;
    } */
}
@media (min-width: 768px) {
    .danhsachsocial {
        border-bottom: 1px solid #000;
    }
}
.danhsachsocial {
    padding: 10px 0;
}
.section-quatangplus {
    background: #f5f5f5 !important;
    padding: 10px;
    @include respond-to(mobile){
        // background: #fff !important;
    }
    .danhsachsocial {
        padding: 0px 0px 10px 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    p{
        margin-bottom: 0;
    }
    .xemdanhsachdangki,.social-m{
        @media(min-width:768px) and(max-width: 1024px){
            margin-bottom: 10px;
        }
        @include respond-to(mobile){
            text-align: center;
            padding: 10px;
            border: solid 1px black;
            margin-bottom: 15px;
            width: 100%;
        }
    }
}

.sticky-bar .bar-muangay a {
    color: #642995;
    background: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}
.m-t-20 {
    margin-top: 20px!important;
}
.list-opt-radio {
    margin-top: 15px;
}



.opt-radio {
    display: inline-block;
    @include respond-to(mobile){
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
}
.opt-radio-nhanhang {
    @include respond-to(mobile){
        width: 100%;
    }
}
.tooltip-m {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #000;


    .tooltiptext {
        visibility: hidden;
        width: 800px;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        left: -460px;
    }
    .list {
        width: 150px;
        background: #fff;
        color: #000;
        left: -2px;
        top: 20px;
        border-radius: 2px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            padding: 3px 0;
            border-bottom: 1px solid #ccc;
        }
        li:last-child {
            padding-bottom: 0;
            border: none;
        }
    }
    &:hover .tooltiptext {
        visibility: visible;
    }
}

.tooltip-modal {
    color: #2196f3;
    text-decoration: underline;
}
.lienhe-tongdai {
    font-size: 12px;
    color: #2196f3;
    text-decoration: underline;
    text-transform: none;
}
.plus-boquatang-title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.plus-boquatang-sub, .plus-boquatang-title {
    color: #000;
    text-align: center;
    span {
        font-size: 48px;
    }
}
.listquatang-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
@media (min-width: 768px){
    .listquatang-block {
        border-right: 1px solid #000;
        padding-right: 10px;
    }
}
.listqt2 {
    border: none;
}  
.quatangsmall--detail, .quatangvivo-detail {
    text-align: center;
}
@media (min-width: 768px) {
    .quatangsmall--detail {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        min-height: 250px;
    }
    .quatangsmall--detail, .quatangvivo-detail {
        text-align: left;
    }
    .quatangsmall--detail--img {
        max-width: 250px;
    }
}
  

.quatangsmall--detail--img {
    max-width: 250px;
    margin: 0 auto;
}
.quatangsh-block {
    padding: 30px 0;
    background: #eee;
}

.section-camera {
    // background: url(https://cdn1.vienthonga.vn/image/2018/4/5/100000_cameratruoc.jpg) no-repeat 50%;
    // background-size: cover;
    position: relative;
    padding: 0px;
    // padding-bottom: 450px;
    @include respond-to(mobile) {
        background: #fff;
        padding-bottom: 0px;
    }
    .main-title,.sub-title{
        text-align: left;
    }
}

.camera-img{
    @include respond-to(small) {
        max-width: 250px;
    }
}
.camera--content {
    text-align: left;
    padding: 0;
    position: relative;
    top: 0;
    @media (min-width: 768px) {
        padding-top: 30px;
        .camera-title {
            padding-top: 200px;
        }
    }
    // @media(min-width: 768px) {
    //     width: 50%;
    //     margin-bottom: 0;
    //     padding: 150px 0;
    //     margin: 0 auto;
    // }
    // @media(min-width: 768px) and (max-width: 992px) {
    //     width: 50%;
    //     margin-bottom: 0;
    //     padding: 70px 0;
    //     margin: 0 auto;
    // }
}

.matlung--content {
    text-align: left;
    padding: 0;
    position: relative;
    top: 0;
    @media (min-width: 768px) {
        .matlung-title {
            padding-top: 150px;
            text-align: right;
        }
    }
}
.section-chip {
    padding: 0px;
    background: #000 url(https://cdn1.vienthonga.vn/image/2018/4/5/100000_100000-chip.jpg) no-repeat 50%;
    background-size: cover;
    position: relative;
    padding-bottom: 450px;
    padding-top: 100px;
    @include respond-to(mobile) {
        padding-top: 30px;
        background: #000;
        padding-bottom: 0px;
    }
    @media(min-width: 768px) and (max-width: 1024px){
        padding-top: 0;
        padding-bottom: 350px;
    }
    .main-title, .sub-title {
        color: #fff;
        text-align: left;
    }
}
.chip--content {
    text-align: left;
    padding: 0;
    position: relative;
    top: 0;
    @media(min-width: 768px) {
        width: 50%;
        text-align: left;
        margin-bottom: 0;
        top: 100px;
        padding: 70px 0;
        /* margin: 0 auto; */
        padding: 0;
        position: relative;
        float: right;
    }
}
.section-mokhoa {
    position: relative;
    padding: 0px;
    padding-top: 30px;
    @include respond-to(mobile) {
        background: #fff;
        padding-bottom: 0px;
    }
    .main-title, .sub-title {       
        text-align: right;
        @include respond-to(mobile) {
            text-align: left;
        }
    }
}
.mokhoa--content {
    text-align: left;
    padding: 0;
    position: relative;
    top: 0;
    @media (min-width: 768px) {
        .mokhoa-title {
            padding-top: 150px;
            text-align: right;
        }
    }
}
// .camera-content {
//     width: 100%;
//     left: 50%;
//     top: 50%;
//     -webkit-transform: translate3d(-50%,-50%,0);
//     transform: translate3d(-50%,-50%,0);
//     padding: 0;
//     background: rgba(0,0,0,.7);
//     position: absolute;
// }
@media (min-width: 991px) {
    .camera-content {
        position: absolute;
        -webkit-transform: none;
        transform: none;
        background: transparent;
        width: 40%;
        left: 37%;
        top: 65px;
        padding: 10px;
    }
}
.vivo-content {
    color: #fff;
    font-size: 14px;
    line-height: 2.1;
}
.vivo-subtitle, .vivo-title {
    color: #000;
}
.vivo-title {
    font-size: 26px;
    margin-bottom: 0px;
}
.vivo-content, .manhinhvocuc--content .vivo-title {
        color: #000;
    }
.section-slowmotion {
    background: #000;
    text-align: center;
    padding: 40px 0;
}
.section-mahinhvocuc {
    width: 100%;
    height: 100%;
    padding: 0;
    background: url(https://cdn1.vienthonga.vn/image/2018/4/2/100000_camerasau-bg2.jpg) no-repeat 50%;
    // background: rgba(0,0,0,.4) url(https://cdn1.vienthonga.vn/image/2018/4/1/100000_camerasau-3.jpg) no-repeat 50%;
    background-size: cover;
    padding-top: 100px;
    overflow: hidden;
    .img {
        margin: 0 auto;
        padding: 0px -20px;
        border-radius: 10%;
        padding: 0px;
        width: 40%;
        box-shadow: 10px 10px 10px 50em rgba(255, 255, 255,.5);
        z-index: 1;
      
    }

    .main-title,
    .sub-title{
        text-align: left;
        @media(min-width: 768px) {
            text-align: center;
         }
    }
    @include respond-to(mobile) {
        background: #fff;
        padding-top: 30px;
    }
    @media(min-width: 768px) {       
        img {
          transform: scale(1.01, 1.01);
          width: 100%;
          height: 100%;
          z-index: 100;
        }
    }
}
.manhinhvocuc-img {
    position: relative;
    top: 70px;
}
.manhinhvocuc--content {
    z-index: 1;
    text-align: left;
    // padding: 30px;
    @media(min-width: 768px) {
        // position: absolute;
        // bottom: 0px;
        text-align: center;
        // width: 100%;
    }
}
@media (min-width: 768px) {
    .manhinhvocuc--content .vivo-content, .manhinhvocuc--content .vivo-title {
        color: #000;
    }
    .congnghecao-phone {
        position: relative;
        top: 73px;
        visibility: hidden;
    }
}
.section-butspen {
    background: url(https://cdn1.vienthonga.vn/image/2018/2/0/100000_bg-thietkelimloai.jpg) no-repeat 50%;
    background-size: cover;
    padding-bottom: 0;
    @media(min-width: 991px) {
        .vivo-title, .vivo-content {
            text-align: right;
        }
    }
    @include respond-to(mobile) {
        .vivo-content .vivo-title {
            color: #000;
        }
        text-align: left;
        top: 0;
        margin: unset;
    }
}
.congnghecao-icon {
    position: absolute;
    left: 50%;
    top: 15px;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 500px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.section-congnghecao {
    background: url(https://cdn1.vienthonga.vn/image/2018/2/2/100000_bg-congnghecao.jpg) no-repeat 50%;
    background-size: cover;
    position: relative;
    padding-top: 200px;
    @include respond-to(mobile) {
        .congnghecao-icon {
            display: none;
        }
    }
}
.section-vixuly {
    background: url(https://cdn1.vienthonga.vn/image/2018/2/0/100000_bg-emoji.jpg) no-repeat 50%;
    background-size: cover;
    padding-bottom: 0;
    .vivo-content, .vivo-title {
        color: #000;
    }
}

@include respond-to(mobile) {
    .manhinhvocuc-img {
        top: 0px;
    }
    .section-pentemp .vivo-content, .section-pentemp .vivo-title {
        color: #000;
    }
    .section-congnghecao {
        background: transparent;
        padding: 0;
    }
    .section-vixuly {
        background: #fff;
        padding-top: 0;
    }
}
.section-thongsokythuat {
    background: #fff;
    .thongso-title {
        font-size: 22px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    @media (min-width: 768px){
        .thongso-title {
            margin-bottom: 47px;
        }
    }
}
.s9-detail {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
}

@media (min-width: 400px){
    .s9-detail {
        width: 50%;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media (min-width: 768px) {
    .s9-detail {
        margin-bottom: 0;
        width: 100%;
    }
}
.s9-text {
    width: 200px;
}
@media (max-width: 768px) and (min-width: 400px) {
    .thongso-s9 {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.section-muangay-footer {
    background: #000;
}
.muangay-footer-text {
    font-size: 20px;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}


@media (min-width: 768px) {
    .muangay-footer-text {
        font-size: 28px;
        padding: 0;
        padding-bottom: 10px;
        text-align: left;
    }
   
}

.quatangsmall--detail--content {
    margin-top: -27px;
    @media (min-width: 768px) {
        padding-left: 15px;
        margin-top: 0;
        max-width: 300px;
    }
    p:first-child {
        font-size: 16px;
        min-width: 285px;
    }
    p:last-child {
        line-height: 1.9;
    }
}



.input-group{
    display: block;
}

.input-group .form-control{
    width: 100% !important;
    display: block;
    float: none;
    height: 40px;
    padding-left: 40px;
}

.input-group-btn{
    position: absolute;
    top: 4px;
    left: 3px;
    z-index: 10;
}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}



.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    // left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.glyphicon {
    font-size: 20px;
}
.glyphicon-ok:before {
    content: "✓";
    font-weight: bold;
    font-size: 18px;
    color: #135AA3;
}
.dropdown-menu {
    padding: 0px;
}
.dropdown-menu li a {
    padding: 10px 12px 10px 18px !important;
}
.dropdown-menu > li > a:hover {
    background: #fff;
    color: #000 !important;;
}
.tb-search {
    margin: 0px;
}

