.section-reoder {
  
  padding: 60px 0;
  .form-control {
    background: #161a25;
    font-size: 14px;
    &:placeholder {
      color: #8c8c8c;
    }
    color: white;
    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: white;
    }
  }
}
label{
   color: #8c8c8c;
}

.form-line {
  margin-bottom: 10px;
}

.reoder-heading {
  font-size: 40px;
  font-weight: 300;
  span {
    @extend .font-samsung;  
    @include respond-to(mobile){
      display: block;
    }  
  }
  margin-bottom: 20px;

  @include respond-to(small){
    font-size: 30px;
  }
  
  @include respond-to(small){
    font-size: 25px;
  }

}

.reoder-txt1 {
  font-size: 25px;
  color: #8c8c8c;
  margin-bottom: 20px;

   @include respond-to(small){
    font-size: 18px;
  }
}

.reoder-pd-l {
  padding-left: 15px;
}

.reoder-chuyenkhoan {
  a {
    color: #4e94f4;
    &:hover {
      color: lighten(#4e94f4, 10%);
    }
  }
}

a {
  color: #4e94f4;
  &:hover {
    color: lighten(#4e94f4, 10%);
  }
}

.reoder-txt2 {
  font-size: 18px;
  font-weight: 300;
  color: white;
  .number {
    color: #fd832b
  }
  a {
    color: #4e94f4;
    &:hover {
      color: lighten(#4e94f4, 10%);
    }
  }
}

.countdown2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
  color: white;
  margin: 10px 0 20px;
  display: inline-block;
  line-height: 1.1;
  .haicham {
    font-size: 28px;
    float: left;
    padding: 0 16px;
    color: white;
    position: relative;
    top: 14px;
  }
  .label {
    position: absolute;
    bottom: -2px;
    left: 0;
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: normal;
    width: 100%;
    text-transform: uppercase;
  }
  .element {
    &:first-child {
      transform: scale(1.2);
      /* vertical-align: -44%; */
      position: relative;
      top: -7px;
      margin-right: 5px;
    }
    float: left;
    position: relative;
    padding: 2px 8px 21px;
    border: 1px solid #0b61d7;
    border-radius: 5px;
    background: #0b61d7;
  }
  @include respond-to(mobile) {
    font-size: 35px;
    .element {
      padding: 2px 4px 20px;
    }
  }
  @include respond-to(x-mobile) {
    font-size: 30px;
    .element {
      padding: 2px 4px 20px;
    }
    .haicham {
      font-size: 20px;
      float: left;
      padding: 0 9px;
      color: white;
      position: relative;
      top: 14px;
    }
    .label {
      position: absolute;
      bottom: -2px;
      left: 0;
      font-size: 12px;
    }
  }
}

.reoder-form {
  font-size: 16px;
  margin-top: 20px;
}

.reoder-action {
  background: #0b61d7;
  color: white;
  font-size: 18px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 5px;
  &:hover {
    color: white;
    background: lighten(#0b61d7, 10%);
  }
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
}
.km-list{
  color: #8c8c8c;
  margin: 7px 0 10px !important;

  li{
    margin-bottom: 5px;
  }
}

.reoder-tit {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
  font-weight: normal;
  margin-left: -15px;
  @include respond-to(medium){
    margin-left: 0;
  }
}

input[type=radio]:checked + div {
  color: white;
} 

.product-color {
  text-align: center;
  white-space: nowrap;
  border: 1px solid #c8c9cb;
  vertical-align: middle;
  top: -4px;
  padding: 3px 11px;
  font-weight: bold;
}

.mb30 {
  margin-bottom: 30px;
}

.mb10 {
  margin-bottom: 10px;
}

.section-intro {
  display: flex;
  padding: 50px 0 0;
  flex-flow: row wrap;
  background: url("https://cdn1.vienthonga.vn/image/2017/3/2/100000_intro-bg.jpg") black no-repeat;
  background-size: cover;
  .reoder-heading {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 3px;
    span {
      font-size: 34px;
      font-weight: 300;
      letter-spacing: 1px;
    }
    span.name {
      font-size: 40px;
      letter-spacing: 5px;
      font-weight: bold;
    }
    margin-bottom: 20px;
    @include respond-to(mobile) {
      font-size: 25px;
      span {
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 1px;
      }
      span.name {
        font-size: 25px;
        letter-spacing: 3px;
        font-weight: bold;
      }
    }
  }
}

.section-intro-col1 {
  padding: 15px 15px 0;
  flex: 0 0 50%;
  align-self: flex-end;
  img {
    margin-right: 0;
  }
  @include respond-to(small) {
    flex: 0 0 100%;
  }
}

.section-intro-col2 {
  flex: 0 0 50%;
  color: white;
  align-self: center;
  .scroll {
    font-size: 16px;
    max-height: 400px;
    text-align: justify;
    color: white;
    @include respond-to(desktop) {
      max-height: 300px;
    }
  }
  @include respond-to(small) {
    flex: 0 0 100%;
    padding: 15px 15px 15px;
  }
}

.section-intro-content {
  max-width: 620px;
  margin-bottom: 80px;
  @include respond-to(small) {
    max-width: none;
  }
}

.section-uudai{
  background: url("https://cdn1.vienthonga.vn/image/2017/5/4/100000_bg-uudai.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

.des-space{
  padding: 40px 0;

  .txt1{
    font-size: 42px;
    margin-top: 30px;
    @include respond-to(mobile){
      font-size: 30px;
    }
  }

  .txt2{
    font-size: 20px;

    @include respond-to(mobile){
      font-size: 18px;
    }
    margin-bottom: 30px;
  }

  .txt3{
    font-size: 16px;
    line-height: 1.8;

    @include respond-to(mobile){
      font-size: 14px;
    }
  }
}













.table-dathang {
  li {
    padding: 3px 8px;
    display: inline-block;
    &.active {
      a {
        color: #0b61d7;
      }
    }
    a {
      font-size: 14px;
      color: black;
      &:hover {
        color: #0b61d7;
      }
    }
    &.active {
      background: #0b61d7;
      border-radius: 3px;
      a {
        color: white;
      }
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: -5px;
        width: 0;
        left: 50%;
        margin-left: -5px;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #0b61d7;
      }
    }
  }
}

.modal-content {
  padding: 20px;
}

.tb-name {
  color: #0057d5;
  font-weight: bold;
}

.tb-sp {
  color: red;
}

.tb-height {
  
  max-height: 500px;
    overflow-y: scroll;
    border: solid 1px #ccc;
    border-radius: 2px;
}

.tb-phone {
  font-style: italic;
  font-size: 12px;
}

.tb-loadmore {
  margin-top: 15px;
}

.tb-search {
  margin: 20px 0;
}


/***
Light Table
***/

.table.table-light {
  border: 0 !important;
}

.table.table-light>thead>tr:hover>th {
  background: none;
}

.table.table-light>thead>tr.uppercase {
  text-transform: uppercase;
}

.table.table-light>thead>tr>th {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  color: black;
  font-family: "Open Sans", sans-serif;
  border: 0;
  border-bottom: 1px solid #F2F5F8;
}

.table.table-light>tbody>tr:last-child>td {
  border: 0;
}

.table.table-light>tbody>tr>td {
  border: 0;
  border-bottom: 1px solid #F2F5F8;
  color: #5d5d5d;
  vertical-align: middle;
  font-size: 14px;
}

.table.table-light>tbody>tr>td.fit {
  width: 1px;
  padding-right: 3px;
}

.table.table-light>tbody>tr>td .user-pic {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.table.table-light.table-hover>tbody>tr>td:hover,
.table.table-light.table-hover>tbody>tr>th:hover,
.table.table-light.table-hover>tbody>tr:hover>td,
.table.table-light.table-hover>tbody>tr:hover>th {
  background: #f9fafb;
}

.des-close {
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 10px;
  a {
    font-size: 20px;
    color: #3d3d3d;
  }
}

.section-panel {
  width: 100%;
  padding-bottom: 43%;
  position: relative;
  overflow: hidden;
  background: black;
  @include respond-to(x-mobile) {
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
    background: black;
  }
}

.section-panel-grid {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  @include respond-to(x-mobile) {
    position: relative;
    display: block;
  }
  &.activehide {
    .section-panel-thumb {
      opacity: 0;
      @include respond-to(mobile) {
        opacity: 1;
      }
    }
    .section-panel-thumb1 {
      transform: translateY(-25%);
      @include respond-to(mobile) {
        transform: translateY(0);
      }
    }
    .section-panel-thumb2 {
      transform: translateY(-35%);
      @include respond-to(mobile) {
        transform: translateY(0);
      }
    }
    .section-panel-thumb3 {
      transform: translateY(-55%);
      @include respond-to(mobile) {
        transform: translateY(0);
      }
    }
    .section-panel-thumb4 {
      transform: translateY(-75%);
      @include respond-to(mobile) {
        transform: translateY(0);
      }
    }
  }
}

.section-panel-thumb {
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  transition: all 0.8s;
}

.section-panel-img {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(50%);
  // transition-delay: 1s;
  &.active {
    opacity: 1;
    z-index: 3;
    transform: translateY(0);
    @include respond-to(mobile) {
      position: relative;
    }
  }
}

.section-panel-element {
  backface-visibility: hidden;
  flex: 0 0 25%;
  background: black;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.section-panel-2 {
  .section-panel-img {
    transform: translateX(-25%);
  }
}

.section-panel-3 {
  .section-panel-img {
    transform: translateX(-50%);
  }
}

.section-panel-4 {
  .section-panel-img {
    transform: translateX(-75%);
  }
}

.section-thongso {
  background: #171717;
  padding: 60px 0;
  color: #bbbbbb;
  .txt1 {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 5px;
    color: white;
    margin-bottom: 30px;
    @include respond-to(small) {
      font-size: 25px;
      letter-spacing: 2px;
    }
    @include respond-to(mobile) {
      font-size: 25px;
      margin-top: 20px;
    }
  }
  .table>thead>tr>th,
  .table>thead>tr>td,
  .table>tbody>tr>th,
  .table>tbody>tr>td,
  .table>tfoot>tr>th,
  .table>tfoot>tr>td {
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #494949;
    font-size: 16px;
  }
  .table>tbody>tr:first-child {
    >td,
    >th {
      border-top: none
    }
  }
  .table>tbody>tr>th {
    padding: 8px 10px 8px 0;
    white-space: nowrap
  }
}

#modal-thongso1, #modal-thongso2 {
  .txt1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: #257cd4;
    padding: 5px 20px;
  }
  .table-padding  {
padding: 5px 10px;
  }
  .table {
        font-size: 16px;
  }
  .table>tbody>tr:first-child {
    >td,
    >th {
      border-top: none
    }
  }
  .table>thead>tr>th,
  .table>thead>tr>td,
  .table>tbody>tr>th,
  .table>tbody>tr>td,
  .table>tfoot>tr>th,
  .table>tfoot>tr>td {
    color: black;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #eaeaea;
  }
  .table>tbody>tr>th {
    padding: 8px 10px 8px 0;
    white-space: nowrap
  }
  .modal-content {
    padding: 0;
    overflow: hidden;
  }
}