$white: white;
.s8-title {
  font-size: 45px; // text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 30px;
  margin-top: 0;
  @extend .font-ss1;
  @include respond-to(small) {
    font-size: 32px;
  }
  @include respond-to(mobile) {
    font-size: 25px;
  }
}

.s8-sub-title {
  font-size: 40px;
  color: #000;
  margin-bottom: 25px;
  font-family: sans-serif;
  text-transform: uppercase;
  @include respond-to(small) {
    font-size: 32px;
  }
  @include respond-to(mobile) {
    font-size: 25px;
  }
}

.s8-content {
  font-size: 18px;
  line-height: 28px;
  font-family: sans-serif;
  font-weight: normal;
  @include respond-to(mobile) {
    margin-bottom: 20px;
    font-size: 14px;
  }
}

.s8-title,
.s8-content {
  color: #fff;
}

.section-timkhoituyetsac {
  background: #000;
  color: #fff;
  position: relative;
  z-index: 2;
}

// div[class*="-img"] {
//   margin-bottom: 20px;
//   @media(min-width: 992px) {
//     margin-bottom: 0;
//   }
// }
.heroTxt {
  text-align: center;
}

.heroTxt--title {
  text-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  color: #6e4e6e;
  font-size: 42px;
  line-height: 1.2;
  @extend .font-ss1;
  @include respond-to(medium) {
    font-size: 30px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  }
  @include respond-to(mobile) {
    font-size: 28px;
  }
  @include respond-to(x-mobile) {
    font-size: 24px;
    line-height: 1.3;
  }
}

.heroTxt--name {
  text-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  color: #6e4e6e;
  font-size: 30px;
  @extend .font-ss1;
  @include respond-to(medium) {
    font-size: 24px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  }
  @include respond-to(mobile) {
    font-size: 22px;
  }
  @include respond-to(x-mobile) {
    font-size: 16px;
  }
}

.heroTxt-tinysub {
  text-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  color: #6e4e6e;
  font-size: 20px;
  @include respond-to(x-mobile) {
    font-size: 14px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  }
}

.top-quatang {
  text-align: center;
  padding: 20px;
  background: rgba(72, 18, 119, 1);
  background: linear-gradient(to bottom, rgba(72, 18, 119, 0.6) 0%, rgba(50, 5, 90, 0.6) 100%);
  border-radius: 30px;
  border: solid 3px #6e009c;
  .temp-text {
    color: #fff;
    font-size: 11px;
    margin: 15px 0 5px;
    min-height: 30px;
  }
  @include respond-to(mobile) {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
}

.quatang {
  padding: 0 10px;
}

.top-quatang-text {
  margin-top: 15px;
  p {
    color: #fff;
    font-size: 10px;
  }
}

.top-quatang-title {
  font-size: 24px;
  color: #fff;
  @include respond-to(mobile) {
    font-size: 20px;
  }
  @include respond-to(x-mobile) {
    font-size: 16px;
  }
}

.top-quatang-price {
  color: #fff200;
  font-size: 1.4em;
  @extend .font-ss1;
  padding-left: 5px;
}

// Top banner Hero
.s8-hero {
  background: url('https://cdn1.vienthonga.vn/image/2017/7/1/100000_new-bg.jpg') #7d5384 no-repeat;
  background-size: cover;
  background-position: center center;
}

.thongsos8-img {
  @include respond-to(small) {
    margin-bottom: 25px;
    img {
      max-width: 150px;
      width: 100%;
    }
  }
}

.s8-hero {
  padding: 30px 0;
  .hero-mainphone {
    @include respond-to(small) {
      margin-bottom: 25px;
      img {
        max-width: 300px;
        width: 100%;
      }
    }
    @include respond-to(x-mobile) {
      img {
        max-width: 200px;
        width: 100%;
      }
    }
  }
  .timkhoi-mobile{
    @media(min-width: 400px){
      display: none;
    }
  }
  .btn-tim {
    font-size: 18px;
  }
  .presell--text {
    font-size: 42px;
  }
  .presell--name {
    font-size: 30px;
  }
  .presell-tinysub {
    font-size: 20px;
  }
  .presell--price {
    font-size: 25px;
    color: #fff200;
    span{
       font-size: 25px;
      color: #fff200;
    }
    @extend .font-ss1;
    text-shadow: 0 5px 5px rgba(58, 16, 85, .82);
  }
  .top-action {
    @media(min-width: 992px) {
      margin-top: 20px;
    }
  }
}

.quatang-card {
  text-align: center;
  @include respond-to(small) {
    margin-bottom: 20px;
  }
}

.quatang-card-img {
  margin-bottom: 0 !important;
  @include respond-to(x-mobile) {
    padding: 0 50px;
  }
}

.quatang-card-caption {
  .title {
    font-size: 18px;
    color: #efdf9d;
    @extend .font-ss1;
    margin-bottom: 20px;
  }
  .price {
    color: #b8b8b8;
    font-size: 20px;
    @extend .font-ss1;
    margin-bottom: 10px;
  }
  .content {
    font-size: 14px;
    text-align: justify;
    color: #949090;
    font-family: sans-serif;
  }
}

.s8-tongquatang-khuyenmai {
  margin-top: 20px;
  margin-bottom: 35px;
}

.btn-tim {
  display: inline-block;
  background: #7b1ed7;
  border-radius: 5px;
  padding: 11px 25px 7px;
  color: #fff;
  box-shadow: 0 5px 5px rgba(58, 16, 85, .82);
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'SamsungSharpSans-Bold', sans-serif;
  &:visited,
  &:focus {
    background: #7b1ed7;
    color: #fff;
  }
  &:hover {
    background: darken(#7b1ed7, 10%);
    color: #fff;
  }
}

.section-camerakhoanhkhac {
  position: relative;
  z-index: 1;
  background: #000;
}

.camerakhoanhkhac-img {
  margin-top: -2px;
  img {
    width: 100%;
  }
}

.timkhoituyetsac-img {
  @include respond-to(small) {
    img {
      max-width: 300px;
      width: 100%;
    }
  }
}

.camerakhoanhkhac-text {
  position: absolute;
  max-width: 450px;
  padding: 0 15px;
  top: 200px;
  right: 50%;
  margin-right: 50px;
  @include respond-to(small) {
    top: 70px;
  }
  @include respond-to(mobile) {
    top: 0px;
    right: 0;
    position: relative;
    margin-right: 0px;
    max-width: 100%;
    padding-bottom: 30px;
  }
}

.s8-tongquatang {
  background: #190B20;
}

// Tong qua tang
.s8-tongquatang {
  .special-text01 {
    font-size: 50px;
    background: #eddb99;
    background: linear-gradient(to bottom, #eddb99 10%, #ed9017 10%, #eddb99 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include respond-to(medium) {
      font-size: 40px;
    }
    @include respond-to(mobile) {
      font-size: 30px;
    }
    @include respond-to(x-mobile) {
      font-size: 26px;
    }
  }
  .special-text02 {
    font-size: 1.2em;
    font-family: 'SamsungSharpSans-Bold';
    background: #eddb99;
    background: linear-gradient(to bottom, #eddb99 0%, #ed9017 51%, #eddb99 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .special-text03 {
    font-size: 25px;
    color: #ffff00;
    margin-bottom: 50px;
    @include respond-to(mobile) {
      font-size: 20px;
      margin-bottom: 20px;
    }
    @include respond-to(x-mobile) {
      font-size: 13px;
    }
  }
}

// hieu suat manh me
.section-phongvelytuong {
  background: #000;
  color: #fff;
}

// thong so ky thuat
.section-thongsos8 {
  background: #f9f9f9;
  color: #666666;
  .chitiet-title {
    font-size: 22px;
    font-family: sans-serif;
  }
  .chitiet-content {
    font-size: 16px;
    font-family: sans-serif;
  }
  .chitiet-content,
  .chitiet-title {
    color: #666666;
  }
  .thongsos8-chitiet {
    margin-top: 20px;
    @media(min-width: 768px) {
      margin-top: 0;
    }
  }
}

// Re-order
.s8-order {
  background: #190b20;
  .reorder-price-text {
    font-size: 22px;
    display: inline;
    @include respond-to(x-mobile) {
      font-size: 18px;
    }
  }

  .s-title{
    font-size: 35px;
  }
  .reorder-price {
    display: inline;
    font-size: 30px;
    @include respond-to(x-mobile) {
      font-size: 22px;
    }
  }
  .reorder-price-text,
  .reorder-price {
    color: #771ece !important;
    font-family: 'SamsungSharpSans-Bold', sans-serif;
  }
  .reorder-last {
    margin-right: 20px;
  }
  .reoder-txt2 {
    small {
      font-size: 14px;
    }
    a {
      color: #fff200;
      &:hover {
        color: darken(#fff200, 10%);
      }
    }
  }
  .reorder-timer {
    background: transparent;
    @include respond-to(x-mobile) {
      background: #d7cade;
      border-radius: 5px;
    }
    .countdown2 {
      background: #d7cade;
      padding: 15px 50px 5px;
      border-radius: 5px;
      @include respond-to(mobile) {
        padding: 15px 15px 5px;
      }
      @include respond-to(x-mobile) {
        padding: 5px 0px 5px;
      }
    }
  }
  .reorder-title {
    color: #c3a9d2 !important;
  }
  @media(min-width: 1024px) {
    .phuongthucnhanhang {
      margin-top: 35px;
    }
    .phuongthucthanhtoan {
      margin-top: 58px;
    }
  }
  .opt-radio .opt-radio-icon {
    background: #190b20;
  }
  .reorder-content {
    @media(min-width: 1024px) {
      .j7-nguoimua {
        padding-right:65px;
      }
      .j7-phuongthuc {
        padding-left: 65px;
      }
    }
  }
}

.s8-bar {
  background: #2c1239;
}

.s8-xemthongtinchitiet {
  margin-top: 45px;
  a {
    color: #7e5b97;
    font-size: 15px;
    font-family: 'SamsungSharpSans-Bold';
  }
}

.top-xemdanhsach{
  background: url('https://cdn1.vienthonga.vn/image/2017/6/2/100000_top-xemdanhsach.png') no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 20px;
  padding: 10px 0;
  span,
  strong{
    color:#fff;
    font-size: 14px;
  }

  strong{
    font-family: 'SamsungSharpSans-Bold', sans-serif;
    }
}

.s8-danhsachkhachhang{
  .table-dathang li.active{
    background: #771ece;
  }
  .table-dathang li.active:before{
    border-top: 5px solid #771ece;
  }
  .btn-danger{
    background-color: #190b20;
    border-color: #190b20;
  }
  .table.table-light > thead > tr > th{
    color: #666;
  }
  .tb-name{
    color: #666;
  }

  .tb-sp{
    color: #666;
  }
}
.s8-thele{
  .txt1{
    background: #771ece;
  }
  
}

.s8-thongso{
  .txt1{
     background: #771ece !important;
  }
}

.br-mobile{
  @media(min-width: 340px){
     display: none;
  }
 
}

