.list-quatang-top {

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 40px;
    flex-wrap: wrap;

    

}

.list-quatang-right {
    @media(min-width: 768px){
        width: 50%;
    }
    
}

.quatang02-detail{
    @extend .font-ss1;
    font-size: 25px;
    color: #0C439D;
    margin-bottom: 25px;
    text-align: center;
    @media(min-width: 768px){
        text-align: left;
    }
    div{
        span{
            display: block;
            @extend .font-ss2;
            font-size: 14px;
            margin-bottom: 5px;
            color: black;
        }
    }
}
.section-bannertemp{
    padding: 40px 0;
    margin-top: 20px;
    background: url(https://cdn1.vienthonga.vn/image/2018/5/2/100000_bg-temp.png) no-repeat center;
    background-size: cover;
}

#livefocus,
#art,
#khaudo,
#maxview,
#lienkhoi{
    padding-top: 150px;

    @include respond-to(mobile){
        padding-top: 90px;
    }
    .main-title{
        margin: 25px 0;
    }
}
#livefocus{
    background: url(https://cdn1.vienthonga.vn/image/2018/5/2/100000_2-1.jpg) no-repeat center;
    background-size: cover;
}

#art{
    background: url(https://cdn1.vienthonga.vn/image/2018/5/2/100000_2-2.jpg) no-repeat center;
    background-size: cover;
}

#khaudo{
    background: url(https://cdn1.vienthonga.vn/image/2018/5/2/100000_2-3.jpg) no-repeat center;
    background-size: cover;
}
#maxview{
    
        background: url(https://cdn1.vienthonga.vn/image/2018/5/2/100000_3-1.jpg) no-repeat center;
        background-size: cover;
    
}
#lienkhoi{
    
    background: url(https://cdn1.vienthonga.vn/image/2018/5/2/100000_3-2.jpg) no-repeat center;
    background-size: cover;

}
#art,
#khaudo{
    .main-title,
    .sub-title{
        color: white;
    }
}
.list-banner {

    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    
}

.section-video,
.section-camera-a6{
    padding: 0;
}

.tab-camera{
    position: absolute;
    left: 50%;
    top: 25px;
    
    transform: translate3d(-50%,0,0);
    background: transparent;
    border: none;
    @media(max-width: 767px){
        width: 100% !important;
    }
    
    li{
        @media(min-width: 768px){
            margin-right: 120px;
        }
       
    }

    li > a{
        cursor: pointer;
        color: #636161;
        border: none;
        &:hover,
        &:focus,
        &:visited{
            color: white;
            text-decoration: underline;
            border: none;
            background: transparent;
        }
    }

    li.active > a{
        border: none;
        background: transparent;
        color: white;
        // color: #636161;
        text-decoration: underline;
        &:hover,
        &:focus,
        &:visited{
            color: white;
            text-decoration: underline;
            border: none;
        background: transparent;
        }
    }
}

.tab-view{
    li > a{
        color: #6D6B6B;
        border: none;
        cursor: pointer;
        &:hover,
        &:focus,
        &:visited{
            color: darken(#6D6B6B, 10%);
            text-decoration: underline;
            border: none;
            background: transparent;
        }
    }

    li.active > a{
        border: none;
        background: transparent;
        color: black;
        // color: #636161;
        text-decoration: underline;
        &:hover,
        &:focus,
        &:visited{
            color: black;
            text-decoration: underline;
            border: none;
        background: transparent;
        }
    }
}

.section-matlung {   
    padding: 0px;
    padding-top: 80px;
    background: url(https://cdn1.vienthonga.vn/image/2018/5/2/100000_4-1.jpg) no-repeat center;
    background-size: cover;

    @include respond-to(mobile) {
        background: #fff;
        padding-bottom: 0px;
        padding-top: 30px;
    }
    .main-title,.sub-title{
        text-align: center;
       margin : 25px 0;
    }
}

.section-thongsooppo {
    color: #000;
    padding: 30px 0;
   
    .s8-sub-title {
        text-align: center;
        font-size: 35px;
        @extend .font-ss1;

        @include respond-to(mobile) {
            font-size: 20px;
        }
    }
}

.section-dangky-nhanthongtin {
    color: #fff;
    padding-bottom: 0px;  
   background: #000;
  
    .dangky-nhanthongtin-content {
        text-align: center;
        padding: 30px 20px;
        text-transform: none;
        font-size: 24px;
        color: #fff;
        @media (min-width: 768px) {
            text-align: left;
            padding: 70px 0px;
        }
        @media (min-width: 1200px) {
            text-align: center;
            padding: 70px 0px;
        }
    }

    .muangay-footer-button {
        margin-bottom: 0;
        text-align: center;
        a {
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            border: 1px solid #fff;
            padding: 12px 27px;
            border-radius: 29px;
            background: transparent;
            }
            a:visited, a:hover {
                color: #fff;
            } 
        }
      
    
}

.a6-datngay.hidden-xs {
    background-image: linear-gradient(-90deg, #0B37AB 0%, #1492D0 97%);
    border-radius: 40px;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    text-align: center;
    text-transform: uppercase;
    margin: 15px auto;
    display: block;
    padding: 11px 42px;
}


// Form dat mua
.section-datmua{
    background: black;
    padding: 20px 0;
}
.datmua-title{
    font-size: 18px;
    color: #fff;   
    text-align: left;
    @extend .font-ss3;
    margin-bottom: 15px;
    @media(min-width: 768px) and (max-width: 1204px){
        font-size: 18px;
        text-align: left;
        margin-bottom: 0px;
    }
    @media(min-width: 1204px){
        font-size: 18px;   
        margin-bottom: 0px;     
    }
    span {
        position: relative;
    }
    .gigabyte {
        position: absolute;
        font-size: 10px;
        @extend .font-ss2;
        border: 1px solid #EDDE00;
        border-radius: 8px;
        right: 0px;
        top: -20px;
        padding: 2px 3px 0px 3px;
    }
}
.sticky-bar-fixed{
    background: $stickybar-bg;
}
.danhsachdatmua{
    @extend .font-ss1;
    @media(min-width : 768px){       
        text-decoration: underline;
    }
}


/* .datmua-mobile{
    background: #F6402E;   
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    display: block;
    padding: 11px 20px;
    margin-top: 0px;
    cursor: pointer;;
    border-radius: 2px;   
    @extend .font-ss1; 
    &:hover,
    &:focus,
    &:visited{
        color: white ;
        background: darken(#F6402E, 10%) ;
    }
} */


strong{
    @extend .font-ss1;
}

.drop-menu-xz2{
    width: 100%;
    li a{
        padding: 15px !important;
    }
}

.section-danhsach{
    background: #f6f6f6;
    padding: 20px 0;
    .txt1,
    .thele-title{
        @extend .font-ss1;
    }

    #ViewDanhSach{
        background: white;
    }
}

.opt-40 {
    width: 44%;
   
  }
  
  .opt-30 {
      width: 30%;
     
    }
  
    //Section video
.section-video{
    background: black;
    background-size: cover;   
    position: relative;
    padding: 0;
   
}

#video-quangcao{
    background: black;
    text-align: center;
}

.iframe {
    width: 830px;
    height: 480px;
    margin: 0 auto;
}

.w30{
    @media(max-width: 767px){
        max-width: 330px !important;
    }
}