.section-hero {
    background: url('https://cdn1.vienthonga.vn/image/2017/6/3/100000_bg.jpg');
    background-size: cover;
    background-position: center center;
}

// Components
.text-bold {
    color: #666;
}

.sony-action {
    margin: 10px 0 20px;
    a {
        padding: 8px 35px;
        background: #333;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 17px;
        border-radius: 3px;
        display: inline-block;
        &:hover {
            background: darken(#333, 10%);
            color: #fff;
        }
        @include respond-to(x-mobile) {
            padding: 6px 30px;
            font-size: 15px;
        }
    }
}

[class*="-text"] {
    h2 {
        text-transform: uppercase;
        font-size: 35px;

        @include respond-to(mobile){
            font-size: 24px;
        }
    }
    .sub {
        text-transform: uppercase;
        font-size: 23px;
        padding-bottom: 25px;

        @include respond-to(mobile){
            font-size: 18px;
        }
    }
}

// Hero Section
.presell {
    text-align: center;
    color: #333333;
}

.presell--text {
    @extend .font-ss1;
}

.presell--name {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    @include respond-to(mobile) {
        font-size: 30px;
    }
    @include respond-to(x-mobile) {
        font-size: 28px;
    }
}

.hero-mainphone {
    margin-bottom: 15px;
    @include respond-to(mobile) {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    @include respond-to(x-mobile) {
        width: 250px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

.hero-gift--text {
    color: #333333;
    padding-bottom: 10px;
    @extend .text-uppercase;
    h4 {
        font-size: 18px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 5px;
    }
    p {
        font-size: 14px;
        font-weight: bold;
        color: #333333;
    }
}

.hero-listgift--des {
    color: #666666;
}

.hero-listgift {
    padding-top: 10px;
}

.hero-gift--image {
    min-height: 110px;
}

.hero-last-img {
    padding-top: 25px;
}

// Pin Bar Section
.section-pinbar {
    padding: 10px 0;
    background: #2f2f2f;
    p {
        margin-bottom: 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 25px;
    }
    .sony-action {
        a {
            background: #181818;
            
        }
    }
}

.xemthele{
    font-size: 14px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 3px;
    background: white;
    color: black;

    @include respond-to(mobile){
        padding: 8px 15px;
    }
}

.section-bar {
    .sony-action {
        a{
            background: #181818;
            &:hover{
                background: darken(#181818,10%)
            }
        }
        margin: 0;
        @include respond-to(mobile) {
            margin: 3px 0;
        }
        @include respond-to(x-mobile) {
            a {
                padding: 6px 18px;
            }
        }
    }
    .bar-name {
        font-weight: normal;
    }
}

// Nhan Qua Section
.section-nhanqua {
    background: #3d3d3d;
}

.nhanqua-text {
    h2,
    p {
        color: #fff;
    }
}

.list-nhanqua {
    .rowFlex:first-child {
        .column {
            //padding-bottom: 20px;
        }
    }
}

.list-nhanqua-text {
    color: #ccc;
    h5 {
        color: #ccc;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: normal;
    }
    p {
        font-size: 16px;
    }
    .zeropercent {
        text-transform: uppercase;
    }
}

.list-quayso-img{
    @include respond-to(small){
        margin-bottom: 20px;
    }
}

.btn-action {
    padding-top: 35px;
    text-align: center;
    .sony-action {
        a {
            background: #fff;
            color: #000;
        }
    }
}

// Quay so section
.section-quayso {
    background: #2f2f2f;
}

.quayso-text {
    color: #fff;
    h2 {
        color: #fff;
    }
}

.list-quayso-text {
    @media(max-width: 768px) {
        padding: 15px 0;
        text-align: center;
    }
    p {
        color: #ccc;
    }
}

.first-quayso {
    text-transform: uppercase;
    font-size: 18px;
}

.last-quayso {
    p {
        font-weight: bold;
        font-size: 16px;
    }
    p:first-child {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
    }
}

// Camera truoc
.section-cameratruoc {
    background: #f7f7f7;
    padding-bottom: 0;
}

.section-hieusuatmanhme {
    padding-bottom: 0;
}

.section-thongsokythuat {
    background: #f7f7f7;
}

.thongsokythuat-chitiet {
    h2 {
        text-transform: uppercase;
        padding-bottom: 25px;       
    }
    .sony-action {
        margin-top: 20px;
        text-align: center;
        @media(min-width: 768px){
            text-align: right;
        }
    }
}

.thongsokythuat-content {
    img {
        margin-bottom: 10px;
    }
    p:first-of-type {
        font-weight: bold;
        color: #000;
    }
}

.thongsokythuat-title{
    text-align: center;
    @media(min-width: 1024px){
        text-align: right;
        font-size: 35px;
    }
}
// Dien thoai thong minh section
.dienthoaithongminh-text {
    display: none;
    @media(min-width: 1024px) {
        display: block;
        position: absolute;
        width: 30%;
        right: 20%;
        top: 19%;
        text-align: justify;
        z-index: 8;
        color: #bebebe;
        padding: 15px;
        text-align: right;
        .text-bold {
            color: #fff;
        }
        h2,
        .sub {
            color: #fff;
        }
    }
}

.bird {
    position: absolute;
    right: -21%;
    top: 0;
    width: 73%;
    height: 100%;
    transform: skew(-25deg);
    overflow: hidden;
    z-index: 7;
    img {
        transform: skew(25deg);
        position: relative;
        left: -819px;
        top: -226px;
    }
}

.layer-black {
    position: absolute;
    right: -21%;
    top: 1px;
    width: 73%;
    height: 100%;
    transform: skew(-25deg);
    overflow: hidden;
    background-color: rgba(0, 0, 0, .85);
    z-index: 7;
}

.dienthoaithongminh-text-temp {
    background: black;
    color: #bebebe;
    padding: 15px;
    text-align: right;
    .text-bold {
        color: #fff;
    }
    h2,
    .sub {
        color: #fff;
    }
    @media(min-width: 1024px) {
        display: none;
    }
}

.section-camera {
    background: #f7f7f7;
    padding: 0;
    @media(min-width: 1023px) {
        padding: 102px 0;
        height: 485px;
    }
}

.camera-lg {
    display: block;
    img {
        @media(max-width: 1023px) {
            width: 100%;
        }
    }
    @media(min-width: 1023px) {
        position: absolute;
        right: -21%;
        top: 0;
        width: 73%;
        height: 100%;
        overflow: hidden;
        z-index: 7;
        transform: skew(-155deg);
        img {
            transform: skew(155deg);
            left: -683px;
            top: -141px;
            position: relative;
            @media(min-width: 1440px) {
                left: -437px;
            }
        }
    }
}

.camera-text {
    @media(min-width: 1024px) {
        width: 35%;
    }
}

.section-presell {
    width: 50%;
    margin: 0 auto;
}

.reorder-title{
    @extend .font-ss1;
    margin-left: 0;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.reoder-tit{
    font-size: 30px;
}
.reorder-price-text{
    font-size: 0.7em;
    text-transform: uppercase;
}

.reorder-price{

    font-weight: bold;
}
.section-reoder{
   
    label{
        color: black;
    }
    small,
    em{
        color: #666;
    }

    .reorder-input{
        input{
            margin-top: 17px;
        }
    }
}

.reorder-txt{
    color: black;
}
.form-black{
    background: #fff !important;
    color: #000 !important;
}

.reorder-number{
    color: #584f48;
}
