.section-promotion,
.section-cauhinh{
    background: #11b8dc;
}

.section-manhinh{
    background: url('https://cdn1.vienthonga.vn/image/2017/9/1/100000_bg-manhinh.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.section-hero-xa1,
.section-vedepsanhdieu,
.section-camera{
    padding: 0 !important;
}

.hero-xa1-title{
    font-size: 24px;
    margin-bottom: 0;
    span{
        font-size: 30px;
        font-weight: 600;
        @include respond-to(mobile){
            font-size: 18px;
        }
    }
    @include respond-to(mobile){
        font-size: 18px;
        padding: 10px 0;
    }
}

.hero-xa1-toptitle{
    color: #e76eab;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    @include respond-to(mobile){
        font-size: 20px;
        
    }
}

.btn-datmua-xa1 {
    margin-top: 15px;
    margin-bottom: 15px;
    a {
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        background: #e76eab;
        padding: 10px 40px;
    }
    a:hover {
        background: darken(#e76eab,10%);
        color: white;
    }
    @include respond-to(mobile){
        margin-bottom: 30px;
    }
}

.wrap-list-info {
    margin-top: 30px;
    @media(min-width: 1204px){
        padding-left: 48px;
    }

    p {
        font-weight: 400;
        color: black;
    }
}


.nhanboquatang{
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
    @include respond-to(mobile){
        font-size: 21px;
        margin-bottom: 10px;
    }
}

.promotion-text{
    color: white;
    text-align: center;
    font-size: 25px;
    @media(min-width: 1204px){
        font-size: 22px;
    }
    @include respond-to(mobile){
        font-size: 20px;
        margin-bottom: 10px;
        
    }
}

.promotion-img{   
    margin-bottom: 20px;
    min-height: 285px;
    position: relative;
    @include respond-to(mobile){
        margin-bottom: 0px;
        min-height: 275px;
    }
}


.xa1-title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1;
    @include respond-to(mobile){
        font-size: 23px;
        padding-top: 20px;       
    }
}

.xa1-title-sub{
    font-size: 30px;
    font-weight: 400;
    color: #010000;
    @include respond-to(mobile){
        font-size: 17px;
            
    }
}

.xa1-content{
    font-size: 18px;
    color: #3d3d3d;
    margin-top: 40px;
    @include respond-to(mobile){
        font-size: 15px;
            
    }
}

.section-vedepsanhdieu{
    .xa1-content{
        @media(min-width: 1204px){
            width: 83%;
         }  
    }
    
}

.section-manhinh{
    .xa1-title{
        margin-bottom: 20px;
    }
    .xa1-content{
        @media(min-width: 1204px){
            width: 89%;
         }  
    }
}

.section-cauhinh{
    text-align: center;
    .xa1-title,
    .xa1-content{
        color: white;
    }
    .xa1-content{
        @media(min-width: 1204px){
            width: 67%;
            margin: 20px auto;
         }  
        
    }
    .cauhinh-img{
        padding: 50px 0;
        padding-bottom: 80px;
    }
    .btn-datmua-xa1{
        padding-bottom: 60px;
        a {
            border-radius: 5px;
            color: #e76eab;
            text-transform: none;
            text-decoration: none;
            background: white;
            padding: 10px 40px;
            font-size: 14px;
            
        }
        a:hover {
            background: darken(#e76eab,10%);
            color: white;
        }
    }
}

.p-a-0{
    @media(min-width: 1204px){
        padding: 0;
     }     
}

.quatang-loa{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -94px;
}

[class*='sony-']{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: red;
    margin-bottom: 10px;
    border: solid 1px white;
    cursor: pointer;
    transition: all .8s ease;
}

.promotion-chonmau{
    position: absolute;
    right: 12%;
    bottom: 33px;
    @media(min-width: 768px){
        right: 20%;
    }
    @media(min-width: 991px){
        right: 2%;
    }
}

.sony-reu{
    background: #596746;
}
.sony-trang{
    background: #dad6d6;
}
.sony-red{
    background: #b01801;
}
.sony-yellow{
    background: #d59122;
}
.sony-black{
    background: #353535;
}
.sony-blue{
    background: #2f4672;
}

.sony-scale{
    transform: scale(1.5);
}

#loasony{
    transition: all .8s;
}

.table-dathang li.active,
.des-modal .txt1,
#modal-thongso .txt1{
    background: #e76fac;
}
.table-dathang li.active:before{
  border-top: 5px solid #e76fac;
}

.opt-radio .opt-text span{
    font-weight: 400;
}

.list-info {
    li:first-child:after {
        content: '|';
        padding: 0 5px;
        @include respond-to(small) {
            content: '';
        }
    }
    list-style: none;
    padding-left:0px;
    li {
        display: inline-block;
        @include respond-to(mobile) {
            margin-bottom: 10px;
        }
        a {
            font-weight: 400;
            color: black;
        }
        a.active {
            color: #cd4c54;
        }
        a:hover,
        a:active {
            color: #cd4c54;
        }
    }
}