body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.section-hero-xz1 {
    background: url(https://cdn1.vienthonga.vn/image/2017/8/2/100000_xz1-bg-top.jpg) no-repeat;
    background-size: cover;
}

.title-top {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    @include respond-to(small) {
        font-size: 25px;
    }
    span {
        font-size: 60px;
        font-weight: bold;
        @include respond-to(small) {
            font-size: 35px;
        }
    }
}

.img-xz1-pd-top {
    @include respond-to(small) {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

.list-info {
    li:first-child:after {
        content: '|';
        padding: 0 5px;
        @include respond-to(small) {
            content: '';
        }
    }
    list-style: none;
    padding-left:0px;
    li {
        display: inline-block;
        @include respond-to(mobile) {
            margin-bottom: 10px;
        }
        a {
            font-weight: 400;
            color: black;
        }
        a.active {
            color: #cd4c54;
        }
        a:hover,
        a:active {
            color: #cd4c54;
        }
    }
}

.wrap-promo-item {
    margin-top: 20px;
}

.btn-datmua-xz1 {
    margin-top: 15px;
    a {
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        background: #cd4c54;
        padding: 10px 40px;
    }
    a:hover {
        color: white;
    }
}

.wrap-list-info {
    margin-top: 30px;
    p {
        font-weight: 700;
        color: black;
    }
}

.section-promotion {
    background: url(https://cdn1.vienthonga.vn/image/2017/8/2/100000_gift-bg-xz1.jpg) center center no-repeat;
    background-size: cover;
    @include respond-to(small) {
        background-size: cover;
        // padding-bottom: 150px;
    }
}

.sonyxb30 {
    margin-top: 50px;
    margin-bottom: 20px;
    @include respond-to(small) {
        margin-top: 10px;
    }
    img {
        margin-top: 20px;
        display: inline-block;
    }
}

.title-gift {
    h3 {
        font-size: 30px;
        @include respond-to(small) {
            font-size: 20px;
            line-height: 30px;
        }
        span {
            color: #cd4c54;
            font-size: 36px;
            text-transform: uppercase;
            font-weight: 700;
            @include respond-to(small) {
                font-size: 26px;
            }
        }
    }
}

.section-perfect-design {
    @include respond-to(small) {}
    background: url(https://cdn1.vienthonga.vn/image/2017/8/3/100000_perfect-design-xz1.jpg) no-repeat;
    padding-top: 20px;
    &.dis {
        background: none;
    }
    &.camera {
        padding-top: 30px;
        background: url(https://cdn1.vienthonga.vn/image/2017/8/3/100000_camera-bg-xz1.jpg)no-repeat;
    }
    &.feature {
        background: #ebebeb;
        padding: 80px 0;
        margin-bottom: 50px;
        @include respond-to(small) {
            padding: 30px 0;
            margin-bottom: 0px;
        }
    }
    @include respond-to(small) {
        background: none;
    }
}

.per-des-title {
    margin-top: 30px;
    text-transform: uppercase;
    &.camera {
        margin-top: 70px;
        @include respond-to(small) {
            margin-top: 0px;
        }
    }
    &.feature{
        margin-bottom: 30px;
    }
    h3 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 10px;
        @include respond-to(small) {
            font-size: 25px;
        }
    }
    p {
        font-size: 24px;
        @include respond-to(small) {
            font-size: 20px;
        }
    }
}

.per-des-cont {
    font-size: 14px;
}

.per-des-img {
    @include respond-to(small) {
        margin-top: 30px;
    }
    &.waterproof {
        margin-top: -130px;
        @include respond-to(small) {
            margin-top: 0px;
        }
        
    }
    &.dis-img {
        @include respond-to(small) {
            //margin-top:100px;
        }
    }
}

.per-des-title.text-align-right,
.per-des-cont.text-align-right {
    text-align: right;
}

.wrap-feature-img {
    position: relative;
}

.per-des-img.feature-img {
    position: absolute;
    width: 100%;
    bottom: -110px;
    @include respond-to(small) {
        position: static;
    }
}

.section-waterproof {
    padding-bottom: 10px;
    @include respond-to(small) {
        padding-top: 0px;
    }
}

.pading-bot-100 {
    padding-bottom: 100px;
}


@include respond-to(small) {
    .mobile-pading-bot-100 {
        padding-bottom: 100px;
    }
}

.per-des-cont {
    font-size: 14px;
    color: #636262;
    line-height: 1.7;
    max-width: 500px;
    &.right {
        margin-left: auto;
        margin-right: 0;
    }
    &.center {
        margin-left: auto;
        margin-right: auto;
        max-width: 756px;
    }
}

.reoder-form .form-control {
    border: 1px solid #98887b;
    box-shadow: none;
}

.opt-text.opt-no-img {
    font-weight: 300;
}

.mb10 {
    margin-bottom: 0;
}

.opt-radio {
    margin-bottom: 10px;
}

.item-promo-title {
    font-size: 18px;
    @include respond-to(small) {
        font-size:14px;
    }
}
.section-3d-create{
    margin-top:50px;
    background: #b8bfc9;
}



.per-des-img.create3d img{
 display: inline-block;   
}


.per-des-cont.text-3d {
   
    @include respond-to(small) {
       background: rgba(250, 250, 250, 0.50);
       padding: 20px;
    }
}


.wrap-create-bg{
    background: url(https://cdn1.vienthonga.vn/image/2017/9/3/100000_3d-create-img-03.jpg) no-repeat;
    padding-bottom: 30%;
    background-position: center 80px;

    @include respond-to(small) {
        padding-bottom: 60%;
        background-position: center center;
        width: 100%;
        margin-bottom: -80px;
    }
}
.section-perfect-design.music{
    background: url(https://cdn1.vienthonga.vn/image/2017/9/3/100000_music-bg.jpg)no-repeat;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-top:30px;
    @include respond-to(small){
        background-size: cover;
    }
}
.music-text-bg{
    background: rgba(250, 250, 250, 0.50);
    padding: 20px;
}
.view-more {
    @include respond-to(small){
       text-align: center;
    }
    a{
        background: #e46f77;
        color: white;
        padding: 10px 50px;
        display: inline-block;
        margin-right: 50px;
        margin-top: 20px;
        @include respond-to(small){
            margin-right: 0px !important;
        }
        
}
a:hover{
    color: white;
}
}