.section-hero-plus {
    padding: 0;
}
@media (min-width: 768px) {
	.danhsachsocial {
	    border-bottom: 1px solid #000;
	}
}
.danhsachsocial {
    padding: 10px 0;
}
.section-quatangplus {
    background: #fff !important;
    padding: 10px;
}
.sticky-bar {
    padding: 17px 0;
    z-index: 99999!important;
    background: #642995;
}
.sticky-bar .bar-muangay a {
    color: #642995;
    background: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}
.m-t-20 {
    margin-top: 20px!important;
}
.list-opt-radio {
    margin-top: 15px;
}

.opt-40 {
  width: 44%;
  @include respond-to(mobile){
    width: 100%;
  }
}
.tooltip-m {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #000;


    .tooltiptext {
        visibility: hidden;
        width: 800px;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        left: -460px;
    }
    .list {
        width: 150px;
        background: #fff;
        color: #000;
        left: -2px;
        top: 20px;
        border-radius: 2px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            padding: 3px 0;
            border-bottom: 1px solid #ccc;
        }
        li:last-child {
            padding-bottom: 0;
            border: none;
        }
    }
    &:hover .tooltiptext {
        visibility: visible;
    }
}

.tooltip-modal {
    color: #2196f3;
    text-decoration: underline;
}
.lienhe-tongdai {
    font-size: 12px;
    color: #2196f3;
    text-decoration: underline;
    text-transform: none;
}
.plus-boquatang-title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.plus-boquatang-sub, .plus-boquatang-title {
    color: #000;
    text-align: center;
    span {
        font-size: 48px;
    }
}
.listquatang-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
@media (min-width: 768px){
    .listquatang-block {
        border-right: 1px solid #000;
        padding-right: 10px;
    }
}
.listqt2 {
    border: none;
}  
.quatangsmall--detail, .quatangvivo-detail {
    text-align: center;
}
@media (min-width: 768px) {
    .quatangsmall--detail {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        min-height: 250px;
    }
    .quatangsmall--detail, .quatangvivo-detail {
        text-align: left;
    }
    .quatangsmall--detail--img {
        max-width: 250px;
    }
}
  

.quatangsmall--detail--img {
    max-width: 250px;
    margin: 0 auto;
}
.quatangsh-block {
    padding: 30px 0;
    background: #eee;
}
.section-camera {
    background: url(https://cdn1.vienthonga.vn/image/2018/2/0/100000_thietkethoithuong.jpg) no-repeat 50%;
    background-size: cover;
    padding-bottom: 600px;
    position: relative;
}
.camera-content {
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    padding: 0;
    background: rgba(0,0,0,.7);
    position: absolute;
}
@media (min-width: 991px) {
    .camera-content {
        position: absolute;
        -webkit-transform: none;
        transform: none;
        background: transparent;
        width: 40%;
        left: 37%;
        top: 65px;
        padding: 10px;
    }
}
.vivo-content {
    color: #fff;
    font-size: 14px;
    line-height: 2.1;
}
.vivo-subtitle, .vivo-title {
    color: #fff;
}
.vivo-title {
    font-size: 28px;
    margin-bottom: 15px;
}
.manhinhvocuc--content .vivo-content, .manhinhvocuc--content .vivo-title {
        color: #000;
    }
.section-slowmotion {
    background: #000;
    text-align: center;
    padding: 40px 0;
}
.section-mahinhvocuc {
    background: url(https://cdn1.vienthonga.vn/image/2018/2/0/100000_manhinhamoled.jpg) no-repeat 50%;
    background-size: cover;
}
.manhinhvocuc-img {
    position: relative;
    top: 70px;
}
.manhinhvocuc--content {
    text-align: left;
    padding: 0;
    position: relative;
    top: 0;
    @media(min-width: 768px) {
        text-align: center;
        width: 70%;
        margin-bottom: 0;
        top: 60px;
        padding: 70px 0;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }
}
@media (min-width: 768px) {
    .manhinhvocuc--content .vivo-content, .manhinhvocuc--content .vivo-title {
        color: #fff;
    }
    .manhinhvocuc--content {
        text-align: center;
        width: 70%;
        margin-bottom: 0;
        top: 60px;
        padding: 70px 0;
    }
    .congnghecao-phone {
        position: relative;
        top: 73px;
        visibility: hidden;
    }
}
.section-butspen {
    background: url(https://cdn1.vienthonga.vn/image/2018/2/0/100000_bg-thietkelimloai.jpg) no-repeat 50%;
    background-size: cover;
    padding-bottom: 0;
    @media(min-width: 991px) {
        .vivo-title, .vivo-content {
            text-align: right;
        }
    }
    @include respond-to(mobile) {
        .vivo-content .vivo-title {
            color: #000;
        }
        text-align: left;
        top: 0;
        margin: unset;
    }
}
.congnghecao-icon {
    position: absolute;
    left: 50%;
    top: 15px;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 500px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.section-congnghecao {
    background: url(https://cdn1.vienthonga.vn/image/2018/2/2/100000_bg-congnghecao.jpg) no-repeat 50%;
    background-size: cover;
    position: relative;
    padding-top: 200px;
    @include respond-to(mobile) {
        .congnghecao-icon {
            display: none;
        }
    }
}
.section-vixuly {
    background: url(https://cdn1.vienthonga.vn/image/2018/2/0/100000_bg-emoji.jpg) no-repeat 50%;
    background-size: cover;
    padding-bottom: 0;
    .vivo-content, .vivo-title {
        color: #000;
    }
}

@include respond-to(mobile) {
    .manhinhvocuc-img {
        top: 0px;
    }
    .section-pentemp .vivo-content, .section-pentemp .vivo-title {
        color: #000;
    }
    .section-congnghecao {
        background: transparent;
        padding: 0;
    }
    .section-vixuly {
        background: #fff;
        padding-top: 0;
    }
}
.section-thongsokythuat {
    background: #fff;
    .thongso-title {
        font-size: 22px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    @media (min-width: 768px){
        .thongso-title {
            margin-bottom: 47px;
        }
    }
}
.s9-detail {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
}

@media (min-width: 400px){
    .s9-detail {
        width: 50%;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media (min-width: 768px) {
    .s9-detail {
        margin-bottom: 0;
        width: 100%;
    }
}
.s9-text {
    width: 200px;
}
@media (max-width: 768px) and (min-width: 400px) {
    .thongso-s9 {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.section-muangay-footer {
    background: #000;
}
.muangay-footer-text {
    font-size: 20px;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}
.muangay-footer-button {
    margin-bottom: 0;
    text-align: center;
    a {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid #fff;
        padding: 14px 27px;
        border-radius: 29px;
    }
    a:visited, a:hover {
        color: #fff;
    } 
}

@media (min-width: 768px) {
    .muangay-footer-text {
        font-size: 28px;
        padding: 0;
        padding-bottom: 10px;
        text-align: left;
    }
    .muangay-footer-button {
        text-align: left;
    }
}

.quatangsmall--detail--content {
    margin-top: -27px;
    @media (min-width: 768px) {
        padding-left: 15px;
        margin-top: 0;
        max-width: 300px;
    }
    p:first-child {
        font-size: 16px;
        min-width: 285px;
    }
    p:last-child {
        line-height: 1.9;
    }
}