.page-404{
  padding: 50px 0px;
  h1{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  h4{
    display: block;
    margin-top: 15px;
    font-weight: 300;
    color: #777;
  }
  .phone{
    color: $brand-secondary;
  }
}
.error404{
  font-size: 216px;
  font-weight: 600;
  color: #DDD;
  line-height: 1.35;
  letter-spacing: 4px;
  @include respond-to(small){
    font-size: 150px
  }
}

.list-page404{
  ul{
    li{
      padding: 4px;
      &:before{
        content: "\e604";
        font-family: "vta-icon";
        font-size: 10px;
        line-height: 12px;
        color: $gray-darkest;
        padding-right: 6px;
      }
      a{
        font-size: 14px;
      color: $gray-darkest;
        &:hover{
          color: $brand-primary;
        }
      }
    }
  }
}