/* components */

#main-header {
  margin-bottom: 0 !important;
}

.width-100 {
  width: 100%;
}

.scroll {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding-right: 15px;
}

%letter-space {
  letter-spacing: 9px;
}

.hero-section {
  background: url("https://cdn1.vienthonga.vn/image/2017/3/2/100000_hero-bg.jpg") #171717 no-repeat center bottom;
  background-size: cover;
  padding: 60px 0 60px;
  @include respond-to(x-mobile) {
    padding: 30px 0 40px;
  }
}

.countdown {
  .element {
    display: inline-block;
    padding: 0px 25px;
    border-right: 1px solid #0b61d7;
    text-align: center;
    @include respond-to(mobile) {
      padding: 0px 15px;
    }
    @include respond-to(x-mobile) {
      padding: 0px 7px;
    }
    &:last-child {
      padding-right: 0;
      border-right: none
    }
    &:first-child {
      padding-left: 0
    }
  }
  .num {
    font-size: 60px;
    font-weight: 300;
    line-height: 0.8;
    @include respond-to(mobile) {
      font-size: 50px;
    }
  }
  .txt {
    font-size: 18px;
    color: #0b61d7;
    font-weight: 300
  }
  @include respond-to(medium) {
    .element {}
    .num {}
    .txt {}
  }
  @include respond-to(mobile) {
    .element {}
    .num {}
    .txt {}
  }
}

.section-hero-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  @include respond-to(small) {
    position: relative; // display: block;
  }
  @include respond-to(small) {
    position: relative; // display: block;
  }
  .gridFlex-video-column {
    transition: all 0.4s;
    @include respond-to(mobile) {
      flex: 1 1 100% !important;
    }
  }
  .gridFlex-video-column-1 {
    padding: 0 15px;
    order: 1;
    img {
      margin-right: 0;
    }
    flex: 0 0 40%;
    @include respond-to(mobile) {
      padding: 30px 0 0;
      order: 2;
      img {
        margin-right: auto;
      }
    }
    @include respond-to(mobile) {
      padding: 0px 0 0;
      img {
        max-width: 290px;
        width: 100%;
      }
    }
  }
  .gridFlex-video-column-2 {
    order: 2;
    flex: 0 0 60%;
    align-self: center;
    color: white;
    text-align: center;
    @include respond-to(mobile) {
      order: 1;
    }
    .countdown-txt1 {
      font-size: 17px;
      color: #bbbbbb;
      letter-spacing: 5px;
      font-weight: 300;
      margin-bottom: 5px;
    }
    .countdown-time {
      font-size: 22px;
      color: #bbbbbb;
      margin-top: 15px;
      margin-bottom: 30px;
      letter-spacing: 5px;
      font-weight: 300;
      span {
        font-weight: bold;
      }
      @include respond-to(mobile) {
        font-size: 15px;
        letter-spacing: 2px;
      }
    }
    .txt-wrapper {
      padding: 15px;
      max-width: 770px;
      @include respond-to(small) {
        max-width: none;
      }
      @include respond-to(mobile) {
        padding-top: 0;
      }
    }
    .txt1 {
      font-size: 55px;
      font-weight: 300;
      line-height: 1.1;
      letter-spacing: 2px;
      text-transform: uppercase;
      @include respond-to(small) {
        font-size: 40px;
      }
    }
    .txt2 {
      font-size: 50px;
      @extend .font-samsung;
      margin-bottom: 20px;
      b {
        color: white;
      }
      @include respond-to(small) {
        font-size: 30px;
      }
    }
    .gift {
      margin-bottom: 30px;
    }
  }
}

.a5plus-btn {
  margin-bottom: 20px;
  font-size: 17px;
  color: #5c5b5b;
  font-weight: bold;
  border: 1px solid #5c5b5b;
  padding: 10px 15px;
  display: inline-block;
  &:hover,
  &:active,
  &:focus {
    color: white;
  }
  i {
    font-size: 20px;
    vertical-align: -15%;
    padding-left: 5px;
  }
}

.product-slick-prev {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -40px;
  left: 15px;
  cursor: pointer;
}

.product-slick-next {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -40px;
  right: 15px;
  cursor: pointer;
}

.section-waiting {
  padding: 40px 0 20px;
  .embed-responsive {
    margin-bottom: 20px;
  }
}

.section-waiting-title {
  margin-bottom: 40px;
  text-align: center;
  color: #222222;
  .txt1 {
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .txt2 {
    letter-spacing: 5px;
    font-size: 61px;
    color: #00a45f;
    font-weight: 300;
    line-height: 0.9;
  }
  .txt3 {
    letter-spacing: 5px;
    font-size: 36px;
    font-weight: bold;
  }
  @include respond-to(medium) {
    .txt1 {
      font-size: 25px;
      letter-spacing: 2px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    .txt2 {
      letter-spacing: 2px;
      font-size: 50px;
    }
    .txt3 {
      letter-spacing: 2px;
      font-size: 25px;
    }
  }
  @include respond-to(mobile) {
    .txt1 {
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    .txt2 {
      letter-spacing: 2px;
      font-size: 40px;
    }
    .txt3 {
      letter-spacing: 2px;
      font-size: 20px;
    }
  }
  @include respond-to(x-mobile) {
    .txt1 {
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    .txt2 {
      letter-spacing: 2px;
      font-size: 30px;
    }
    .txt3 {
      letter-spacing: 2px;
      font-size: 16px;
    }
  }
}

.tintuc {
  margin: 20px 0 10px;
  .slick-dots{
    white-space: nowrap;
    overflow: hidden;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 0px;
    padding: 0;
  }
}

.new {
  text-align: center;
  padding: 0 15px;
  position: relative;
  &:hover {
    .name {
      color: #00a45f;
    }
  }
  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .name {
    font-weight: bold;
    font-size: 16px;
  }
  .content {}
}

.slick-dots {}

.video-container-mb {
  margin: 0 15px;
}

.section-space {
  padding: 80px 0;
  @include respond-to(small) {
    padding: 40px 0;
  }
}

.section-2 {
  background: black;
}

.section-3 {
  background: #161a24;
}

.section-4 {
  background: black;
}

.head-title {
  margin-top: 0;
  @include font-size(40);
  color: #dadada;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 20px;
  @include respond-to(small) {
    font-size: 25px;
  }
}

.sub-title {
  @include font-size(18);
  color: #dadada;
  font-weight: normal;
  line-height: 1.6;
  &.mb {
    margin-bottom: 70px;
    @include respond-to(medium) {
      margin-bottom: 40px;
    }
  }
}