strong{
    @extend .font-ss1;
}

.section-hero-plus{   
    padding: 0;

        .preorder-price-text,
        .preorder-price{
            color: #00ade6;
            @extend .font-ss1;           
            text-transform: none;
        }

        .preorder-price-text{
            font-size: 18px;
            display: block;
        }

        .preorder-price{
            font-size: 30px;
        }

}



.section-slowmotion{
    background: white ;
    text-align: center;
    padding: 40px 0;
    @media(max-width: 768px){
        background: white;
        color: black;
        padding: 0;
        text-align: left;
    }

    .vivo-title,
    .vivo-content{       
                
            color: black;
           
       
    }

    .vivo-content{
        @extend .font-ss2;
    }

    .vivo-title{
        margin-top: 20px;
    }

}
.section-quatangplus{
    background: white;
    padding: 10px;
}

.section-thongsokythuat{
    // background: url(https://cdn1.vienthonga.vn/image/2018/3/2/100000_8-specs-1.jpg) no-repeat left;
    // background-size: contain;
    position : relative;
    @media(max-width: 767px){
        background: white;
        padding: 0;

    }

    .thongso-img{
        margin-top: 15px;
    }

   

    .vivo-title{
        color: white;
        margin-bottom: 20px;
    }

    img{
        @media(max-width: 767px){
            max-width: 200px;
    
        }
    }
    @media(max-width: 767px){
        padding-top: 0;

    }
}

.thongso-title{
    padding-left: 45px;
    font-size: 22px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    @extend .font-ss1;
    margin-bottom: 10px;
    @media(min-width: 768px){
        text-align: left;
        margin-bottom: 47px;
    }
}

.s9-detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0px;
    width : 100%;
    @media(min-width: 400px){
        width : 50%;
        justify-content: center;
    }
    @media(min-width: 768px){
        margin-bottom: 0px;
        width : 100%;
    }
}

.s9-text{
    width : 200px;
    p{
        font-size: 14px;
    }
    p:first-child{       
        @extend .font-ss1;
    }
}

.thongso-s9{
    @media(min-width: 400px) and (max-width: 768px){
        display: flex;
        flex-wrap: wrap;
    }
   
}
.thongso-in{
    p{
        text-transform: uppercase;

    }
}

.plus-datgach,
.plus-brand,
.plus-nhanqua{   
    color: white;
    @extend .font-ss1;
    text-align: center;
}


.plus-datgach{
    font-size: 25px;
    @include respond-to(mobile){
        font-size: 17px;
    }
}
.plus-brand{
    font-size: 36px;
    @include respond-to(mobile){
        font-size: 20px;
    }
}
.plus-nhanqua{
    font-size: 26px;
    @include respond-to(mobile){
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.top-img{
    margin-top: 20px;
}


.datngay-note8{
    color: black;
    padding: 8px 35px;
    background: #f2cc45;
    border-radius: 10px;
    font-size: 15px;   
    margin-top: 25px;
    text-transform: uppercase;
    display: inline-block;
    @extend .font-ss1;

    &:hover,
    &:focus,
    &:visited{
        color: black;
        background: darken(#f2cc45, 10%);
    }
}

.xemdanhsach-link{
    a{
        font-size: 14px;
        text-decoration: underline;
        color: black;
        padding-right: 10px;
        &:hover{
            color: darken(#00ade6, 10%);
        }
    }
    @include respond-to(mobile){
       display: block;       
     }   
}

.danhsachsocial{
    padding: 10px 0;
    @media(min-width: 768px){
        border-bottom: solid 1px black;
    }
   

}

.plus-boquatang-sub,
.plus-boquatang-title{
    @extend .font-ss1;
    color: black;
    text-align: center;
   
}

.plus-boquatang-sub{
    font-size: 30px;
    @include respond-to(mobile){
        font-size: 20px;       
      } 
}
.plus-boquatang-title{  
    font-size: 30px;   
     
    line-height: 1.2;
    margin-bottom: 20px;
    @include respond-to(mobile){
        font-size: 19px;       
      } 
    span{
        font-size: 48px;
        @include respond-to(mobile){
            font-size: 25px;       
          } 
    }
}

.vivoquatang-list{
    @include respond-to(mobile){
       padding-top: 10px;   
      } 
}

.plus-boqua{
    @extend .font-ss1;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #333;
}
.plusquatang-content,
.plusquatang-title,
.quatangsmall--detail--content p{
    color: black;
}

.plusquatang-title{
    @extend .font-ss1;
    font-size: 16px;
}

.plusquatang-content{
    @extend .font-ss3;
    font-size: 12px;  
    margin-top: 10px;
    line-height: 1.9;
    margin-bottom: 10px;
    @media(min-width: 768px){
        margin-bottom: 0px;
    }
}

.quatangsmall--detail--content{
    p:first-child{
        font-size: 16px;
        @extend .font-ss1;    

       
            min-width: 285px;
        
    }
    p:last-child{
        @extend .font-ss2; 
        line-height: 1.9;
    }
}


.quatangvivo-detail,
.quatangsmall--detail{
    text-align: center;
    @media(min-width: 768px){
        text-align: left;
    }
}

.quatangsmall--detail {

    &--content{
       
        margin-top: -27px;
       
        @media(min-width: 768px){
            max-width: 300px;

        }
    }
    &--img{
        max-width: 250px;
        margin: 0 auto;
    }
    @media(min-width: 768px){
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
        min-height: 250px;
        &--img{
            max-width: 250px;
        }

        &--content{
            padding-left: 15px;
            margin-top: 0;
        }
    }


    
}



.vivo-subtitle,
.vivo-title{
    color: #FFFFFF;
    text-transform: uppercase;
    @extend .font-ss1;
    // text-transform: uppercase;
}

.vivo-title{
    font-size: 28px;   
    margin-bottom: 15px;
   
    @include respond-to(mobile){
        font-size: 20px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
}

.vivo-subtitle{
    font-size: 24px;
    margin-bottom: 15px;
    @include respond-to(mobile){
        font-size: 20px;
    }
}
.vivo-content{
    color: white;
    font-size: 14px;
    line-height: 2.1;
    @extend .font-ss2;
}


.section-thietke{
    background: white;  
   
}

.section-camera{
    background: black;
    background-size: cover;   
    position: relative;
    
    padding: 0;
   
}

.camera-content {
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    padding: 0px;
    background: rgba(0,0,0,.7);
    position: absolute;
   
    @media(min-width: 991px){
        position: absolute;
        transform: none;
        background: transparent;
        width: 40%;
        left: 37%;
        top: 65px;
        padding: 10px;
    }
}


.xemchitiet{
    text-align: center;
    padding: 25px 0;
    a{
        color: #ccc;
        font-size: 14px;
        text-decoration: underline;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
}

.table-dathang li.active{
    background: #257cd4;
}

.table-dathang li.active:before{
    border-top: 5px solid #257cd4;
}

.btn-vivo{
    background: #257cd4;
    border-color: #257cd4;
    padding: 10px;
    &:hover{
        background: darken(#257cd4, 10%);
        border-color: darken(#257cd4, 10%);
    }
}


.fb-like{
    text-align: left;
    @media(min-width: 768px){
        text-align: right;
    }
}

.section-boquatang-01,
.section-boquatang-02{   
    background: white;
    background-size: cover;
}


.section-boquatang-03{
    background: url(https://cdn1.vienthonga.vn/image/2018/1/5/100000_bg-boquav3.jpg) no-repeat center;
    background-size: cover;
}

.popsocket-detail{
    @media(min-width: 768px){
        justify-content: flex-start;

        .quatangsmall--detail--img{
            max-width: 175px;
        }
    }
  
}

.quatang03--content {
    @media(min-width: 768px){
        position: relative;

        &__img{
            position: absolute;
            left: -120px;
            top: -197px;
        }
    
        &__text{
            padding-left: 180px;
        }
    }
   
}

.section-banner{
    padding: 40px;
    background: #9556a5;
    @media(min-width: 768px){
        padding: 0;
    }
}

.section-wow{
    background: #f3f3f3;
}

.wow--detail{
    @include respond-to(mobile){
        margin-top: 30px;
    }

    
    &__title{
        text-align: center;
        p:first-child{
            color: #613a96;
            @extend .font-ss1;
            font-size: 20px;
            margin-bottom: 0;

            span{
                font-size: 36px;
            }
        }

        p:last-child{
            @extend .font-ss1;
            span:first-child{
                color: #666;
                text-decoration: line-through;
                font-size: 16px;
                margin-right: 10px;
            }
            span:last-child{
                color: #ff0033;
                font-size: 22px;
            }
        }
    }

    &__content {
        text-align: center;
        background: #ebebeb;
        border-radius: 10px;
        padding: 25px 15px;
        
        &__list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding-top: 15px;
            margin-bottom: 15px;

            img{
                margin: 10px;
            }
        }
    }
}



.section-mahinhvocuc{
    background: black;
    background-size: cover;
    padding-bottom: 0;
}

.manhinhvocuc--content {
   
    text-align: left;
    margin: 0px auto;
    padding: 0;
    position: relative;
    top: 0px;

    .vivo-title,
    .vivo-content{
        color: black;
    }
    @media(min-width: 768px){
        text-align: center;
        width: 70%;   
        margin-bottom: 0;
        top: 60px;
        padding-bottom: 200px;
        // padding: 70px 0;
        .vivo-title,
        .vivo-content{
            color: white;
        }
        .vivo-content{
            width: 76%;
            margin: 0 auto;
        }
    }
    @media(min-width: 768px) and (max-width: 1024px){
        padding-bottom: 30px;
    }

   
}

.manhinhvocuc-img{
    position: relative;
    top: 100px;
    @media(max-width: 768px){
        top: 0;
    }
}

.section-butspen{
    background: black;
    background-size: cover;
   
    .vivo-title,
    .vivo-content{
        text-align: left;
        @media(min-width: 768px){
            text-align: center;
        }
    }
    
}
.section-congnghecao{
    background: url(https://cdn1.vienthonga.vn/image/2018/2/2/100000_bg-congnghecao.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    padding-top: 200px;
    @media(max-width: 767px){
        background: transparent;
        padding: 0;

    }
}
.section-manhinh{
    background: url(https://cdn1.vienthonga.vn/image/2018/3/2/100000_1-manhinh.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    padding-bottom: 500px;
    @media(max-width: 767px){
        background: transparent;
        padding: 0;

    }
    @media(min-width: 768px) and (max-width: 1024px){
        background: url(https://cdn1.vienthonga.vn/image/2018/3/4/100000_dienhthoai-bg.jpg) no-repeat center;
        background-size: cover;
        padding-bottom: 0px;
    }
}

.img-ipad{
    display: none;
    margin-top: 20px;
    @media(min-width: 768px) and (max-width: 1024px){
        display: block;
    }
}

.congnghecao-phone {
    @media(min-width: 768px){
        position: relative;
        top: 73px;
        visibility: hidden;
    }    
}

.congnghecao-content{
    @media(min-width: 768px){
        position: relative;
    top: 0px;
       
    }   
   
}

.section-vixuly{
    background: #F5F1EE;
    background-size: cover;
   
    .vivo-title,
    .vivo-content{
        color: black;
    }

    @media(max-width: 767px){
        background: white;
        padding-top: 0;
    }

    img{
        @media(max-width: 767px){
            max-width: 200px;
        }
    }
}

.section-muangay-footer{
    background: #eee url(https://cdn1.vienthonga.vn/image/2018/3/2/100000_footer-muangay-1.png) no-repeat center;
    
    background-size: contain;
    position: relative;
    @media(max-width: 767px){
        padding: 0;
        background: #eee;
    }
}
.muangay-footer-text{
    font-size: 20px;
    color: #000;
    padding: 30px 0;
    text-align: center;
    @media(min-width: 768px){
        font-size: 28px;
        padding: 0;
        padding-bottom: 10px;
        text-align: left;
        
    }
}

.muangay-footer-button {
    margin-bottom: 0;
    text-align: center;
    a{
        color: black;
        font-size: 14px;
        text-transform: uppercase;
        border: solid 1px black;
        padding: 14px 27px;
        border-radius: 29px;
        &:hover,
        &:focus,
        &:visited{
            color: black;
        }
    }

    @media(min-width: 768px){        
        text-align: left;
        
    }
    @media(max-width: 767px){        
        margin-bottom: 30px;
        
    }
   
}

.congnghecao-icon {
    position: absolute;
    left: 50%;
    top: 15px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    width: 500px;
    transform: translateX(-50%);
    @media (max-width: 767px) {
        display: none;
    }
}

.icon-detail{
    text-align: center;
    p{
        margin-top: 6px;
        margin-bottom: 10px;
        text-transform: uppercase;
        @extend .font-ss2;
    }
}


// .datmua-mobile{
//     background: #F44336;
//     border-radius: 2px;
//     text-align: center;
//     text-transform: uppercase;
//     font-size: 18px;
//     color: #FFFFFF;
//     @extend .font-ss1;
//     display: block;
//     padding: 10px;
//     margin-top: 10px;
//     cursor: pointer;
//     &:hover,
//     &:focus,
//     &:visited{
//         color: white;
//         background: darken(#F44336, 10%);
//     }
// }
.datmua-desktop{
    background: #F44336;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #FFFFFF;
    @extend .font-ss1;
    display: block;
    padding: 10px;
    cursor: pointer;
    float: right;
    padding: 10px 30px;
    &:hover,
    &:focus,
    &:visited{
        color: white;
        background: darken(#F44336, 10%);
    }
}
.d-inline-block {
    display: inline-block;
}
ul#phaseChange {
    list-style: none;
    position: fixed;
    right: 10px;
    top: 200px;
    z-index: 999999999;
    background: white;
    padding: 15px;
    border-radius: 10px;

    li{
        cursor: pointer;
        padding: 5px;
        &:hover{
            background: #ccc;
            color: #e81c24;
        }
    }
}


.hero-mainphone{
   
    @media(min-width: 768px){
        position: relative;
        top: 56px;
    }
}

@media(max-width: 767px){
    .xemdanhsachdangki{
       
        padding: 7px 0;
        border: solid 1px black;
        border-radius: 2px;
        margin-bottom: 0;
        text-align: center;
    }

    .xemdanhsach-link{
        margin-top: 8px;
        border: solid 1px black;
        text-align: center;
        padding: 7px 0;
    }

    .social-m{
        text-align: center;
        border: solid 1px black;
        padding: 7px 0;
    }

    .section-camera{
        background: white;
        padding: 0px;
    }
    .text-block{
        .vivo-title,
        .vivo-content{
            color: black;
        }
    }
    .camera-content{
        position: static;
        transform: none;
        background: transparent;
        .vivo-title,
        .vivo-content{
            color: black;
        }
        
    }

    .section-pentemp{
        padding: 0px;
        .vivo-title,
        .vivo-content{
            color: black;
        }
    }
}

.listquatang-title{
    font-size: 28px;
    @extend .font-ss2;
    text-align: center;
    margin-bottom: 20px;

    @media(max-width: 767px){
        position: relative;
        z-index: 2;
        background: white;
        width: 135px;
        margin: 0 auto;
    }
}

.listquatang-block {
    @media(min-width: 768px){
        border-right: solid 1px black;
    padding-right: 10px;    
    }
    
}

.listqt2{
    border: none;
}




.text-block{
    text-align: left;
    margin-bottom: 10px;
   
    @media(min-width: 768px){
        text-align: center;
    }
}


.form-khuyenmai{
    padding: 20px;
    border: dotted 2px white;
    text-align: center;
    border-radius: 4px;
    p{
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        @extend .font-ss1;
    }
    @media(max-width: 767px){
       margin-top: 20px;
    }
}
.video-responsive{
    width: 100%;
}

.section-khangnuoc{
    .vivo-title,
    .vivo-content{
        color: black;
        text-align: left;
        @media(min-width: 768px){
            text-align: center;
        }
    }
}
.section-selfie{
    background: url(https://cdn1.vienthonga.vn/image/2018/3/2/100000_3-selfie-1.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    padding-bottom: 600px;
    @media(max-width: 767px){
        background: transparent;
        padding: 0;
        margin-top: -6px;
    }
    .selfie-text {
        background: #000;
        
    }
    .vivo-title,
    .vivo-content{
        color: #fff;
        text-align: left;
        
    }
    .vivo-title {       
        font-size: 18px;
        letter-spacing: 0;
        line-height: 18px;
        color: #fff;
        font-weight: bold;
        @media(min-width: 768px){
            text-align: center;
            font-size: 28px;
            line-height: 40px;
        }
        @media (max-width: 767px) {
            padding-bottom: 10px;
        }
    }
    .vivo-content {
       
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
        @media(min-width: 768px){
            width: 76%;
            margin: 0 auto;
        }
    }
}
.section-camerakep{
    background: url(https://cdn1.vienthonga.vn/image/2018/3/2/100000_4-camera-kep-1.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    padding-bottom: 400px;
    padding-top: 260px;
    @media(max-width: 767px){
        background: transparent;
        padding: 0;
        .selfie-text {
            background: #000;
            
        }
    }
    @media(min-width: 768px){
        .cameraText {
            width: 50%;
            float: right;
            padding-right: 100px;
        }

    }
    .vivo-title,
    .vivo-content{
        color: #fff;
        text-align: left;
        
    }
    .vivo-title {
      
        font-size: 18px;
        letter-spacing: 0;
        line-height: 18px;
        color: #fff;
        font-weight: bold;
        @media(min-width: 768px){
            font-size: 28px;
            line-height: 40px;
        }
        @media (max-width: 767px) {
            padding-bottom: 10px;
        }
    }
    .vivo-content {
        
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
    }
}
.section-AiUnlock{
    background: url(https://cdn1.vienthonga.vn/image/2018/3/2/100000_5-unlock-1.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    padding-bottom: 600px;
    padding-top: 50px;
    @media(max-width: 767px){
        background: transparent;
        padding: 0;
    }
    @media(min-width: 768px){
        .cameraText {
            width: 65%;
            margin: 0 auto;
        }

    }

    @media(min-width: 768px) and (max-width: 1024px){
        background: url(https://cdn1.vienthonga.vn/image/2018/3/4/100000_unlock-bg.jpg) no-repeat center;
        background-size: cover;
        padding-bottom: 60px;
    }
    .vivo-title,
    .vivo-content{
        color: #000;
        text-align: left;
        
    }
    .vivo-title { 
        font-size: 18px;
        letter-spacing: 0;
        line-height: 18px;
        color: #000;
        font-weight: bold;
        @media(min-width: 768px){
            color: #fff;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
        }
        @media (max-width: 767px) {
            padding-bottom: 10px;
        }
    }
    .vivo-content {
        
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
        @media(min-width: 768px){
            color: #fff;
            text-align: center;
        }
    }
}
.section-cpu{
    background: url(https://cdn1.vienthonga.vn/image/2018/3/2/100000_6-cpu-1.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    padding-bottom: 500px;
    padding-top: 50px;
    @media(max-width: 767px){
        background: transparent;
        padding: 0;
    }
    @media(min-width: 768px){
        .cameraText {
            width: 65%;
            margin: 0 auto;
        }

    }
    .vivo-title,
    .vivo-content{
        color: #000;
        text-align: left;
        
    }
    .vivo-title {
        
        font-size: 18px;
        letter-spacing: 0;
        line-height: 18px;
        color: #000;
        font-weight: bold;
        @media(min-width: 768px){
            width: 70%;
            margin: 0 auto;
            color: #fff;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
        }
        @media (max-width: 767px) {
            padding-bottom: 10px;
        }
    }
    .vivo-content {
       
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
        @media(min-width: 768px){
            color: #fff;
            text-align: center;
        }
    }
}
.section-taitho{
    background: url(https://cdn1.vienthonga.vn/image/2018/3/2/100000_7-taitho-1.jpg) no-repeat center;
    background-size: cover;
    position : relative;
    padding-bottom: 600px;
    padding-top: 70px;
    @media(max-width: 767px){
        background: transparent;
        padding: 0;
    }
    @media(min-width: 768px){
        .cameraText {
            width: 65%;
            margin: 0 auto;
        }

    }

    @media(min-width: 768px) and (max-width: 1024px){
        background: url(https://cdn1.vienthonga.vn/image/2018/3/4/100000_taitho-bg.jpg) no-repeat center;
        background-size: cover;
        padding-bottom: 0px;
    }
    .vivo-title,
    .vivo-content{
        color: #000;
        text-align: left;
        
    }
    .vivo-title {
        
        font-size: 18px;
        letter-spacing: 0;
        line-height: 18px;
        color: #000;
        font-weight: bold;
        @media(min-width: 768px){
            width: 70%;
            margin: 0 auto;
            color: #fff;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
        }
        @media (max-width: 767px) {
            padding-bottom: 10px;
        }
    }
    .vivo-content {
        
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
        @media(min-width: 768px){
            color: #fff;
            text-align: center;
        }
    }
}
.section-nhandienthongminh{
    background: black;
    p{
        color: white;
        margin-bottom: 25px;
    }

    p:first-child{
        font-size: 20px;
        text-align: left;
        @media(min-width: 768px){
            text-align: center;
            font-size: 28px;
        }
    }
    p:nth-child(2){
        font-size: 14px;
        line-height: 2;
        text-align: left;
        @media(min-width: 768px){
            text-align: center;
            
        }
    }
}

.section-tronghop{
    background: url(https://cdn1.vienthonga.vn/image/2018/3/4/100000_tronghopcogi.png) no-repeat center;
    background-size: cover;
    padding-bottom: 900px;
    @media(max-width: 767px){
        background: white;
        padding-bottom: 30px;
    }
}

.tronghop-content {
    font-size: 24px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    @media(max-width: 767px){
        position: static;
        top: 0;
        left: 0;
        text-align: center;
        transform: none;
        font-size: 17px;
        padding: 10px 0;
    }
}


.title-line{
    position: absolute;
    top: 6px;
    width: 100%;
    height: 2px;
    background: black;
}

.listDanhsachCuahang{
    padding-top: 20px;
    p{
        color: white;
        text-align: left;
        font-size: 14px;
        padding-left: 30px;
        @media(max-width: 767px){
            padding-left: 0px;
        }
    }
}
.paddingB10 {
    padding-bottom: 10px;
}

.qua-2-sub{
    @extend .font-ss1;
    font-size: 14px;
}

.qua-2-content{
    font-size: 14px;
    @media(max-width: 767px){
        text-align: center;
    }
}