.fix-m-b{
    margin-bottom: 5px !important;
}

.fix-lineheight{
    line-height: 23px;
}


.quatang1,
.quatang2 {
    .list-nhanqua-text {
        position: static;
        text-align: center;
        margin-top: 10px;
    }
    .list-nhanqua-lg {
        @media(min-width: 1024px) {
            text-align: left;
        }
        .s-content {
            font-size: 12px;
        }
    }
}

.quatang1 {
    background: url('https://cdn1.vienthonga.vn/image/2017/6/3/100000_p2-qua1-bg-1.jpg') #051836 no-repeat;
    background-size: cover;
    background-position: center center;
}

.quatang2 {
    background: #011834;
}

.hero-facebook {
    @media(max-width: 768px) {
        margin-top: 20px;
    }
}

.j2-hero {
    .apdungphukien{
        padding-top: 40px;
        .presell-tagline{
            &:after{
                content: '';
                width: 2px;
                height: 17px;
                color: #ccc;
                background: #ccc;
                position: absolute;
                right: 0px;
                top: -2px;
                 @include respond-to(x-mobile) {
                    display: none;
                    opacity: 0;
                }

            }
        }

        .fb_iframe_widget{
            padding-left: 20px;
        }
    }
    .presell--price {
        margin-top: 3px;
    }
    .hero-mainphone {
        margin-bottom: 0px;
        @media(max-width: 768px) {
            margin-top: 20px;
        }
        width: 100% !important;
    }
    .btn-samsung {
        // margin: 10px 0;
    }
    .datmua-block{
        @media(max-width: 992px){
            margin-top: 20px;
        }
        
    }
    
    .presell-tinysub {
        color: $white;
        font-size: 18px;
        font-family: 'SamsungSharpSans-Bold', sans-serif;
        padding-bottom: 20px;
        @include respond-to(x-mobile) {
            font-size: 14px;
        }
    }

    .presell-tagline{
         color: $white;
        font-size: 13px;
        font-family: 'SamsungSharpSans-Regular', sans-serif;
        display: inline-block;
        padding-right: 20px;
        position: relative;
        @include respond-to(x-mobile) {          
            padding-right: 0px;
        }
    }
}

.j7-modal {
    .txt1 {
        background: #052247 !important;
    }
    .des-close {
        background: #fff;
        top: 7px;
    }
}

.mobile footer{
    display: none;
}

.section-cauhinhtoitan{
    .p-r-0{
        padding-right: 0 !important;
    }
}