.hero {
    background: url("https://cdn1.vienthonga.vn/image/2017/4/2/100000_hero-bg.jpg") no-repeat center center black;
    background-size: cover;
    padding: 60px 0 10px;
    .font-samsung {
        color: white;
        @include respond-to(mobile) {
            font-size: 11px;
        }
    }
    @include respond-to(mobile) {
        background: url("https://cdn1.vienthonga.vn/image/2017/4/2/100000_hero-bg-mobile.jpg") no-repeat black;
        background-size: cover;
        padding-top: 100%;
    }
}

.hero2 {
    background: url("https://cdn1.vienthonga.vn/image/2017/4/4/100000_hero-bg.jpg") no-repeat center center black;
    background-size: cover;
    padding: 40px 0;
}

.hero2-img1 {
    position: relative;
    .link {
        display: block;
        position: absolute;
        width: 45%;
        height: 40%;
        // background: rgba(255, 0, 0, 0.5);
        z-index: 2;
        top: 15%;
        left: 55%;
    }
    img {
        margin-right: 0;
    }
    @include respond-to(mobile) {
        img {
            margin-right: auto;
            width: 100%;
            max-width: 380px;
            margin-bottom: 20px;
        }
    }
}

.rowFlex.full {
    max-width: 100%;
}

.wrapper-8gift {
    background-color: #161a25;
    text-align: center;
    .maintitle8gift {
        padding: 0px 0 50px;
        font-size: 42px;
        color: #ededed;
        text-transform: uppercase;
        span {
            color: #1eaedd;
            font-weight: 700;
            font-size: 50px;
        }
    }

    &.bg2{
        background-color: #242834;
    }
}

.ordernow_btn {
    background: #444444;
    padding: 10px 0;
    .ob {
        @extend .font-samsung;
        color: white;
        font-size: 22px;
        margin: 0;
    }
    @include respond-to(small) {
        .ob {
            font-size: 14px;
        }
        .ob.right {
            font-size: 14px;
            img {
                width: 70px;
            }
        }
    }
}

.hero-sections {
    &.sing {
        background: black;
        padding: 80px 0;
    }
    .div_trip {
        padding-bottom: 30px;
    }
    .section-hero-content {
        text-align: center;
        .text {
            text-transform: uppercase;
            color: white;
            @extend .font-samsung;
            &.trip1 {
                font-size: 48px;
                @include respond-to(small) {
                    font-size: 40px;
                }
            }
            &.trip2 {
                font-size: 42px;
                @include respond-to(small) {
                    font-size: 28px;
                }
            }
        }
        .text_ads {
            padding-bottom: 20px;
        }
    }
}

.section8gift {
    max-width: 100%;
    justify-content: space-around;
    padding: 30px 120px;
    position: relative;
    @include respond-to(desktop) {
        padding: 20px 20px;
    }
    .title8gift {
        @extend .font-samsung;
    }
    @include respond-to(small) {
        padding: 0px;
    }
}

.item8Gift-content {
    color: #fff;
    max-width: 270px;
    margin: 0 auto;
    img {
        padding: 0 15px 20px 15px;
    }
    .title8gift {
        font-size: 18px;
        text-align: center;
        height: 60px;
        overflow-y: hidden;
    }
    p {
        font-size: 14px;
        text-align: justify;
    }
}

.item8Gift {
    flex: 0 0 20%;
    padding: 0 10px;
    @include respond-to(small) {
        flex: 0 0 50%;
    }
    @include respond-to(x-mobile) {
        flex: 0 0 100%;
    }
}

.wrapper-8gift {
    &.uudaikhac {
        background-color: #000;
        .maintitle8gift {
            padding: 0px 0 60px;
        }
        .item8Gift-content {
            max-width: 300px;
            margin: 0 auto;
        }
        .item8Gift {
            flex: 0 0 33.333%;
            padding: 0 10px;
            margin-bottom: 30px;
            @include respond-to(small) {
                flex: 0 0 50%;
            }
            @include respond-to(mobile) {
                flex: 0 0 100%;
            }
        }
        .titless8 {
            text-transform: uppercase;
        }
    }
}

.item8giftImg {
    img {
    }
}

.titless8,
.section-title-intro.titless8 {
    @extend .font-samsung;
    color: #fff;
    @include respond-to(small) {
        font-size: 25px !important;
        span {
            font-size: 30px !important;
        }
    }
}

.commonstyles8 {
    background-color: #000;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 20px;
    .rules8 {
        text-align: center;
        color: white;
        .r_thele {
            font-size: 30px;
            font-weight: bold;
        }
        .r_join {
            font-weight: 100;
            font-size: 30px;
        }
        .titless8 {
            font-size: 50px;
        }
        .r_readmore {
            font-size: 20px;
            a {
                font-weight: 100;
                color: white;
                text-decoration: underline;
            }
            a:hover,
            a:active,
            a:focus {
                color: white;
                text-decoration: underline;
            }
        }
    }
}

.paragraph {
    font-size: 14px;
    line-height: 1.7;
}

.des-scroll {
    padding-right: 30px;
    max-height: 320px;
    margin-bottom: 30px;
}

.paragraph {
    text-align: justify;
}

.scroll {
    position: relative;
    overflow: hidden;
    height: 100%;
    opacity: 0.9;
}

.scroll .ps-scrollbar-y-rail {
    opacity: 1;
    width: 4px;
    background-color: #eee!important;
}

.scroll .ps-scrollbar-y-rail .ps-scrollbar-y {
    width: 4px;
}

.scroll .ps-scrollbar-y-rail .ps-scrollbar-y {
    border-radius: 0;
    width: 4px;
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    position: absolute;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    right: 0;
    width: 4px;
}

.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
    background-color: #999;
}

.section-title-intro {
    font-size: 35px;
    color: #fff;
    font-weight: 300;
    font-family: roboto, sans-serif;
    span {
        @extend .font-samsung;
        font-size: 50px;
        font-weight: 700;
        @include respond-to(small) {
            font-size: 30px;
        }
    }
}

.paragraph {
    p {
        font-size: 18px;
        font-weight: 300;
    }
}

.chimvocuc {
    padding: 80px 0;
    background: url("https://cdn1.vienthonga.vn/image/2017/4/2/100000_ss8promobg.jpg") black no-repeat center bottom;
    color: white;
    &.powers8 {
        background: url("https://cdn1.vienthonga.vn/image/2017/4/2/100000_ss8powerbg-3.jpg") black no-repeat center bottom;
    }
}

.chimvocuctitle {
    font-size: 45px;
    font-weight: 700;
}

.chimvocuccontent {
    padding-bottom: 60px;
    font-size: 18px;
    padding-top: 20px;
    font-weight: 300;
}

.featuress8 {
    margin: auto;
    ul {
        padding-top: 30px;
        @include respond-to(small) {
            padding-top: 0;
        }
        li {
            display: inline-block;
            padding: 0 30px;
        }
    }
}

.cameras8 {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}

.unlocks8 {
    &.bixby {
        background: black;
        .titless8 {
            color: #fff;
        }
        .paragraph p {
            color: #fff;
            font-weight: 400;
        }
    }
    padding: 150px 0 0;
    @include respond-to(small) {
        padding: 70px 0 0;
    }
    background: url("https://cdn1.vienthonga.vn/image/2017/4/2/100000_s8unlockflexible-bg.jpg") white no-repeat center bottom;
    background-size:cover;
    .titless8 {
        color: #000;
    }
    .paragraph p {
        color: #010101;
        font-weight: 400;
    }
    img {
        margin-right: 0;
    }
    .unlocks8-content {
        max-width: 430px;
        width: 100%;
        margin-left: 50px;
        @include respond-to(medium) {
            margin-left: 0;
            max-width: 100%;
            margin-bottom: 20px
        }
    }
}

.powerimg {
    margin: 60px 0;
}

.bixby {
    background: #000;
    padding-top: 80px;
    color: white;
    .unlocks8-content {
        max-width: 430px;
        width: 100%;
        margin-right: 50px;
    }
    img {
        margin-left: -120px;
    }
    .paragraph {
        margin-top: 40px;
    }
}

.featuress8.chym {
    padding: 80px 0;
    background: #f9f9f9;
    background-color: #f9f9f9;
    .chimvocuctitle {
        color: black;
        font-weight: 500;
        font-size: 40px;
        text-transform: uppercase;
        @include respond-to(small) {
            font-size: 25px;
        }
    }
    .featureimg img {
        margin-right: 0;
    }
    ul li {
        @include respond-to(small) {
            padding: 0 10px;
        }
    }
    ul li:first-child {
        border-right: 1px solid #000;
        @include respond-to(small) {}
    }
    ul li a {
        @extend .font-samsung;
        font-size: 36px;
        color: #a3a5a7;
        @include respond-to(small) {
            font-size: 20px;
            padding: 0;
        }
    }
    ul li.active a {
        color: #000;
    }
}

.contentfeature {
    padding-top: 30px;
}

.xemchitiet {
    float: left;
    padding-left: 15px;
    color: #257cd4;
    font-weight: bold;
}

.unlocks8 {
    &.impressive {
        background: none;
        background-color: black;
        padding-top: 30px;
        .titless8 {
            font-size: 36px;
            font-weight: bold;
            @extend .font-samsung;
            color: white;
        }
        .paragraph p {
            color: white;
            font-size: 16px;
            margin: 20px 0;
        }
    }
}

.section-iframe {
    max-width: 560px;
    margin: auto;
    margin-top: 50px;
}

.wrapper-8gift {
    position: relative;
    padding: 60px 0px;
    .stick_note {
        position: absolute;
        left: 0;
        top: -10px;
        padding: 5px 10px 5px 50px;
        background-color: #ebebeb;
        text-align: right;
        padding-right: 10px;
        padding-top: 5px;
        font-size: 22px;
        color: #161a25;
        @include respond-to(small) {
            font-size: 20px;
            padding: 5px 10px 5px 10px;
        }
    }
    &.option2 {
        background-color: #242834;
        padding: 80px 0;
    }
}

.ordernow_btn {
    z-index: 10!important;
    background: #444;
    padding: 10px 0;
}

@media (max-width: 991px) {
    // .ordernow_btn {
    //     position: relative!important;
    //     z-index: 0!important;
    // }
}

.scroll-to-top {
    display: none;
    z-index: 600;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgba(#0b61d7, .5);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
        color: white;
        background-color: rgba(#0b61d7, .7);
    }
}



.modalFriend {
    .modal-content {
        background: rgba(#0a47a2, 0.8);
        border: 3px solid #00a8ff;
        border-radius: 30px;
        padding: 30px 60px;
        @include respond-to(small) {
            padding: 20px 15px;
        }
        color: white;
        h4 {
            margin-bottom: 15px;
            font-size: 20px;
            color: white;
            font-weight: normal;
            @include respond-to(small) {
                font-size: 16px;
            }
        }
        .form-control {
            background: transparent;
            color: white;
        }
    }
    .des-close {
        top: -10px;
        right: -10px;
        a {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: white;
            border: 3px solid #00a8ff;
            text-align: center;
            line-height: 32px;
            color: black;
            font-weight: bold;
            display: block;
        }
    }
}

.modalFriend-title {
    font-size: 28px;
    color: #ffff00;
    text-align: center;
    font-weight: normal;
    margin-bottom: 25px;
    @include respond-to(small) {
        font-size: 20px;
    }
}

.modalFriend-complete {
    width: 120px;
    height: 47px;
    display: inline-block;
    line-height: 47px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #0084ff;
    font-size: 22px;
    color: white;
    &:hover {
        color: white;
        background-color: lighten(#0084ff, 10%);
    }
}

.friendComplete {
    font-size: 45px;
    padding: 50px 0;
    @include respond-to(small) {
        font-size: 25px;
        padding: 20px 0;
    }
}

.clickFriend{
    padding: 0 50px;

     @include respond-to(small) {
        padding: 0 0px;
    }
}

.section-livestream{
    padding: 90px 0 10px;
    background: url("https://cdn1.vienthonga.vn/image/2017/4/5/100000_livestream-bg.jpg") black no-repeat center center;
    background-size: cover;
}

.livestream-view{
    margin-top: 20px;
    color: white;
}
.livestream-news{
    padding: 20px 0 0px;
    a{
        color: white;
        font-size: 24px;
        text-decoration: underline;
        &:hover{
            color: darken(white, 20%);
            text-decoration: underline;
        }
    }
}

.livestreamTimeline{
    padding: 20px 0;
}

.livestreamTimeline-heading{
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;

}
.livestreamTimeline-item{
    text-align: center;
    margin-bottom: 30px;

}
.livestreamTimeline-date{
    color: white;
    background: #252525;
    padding: 10px 25px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 20px;
}
.livestreamTimeline-content{
    text-align: left;
    background: #f6f6f6;
    padding: 30px 15px;
    position: relative;
    &:after{
        content : "";
        position: absolute;
        top: -10px;
        margin-left: -5px;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        border-bottom: 10px solid #f6f6f6;
    }
}

.livestream-tintuc{
    background: #000000;
    padding: 20px 0 5px;
    .tintuc{
        .new{
            .name{
                font-size: 13px;
                color: white;
                font-weight: normal;
                text-align: left;
            }
            .ngay{
                color: #666666;
            }
        }
    }
}

.icon-inline{
    padding-right: 5px !important;
    display: inline-block !important;
    vertical-align: -8% !important;
}