

.section-hero-vivo{
    position: relative;
    @include section-bg-cover('https://cdn1.vienthonga.vn/image/2017/9/4/100000_top-top-bg-1.png',#d8edfe);
    background-position: center bottom;   
}

.vivo-datgach,
.vivo-nhanqua{
    color: #008cd6;
    font-weight: 400;
    text-align: center;
}

.vivo-datgach{   
    font-size: 30px; 
    line-height: 1;  
    span{
        font-size: 60px;
        @include respond-to(mobile){
            font-size: 33px; 
        }
    }
    @include respond-to(mobile){
        font-size: 25px; 
    }
}

.vivo-nhanqua{
    font-size: 36px;   
    margin-bottom: 20px;
    @include respond-to(mobile){
        font-size: 25px; 
    }
}
.top-img{
    @include respond-to(mobile){
        margin-bottom: 10px; 
    }
}

.datngay-note8{
    color: white;
    padding: 8px 35px;
    background: #ee420a;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    display: inline-block;
    font-weight: 600;
    &:hover,
    &:focus,
    &:visited{
        color: white;
        background: darken(#ee420a, 10%);
    }
}

.preorder-price-text,
.preorder-price{
    color: white;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
}

.preorder-price-text{
    font-size: 25px;
    @include respond-to(mobile){
        font-size: 20px;
     }
}

.preorder-price{
    font-size: 33px;
    @include respond-to(mobile){
        font-size: 30px;
     }
    
}

.section-quatangvivo{
    background: #000319;
    color: white;
    @include respond-to(mobile){
       padding-top: 0;
    }
}

.xemdanhsachdangki{
     font-size: 14px;
}
.xemdanhsach-link{
    a{
        font-size: 14px;
        text-decoration: underline;
        color: white;
        padding-right: 10px;
        &:hover{
            color: darken(white, 10%);
        }
    }
    @include respond-to(mobile){
       display: block;       
     }
   
}

.chuongtrinh{
    a{
        padding-left: 10px;
        @include respond-to(mobile){
            padding-left: 0;
        }
    }
}

.danhsachsocial{
    padding: 10px 0;
    border-bottom: solid 1px white;

}

.vivoquatang-list{
    padding: 30px 0 ;
}

.vivo-boquatang-title{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    span{
        font-size: 60px;
        @include respond-to(mobile){
            font-size: 30px;
        }
    }
    @include respond-to(mobile){
        font-size: 25px;
    }
}

.quatangvivo-detail{
    margin-top: 20px;
}

.vivoquatang-title{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
}

.vivoquatang-content{
    font-size: 12px;
    font-weight: 400;
    color: #ccc;
    a{
        color: #0099ff;
        &:hover{
            color: darken(#0099ff, 10%);
        }
    }
    @include respond-to(mobile){
        text-align: center;
    }
}

.vivo-title,
.vivo-subtitle,
.vivo-content{
    color: black;
}

.vivo-title{
    text-transform: uppercase;
}

.vivo-title{
    font-size: 36px;
    margin-bottom: 0;
    @include respond-to(mobile){
        font-size: 24px;
    }
}

.vivo-subtitle{
    font-size: 30px;
    margin-bottom: 15px;
    @include respond-to(mobile){
        font-size: 20px;
    }
}
.vivo-content{
    font-size: 14px;
    line-height: 1.9;
}

.section-thietkesangtrong{
    background: #d8edfe;
}

.section-trainghiemkhonggian{
    text-align: center;
    @include section-bg-cover('https://cdn1.vienthonga.vn/image/2017/9/4/100000_bg-trainghiemkhonggian.png',#d8edfe);
    .vivo-content{
        width: 67%;
        margin: 0 auto;
        margin-bottom: 50px;
        @include respond-to(mobile){
            width: 100%;
            text-align: left;
        }
    }
}

.section-camera,
.section-cauhinhantuong{
    background: #d8edfe;
}

.section-cauhinhantuong{
    .vivo-content{
        width: 64%;
        margin: 0 auto;
        @include respond-to(mobile){
            width: 100%;
            text-align: left;
        }
        p{
            margin-top: 10px;
            font-size: 14px;
        }
    }
}

.cauhinhantuong-text {
    margin-top: 20px;
}

.section-thongsokythuat{
    .vivo-title{
        font-size: 35px;
        margin-bottom: 10px;
        @include respond-to(mobile){
            font-size: 24px;
        }
    }
}

.xemchitiet{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    a{
        color: #008cd6;
        cursor: pointer;
        &:hover{
            color: darken(#008cd6, 10%);
        }
    }
    @include respond-to(mobile){
       margin-bottom: 20px;
    }
}

.khonggianphantram{
    font-size: 100px;
    color: white;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 0.8;
}

.table-dathang li.active{
    background: #008cd6;
}

.table-dathang li.active:before{
    border-top: 5px solid #008cd6;
}

.btn-vivo{
    background: #008cd6;
    border-color: #008cd6;
    &:hover{
        background: darken(#008cd6, 10%);
        border-color: darken(#008cd6, 10%);
    }
}