// Elements

.datmua-mobile{
    background: #F44336;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #FFFFFF;
    display: block;
    padding: 21px;
    margin-top: 0px;
    cursor: pointer;;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #FFFFFF;
    @extend .font-ss1;
    display: block;
    padding: 21px;
    margin-top: 0px;
    cursor: pointer;
    &:hover,
    &:focus,
    &:visited{
        color: white;
        background: darken(#F44336, 10%);
    }
}

// Form dat mua
.section-datmua{
    background: black;
    padding: 40px 0;
}
.datmua-title{
    font-size: 20px;
    color: #EDDE00;
    margin-bottom: 0;
    @extend .font-ss3;
   
    @media(max-width: 767px){
        text-align: center;
        margin-bottom: 10px;
    }
}

div#video-quangcao {
    background: black;
    text-align: center;
}

.iframe {
  
    width: 830px;
    height: 480px;
    margin: 0 auto;
}